<template>
  <div class="form-group">
    <b-input-group>
      <b-form-input
        class="input-search mr-3"
        v-model="searchInput"
        @input="reloadData()"
        style="border-radius: 20px; border-width: 1px; border-color: black"
        type="text"
        placeholder="Buscar..."
      ></b-form-input>
      <button class="btn btn-ui bg-ui-black mr-2" @click="search(null, null)">
        <i class="fas fa-search"></i> BUSCAR
      </button>
    </b-input-group>
  </div>
</template>

<script>
export default {
    props:{
        search: Function
    },
    data(){
        return{
            searchInput: ""
        }
    },
    methods:{
        reloadData(){
            this.$emit('input', this.searchInput);
        }
    }
};
</script>

<style>
</style>
