<template>
  <div>
    <nav class="navbar navbar-inverse d-flex justify-content-between">
      <div class="container-fluid">
        <div>
          <span class="name-sistem" href="#">Smart Rooster Bureau</span>
        </div>
        <div
          class="
            text-left
            d-flex
            flex-wrap
            justify-content-around
            align-items-center
          "
        >
          <template>
            <span class="mr-3">
              <h1 class="d-block d-sm-none">
                <!-- <router-link to="/main"><i class="fas fa-home ml-2"></i></router-link> -->

                <router-link
                  to="/main"
                  style="padding: 0px !important; color: white !important"
                >
                  <div class="border-radius">
                    <img src="/images/ISO_white.png" alt="" />
                  </div>
                </router-link>
              </h1>
            </span>
          </template>

          <b-dropdown variant="smart-rooster-primary" size="sm">
            <template #button-content>
              <div class="d-flex align-items-center">
                <b-avatar
                  class="mr-3"
                  :src="currentUser ? currentUser.avatar : ''"
                ></b-avatar>
                <div class="d-flex flex-column">
                  <span class="mr-auto"
                    >{{ currentUser ? currentUser.name_user : "" }} - {{ " " }}
                  </span>
                  <span> {{ currentUser ? currentUser.u_role : "" }}</span>
                </div>
              </div>
            </template>
            <b-dropdown-item :to="`/main/usuarios/editar/${currentUser?currentUser.user_id:''}`">Perfil</b-dropdown-item>
            <b-dropdown-item @click="logout">Cerrar sesión</b-dropdown-item>
          </b-dropdown>
          <br />
        </div>
      </div>
    </nav>
    <main class="main">
        <b-breadcrumb :items="items" v-if="$route.path != '/main'"></b-breadcrumb>
      <router-view></router-view>
    </main>
    <sidebar></sidebar>
  </div>
</template>

<script>
import Sidebar from "./Sidebar";
import Notification from "./NotificationComponent";
export default {
    mounted(){
        console.log(this.$route);
        this.items = this.$route.meta.breadcrumbs;
    },
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content"),
      notifications: [],
      results: [],
      items: []
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
  },
  methods: {
    logout() {
      axios
        .post("/logout", {
          headers: {
            "X-CSRF-Token": this.csrf,
          },
        })
        .then((response) => {
          this.$store.dispatch("updateCurrentUser", null);
          this.$router.push("/login");
        });
    },
  },
  components: {
    sidebar: Sidebar,
    notification: Notification,
  },
  watch:{
      "$route.path"(){
          this.items = this.$route.meta.breadcrumbs;
      }
  }
};
</script>

<style scoped>
.dropdownn {
  background: #0f0f21 !important;
}
.border-radius {
  margin-top: 5px;
  border-radius: 100%;
  width: 60px;
  overflow: hidden;
}
.border-radius img {
  max-width: 100%;
  display: block;
  height: auto;
}
</style>
