<template>
  <div>
      <div class="icon" id="bell" @click="notificationDropdown = !notificationDropdown"> <img src="https://i.imgur.com/AC7dgLA.png" alt="">
        <span v-if="amountNotifications != 0">{{amountNotifications}}</span>
       </div>
            <div>
                <div class="notifications" id="box" v-if="notificationDropdown" v-click-outside="openDropdownNotification">
                    <h2>Notificaciones | <span>{{arrayNotifications.length}}</span></h2>
                    <template v-if="arrayNotifications.length == 0">
                        <div class="notifications-item" >
                            <div class="text">
                                <h4>Sin notificaciones</h4>
                                <p>Usted no tiene notificaciones por el momento</p>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <template v-for="notification in arrayNotifications">
                            <div :class="['notifications-item', notification.status==0?'bg-info text-white':'']"  :key="notification.id" @click="confirmNotification(notification)" > <img :src="notification.module=='Lote'?'/images/icon-menu/sacar.png':'/images/icon-menu/encaste.png'" alt="img" >
                                <div class="text">
                                    <h4>{{notification.module}}</h4>
                                    <span>{{notification.notification}}</span>
                                    <p class="text-muted fs-6">{{notification.created_at}}</p>
                                </div>
                            </div>
                        </template>

                    </template>
                </div>
            </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
export default {
    mounted () {
        // prevent click outside event with popupItem.
        this.popupItem = this.$el

    },
    data(){
        return{
            notificationDropdown: false
        }
    },
    computed:{
        currentUser(){
            return this.$store.getters.currentUser;
        },
        arrayNotifications(){
            return this.$store.getters.arrayNotifications;
        },
        amountNotifications(){
            return this.$store.getters.amountNotifications;
        }
    },
    methods:{
        openDropdownNotification(){
            this.notificationDropdown = !this.notificationDropdown
        },
        confirmNotification(notification){
            axios.post('/api/notification/confirm', {
                notification_id: notification.id
            }).then(response=>{
                if(notification.status == 0){
                    this.$store.dispatch('updateAmountNotifications', this.amountNotifications-1)
                }
                notification.status = 1
                this.openDropdownNotification();
                this.$router.push(notification.link)
            })
        }
    },
    directives: {
        ClickOutside
    },
    watch:{
        currentUser(){
            this.$store.dispatch('updateArrayNotifications', this.currentUser.role_id)
        }
    }

}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');


.icon {
    cursor: pointer;
    margin-right: 50px;
    line-height: 60px;
}

.icon span {
    background: #f00;

    padding: 4px;
    border-radius: 50%;
    color: #fff;
    vertical-align: top;
    margin-left: -10px;

}

.icon img {
    display: inline-block;
    width: 26px;
    margin-top: 4px
}

.icon:hover {
    opacity: .7
}


.notifications {
    width: 300px;
    height: 0px;
    position: absolute;
    top: 63px;
    right: 62px;
    border-radius: 5px 0px 5px 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.notifications h2 {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999
}

.notifications h2 span {
    color: #f00
}

.notifications-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 6px 9px;
    margin-bottom: 0px;
    cursor: pointer
}

.notifications-item:hover {
    background-color: #eee
}

.notifications-item img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: 2px
}

.notifications-item .text h4 {
    font-size: 16px;
    margin-top: 3px
}

.notifications-item .text p {
    font-size: 12px
}
#box{
    opacity: 1;
    height: auto;
    z-index: 10;
    height: 325px;
    overflow: auto;
    top:100%;
}
</style>
