<template>
  <div class="col-lg-6 mt-3">
    <div class="form-group">
      <span
        class="class-span-1"
        style="border-radius: 20px; border-width: 1px; border-color: black"
        >{{
          (paginate.start_page - 1) * paginate.perpage +
          1 +
          "-" +
          (paginate.start_page == paginate.end_page
            ? paginate.total_data
            : paginate.start_page * paginate.perpage)
        }}</span
      ><span style="padding-top: 7px; margin-right: 5px">de</span
      ><span
        class="class-span-2"
        style="border-radius: 50%; border-width: 1px; border-color: black"
        >{{ paginate.total_data }}</span
      ><button
        class="btn btn-rounded-ui bg-ui-black"
        @click="prev(paginate.start_page)"
        :style="
          paginate.start_page != 1
            ? 'margin-right:5px;'
            : 'pointer-events:none;margin-right:5px;'
        "
      >
        <i class="fas fa-caret-left"></i></button
      ><button
        class="btn btn-rounded-ui bg-ui-black"
        @click="next(paginate.next_page)"
        :style="
          paginate.start_page != paginate.end_page ? '' : 'pointer-events:none'
        "
      >
        <i class="fas fa-caret-right"></i></button
      ><button class="btn btn-rounded-ui bg-ui-black ml-2" @click="resetSearch">
        <i class="fas fa-sync-alt"></i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    paginate: {
      type: Object,
      default: function () {
        return {
          orderby: null,
          order: null,
          start_page: "",
          end_page: "",
          total_data: "",
          perpage: "",
          next_page: "",
          search_input: "",
        };
      },
    },
    next:{
        Function
    },
    prev:{
        Function
    },
    resetSearch:{
        Function
    }
  },
};
</script>

<style>
</style>
