<template>
  <nav id="sidebar" style="z-index: 10">
    <h1>
      <!-- <router-link to="/main"><i class="fas fa-home ml-2"></i></router-link> -->

      <router-link
        to="/main"
        style="padding: 0px !important; color: white !important"
      >
        <div class="border-radius">
          <img src="/images/ISO_white.png" alt="" />
        </div>
      </router-link>
    </h1>
    <ul
      class="
        list-unstyled
        components
        mb-5
        d-flex
        align-items-center
        flex-column
      "
    >
      <li>
        <div class="line-bottom">
          <button class="btn" id="sidebarCollapse">
            <i class="fas fa-ellipsis-v"></i>
          </button>
        </div>
      </li>
      <template v-for="link in navLinks">
        <li
          :key="link.id"
          v-if="
            link.requiresAdmin == isAdmin ||
            link.requiresEncastador == isEncastador ||
            link.requiresInvitado == isInvitado
          "
          class="li-rooster"
        >
          <div class="line-bottom" :title="link.title" v-if="!link.isDropdown">
            <router-link :to="link.path">
              <div class="flex-img-rooster">
                <img :src="link.icon" class="image-list" />
                <span class="spanname" style="display: none">{{
                  link.title
                }}</span>
              </div>
            </router-link>
          </div>
          <div class="line-bottom" :title="link.title" v-if="link.isDropdown">
            <template>
              <b-button block v-b-toggle.accordion-1 class="btn-sidebar">
                <img :src="link.icon" class="image-list" />
                <span class="spanname" style="display: none">{{
                  link.title
                }}</span>
              </b-button>
              <b-collapse
                id="accordion-1"
                accordion="my-accordion"
                role="tabpanel"
              >
                <ul
                  class="
                    list-unstyled
                    components
                    d-flex
                    align-items-center
                    flex-column
                  "
                >
                  <li v-for="child in link.children" :key="child.id">
                    <div class="line-bottom" :title="child.title">
                      <router-link :to="child.path">
                        <img
                          :src="child.icon"
                          class="image-list"
                          style="width: 28px"
                        />
                        <span class="spanname" style="display: none">{{
                          child.title
                        }}</span>
                      </router-link>
                    </div>
                  </li>
                </ul>
              </b-collapse>
            </template>
          </div>
        </li>
      </template>
    </ul>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      navLinks: [
        {
          title: "Usuarios",
          icon: "/images/icon-menu/user.png",
          path: "/main/usuarios",
          isDropdown: false,
          requiresAdmin: true,
          requiresInvitado: true
        },
        {
          title: "Ejemplares",
          icon: "/images/icon-menu/ejemplares.png",
          path: "/main/ejemplares",
          isDropdown: false,
          requiresAdmin: true,
          requiresEncastador: true,
          requiresInvitado: true
        },
        {
          title: "Pollos",
          icon: "/images/icon-menu/chick.png",
          path: "/main/pollitos",
          isDropdown: false,
          requiresAdmin: true,
          requiresEncastador: true,
          requiresInvitado: true
        },
        {
          title: "Entrenamiento",
          icon: "/images/icon-menu/entrenamiento.png",
          path: "/main/entrenamiento",
          isDropdown: false,
          requiresAdmin: true,
          requiresInvitado: true
        },
        {
          title: "Encaste",
          icon: "/images/icon-menu/encaste.png",
          path: "/main/reproduccion/planificacion-camadas",
          isDropdown: false,
          requiresAdmin: true,
          requiresEncastador: true,
          requiresInvitado: true
        },
        {
          title: "Torneos",
          icon: "/images/icon-menu/torneo.png",
          path: "/main/torneos",
          isDropdown: false,
          requiresAdmin: true,
          requiresInvitado: true
        },
        {
          title: "Administrativo",
          icon: "/images/icon-menu/administrativo.png",
          path: "/main/administrativo/dashboard",
          isDropdown: false,
          requiresAdmin: true,
          requiresInvitado: true
        },
        {
          title: "Cintillos",
          icon: "/images/icon-menu/cintillo.png",
          path: "/main/cintillos/colores",
          isDropdown: false,
          requiresAdmin: true,
          requiresInvitado: true
        },
        {
          title: "Muertos",
          icon: "/images/icon-menu/muerto.png",
          path: "/main/muertos",
          isDropdown: false,
          requiresAdmin: true,
          requiresEncastador: true,
          requiresInvitado: true
        },
        {
          title: "Videoteca",
          icon: "/images/icon-menu/videoteca.png",
          path: "/main/videoteca",
          isDropdown: false,
          requiresAdmin: true,
          requiresEncastador: false,
          requiresInvitado: true
        },
        {
          title: "Motivos",
          icon: "/images/icon-menu/motivos.png",
          path: "/main/motivos",
          isDropdown: false,
          requiresAdmin: true,
          requiresEncastador: false,
          requiresInvitado: true
        }
      ],
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter(rol => rol.role_id == 1);
        if(isDueñoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isInvitado(){
        const isInvitadoInRoles = this.roles.filter(rol => rol.role_id == 7);
        if(isInvitadoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter(rol => rol.role_id == 6);
      if(isEncastadorInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    roles(){
        if(this.currentUser){
            return this.currentUser.role
        }else{
            return [];
        }

    },
    amountNotifications() {
      return this.$store.getters.amountNotifications;
    },
  },
  methods: {
    toggleDropdown() {},
  },
};
</script>

<style scoped>
.router-link-exact-active.router-link-active {
  background-color: #5fbabd !important;
  padding: 10px !important;
  color: white !important;
  border-radius: 10px;
}
hr {
  background-color: #5fbabd;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.notification-icon-link {
  background: #f00;
  padding: 4px 8px 4px 8px;
  border-radius: 50%;
  color: #fff;
  vertical-align: top;
  margin-left: -10px;
}
.border-radius {
  margin-top: 5px;
  border-radius: 100%;
  width: 60px;
  overflow: hidden;
}
.border-radius img {
  max-width: 100%;
  display: block;
  height: auto;
}
.flex-img-rooster {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-img-rooster img {
  width: 30px;
  height: auto;
}
.flex-img-rooster span {
  width: calc(100% - 34px);
}
.li-rooster {
  width: 100%;
}
.spanname {
  text-align: left;
}
</style>
