<template>
  <div class="container2">
    <div class="btn-green-tree">
      <p class="tree-ar mt-1">Pedigree</p>
    </div>
    <vue-tree
      style="width: 100%; height: 100vh"
      :dataset="sampleData"
      :config="treeConfig"
      v-if="sampleData"
      id="my-node"
      direction="horizontal"
      linkStyle="straight"
      ref="tree"
      :collapse-enabled="false"
    >
      <template v-slot:node="{ node, collapsed }">
        <div
          class="rich-media-node"
          :style="{ border: collapsed ? '2px solid gray' : '' }"
        >
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <span style="font-weight: bold" class="mb-2"
              >{{ node.alias }}
            </span>
            <span style="font-weight: bold" class="mb-2">
              {{ node.plate }}
            </span>
            <span style="font-weight: bold">
              {{ node.dob }}
            </span>
          </div>
        </div>
        <div
          class="d-flex flex-column justify-content-start align-items-center"
          :style="`background: ${
            node.type == 'PADRE'
              ? '#00E2B7'
              : node.type == 'EJEMPLAR'
              ? '#86282a'
              : '#FF5749'
          }; height: 100%; width: 25px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);`"
        >
          <i
            class="fas fa-trash clickable mb-1 mt-2"
            @click="deleteSpecimenTree(node)"
            v-if="!node.children"
          ></i>
          <i
            class="fas fa-plus clickable mb-1"
            @click="openModalRegisterParents(node)"
            v-if="!node.children"
          ></i>
          <i
            class="fas fa-pencil-alt clickable"
            @click="openModalEditParents(node)"
            v-if="node.type != 'EJEMPLAR'"
          ></i>
        </div>
      </template>
    </vue-tree>
    <b-modal
      size="lg"
      :title="`Registrar ascendencia de ${selectedNode.alias} / (${selectedNode.plate})`"
      hide-footer
      v-model="registerParentsModalController"
    >
      <register-specimen-parents
        :parentId="selectedNode.id"
        :specimenId="selectedNode.specimen_id"
        @closeModalRegisterSpecimenParents="closeModalRegisterSpecimenParents"
      ></register-specimen-parents>
    </b-modal>
    <b-modal
      size="lg"
      :title="`Actualizar ${selectedNode.alias} / (${selectedNode.plate})`"
      hide-footer
      v-model="editParentsModalController"
    >
      <edit-specimen-parents
        :specimen="selectedNode"
        @editModalEditSpecimenParents="editModalEditSpecimenParents"
      ></edit-specimen-parents>
    </b-modal>
    <b-sidebar
      id="sidebar-1"
      v-model="sidebarController"
      right
      width="55px"
      sidebar-class="sidebar-class"
      :bg-variant="''"
      no-header-close
    >
      <template #default="{ hide }">
        <div class="d-flex flex-column align-items-center">
          <i
            class="fas fa-times clickable"
            style="font-size: 23px; margin-bottom: 25px"
            @click="closeModal"
          ></i>
          <i
            class="fas fa-plus-circle clickable"
            style="font-size: 23px; margin-bottom: 10px"
            @click="zoomIn"
          ></i>
          <i
            class="fas fa-minus-circle clickable"
            style="font-size: 23px; margin-bottom: 10px"
            @click="zoomOut"
          ></i>
          <i
            class="fas fa-cloud-download-alt clickable"
            style="font-size: 23px; margin-bottom: 10px"
            @click="exportToPng"
          ></i>
          <i
            class="fas fa-cloud-download-alt clickable"
            style="font-size: 23px; margin-bottom: 10px"
            @click="getPdf()"
          ></i>
          <span @click="restoreToInitialZoom" class="clickable"
            ><strong
              ><p style="font-size: 23px; margin-bottom: 10px">1:1</p></strong
            ></span
          >
        </div>
      </template>
    </b-sidebar>
  </div>
</template>

<script>
import RegisterSpecimenParents from "../../components/tree/RegisterSpecimenParents.vue";
import EditSpecimenParents from "../../components/tree/EditSpecimenParents.vue";
import * as htmlToImage from "html-to-image";
import { jsPDF } from "jspdf";
import html2canvas from "html2canvas";
// import { toPng, toJpeg, toBlob, toPixelData, toSvg } from 'html-to-image';
export default {
  components: {
    "register-specimen-parents": RegisterSpecimenParents,
    "edit-specimen-parents": EditSpecimenParents,
  },
  props: {
    specimenId: String,
  },
  mounted() {
    this.getSpecimenTree();
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
  },
  data() {
    return {
      sampleData: null,
      treeConfig: { nodeWidth: 150, nodeHeight: 103, levelHeight: 190 },
      selectedNode: {
        alias: null,
        plate: null,
        id: null,
        specimen_id: null,
      },
      registerParentsModalController: false,
      sidebarController: true,
      editParentsModalController: false,
    };
  },
  methods: {
    exportToPng() {
      htmlToImage
        .toJpeg(document.getElementById("my-node"), { quality: 0.95 })
        .then(function (dataUrl) {
          var link = document.createElement("a");
          link.download = "node.jpeg";
          link.href = dataUrl;
          link.click();
        });
    },
    openModalRegisterParents(node) {
      this.selectedNode = node;
      this.registerParentsModalController =
        !this.registerParentsModalController;
    },
    openModalEditParents(node) {
      this.selectedNode = node;
      this.editParentsModalController = !this.editParentsModalController;
    },
    closeModal() {
      this.$emit("closeModalTreeSpecimen", null);
    },
    closeModalRegisterSpecimenParents() {
      this.registerParentsModalController = false;
      this.getSpecimenTree();
    },
    editModalEditSpecimenParents() {
      this.editParentsModalController = false;
      this.getSpecimenTree();
    },
    getSpecimenTree() {
      this.sampleData = null;
      axios
        .post("/api/tree/get", {
          specimen_id: this.specimenId,
        })
        .then((res) => {
          this.sampleData = res.data[0];
        });
    },
    deleteSpecimenTree(item) {
      swal
        .fire({
          icon: "warning",
          title: "Está seguro de realizar esta acción?",
          text: "Esta acción no se puede deshacer",
          showCancelButton: true,
          confirmButtonColor: "#3490dc",
          cancelButtonColor: "#e3342f",
          confirmButtonText: "Si",
        })
        .then((value) => {
          if (value.value) {
            axios
              .post("/api/tree/delete", {
                deleted_by: this.currentUser.user_id,
                tree_item_id: item.id,
              })
              .then((res) => {
                swal
                  .fire({
                    icon: "success",
                    title: "Descendiente eliminado!",
                  })
                  .then((value) => {
                    if (value) {
                      this.getSpecimenTree();
                    }
                  });
              });
          }
        });
    },
    zoomIn() {
      this.$refs.tree.zoomIn();
    },
    zoomOut() {
      this.$refs.tree.zoomOut();
    },
    restoreToInitialZoom() {
      this.$refs.tree.restoreScale();
    },
  },
};
</script>

<style>
.container2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rich-media-node {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 223px;
  height: 103px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-size: 17px;
  line-height: 93.69%;
}

.sidebar-class {
  background-color: #00e2b7;
}
.btn-green-tree {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 164px;
  height: 55px;
  background: #00e2b7;
  border-radius: 0px 0px 10px 0px;
}
.tree-ar {
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
}
</style>
