<template>
  <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden" style="display: none;">Loading...</span>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
