<template>
    <div class="m-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center mb-5">
            <div>
                <h3 class="title-module">{{selectedLink?selectedLink.title:'Cintillos'}}</h3>
            </div>
            <div>
                <b-nav pills>
                    <template v-for="link in navLinks" >
                        <b-nav-item :to="link.path" tag="li" :key="link.id" exact-active-class="btn btn-outline-dark active-item-nav" link-classes="active-item-nav"   @click="getLink(link)" exact >
                            <img :src="link.icon" :alt="link.title" style="width: 25px"> <span>{{link.title}}</span>
                        </b-nav-item>
                    </template>
                </b-nav>
            </div>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    mounted(){
        //this.getCounter();
        this.$store.dispatch('getLoteNotifications');
    },
    data(){
        return{
            navLinks:[
                {
                    title: 'Combinaciones',
                    icon: '/images/icon-menu/patas.png',
                    path: '/main/cintillos/combinaciones'
                },
                {
                    title: 'Colores',
                    icon: '/images/icon-menu/colores.png',
                    path: '/main/cintillos/colores'
                },
                {
                    title: 'Patas',
                    icon: '/images/icon-menu/patas.png',
                    path: '/main/cintillos/patas'
                }
            ],
            selectedLink: null,
            counter: null
        }
    },
    methods:{
        getLink(link){
            this.selectedLink = link
        }
    }
}
</script>

<style scoped>

.notification-icon-link {
  background: #f00;
  padding: 2px 6px 2px 6px;
  border-radius: 50%;
  color: #fff;
  vertical-align: top;
}
</style>
