<template>
  <div class="m-3">
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <span
                class="class-span-1"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                >{{
                  (paginate.start_page - 1) * paginate.perpage +
                  1 +
                  "-" +
                  (paginate.start_page == paginate.end_page
                    ? paginate.total_data
                    : paginate.start_page * paginate.perpage)
                }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span
                class="class-span-2"
                style="
                  border-radius: 50%;
                  border-width: 1px;
                  border-color: black;
                "
                >{{ paginate.total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(paginate.start_page)"
                :style="
                  paginate.start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(paginate.next_page)"
                :style="
                  paginate.start_page != paginate.end_page
                    ? ''
                    : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 text-right">
            <div class="form-group">
              <b-input-group>
                <b-form-input
                  class="input-search mr-3"
                  v-model="paginate.search_input"
                  style="
                    border-radius: 20px;
                    border-width: 1px;
                    border-color: black;
                  "
                  type="text"
                  debounce="500"
                  placeholder="Buscar por descripción de cintillo"
                ></b-form-input>
                <button
                  class="btn btn-ui bg-ui-black mr-2"
                  @click="getCintillos(null, null)"
                >
                  <i class="fas fa-search"></i> Buscar
                </button>
                <b-button
                  class="btn btn-ui bg-ui-verde float-right"
                  @click="openRegisterCintilloModal(null)"
                  v-if="isAdmin"
                >
                  <i class="fas fa-plus"></i> CREAR
                </b-button>
              </b-input-group>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Descripción</th>
                <th scope="col">Creado por</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
              </thead>
              <tbody>
                <tr v-if="loading">
                  <td colspan="11" class="text-center"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr v-for="cintillo in arrayCintillos" :key="cintillo.id">
                    <td data-label="Descripción">
                      <div>
                        <div class="mr-auto p-2">
                          <span class="fa-squaress"
                            ><i
                              class="fas fa-square"
                              :style="`color: ${cintillo.color}; font-size: 30px; text-shadow: 0 0 3px #000;`"
                            ></i
                          ></span>
                        </div>
                        <div class="p-2">
                          <span>{{ cintillo.description }}</span>
                        </div>
                      </div>
                    </td>
                    <td data-label="Creado por">
                      {{ cintillo.first_name_created_by }}
                      {{ cintillo.last_name_created_by }}
                    </td>
                    <td data-label="Fecha">
                      {{ convertToSpanishDate(cintillo.created_at) }}
                    </td>
                    <td data-label="Acciones">
                      <template v-if="isAdmin">
                        <span
                          @click="openRegisterCintilloModal(cintillo)"
                          class="clickable mr-3"
                          ><img src="/images/edit.png"
                        /></span>
                      </template>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <b-modal
      :title="!cintillo ? 'Registrar cintillo' : 'Actualizar cintillo'"
      v-model="modalRegistrarCintillo"
      hide-footer
    >
      <create-cintillo-page
        :cintillo="cintillo"
        @closeModal="closeModalRegistrarCintillo"
      ></create-cintillo-page>
    </b-modal>
  </div>
</template>

<script>
import { misMixins } from '../../mixins';
import CreateCintilloPage from "./CreateCintilloPage";
export default {
  data() {
    return {
      arrayCintillos: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      cintillo: null,
      loading: false,
      modalRegistrarCintillo: false,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      return this.currentUser ? this.currentUser.role_id == 1 : false;
    },
  },
  mounted() {
    this.getCintillos(null, null);
  },
  components: {
    "create-cintillo-page": CreateCintilloPage,
  },
  methods: {
    getCintillos(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/cintillo", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayCintillos = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/cintillo?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayCintillos = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      this.loading = true;
      axios
        .post("/api/cintillo?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayCintillos = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getCintillos(null, null);
    },
    openRegisterCintilloModal(cintillo) {
      this.cintillo = cintillo;
      this.modalRegistrarCintillo = true;
    },
    closeModalRegistrarCintillo() {
      this.modalRegistrarCintillo = false;
      this.getCintillos(null, null);
    },
  },
  mixins:[misMixins]
};
</script>

<style scoped>
.cuadrado {
  width: 30px;
  height: 30px;
}
.fa-squaress {
  border-width: 1px !important;
  border-color: black !important;
}
</style>
