<template>
  <div>
    <form @submit.prevent="!cintillo ? insertCintillo() : updateCintillo()">
      <div class="row">
        <div class="col">
          <label for="inputDescription">Color</label>
          <input
            type="color"
            class="form-control"
            placeholder="Escoge un color"
            v-model="objetoCintillo.color"
          />
        </div>
        <div class="col">
          <label for="inputDescription">Descripción</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingresa la descripción"
            v-model="objetoCintillo.description"
            style="border-radius: 20px; border-width: 1px; border-color: black"
          />
        </div>
      </div>
      <div class="d-flex justify-content-end mt-3">
          <b-overlay
            :show="busy"
            rounded
            opacity="0.85"
            spinner-small
            spinner-variant="primary"
            class="d-inline-block"
          >
            <b-button type="submit" class="btn btn-ui bg-ui-verde">{{
              !cintillo ? "Registrar" : "Actualizar"
            }}</b-button>
          </b-overlay>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: {
    cintillo: Object,
  },
  data() {
    return {
      objetoCintillo: {
        description: null,
        color: "#000000",
        created_by: null,
      },
      busy: false,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
  },
  mounted() {
    if (this.cintillo) {
      this.objetoCintillo.color = this.cintillo.color;
      this.objetoCintillo.description = this.cintillo.description;
    } else {
      this.objetoCintillo.description = null;
    }
  },
  methods: {
    insertCintillo() {
      this.busy = true;
      axios
        .post("/api/cintillo/insert", {
          description: this.objetoCintillo.description,
          color: this.objetoCintillo.color,
          created_by: this.currentUser.user_id,
        })
        .then((response) => {
          this.busy = false;
          this.$emit("closeModal", false);
        });
    },
    updateCintillo() {
      this.busy = true;
      axios
        .put(`/api/cintillo/update/${this.cintillo.id}`, {
          description: this.objetoCintillo.description,
          color: this.objetoCintillo.color,
          created_by: this.currentUser.user_id,
        })
        .then((response) => {
          this.busy = false;
          this.$emit("closeModal", false);
        });
    },
  },
};
</script>

<style>
</style>
