<template>
  <div id="container-modal">
    <b-row>
      <b-col
        lg="12"
        v-for="(dead, index) in arrayDeads"
        :key="index"
        class="mb-4"
      >
        <b-card style="position: relative">
          <b-row>
            <b-col>
              <b-form-group
                id="input-group-1"
                label="Selecciona una opción:"
                label-for="input-1"
              >
                <b-form-select
                  v-model="dead.type"
                  :options="options"
                  value-field="item"
                  text-field="name"
                  @input="onChangeDeadType(dead)"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label="Elige una combinación"
                label-for="multi"
                v-if="dead.type == 1"
              >
                <multiselect
                  id="multi"
                  v-model="dead.id"
                  placeholder="Elige una combinación"
                  label="title"
                  ref="combination"
                  track-by="id"
                  :options="arrayUsedCombinations"
                  :option-height="104"
                  :custom-label="customLabelChickenLegs"
                  :show-labels="false"
                  @input="onChangeCombination(dead, index)"
                >
                  <template slot="singleLabel" slot-scope="props"
                    >
                    <div class="d-flex justify-content-around align-items-center">

                        <span class="option__desc"
                        ><span class="option__title"
                            ><span style="font-size: 11px"
                            >{{ props.option.chickenleg_description }}
                            {{ props.option.cintillo_description }}
                            </span>
                            <span class="fa-squaress"
                            ><i
                                class="fas fa-square"
                                :style="`color: ${props.option.cintillo_color}; font-size: 20px; text-shadow: 0 0 3px #000;`"
                            ></i> </span></span
                        ></span>
                        <span>
                        {{ selectedLoteCode }}
                        </span>
                    </div>
                  </template>
                  <template slot="option" slot-scope="props">
                    <div class="option__desc">
                      <span style="font-size: 11px"
                        >{{ props.option.chickenleg_description }}
                        {{ props.option.cintillo_description }}
                      </span>
                      <span class="fa-squaress"
                        ><i
                          class="fas fa-square"
                          :style="`color: ${props.option.cintillo_color}; font-size: 20px; text-shadow: 0 0 3px #000;`"
                        ></i>
                      </span>
                    </div>
                  </template>
                </multiselect>
              </b-form-group>
              <b-form-group
                label="Ingresa el cintillo en el ala"
                label-for="ala"
                v-if="dead.type == 2"
              >
                <b-form-input
                  id="ala"
                  v-model="dead.id"
                  placeholder="Cintillo en el ala"
                  :state="dead.error ? true : dead.id ? false : null"
                  @input="validateCintilloAla(dead)"
                ></b-form-input>
                <span
                  v-if="dead.type == 2 && dead.id"
                  :class="dead.error ? 'text-success' : 'text-danger'"
                  >{{ dead.error ? "correcto" : "El cintillo no existe" }}</span
                >
              </b-form-group>
              <b-form-group
                label="Ingresa la placa"
                label-for="placa"
                v-if="dead.type == 3"
              >
                <b-form-input
                  id="placa"
                  v-model="dead.id"
                  placeholder="Placa"
                  :state="dead.error ? true : dead.id ? false : null"
                  @input="validatePlate(dead)"
                ></b-form-input>
                <span
                  v-if="dead.type == 3 && dead.id"
                  :class="dead.error ? 'text-success' : 'text-danger'"
                  >{{ dead.error ? "correcto" : "La placa no existe" }}</span
                >
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="input-group-1"
                label="Observación:"
                label-for="input-1"
              >
                <multiselect
                  id="multi"
                  v-model="dead.observation"
                  placeholder="Elige una razón"
                  label="title"
                  ref="reasons"
                  track-by="id"
                  :options="arrayReason"
                  :option-height="104"
                  :custom-label="customLabel"
                  :show-labels="false"
                >
                  <template slot="singleLabel" slot-scope="props"
                    ><span class="option__desc"
                      ><span class="option__title"
                        ><span
                          :style="`margin-left: ${
                            props.option.parent_id ? '10' : '0'
                          }px`"
                          >{{ props.option.reason }}
                        </span></span
                      ></span
                    ></template
                  >
                  <template slot="option" slot-scope="props">
                    <div class="option__desc">
                      <span
                        :style="`margin-left: ${
                          props.option.parent_id ? '10' : '0'
                        }px`"
                        >{{ props.option.reason }}
                      </span>
                      <span v-if="props.option.parent_id">
                        Sub-motivo de {{ props.option.parent_reason }}
                      </span>
                    </div>
                  </template>
                </multiselect>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <drag-and-drop-component
                v-model="dead.evidences"
                :filesArray="dead.evidences"
                :source="`source${index}`"
              ></drag-and-drop-component>
            </b-col>
          </b-row>
          <i
            class="fas fa-times-circle text-danger clickable"
            style="position: absolute; top: 5px; right: 7px; font-size: 20px"
            @click="deleteDead(index)"
          ></i>
        </b-card>
      </b-col>
    </b-row>
    <b-button
      style="border-radius: 50%"
      variant="primary"
      id="fixedbutton"
      @click="addDead"
      >+</b-button
    >
    <b-modal
      v-model="openLotesByCombination"
      size="lg"
      title="Selecciona un lote"
      hide-footer
    >
      <div class="table-responsive mt-3">
        <table class="table table-hover">
          <thead class="text-center">
            <th scope="col">Lote</th>
            <th scope="col">Huevos</th>
            <th scope="col">Infértiles</th>
            <th scope="col">Nacidos</th>
            <th scope="col">Muertos</th>
            <!-- <th scope="col">Cintillo ala</th> -->
          </thead>
          <tbody>
            <tr v-if="loading">
              <td colspan="11" class="text-center"><spinner></spinner></td>
            </tr>
            <template v-else>
              <tr
                v-for="lote in arrayPosturaLoteDetail"
                :key="lote.id"
                class="clickable"
                @click="onSelectLoteCombination(lote)"
              >
                <td data-label="Lote">{{ lote.code }}</td>
                <td data-label="Cantidad huevos">
                  {{ lote.quantity_eggs }}
                </td>
                <td data-label="Infértiles">
                  {{ lote.quantity_infertile_eggs }}
                </td>
                <td data-label="Nacidos">
                  {{ lote.quantity_born_eggs }}
                </td>
                <td data-label="Muertos">
                  {{ lote.quantity_dead_eggs }}
                </td>
                <!-- <td data-label="Status">
                  <span v-if="lote.c_ala_status == 1" class="text-danger">{{
                    lote.cintillo_ala_status
                  }}</span>
                  <span v-if="lote.c_ala_status == 2" class="text-success">{{
                    lote.cintillo_ala_status
                  }}</span>
                </td> -->
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </b-modal>
    <!-- <b-row>
      <b-col class="text-right">
        <b-button size="sm" @click="upload()">Registrar</b-button>
      </b-col>
    </b-row> -->
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect,
  },
  data() {
    return {
      test: {},
      testdos: {},
      testres: {},
      arrayDeads: [
        {
          type: 1,
          id: null,
          observation: null,
          circumstances: null,
          breeder_id: null,
          postura_id: null,
          lote_id: null,
          evidences: [],
          customFormData: [],
          error: null,
        },
        {
          type: 1,
          id: null,
          observation: null,
          circumstances: null,
          breeder_id: null,
          postura_id: null,
          lote_id: null,
          evidences: [],
          customFormData: [],
          error: null,
        },
        {
          type: 1,
          id: null,
          observation: null,
          circumstances: null,
          breeder_id: null,
          evidences: [],
          customFormData: [],
          error: null,
        },
        {
          type: 1,
          id: null,
          observation: null,
          circumstances: null,
          breeder_id: null,
          postura_id: null,
          lote_id: null,
          evidences: [],
          customFormData: [],
          error: null,
        },
        {
          type: 1,
          id: null,
          observation: null,
          circumstances: null,
          breeder_id: null,
          postura_id: null,
          lote_id: null,
          evidences: [],
          customFormData: [],
          error: null,
        },
      ],
      modalEvidencesController: false,
      deadSpecimenObject: {
        type_specimen: 1,
        quantity: 1,
        cintillo_ala: null,
        cintillo_pata: null,
        plate: null,
        error: null,
        specimen_error: null,
        observation: null,
        circumstances: null,
        breeder_id: null,
      },
      options: [
        { item: 1, name: "Cintillo pata" },
        { item: 2, name: "Cintillo ala" },
        { item: 3, name: "Placa" },
      ],
      arrayUsedCombinations: [],
      isDragging: false,
      dragCount: 0,
      files: [],
      images: [],
      circumstances: [
        { item: 1, name: "Pelea" },
        { item: 2, name: "Natural" },
      ],
      arrayBreeders: [],
      arrayReason: [],
      fileData: null,
      shouldStick: true,
      openLotesByCombination: false,
      arrayPosturaLoteDetail: [],
      selectedDeadIndex: null,
      selectedLoteCode: null,
      loading: false,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
  },
  methods: {
    onChangeDeadType(dead) {
      dead.id = null;
      dead.observation = null;
      dead.circumstances = null;
      dead.breeder_id = null;
      dead.postura_id = null;
      dead.lote_id = null;
      dead.evidences = [];
      dead.customFormData = [];
      dead.error = null;
    },
    onSelectLoteCombination(lote) {
      this.arrayDeads[this.selectedDeadIndex].postura_id = lote.postura_id;
      this.arrayDeads[this.selectedDeadIndex].lote_id = lote.lote_id;
      this.selectedLoteCode = lote.code;
      this.openLotesByCombination = false;
    },
    onChangeCombination(dead, index) {
      this.selectedDeadIndex = index;
      axios
        .post("/api/deads/get-lotes-by-combination", {
          cintillo_pata_id: dead.id.id,
        })
        .then((res) => {
          console.log(res.data, "data");
          this.arrayPosturaLoteDetail = res.data;
          this.openLotesByCombination = true;
        });
    },
    addDead() {
      let obj = {
        type: 1,
        id: null,
        observation: null,
        circumstances: null,
        breeder_id: null,
        postura_id: null,
        lote_id: null,
        evidences: [],
        customFormData: [],
        error: null,
      };
      this.arrayDeads.push(obj);
    },
    getReasonsByModule() {
      axios
        .post("/api/reason/by-module", {
          module_id: 1,
        })
        .then((res) => {
          this.arrayReason = res.data;
        });
    },
    customLabel({ reason }) {
      return `${reason}`;
    },
    customLabelChickenLegs({ chickenleg_description, cintillo_description }) {
      return `${chickenleg_description} ${cintillo_description}`;
    },
    getUsedCombinations() {
      axios.get("/api/cintillo-pata/get-combinations-used").then((res) => {
        this.arrayUsedCombinations = res.data;
      });
    },
    async setEvidencesBase64() {
      for (let i = 0; i < this.arrayDeads.length; i++) {
        for (let k = 0; k < this.arrayDeads[i].evidences.length; k++) {
          await this.getBase64(this.arrayDeads[i].evidences[k]).then((data) => {
            let obj = {
              base: data,
              name: this.arrayDeads[i].evidences[k].name,
              size: this.arrayDeads[i].evidences[k].size,
            };
            this.arrayDeads[i].customFormData.push(obj);
          });
        }
      }
    },
    upload() {
      swal
        .fire({
          title: "Estas seguro?",
          text: "¡No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3490dc",
          cancelButtonColor: "#e3342f",
          confirmButtonText: "Si",
        })
        .then(async (result) => {
          if (result.value) {
            this.$loading(true);
            await this.setEvidencesBase64();
            axios
              .post("/api/deads/save", {
                header: JSON.stringify(this.arrayDeads),
                created_by: this.currentUser.user_id,
              })
              .then((response) => {
                swal.fire({
                  icon: "success",
                  title: "Muerte registrada!",
                });
                this.$loading(false);
                this.$emit("hide", null);
              });
          }
        });
    },
    fileToBase64(file) {
      var reader = new FileReader();
      reader.readAsDataURL(file);
      var vm = this;
      reader.onload = function (e) {
        vm.fileData = reader.result;
      };
      reader.onerror = function (error) {
        console.log("Error: ", error);
      };
      return this.fileData;
      //   console.log(this.fileData);
    },
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
      });
    },
    validateCintilloAla(chicken) {
      this.$set(chicken, "error", null);
      axios
        .post("/api/chick/validate-dead-specimen", {
          cintillo_ala: chicken.id,
        })
        .then((response) => {
          let chickens = [];
          chickens = response.data;
          if (chickens.length > 0) {
            this.$set(
              chicken,
              "error",
              "Este cintillo en el ala ya está usado"
            );
          } else {
            this.$set(chicken, "error", null);
          }
        });
    },
    validatePlate(chicken) {
      this.$set(chicken, "error", null);
      axios
        .post("/api/specimen/validate", {
          plate: chicken.id,
        })
        .then((response) => {
          let chickens = [];
          chickens = response.data;
          if (chickens.length > 0) {
            this.$set(chicken, "error", "Esta placa ya está usada");
          } else {
            this.$set(chicken, "error", null);
          }
        });
    },
    getBreeders() {
      axios.post("/api/get-rival").then((res) => {
        this.arrayBreeders = res.data;
      });
    },
    deleteDead(index) {
      this.arrayDeads.splice(index, 1);
    },
  },
  mounted() {
    this.getUsedCombinations();
    this.getBreeders();
    this.getReasonsByModule();
  },
  watch: {
    "deadSpecimenObject.type_specimen"() {
      this.deadSpecimenObject.quantity = 1;
      this.deadSpecimenObject.error = null;
      this.deadSpecimenObject.specimen_error = null;
      this.deadSpecimenObject.lote_id = null;
      this.deadSpecimenObject.specimen_error = null;
      this.deadSpecimenObject.cintillo_ala = null;
      this.deadSpecimenObject.cintillo_pata = null;
      this.deadSpecimenObject.plate = null;
      this.deadSpecimenObject.observation = null;
      this.deadSpecimenObject.circumstances = null;
      this.deadSpecimenObject.breeder_id = null;
      this.files = [];
      this.images = [];
    },
  },
};
</script>

<style>
#fixedbutton {
  position: sticky;
  right: 0;
  bottom: 0;
  float: right;
}
.multiselect__content {
  font-size: 12px !important;
}
</style>
