<template>
  <div>
    <span
              ><h5 class="title-module" style="color: black !important">Evidencia</h5> </span
            >
            <b-container fluid class="p-4 bg-light text-center">
              <b-row>
                <b-col>
                  <template v-for="evidence in evidences">
                    <b-img
                      thumbnail
                      fluid
                      width="200"
                      class="ml-1 mb-1 clickable"
                      :src="evidence.url"
                      :alt="''"
                      :key="evidence.id"
                    ></b-img>
                  </template>
                </b-col>
              </b-row>
            </b-container>
  </div>
</template>

<script>
export default {
    props:{
        deadSpecimenId: Number
    },
    data(){
        return{
            evidences: []
        }
    },
    mounted(){
        this.getDeadSpecimenEvidence();
    },
    methods:{
        getDeadSpecimenEvidence(){
            axios.post('/api/deads/evidence', {
                dead_specimen_id: this.deadSpecimenId
            }).then(res=>{
                this.evidences = res.data;
            })
        }
    }
}
</script>

<style>

</style>
