<template>
  <div class="m-3">
    <div class="d-flex justify-content-start">
      <div class="d-flex align-items-center">
        <h3 class="title-module">Muertos</h3>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <div class="d-flex align-items-center">
        <b-button
          role="button"
          class="btn btn-ui bg-ui-verde"
          @click="openCreateDeadsModal()"
          v-if="isAdmin || isEncastador"
          >REGISTRAR EVIDENCIA <i class="fas fa-plus"></i>
        </b-button>
      </div>
    </div>
    <b-tabs
      content-class="mt-3"
      active-nav-item-class="border-bottom-white active-link-tabs "
      nav-class="border-bottom border-dark"
      lazy
      v-model="tabIndex"
    >
      <b-tab title="Cintillo pata" active title-link-class="text-dark">
        <dead-grilla :type="1" :key="node"></dead-grilla>
      </b-tab>
      <b-tab title="Cintillo ala" title-link-class="text-dark">
        <dead-grilla :type="2"></dead-grilla>
      </b-tab>
      <b-tab title="Placa" title-link-class="text-dark">
        <dead-grilla :type="3"></dead-grilla>
      </b-tab>
    </b-tabs>
    <b-modal
      size="xl"
      scrollable
      title="Registrar evidencia"
      v-model="createDeadsPageController"
      @ok="submitButton"
      ok-title="Guardar"
      cancel-title="Cancelar"
    >
      <create-deads-page @hide="hideDeadsModal()" ref="deadPage"></create-deads-page>
    </b-modal>
  </div>
</template>

<script>
import CreateDeadsPage from "./CreateDeadsPage";
import DeadGrilla from "./DeadGrilla";
export default {
  data() {
    return {
      createDeadsPageController: false,
      tabIndex: 0,
      node:0
    };
  },
  components: {
    "create-deads-page": CreateDeadsPage,
    "dead-grilla": DeadGrilla,
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter(rol => rol.role_id == 1);
        if(isDueñoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isInvitado(){
        const isInvitadoInRoles = this.roles.filter(rol => rol.role_id == 7);
        if(isInvitadoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter(rol => rol.role_id == 6);
      if(isEncastadorInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    roles(){
        if(this.currentUser){
            return this.currentUser.role
        }else{
            return [];
        }

    },
  },
  methods: {
    openCreateDeadsModal() {
      this.createDeadsPageController = true;
    },
    hideDeadsModal() {
      this.createDeadsPageController = false;
      this.tabIndex = 0;
      this.node++
    },
    submitButton(e) {
      e.preventDefault();
      this.$refs.deadPage.upload()
    },
  },
};
</script>

<style>
</style>
