<template>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-6 mt-3">
          <div class="form-group">
            <span
              class="class-span-1"
              style="
                border-radius: 20px;
                border-width: 1px;
                border-color: black;
              "
              >{{
                (paginate.start_page - 1) * paginate.perpage +
                1 +
                "-" +
                (paginate.start_page == paginate.end_page
                  ? paginate.total_data
                  : paginate.start_page * paginate.perpage)
              }}</span
            ><span style="padding-top: 7px; margin-right: 5px">de</span
            ><span
              class="class-span-2"
              style="border-radius: 50%; border-width: 1px; border-color: black"
              >{{ paginate.total_data }}</span
            ><button
              class="btn btn-rounded-ui bg-ui-black"
              @click="prev(paginate.start_page)"
              :style="
                paginate.start_page != 1
                  ? 'margin-right:5px;'
                  : 'pointer-events:none;margin-right:5px;'
              "
            >
              <i class="fas fa-caret-left"></i></button
            ><button
              class="btn btn-rounded-ui bg-ui-black"
              @click="next(paginate.next_page)"
              :style="
                paginate.start_page != paginate.end_page
                  ? ''
                  : 'pointer-events:none'
              "
            >
              <i class="fas fa-caret-right"></i></button
            ><button
              class="btn btn-rounded-ui bg-ui-black ml-2"
              @click="resetSearch"
            >
              <i class="fas fa-sync-alt"></i>
            </button>
          </div>
        </div>
        <div class="col-lg-6 text-right mt-3">
          <div class="form-group">
            <b-input-group>
              <b-form-input
                class="input-search mr-3"
                v-model="paginate.search_input"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                type="text"
                debounce="500"
                :placeholder="type==1?'Cintillo pata':type==2?'Cintillo ala':'Placa'"
              ></b-form-input>
              <button
                class="btn btn-ui bg-ui-black mr-2"
                @click="getDeads(null, null)"
              >
                <i class="fas fa-search"></i> BUSCAR
              </button>
            </b-input-group>
          </div>
        </div>
        <div class="table-responsive mt-3">
          <table class="table">
            <thead class="text-center">
              <th scope="col" v-if="type == 1">Cintillo Pata</th>
              <th scope="col" v-if="type == 2">Cintillo Ala</th>
              <th scope="col" v-if="type == 1 || type == 2">Postura</th>
              <th scope="col" v-if="type == 1 || type == 2">Lote</th>
              <th scope="col" v-if="type == 3">Placa</th>
              <th scope="col" v-if="type == 3">Alias</th>
              <th scope="col" v-if="type == 3">Foto</th>
              <th scope="col">Observación</th>
              <th scope="col" v-if="type == 3">Circunstancia</th>
              <th scope="col" v-if="type == 3">Rival</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Acciones</th>
            </thead>
            <tbody>
              <tr v-if="loading">
                <td colspan="11" class="text-center">
                  <spinner></spinner>
                </td>
              </tr>
              <template v-else>
                <tr v-for="postura in arrayDeads" :key="postura.id">
                  <td data-label="Cintillo pata" v-if="type == 1">
                    <div>
                      <div class="mr-auto p-2">
                        <span class="fa-squaress"
                          ><i
                            class="fas fa-square"
                            :style="`color: ${postura.cintillo_color}; font-size: 30px; text-shadow: 0 0 3px #000;`"
                          ></i
                        ></span>
                      </div>
                      <div class="p-2">
                        <span>{{ postura.chickenleg_description }}</span>
                        <span>{{ postura.cintillo_description }}</span>
                      </div>
                    </div>
                  </td>
                  <td data-label="Cintillo ala" v-if="type == 2">
                    {{ postura.cintillo_ala }}
                  </td>
                  <td data-label="Postura" v-if="type == 2 || type == 1">
                    <a
                      href="#"
                      @click="openModalPosturaDetail(postura.postura_id)"
                      >{{ postura.code }}</a
                    >
                  </td>
                  <td data-label="Lote" v-if="type == 2 || type == 1">
                    {{ postura.lote_code }}
                  </td>
                  <td data-label="Placa" v-if="type == 3">
                    {{ postura.plate }}
                  </td>
                  <td data-label="Alias" v-if="type == 3">
                    {{ postura.specimen_alias }}
                  </td>
                  <td data-label="Foto" v-if="type == 3">
                    <div id="preview">
                      <img
                        v-lazy="postura.thumb"
                        alt="Snow"
                        @click="
                          seeimage(
                            1,
                            postura.photo,
                            postura.plate,
                            postura.specimen_alias,
                            postura.specimen_id
                          )
                        "
                      />
                    </div>
                  </td>
                  <td data-label="Observación">
                    {{ postura.observation }}
                  </td>
                  <td data-label="Circunstancia" v-if="type == 3">
                    {{ postura.circumstances }}
                  </td>
                  <td data-label="Rival" v-if="type == 3">
                    {{ postura.rival }}
                  </td>
                  <td data-label="Cantidad">
                    {{ postura.quantity }}
                  </td>
                  <td data-label="Acciones">
                    <b-button size="sm" @click="openModalEvidences(postura)">
                      evidencias
                    </b-button>
                    <b-button
                      size="sm"
                      variant="danger"
                      @click="deleteDeadSpecimen(postura)"
                      v-if="isAdmin"
                    >
                      eliminar
                    </b-button>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <b-modal
      v-model="deadSpecimenDetail"
      size="lg"
      title="Evidencias"
      hide-footer
    >
      <dead-specimen-evidence
        :deadSpecimenId="selectedDeadSpecimenId"
      ></dead-specimen-evidence>
    </b-modal>
    <view-image-specimens
      v-if="modal_image"
      :data_specimen="data_specimen"
      @click="closeModalimage"
      @switchRight="switchRight"
      @switchLeft="switchLeft"
    ></view-image-specimens>
    <b-modal
      id="detailPosturaModal"
      title="Detalle"
      v-model="modalDetailPostura"
      hide-footer
      size="xl"
      scrollable
      centered
    >
      <litter-planning-detail
        :postura="{ id: selectedPosturaId }"
      ></litter-planning-detail>
    </b-modal>
  </div>
</template>

<script>
import DeadSpecimenEvidence from "./DeadSpecimenEvidence";
import LitterPlanningDetail from "../../components/litterplanning/LitterPlanningDetail.vue";
export default {
  components: {
    "dead-specimen-evidence": DeadSpecimenEvidence,
    "litter-planning-detail": LitterPlanningDetail,
  },
  props: {
    type: Number,
  },
  data() {
    return {
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      loading: false,
      arrayDeads: [],
      deadSpecimenDetail: false,
      selectedDeadSpecimenId: null,
      modal_image: false,
      data_specimen: {
        type: "",
        url: "",
        plaque: "",
        alias: "",
        id: "",
        size: 300000000,
        last_left: false,
        last_right: false,
      },
      selectedPosturaId: {},
      modalDetailPostura: false,
    };
  },
  mounted() {
    this.getDeads(null, null);
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter(rol => rol.role_id == 1);
        if(isDueñoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isInvitado(){
        const isInvitadoInRoles = this.roles.filter(rol => rol.role_id == 7);
        if(isInvitadoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter(rol => rol.role_id == 6);
      if(isEncastadorInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    roles(){
        if(this.currentUser){
            return this.currentUser.role
        }else{
            return [];
        }

    },
  },
  methods: {
    closeModalimage() {
      this.modal_image = false;
    },
    seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
      this.data_specimen.id = id;
    },
    openModalPosturaDetail(postura) {
      this.selectedPosturaId = postura;
      this.modalDetailPostura = true;
    },
    getDeads(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/deads/get", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          type_specimen: this.type,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayDeads = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/deads/get?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          type_specimen: this.type,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayDeads = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      this.loading = true;
      axios
        .post("/api/deads/get?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          type_specimen: this.type,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayDeads = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getDeads(null, null);
    },
    openModalEvidences(dead) {
      this.selectedDeadSpecimenId = dead.id;
      this.deadSpecimenDetail = true;
    },
    deleteDeadSpecimen(dead) {
      swal
        .fire({
          title: "Estas seguro?",
          text: "¡No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3490dc",
          cancelButtonColor: "#e3342f",
          confirmButtonText: "Si",
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/deads/delete", {
                deleted_by: this.currentUser.user_id,
                dead_specimen_id: dead.id,
                cintillo_pata: dead.cintillo_pata,
                cintillo_ala: dead.cintillo_ala,
                quantity: dead.quantity,
                plate: dead.plate,
                type_specimen: dead.type_specimen_number,
              })
              .then((res) => {
                swal.fire({
                  icon: "success",
                  title: "Muerte eliminada!",
                });
              });
          }
        });
    },
  },
};
</script>

<style>
</style>
