<template lang="pug">
    div(class="modal_session mt-5 pt-5")
        div(class="modal-dialog" role="document" )
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title" id="exampleModalLabel" style="font-weight:bold")  Evidencia
                    button(type="button" class="close close-bottom" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true" @click="closeModal") #[i.fas.fa-times] 
                div(class="modal-body")
                        .col-md-12(style="height:105px")
                            div.wrapper(style="width:110px;margin:0 auto")
                                div(style="width:150px;position:absolute")
                                    img(alt="" id="imgtracking" src="/images/camera.png" class="image--cover-evidence-create ")
                                    div(class="buttom-file-evidence-create")
                                        input( type="file" id="filestatus" @change="evidence_status" accept="image/*" )
                                        i(class="fas fa-plus")
                        .col-md-12.pl-5.pr-5
                            label FECHA DE MUERTE(*)
                            input(type="date" class="form-control inputs-modules" data-date-format="DD/MM/YYYY" id="death_date"  v-model="data.death_date")
                                            
                        .col-md-12.pl-5.pr-5.mt-3
                            label DESCRIPCION
                            textarea(class="form-control inputs-modules " v-model="data.descriptions" rows="2")
                        .col-md-12(class="d-flex justify-content-center mt-5")
                            div
                                button(class="btn btn-save button-save" @click="save()" :disabled="disable.save")  #[i.fas.fa-save] GRABAR
</template>
<script>
export default {
    props: ['v_death'],
    data() {
        return {
          data:{
            file_image_evidence :'',
            file_name_evidence: '',
            file_image_thumb_evidence:'',
            death_date:'',
            descriptions:''
          },
          disable:{
              save:false
          }
        };
    },
    mounted() { 
        var preloader = document.getElementById('backPreloader');
        preloader.classList.add('viewpreloader');
        document.getElementById("dPreloader").style.display = "none";
        if(this.v_death == 1){
            var death_date = document.getElementById('death_date')
            death_date.style.border = 'solid 1px red'
        }
    },
    methods:{
        closeModal(){
            this.$emit('click',false)
            var preloader = document.getElementById('backPreloader');
            preloader.classList.remove('viewpreloader');
            document.getElementById("dPreloader").removeAttribute('style')
        },
        evidence_status(){
            const file = document.querySelector("#filestatus").files[0];

            this.data.file_name_evidence = file.name
            var inputfile = document.getElementById('filestatus');
            var ext = file.name.split('.').pop()
            var extension = ext.toLowerCase();
            if(extension == 'jpg' || extension == 'png' ||  extension == 'jpeg'){
                if (!file) return;
                const reader = new FileReader();
                reader.readAsDataURL(file);

                reader.onload  = (event) =>  {
                    const imgElement = document.createElement("img");
                    imgElement.src = event.target.result;
                    this.data.file_image_evidence = event.target.result
                    document.querySelector("#imgtracking").src = event.target.result;

                    imgElement.onload  = (e) =>  {
                    const canvas = document.createElement("canvas");
                    const MAX_WIDTH = 100;

                    const scaleSize = MAX_WIDTH / e.target.width;
                    canvas.width = MAX_WIDTH;
                    canvas.height = e.target.height * scaleSize;

                    const ctx = canvas.getContext("2d");

                    ctx.drawImage(e.target, 0, 0, canvas.width, canvas.height);

                    const srcEncoded = ctx.canvas.toDataURL(e.target, "image/jpeg");

                    // you can send srcEncoded to the server
                        document.querySelector("#imgtracking").src = srcEncoded;
                        this.data.file_image_thumb_evidence = srcEncoded
                    };
                };
            }else{
                inputfile.value = ''
                Swal.fire({
                    icon: 'error',
                    title: 'Formato invalido',
                    showConfirmButton: false,
                    timer: 1500
                })
                document.querySelector("#imgtracking").src = ''
                document.querySelector("#imgtracking").src = '/images/camera.png'
            }
            
        },
        save(){
            var death_date = document.getElementById('death_date')
            if(this.data.death_date == '' || (this.data.death_date == '' && this.v_death == 1)){
                death_date.style.border = 'solid 1px red'
            }else{
                var preloader = document.getElementById('backPreloader');
                preloader.classList.remove('viewpreloader');
                document.getElementById("dPreloader").removeAttribute('style')
                this.disable.save = true
                death_date.removeAttribute('style')
                this.$emit('datatracking',this.data)
                this.$emit('click',false)
                
            }
        }
    },  
    created() {

    }
};
</script>