<template lang="pug">
   div(class="modal_session")
        div(class="modal-dialog" role="document" )
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title" id="exampleModalLabel" style="font-weight:bold") TRACKING
                    button(type="button" class="close close-bottom" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true" @click="closeModal") #[i.fas.fa-times]
                div(class="modal-body")
                    .row
                        .col-md-12
                            .table-responsive(class="table-scroll" id="cont-list" style="height: 400px;")
                                table.table
                                    thead(class="text-center")
                                        th(scope="col") Usuario
                                        th(scope="col") Estado
                                        th(scope="col") Descripcion
                                        th(scope="col") Evidencia
                                        th(scope="col") Fecha
                                    tbody
                                        tr(v-for="(item , index) in data " :key="index")
                                            td(data-label="Usuario" class="text-center")
                                                span {{item.name_user}}
                                            td(data-label="Estado" class="text-center")
                                                span {{ item.description_tracking }}
                                            td(data-label="Descripcion" class="text-center")
                                                div(style="wdith:100px; overflow-wrap: break-word;")
                                                    span {{ item.description }}
                                            td(data-label="Evidencia" class="text-center")
                                                #preview(v-if="item.url_evidence != null")
                                                    img( v-lazy="item.url_evidence_thumb" alt="Snow" @click="seeimage(1,item.url_evidence)")
                                            td(data-label="Fecha" class="text-center")
                                                span {{item.fecha}}
                                        tr(v-if="data.length == 0")
                                            td(colspan="1")
                                            td(colspan="1")
                                            td
                                                span NO HAY REGISTROS
                                            td(colspan="1")
                                            td(colspan="1")
        view-image-specimens(v-if="modal_image" :data_specimen="this.data_specimen" @click="closeModalimage")

</template>

<script>
Vue.use(VueLazyload, {
  preLoad: 1.3,
  error: '/images/preloader/error.png',
  loading: '/images/preloader/loading.gif',
  attempt: 1
})
export default {
    props: ["idspecimen"],
    data() {
        return {
            modal_image:false,
            data:[],
            data_specimen : {
                type:'',
                url : '',
                plaque:null,
                alias:null,
                id:null
            },
        };
    },
    methods:{
        search(){
            axios.post("/api/search-tracking", {
                idspecimen : this.idspecimen
            })
            .then(response =>{
                if(response.status == 200){
                    this.data = response.data
                }
            })
            .catch(err =>{
                console.log(err)
            })
        },
        closeModal(){
            this.$emit('click',false)
        },
        seeimage(type,url){
           this.modal_image = true
           this.data_specimen.type = type
           this.data_specimen.url = url
        },
        closeModalimage(){
            this.modal_image = false
        },
    },
    created() {
        this.search()
    }
};
</script>
