<template>
  <div>
    <div
      class="d-flex align-items-center justify-content-between modal-specimen pl-4 pr-4"
      id="myModal"
      style="z-index: 11"
    >
      <template v-if="isImage">
        <span class="close text-white" @click="close()">&times;</span>
        <i
          class="fas fa-chevron-left clickable text-white"
          style="font-size: 40px"
          @click="switchSpecimenLeft()"
          v-if="!data_specimen.last_left"
        ></i>
        <img class="modal-image" id="imgSpecimen" v-lazy="data_specimen.url" />
        <div
          class="plaque-specimen text-center d-flex justify-content-center align-items-center"
        >
          <span class="mr-4"
            >{{ data_specimen.plaque }} | {{ data_specimen.alias }}</span
          >
          <i
            class="fas fa-info-circle clickable text-white"
            style="font-size: 25px"
            @click="openModalDetailSpecimen()"
          ></i>
        </div>
        <i
          class="fas fa-chevron-right clickable text-white"
          style="font-size: 40px"
          @click="switchSpecimenRight()"
          v-if="!data_specimen.last_right"
        ></i>
        <b-modal
          title="Detalle"
          hide-footer
          v-model="modalDetalleSpecimen"
          size="xl"
          scrollable
          @hidden="closeModalDetailSpecimen"
        >
          <litter-planning-specimen
            :specimenId="data_specimen.id"
          ></litter-planning-specimen>
        </b-modal>
      </template>
      <template v-if="isVideo">
          <span class="close text-white" @click="close()">&times;</span>
        <video id="video" controls="controls" autoplay="autoplay" loop="loop">
          <source :src="data_specimen.url" type="video/mp4" />
        </video>
      </template>
    </div>
  </div>
</template>

<script>
Vue.use(VueLazyload, {
  preLoad: 1.3,
  error: "/images/preloader/error.png",
  loading: "/images/preloader/loading.gif",
  attempt: 1,
});
import LitterPlanningSpecimen from "../../pages/reproductions/litterplanning/LitterPlanningSpecimen";
export default {
  props: ["data_specimen"],
  data() {
    return {};
  },
  mounted() {
    // console.log(this.data_specimen);
  },
  components: {
    "litter-planning-specimen": LitterPlanningSpecimen,
  },
  computed: {
    modalDetalleSpecimen() {
      return this.$store.getters.modalDetalleSpecimen;
    },
    isVideo() {
      return this.data_specimen.type == 2;
    },
    isImage() {
      return this.data_specimen.type == 1;
    },
  },
  methods: {
    close() {
      this.$emit("click", true);
    },
    openModalDetailSpecimen() {
      // this.madrillaDetailModal = true
      this.$store.dispatch("updateModalDetalleSpecimen", true);
    },
    closeModalDetailSpecimen() {
      this.$store.dispatch("updateModalDetalleSpecimen", false);
    },
    switchSpecimenRight() {
      this.$emit("switchRight", true);
    },
    switchSpecimenLeft() {
      this.$emit("switchLeft", true);
    },
  },
  created() {},
};
</script>
