<template>
  <div>
    <b-card no-body>
      <b-tabs card>
        <b-tab title="Info" active title-link-class="text-dark">
          <!-- <h4 class="title-module">Postura {{ postura.code }}</h4> -->
          <div class="row">
            <div class="col-lg-3">
              <label for="staticEmail">Madrilla</label>
              <input
                type="text"
                disabled
                class="form-control"
                id="madrillaInput"
                v-model="madrilla.madrilla_alias"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
              />
            </div>
            <div class="col-lg-3">
              <label for="staticEmail">Padrillo</label>
              <input
                type="text"
                disabled
                class="form-control"
                id="padrilloInput"
                v-model="padrillo.padrillo_alias"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
              />
            </div>
            <div class="col-lg-2">
              <label for="inputPassword">Cantidad de huevos</label>
              <input
                type="text"
                class="form-control"
                id="inputPassword"
                v-model="quantityEggs"
                disabled
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
              />
            </div>
            <div class="col-lg-4">
              <div class="col-sm-10">
                <label for="inputPassword">Cintillo</label><br />
                <template v-if="cintillo.cintillo_color">
                  <div
                    class="d-flex align-items-center justify-content-around p-1"
                    style="
                      -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                      box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                      border-radius: 20px;
                    "
                  >
                    <span
                      >{{ cintillo.chickenleg_description }}
                      {{ cintillo.cintillo_description }}
                    </span>
                    <span class="fa-squaress"
                      ><i
                        class="fas fa-square"
                        :style="`color: ${cintillo.cintillo_color}; font-size: 30px; text-shadow: 0 0 3px #000;`"
                      ></i
                    ></span>
                  </div>
                  <span
                    :class="[
                      'badge',
                      'bg-danger',
                      'text-white',
                      'pr-3',
                      'pl-3',
                    ]"
                    v-if="cintillo.cintillo_pata_postura_number == 2"
                    >LIBERADO</span
                  >
                  <span
                    :class="[
                      'badge',
                      'bg-success',
                      'text-white',
                      'pr-3',
                      'pl-3',
                    ]"
                    v-else
                    >COLOCADO</span
                  >
                </template>
                <template v-else>
                  <div
                    class="d-flex align-items-center justify-content-around p-1"
                    style="
                      -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                      box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                      border-radius: 20px;
                    "
                  >
                    <span><p class="text-danger">Sin asignar</p></span>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <h5 class="title-module mt-3">Pollitos</h5>
          <div class="table-responsive mt-3">
            <table class="table tabla-pollito">
              <thead
                class="text-center clickable thead-class"
                @click="extendTable()"
                id="table-pollitos"
              >
                <th scope="col" class="col-md-2">
                  {{ visible ? "Cintillo ala" : "# MACHOS" }}
                </th>
                <th scope="col" class="col-md-2">
                  {{ visible ? "Género" : "# HEMBRAS" }}
                </th>
                <th scope="col" class="col-md-2" v-if="visible">Lote</th>
                <th scope="col" class="col-md-2">
                  {{ visible ? "Fecha de nacimiento" : "# SIN ASIGNAR" }}
                </th>
                <th scope="col" class="col-md-2" v-if="visible">Placa</th>
              </thead>
              <b-tooltip
                :target="'table-pollitos'"
                triggers="hover"
                placement="top"
                v-if="!visible"
              >
                Ver más
              </b-tooltip>
              <tbody>
                <tr v-if="!visible">
                  <td class="text-center" data-label="# MACHOS">
                    {{ machosQuantity }}
                  </td>
                  <td class="text-center" data-label="# HEMBRAS">
                    {{ hembrasQuantity }}
                  </td>
                  <td class="text-center" data-label="# SIN ASIGNAR">
                    {{ isNotAssignedQuantity }}
                  </td>
                </tr>
              </tbody>
              <b-collapse v-model="visible" tag="tbody">
                <tr v-if="loading">
                  <td colspan="11" class="text-center">
                    <spinner></spinner>
                  </td>
                </tr>
                <template v-else>
                  <tr v-for="chicken in pollitos" :key="chicken.id">
                    <td data-label="Cintillo ala" class="align-items-center">
                      {{ chicken.cintillo_ala }}
                    </td>
                    <td data-label="Género">
                      <p v-if="chicken.is_assigned_plate">
                        {{ chicken.gender }}
                      </p>
                      <b-form-select
                        id="lblGender"
                        v-model="chicken.gender_number"
                        :options="genders"
                        required
                        size="sm"
                        :disabled="!isAdmin"
                        @input="onChangeGenderSelect(chicken)"
                        v-else
                      ></b-form-select>
                    </td>
                    <td data-label="Lote">
                      {{ chicken.lote_code }}
                    </td>
                    <td data-label="Fecha de nacimiento">
                      <b-row>
                        <b-col cols="12" md="9">
                          <template v-if="!chicken.is_editing_dob">
                            <span>{{
                              chicken.date_of_birth | myGlobalDay
                            }}</span>
                          </template>
                          <template v-else>
                            <input
                              type="date"
                              class="form-control form-control-sm"
                              v-model="chicken.new_dob"
                            />
                          </template>
                        </b-col>
                        <b-col cols="12" md="3" class="text-left">
                          <i
                            class="fas fa-edit ml-1 text-primary clickable"
                            v-if="isAdmin && !chicken.is_editing_dob && !chicken.is_assigned_plate"
                            @click="editChickDob(chicken)"
                          ></i>
                          <template v-if="isAdmin && chicken.is_editing_dob">
                            <i
                              class="fas fa-check ml-1 text-success clickable"
                              @click="saveNewDobToChick(chicken)"
                            ></i>
                            <i
                              class="fas fa-times ml-1 text-danger clickable"
                              @click="closeEditChickDob(chicken)"
                            ></i>
                          </template>
                        </b-col>
                      </b-row>
                    </td>
                    <td data-label="Placa">
                      <p v-if="chicken.is_assigned_plate || !isAdmin">
                        {{ chicken.assigned_plate }}
                      </p>
                      <b-row
                        v-if="
                          chicken.gender != 'SIN ASIGNAR' &&
                          !chicken.is_assigned_plate && isAdmin
                        "
                      >
                        <b-col cols="12" md="9">
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            v-model="chicken.assigned_plate"
                            @input="validatePlate(chicken)"
                          />
                          <span class="text-danger" v-if="!chicken.is_correct_plate && chicken.assigned_plate">Placa existente</span>
                        </b-col>
                        <b-col cols="12" md="3" class="text-left">
                          <template>
                            <i
                              class="fas fa-check ml-1 text-success clickable"
                              @click="setPlacaToChick(chicken)"
                            ></i>
                            <i
                              class="fas fa-times ml-1 text-danger clickable"
                              @click="chicken.assigned_plate = null"
                            ></i>
                          </template>
                        </b-col>
                      </b-row>
                    </td>
                  </tr>
                </template>
              </b-collapse>
            </table>
          </div>
          <h5 class="title-module">Huevos registrados</h5>
          <div class="table-responsive mt-3">
            <table class="table">
              <thead
                class="text-center clickable thead-class"
                id="table-register-eggs"
                @click="extendTableRegisteredEggs()"
              >
                <th scope="col">
                  {{
                    registeredEggsVisible
                      ? "Huevos registrados"
                      : "Total huevos registrados"
                  }}
                </th>
                <th scope="col" v-if="registeredEggsVisible">
                  Fecha de registro
                </th>
              </thead>
              <b-tooltip
                :target="'table-register-eggs'"
                triggers="hover"
                placement="top"
                v-if="!registeredEggsVisible"
              >
                Ver más
              </b-tooltip>
              <tbody>
                <tr v-if="!registeredEggsVisible">
                  <td class="text-center" data-label="Total huevos registrados">
                    {{ totalRegisteredEggs }}
                  </td>
                </tr>
              </tbody>
              <tbody>
                <b-collapse v-model="registeredEggsVisible" tag="tbody">
                  <tr v-if="loading">
                    <td colspan="11" class="text-center">
                      <spinner></spinner>
                    </td>
                  </tr>
                  <template v-else>
                    <tr v-for="postura in arrayPosturaDetail" :key="postura.id">
                      <td
                        data-label="Huevos registrados"
                        class="align-items-center text-center"
                      >
                        <span>{{ postura.quantity }}</span>
                        <span
                          :class="[
                            'badge',
                            'bg-danger',
                            'text-white',
                            'pr-3',
                            'pl-3',
                          ]"
                          v-if="postura.deleted_at"
                          >ELIMINADO</span
                        >
                      </td>
                      <td data-label="Fecha de registro" class="text-center">
                        <span v-if="postura.egg_postura_date">
                          {{ postura.created_by_first_name }}
                          {{ postura.created_by_last_name }} <br />
                          {{ postura.egg_postura_date | myGlobalDay }}
                        </span>
                      </td>
                    </tr>
                  </template>
                </b-collapse>
              </tbody>
            </table>
          </div>
        </b-tab>
        <b-tab title="Lotes" title-link-class="text-dark">
          <div class="table-responsive mt-3">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Lote</th>
                <th scope="col">Huevos</th>
                <th scope="col">Infértiles</th>
                <th scope="col">Nacidos</th>
                <th scope="col">Muertos</th>
                <th scope="col">Cintillo ala</th>
              </thead>
              <tbody>
                <tr v-if="loading">
                  <td colspan="11" class="text-center"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr v-for="lote in arrayPosturaLoteDetail" :key="lote.id">
                    <td data-label="Lote">{{ lote.code }}</td>
                    <td data-label="Cantidad huevos">
                      {{ lote.quantity_eggs }}
                    </td>
                    <td data-label="Infértiles">
                      {{ lote.quantity_infertile_eggs }}
                    </td>
                    <td data-label="Nacidos">
                      {{ lote.quantity_born_eggs }}
                    </td>
                    <td data-label="Muertos">
                      {{ lote.quantity_dead_eggs }}
                    </td>
                    <td data-label="Status">
                      <span v-if="lote.c_ala_status == 1" class="text-danger">{{
                        lote.cintillo_ala_status
                      }}</span>
                      <span
                        v-if="lote.c_ala_status == 2"
                        class="text-success"
                        >{{ lote.cintillo_ala_status }}</span
                      >
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
          <div
            class="d-flex justify-content-end"
            v-if="
              !thereIsNotSettledInLotePostura &&
              cintillo.cintillo_pata_postura_number != 2 &&
              isAdmin
            "
          >
            <b-button
              size="sm"
              variant="danger"
              @click="dropChickenLegFromPostura"
              >Liberar Cintillo</b-button
            >
          </div>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
export default {
  computed: {
    machosQuantity() {
      let sum = 0;
      for (let i = 0; i < this.pollitos.length; i++) {
        if (this.pollitos[i].gender == "MACHO") {
          sum++;
        }
      }
      return sum;
    },
    hembrasQuantity() {
      let sum = 0;
      for (let i = 0; i < this.pollitos.length; i++) {
        if (this.pollitos[i].gender == "HEMBRA") {
          sum++;
        }
      }
      return sum;
    },
    isNotAssignedQuantity() {
      let sum = 0;
      for (let i = 0; i < this.pollitos.length; i++) {
        if (this.pollitos[i].gender == "SIN ASIGNAR") {
          sum++;
        }
      }
      return sum;
    },
    totalRegisteredEggs() {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturaDetail.length; i++) {
        sum = sum + this.arrayPosturaDetail[i].quantity;
      }
      return sum;
    },
    thereIsNotSettledInLotePostura() {
      const result = this.arrayPosturaLoteDetail.filter(
        (lote) => lote.c_ala_status == 1
      );
      if (result.length == 0) {
        return false;
      } else {
        return true;
      }
    },
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter((rol) => rol.role_id == 1);
      if (isDueñoInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    isInvitado() {
      const isInvitadoInRoles = this.roles.filter((rol) => rol.role_id == 7);
      if (isInvitadoInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter((rol) => rol.role_id == 6);
      if (isEncastadorInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    roles() {
      if (this.currentUser) {
        return this.currentUser.role;
      } else {
        return [];
      }
    },
  },
  mounted() {
    this.getPosturaDetail();
  },
  props: {
    postura: Object,
  },
  data() {
    return {
      arrayPosturaDetail: [],
      arrayPosturaLoteDetail: [],
      madrilla: {
        madrilla_alias: null,
        placa_madrilla: null,
      },
      padrillo: {
        padrillo_alias: null,
        placa_padrillo: null,
      },
      cintillo: {
        cintillo_color: null,
        cintillo_description: null,
        chickenleg_description: null,
      },
      pollitos: [],
      quantityEggs: null,
      loading: false,
      visible: false,
      registeredEggsVisible: false,
      genders: [
        {
          text: "MACHO",
          value: 1,
        },
        {
          text: "HEMBRA",
          value: 2,
        },
        {
          text: "SIN ASIGNAR",
          value: 3,
          disabled: true,
        },
      ],
    };
  },
  methods: {
      validatePlate(chick){
          axios.post('/api/specimen/validate', {
              plate: chick.assigned_plate
          }).then(res=>{
              if(res.data.length > 0) {
                  chick.is_correct_plate = 0
              }else{
                  chick.is_correct_plate = 1
              }
          })
      },
    onChangeGenderSelect(gender) {
      this.editChick(
        gender.gender_number,
        gender.status_number,
        gender.chick_id
      );
    },
    editChick(gender, status, chick_id) {
      axios
        .post("/api/chick/update", {
          gender: gender,
          status: status,
          chick_id: chick_id,
        })
        .then((res) => {
          // alert('Actualizado');
          swal.fire({
            title: "Pollito actualizado!",
            icon: "success",
          });
          this.getPosturaDetail(null, null);
        });
    },
    setPlacaToChick(chick) {
      swal
        .fire({
          title: "Estas seguro?",
          text: "¡No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3490dc",
          cancelButtonColor: "#e3342f",
          confirmButtonText: "Si",
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/chick/set-placa", {
                chicken_id: chick.chick_id,
                assigned_plate: chick.assigned_plate,
                user_id: this.currentUser.user_id,
                dob: chick.date_of_birth,
                gender: chick.gender_number,
              })
              .then((response) => {
                if (response.status == 200) {
                  toast.fire({
                    icon: "success",
                    title: "Placa registrada correctamente!",
                  });
                  this.getPosturaDetail();
                }
              })
              .catch((err) => {
                console.log(err);
              });
          }
        });
    },
    editChickDob(chick) {
      chick.new_dob = chick.date_of_birth;
      chick.is_editing_dob = 1;
    },
    closeEditChickDob(chick) {
      chick.new_dob = "";
      chick.is_editing_dob = 0;
    },
    saveNewDobToChick(chick) {
      swal
        .fire({
          title: "Estas seguro?",
          text: "¡No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3490dc",
          cancelButtonColor: "#e3342f",
          confirmButtonText: "Si",
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/chick/save-new-dob", {
                chick_id: chick.chick_id,
                new_dob: chick.new_dob,
              })
              .then((response) => {
                if (response.status == 200) {
                  toast.fire({
                    icon: "success",
                    title: "Fecha de nacimiento editada",
                  });
                  this.getPosturaDetail();
                }
              })
              .catch((err) => {
                console.log(err);
              });
          }
        });
    },
    dropChickenLegFromPostura() {
      axios
        .post("/api/postura/drop-chickenleg", {
          postura_id: this.postura.id,
        })
        .then((res) => {
          swal
            .fire({
              icon: "success",
              title: "Cintillo liberado!",
              text: "Has liberado el cintillo correctamente!",
            })
            .then((result) => {
              if (result) {
                this.$emit("closeModal", null);
              }
            });
        });
    },
    extendTable() {
      this.visible = !this.visible;
    },
    extendTableRegisteredEggs() {
      this.registeredEggsVisible = !this.registeredEggsVisible;
    },
    getPosturaDetail() {
      this.loading = true;
      axios
        .post("/api/postura/detail", {
          postura_id: this.postura.id,
        })
        .then((response) => {
          this.arrayPosturaDetail = response.data[0];
          this.madrilla.madrilla_alias =
            this.arrayPosturaDetail.length != 0
              ? this.arrayPosturaDetail[0].madrilla_alias
                ? this.arrayPosturaDetail[0].madrilla_alias
                : this.arrayPosturaDetail[0].placa_madrilla
              : null;
          this.madrilla.placa_madrilla =
            this.arrayPosturaDetail.length != 0
              ? this.arrayPosturaDetail[0].placa_madrilla
              : null;
          this.padrillo.padrillo_alias =
            this.arrayPosturaDetail.length != 0
              ? this.arrayPosturaDetail[0].padrillo_alias
                ? this.arrayPosturaDetail[0].padrillo_alias
                : this.arrayPosturaDetail[0].placa_padrillo
              : null;
          this.padrillo.placa_padrillo =
            this.arrayPosturaDetail.length != 0
              ? this.arrayPosturaDetail[0].placa_padrillo
              : null;
          this.quantityEggs =
            this.arrayPosturaDetail.length != 0
              ? this.arrayPosturaDetail[0].number_eggs_good
              : null;
          this.cintillo.cintillo_description =
            this.arrayPosturaDetail[0].cintillo_description;
          this.cintillo.cintillo_color =
            this.arrayPosturaDetail[0].cintillo_color;
          this.cintillo.chickenleg_description =
            this.arrayPosturaDetail[0].chickenleg_description;
          this.cintillo.cintillo_pata_postura_number =
            this.arrayPosturaDetail[0].cintillo_pata_postura_number;
          if (this.arrayPosturaDetail[0].postura_pollitos) {
            this.pollitos = this.arrayPosturaDetail[0].postura_pollitos;
          }
          this.arrayPosturaLoteDetail = response.data[1];
          this.loading = false;
        });
    },
  },
};
</script>

<style>
table .show {
  display: contents !important;
}
.thead-class:hover > th {
  background: salmon !important;
  transition: 0.3s;
}
</style>

