<template>
  <div>
    <router-view></router-view>
    <!--<specimens-show :size="300000"></specimens-show>-->
  </div>
</template>

<script>
export default {
  props: {
    currentuser: Object,
  },
  mounted() {
    this.$store.dispatch("updateCurrentUser", this.currentuser);
  },
};
</script>

<style>
</style>
