// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face{
    font-family: 'Qardoos Personal Use';
    src: url('/fonts/Qardoos-Personal-Use.otf');
}

/* sidebar*/

body{
    font-size: .9rem !important;
}


#sidebar {
    width: 80px;
    background: #0f0f21;
    color: #5FBABD !important;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
.main{
    //margin-left: 100px;
    margin-left: 80px;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}
.main.join{
    margin-left:200px
}
#sidebar.active {
    width: 200px;
    text-align: center;
}

#sidebar.active ul.components li {
    font-size: 14px;
}

#sidebar.active ul.components li a {
    padding: 10px 0;
}

#sidebar.active ul.components li div a span {
    margin-right: 0;
    display: block;
    font-family: 'Qardoos Personal Use';
}

#sidebar.active .logo {
    padding: 10px 0;
}
.navbar.navbar-inverse{
    width: calc(100% - 80px);
    position: relative;
    left: 80px;
    transition: all .1s ease;
}
.navbar.navbar-inverse.retract{
    width: calc(100% - 200px);
    position: relative;
    left: 200px;
}





#sidebar .logo {
    display: block;
    color: #fff;
    font-weight: 900;
    padding: 10px 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .logo {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar ul.components {
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar ul.components {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar ul li {
    font-size: 13px;
}

#sidebar ul li>ul {
    margin-left: 10px;
}

#sidebar ul li>ul li {
    font-size: 13px;
}

#sidebar ul li a {
    padding: 10px 14px;
    display: block;
    color: #5FBABD;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
}

#sidebar ul li a span {
    margin-right: 15px;
    margin-top: 6px;
}

@media (max-width: 991.98px) {
    #sidebar ul li a span {
        display: block;
    }
}
@media (max-width: 767px) {
    .menuMain{
        height: auto !important;
    }
}
#sidebar ul li a:hover {
    color: white;
    text-decoration: none !important;
}

#sidebar ul li.active>a {
    //background: transparent;
    color: white;
}

@media (max-width: 991.98px) {
    #sidebar.active {
        margin-left: 0 !important;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        min-width: 240px;
        max-width: 240px;
        background: #0f0f21;
        color: #5FBABD;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
}



/* end style sidebar*/

.footer {
    padding: 0 30px;
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebar ul li.active-link>div>a> img {
    filter: brightness(100%) sepia(4) saturate(0) hue-rotate(134deg);
    color: white !important;
}

#sidebar ul li.active-link>div>a {
    background-color: #5FBABD !important;
    color:white;
}

#sidebar ul li a:hover {
    text-decoration: none !important;
}

#preview {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 2px;
    background: #fff;
    width: 95px;
    height: 80px;
    overflow: hidden;
}

#preview img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
/* Styles of header*/

.fa-home {
    font-size: 25px;
    color: #5FBABD;
}

.fa-ellipsis-v {
    color: #5FBABD;
    font-size: 18px
}

.column-master {
    width: calc(100% /2);
}

.banner {
    padding: 6vmin;
    background-color: royalblue;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.options {
    width: 100px;
    height: 100px;
    border: solid 1px;
    border-radius: 6px;
    /*border-image: linear-gradient(to left, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;*/
    color: #743ad5;
    padding: 2vmin 2vmin 1vmin 1.7vmin;
    cursor: pointer;
}

.style-icon-home {
    background-color: #ccc;
    //opacity: 5%;
    //border: solid 1px white;
    width: 77px;
    height: 75px;
    border-radius: 7px;
}

.options>div>img {
    width: 65px;
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.options>div>label {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: -12px;
}
.xxl-modal .modal-dialog{
    max-width: 160vh;
}
.options:hover {
    //background-color: white;
    opacity: 5px;
    //color: white;
}

.button-save {
    margin-left: 50%;
    transform: translateX(-50%);
}

.general-options {
    padding: 8vmin 0 0 30vmin;
}
.wrapper {
    .buttom-file{
        cursor: pointer;
        height: 40px;
        width: 40px;
        border-radius: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid #FFF;
        overflow: hidden;
        background-image: linear-gradient(to bottom, #30CFD0 50%, #FFFFFF 50%);
        background-size: 100% 200%;
        transition: all 1s;
        color: #FFF;
        font-size: 13px;
        input[type='file'] {
            height: 40px;
            width: 40px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }
        &:hover {
            background-position: 0 -100%;
            color: #30CFD0;
        }
    }
    .buttom-file-create{
        cursor: pointer;
        height: 40px;
        width: 40px;
        border-radius: 100px;
        position: relative;
        display: flex;
        top: -68px;
        left: 82%;
        justify-content: center;
        align-items: center;
        border: 4px solid #FFFFFF;
        overflow: hidden;
        background-image: linear-gradient(to bottom, #565656 50%, #FFFFFF 50%);
        background-size: 100% 200%;
        transition: all 1s;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 13px;
        input[type='file'] {
            height: 40px;
            width: 40px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }
        &:hover {
            background-position: 0 -100%;
            color: #565656;
        }
    }
    .buttom-file-evidence-create {
        cursor: pointer;
        height: 40px;
        width: 40px;
        border-radius: 100px;
        position: relative;
        display: flex;
        top: -47px;
        left: 48%;
        justify-content: center;
        align-items: center;
        border: 4px solid #FFFFFF;
        overflow: hidden;
        background-image: linear-gradient(to bottom, #565656 50%, #FFFFFF 50%);
        background-size: 100% 200%;
        transition: all 1s;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 13px;
        input[type='file'] {
            height: 40px;
            width: 40px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }
        &:hover {
            background-position: 0 -100%;
            color: #565656;
        }
    }
    .buttom-file-evidence-edit {
        cursor: pointer;
        height: 40px;
        width: 40px;
        border-radius: 100px;
        position: relative;
        display: flex;
        top: -47px;
        left: 48%;
        justify-content: center;
        align-items: center;
        border: 4px solid #FFFFFF;
        overflow: hidden;
        background-image: linear-gradient(to bottom, #30CFD0 50%, #FFFFFF 50%);
        background-size: 100% 200%;
        transition: all 1s;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 13px;
        input[type='file'] {
            height: 40px;
            width: 40px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }
        &:hover {
            background-position: 0 -100%;
            color: #30CFD0;
        }
    }
    .buttom-file-edit{
        cursor: pointer;
        height: 40px;
        width: 40px;
        border-radius: 100px;
        position: relative;
        display: flex;
        top: -68px;
        left: 82%;
        justify-content: center;
        align-items: center;
        border: 4px solid #FFFFFF;
        overflow: hidden;
        background-image: linear-gradient(to bottom, #30CFD0 50%, #FFFFFF 50%);
        background-size: 100% 200%;
        transition: all 1s;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 13px;
        input[type='file'] {
            height: 40px;
            width: 40px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }
        &:hover {
            background-position: 0 -100%;
            color: #30CFD0;
        }
    }

}


.image--cover-create {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:5px solid #565656;
    object-fit: cover;
    object-position: center right;
  }

  .image--cover-edit {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    border:5px solid #30CFD0;
    object-fit: cover;
    object-position: center right;
  }

  .image--cover-evidence-edit {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0;
    border:5px solid #30CFD0;
    object-fit: cover;
    object-position: center right;
  }
  .image--cover-evidence-create {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0;
    border:5px solid #565656;
    object-fit: cover;
    object-position: center right;
  }

.name-sistem{
    font-size: 4vmin;
    font-family: 'Qardoos Personal Use';
    color: #F8F7F7;
}
.name-user{
    cursor:pointer;
    color:white;
    text-decoration:none;
}
.name-user:hover{
    color : #0f0f21 !important;
}
.class-icon-sistem{
    width: 100%;
}
.table > tbody > tr > td{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.bg-rosado{
    background-color: #FF932F !important;
}
.bg-celeste{
    background-color: #0FE3A4 !important;
}
.bg-verde{
    background-color: #00DD16 !important;
}
.bg-ui-black{
    background-color: #0F0F21 !important;
    color: white !important;
    font-family: Oswald;
}
.bg-ui-verde{
    background-color: #00AB8C !important;
    color: white !important;
    font-family: Oswald;
}
.btn-ui{
    border-radius: 20px !important;
    text-transform: capitalize !important;

}
.margin-right{
    margin-right: auto;
}
.btn-rounded-ui{
    border-radius: 50% !important;
    text-transform: capitalize !important;
}

.active-link-tabs{
    color: #00D6AF !important;
}

.active-item-nav{
    font-family: Oswald;
    color: black;
}
.border-bottom-white{
    border-bottom: 1px solid white !important;
    border-right: 1px solid black !important;
    border-left: 1px solid black !important;
    border-top: 1px solid black !important;
    border-radius: 10px 10px 0px 0px !important;
    color: #00D6AF !important;
}
.icon-logout {
    padding: 5px 0px 0px 60px;
    cursor: pointer;
}
.icon-logout > a > i {
    color:white !important;

}

/*.icon-logout:hover {
    border-radius: 5px;
    background-color: #F8F7F7;
    color: #0f0f21;
}*/

.role-user {
    color: white;
    font-size: 2vmin;
    background: #35354F;
    padding: 2% 0% 2% 5%;
    border-radius: 5px;
    line-height: 26px;
    text-transform: uppercase;
}
.role-name{
    font-size: 1.7vmin;
}

@supports(object-fit: cover) {
    #preview img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    .wrapper img {
        max-height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    #myModal img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    #myModal video {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.modal_session {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.ul-table {
    list-style: none;
}


/* style table resposive mobile*/

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

table thead>th {
    background-color: #1ADEBB;
    color: black;
    text-transform: uppercase;
    font-family: Oswald;
    margin-bottom: 2em;
}
.b-vue-th{
    background-color: #1ADEBB;
    color: black;
    text-transform: uppercase;
    font-family: Oswald;
    margin-bottom: 2em;
}
.table-border th,
.table-border td {
    border-bottom: 1px solid #5FBABD;
}
.table-scroll{

    overflow-y: scroll;
}
#cont-list::-webkit-scrollbar,  body::-webkit-scrollbar{
    width: 7px;
}

#cont-list::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
border-radius: 3px;
background-color: #ccc;
}


.table-border thead th,
.table-border thead td {
    border-bottom-width: 2px;
}

@media screen and(max-width: 600px) {
    .general-options {
        padding: 0 0 0 10vmin;
    }
    .options-home {
        margin-bottom: 1.5rem !important;
    }
    .content-options-home {
        align-items: right;
    }
}

@media screen and (max-width: 960px){
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table tbody > tr > td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: .8em;
        text-align: right !important;
    }
    table td::before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}

.actions>button {
    font-size: 12px !important;
}

.programselect {
    display: block !important;
}


/*.info-user > div > span{
  font-weight: bold;
  color: royalblue;
  text-transform: uppercase;
  text-decoration: underline royalblue;
}*/

.image-sistem {
    width: 10.23em;
}

.info-user {
    display: inherit;
}

.navbar {
    background-color: #0f0f21;
    /*&.navbar-inverse{
        width: calc(100%-240px);
        position: relative;
        left: 240px;
    }*/
}

.input-search {
    width: 150px;
    border: solid #ccc 1px;
    height: 33px;
    border-radius: 5px;
    padding: 8px;
}

.input-required {
    border: solid 1px red;
}

.class-span-2 {
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    margin-right: 5px;
    border-radius: 5px;
    height: calc(1.6em + 0.75rem + 2px);
}

.class-span-1 {
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    margin-right: 5px;
    border-radius: 5px;
    height: calc(1.6em + 0.75rem + 2px);
}

.title-module {
    color: #5FBADD;
}

.btn-create {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    color: white !important;
    border: solid 1px #330867;
}
.btn-sidebar{
    background: #0F0F21 !important;
    outline:none !important;
}
.clickable{
    cursor: pointer;
}
.btn-save{
    background-color: #565656;
    color: white;
    height: 30px;
    border-radius: 20px;
    width: 120px;
}
.btn-save-edit{
    background-color: #30CFD0;
    color: white;
    height: 30px;
    border-radius: 20px;
    width: 120px;
}

.btn-save-select{
    background-color: #565656;
    color: white;
    height: 34px;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    width: 85px;
}

.btn-save-select-edit{
    background-color: #30CFD0;
    color: white;
    height: 34px;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    width: 85px;
}

.btn-outline-primary {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    color: white;
    border: solid 1px #330867;
}

.style-save-specimens {
    border: solid 1px #5FBABD;
    border-radius: 5px;
}


input:focus,
input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
/*style login*/
.input-login {
    border: solid 1px #30CFD0;
    border-radius: 5px;
    padding: 2%;
}
.input-login > input{
    text:center;
    color: #ddd;
}
.button-login{
    padding : 0% 9% 0% 9%;
    text : center;
}
.button-login > button{
    background: linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
    height: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}
.btn-link{
    color: white !important;
}
.form-check{
    color: white;
}
.inputs-modules {
    border-radius: 9px;
    box-shadow: -2px 2px 4px 0px #888888;
    background-color: #E5E5E5 ;
}

.inputs-modules-edit {
    border-radius: 9px;
    box-shadow: -2px 2px 4px 0px #888888;
    background-color: white ;
    border:solid 1px #30CFD0;
}

@media only screen and (max-width:375px){
    #imglogin{
        padding: 2vmin 12vmin 10vmin ;
    }
    .content-login{
        position: relative;
        top:10%;
    }
    .role-user{
        line-height: 15px !important;
    }

    #preview{
        margin-left: 62%;
    }
    .select, .inputs-modules{
        margin-bottom: 3%;
    }
    .c1{
        border-right-style: none !important;
        border-right-color: inherit !important;
        border-bottom-style: solid  !important;
        border-bottom-color: #30CFD0;
    }
    .observations{
        border-top-style: none !important;
        border-top-color: inherit !important;
    }
    .description{
        border-top-style: none !important;
        border-top-color: inherit  !important;
    }
}
@media only screen and (max-width:728px) and (min-width:375px) {
    #imglogin{
        padding:2vmin 14vmin 4vmin ;
    }
    .content-login{
        position: relative ;
        top:20% ;
    }
    .role-user{
        line-height: 15px !important;
    }
    #preview{
        margin-left: 74%;
    }
    .tooltipdiv{
        right: 10% !important;
    }
    .select, .inputs-modules{
        margin-bottom: 3%;
    }
    .c1{
        border-right-style: none !important;
        border-right-color: inherit !important;
        border-bottom-style: solid ;
        border-bottom-color: #30CFD0;
    }
    .observations{
        border-top-style: none !important;
        border-top-color: inherit !important;
    }
    .description{
        border-top-style: none !important;
        border-top-color: inherit  !important;
    }
}
@media only screen and (max-width:1366px) and (min-width:730px){
    #imglogin{
        padding: 2vmin 12vmin 4vmin ;
    }
}

@media only screen and (max-width:1366px) and (min-width:730px) and (orientation: landscape){
    #imglogin{
        padding: 2vmin 2vmin 12vmin ;
    }

}

@media only screen and (max-width:1024px) and (min-width:1370px){
    #imglogin{
        padding: 3vmin 4vmin 9vmin ;
    }
}
@media only screen and (max-width:1440px) and (min-width:1030px){
    #imglogin{
        padding: 2vmin 13vmin 4vmin ;
    }
}
@media only screen and  (max-width:1920px) and (min-width:1445px){
    #imglogin{
        padding: 2vmin 10vmin 3vmin ;
    }
    .content-login{
        position: relative;
        top:20%;
    }
}

/* SELECT */
.select_currency{
    position: relative;
    display: flex;
    width: 4.9em;
    height: 2.6em;
    line-height: 3;
    background: white ;
    color: #000000;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: -2px 2px 4px 0px #888888;
    overflow: hidden;
}
.select_currency::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #E5E5E5 ;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select_currency:hover::after {
    color: #30CFD0;
  }

  .select_currency-edit{
    position: relative;
    display: flex;
    width: 4.9em;
    height: 2.6em;
    line-height: 3;
    background: white ;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border:solid 1px  #30CFD0;
    box-shadow: -2px 2px 4px 0px #888888;
    overflow: hidden;
}
.select_currency-edit::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: white ;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select_currency:hover::after {
    color: #000000;
  }


/*---------------------*/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #E5E5E5 ;
    border-radius: 9px;
    box-shadow: -2px 2px 4px 0px #888888;
    background-image: none;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #E5E5E5 ;
    border-radius: 9px;
    box-shadow: -2px 2px 4px 0px #888888;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 100%;
    height: 2.7em;
    line-height: 3;
    background: #E5E5E5 ;
    border-radius: 9px;
    box-shadow: -2px 2px 4px 0px #888888;
    overflow: hidden;
  }
  .select-edit {
    position: relative;
    display: flex;
    width: 100%;
    height: 2.7em;
    line-height: 3;
    background: white ;
    border-radius: 9px;
    border: solid 1px #30CFD0;
    box-shadow: -2px 2px 4px 0px #888888;
    overflow: hidden;
  }
  select {
    flex: 1;
    padding: 0 1em;
    color: #000000;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #E5E5E5 ;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }

  .select-edit::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: white ;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #30CFD0;
  }
  .select-edit:hover::after {
    color: #30CFD0;
  }
  .btn-edit{
      color:#30CFD0;
  }
  .btn-trash{
      color:red;
  }


/* The Modal (background) */
#myModal {
    position: fixed; /* Stay in place */
    left:0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    // overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

  }
  /* Modal Content (image) */
  #myModal img {
    max-width: 100%;
    margin: auto;
    display: block;
    //max-width: 700px;
  }

  #myModal  video {
    max-width: 100%;
    margin: auto;
    display: block;
    //max-width: 700px;
  }

  /* Add Animation */
  #myModal img {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ccc;
    font-size: 30px !important;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 1024px){
    #myModal img {
        width: calc(100% - 100px);
        height: auto;
        margin: auto;
        padding-top: 0;
        touch-action: auto;
    }
  }

  /*menu mobile*/
  div.nav{
      display: none;
  }
  @media only screen  and (max-width:767px) {
    .navbar.navbar-inverse{
        left: 0px;
        width: 100%;
        box-sizing: border-box;
    }
    .main{
        margin-left: 0px;
        width: 100%;
        box-sizing: border-box;
    }
    div.nav {
        height: 50px;
        width: 100%;
        position: relative;
        display:block !important;
        z-index: 1;
        background-color: #0f0f21;
      }
      div.nav > #nav-check {
        display: none;
      }
    .nav-links ul li.active-link>div {
        background-color: #5FBABD !important;
        color:white;
    }
    .nav-links ul li.active-link>div>a {
        color:white;
    }
    .line-bottom-header{
        padding: 4%;
    }
    #sidebar{
        display: none;
    }
    div.nav{
        display:block;
    }
    div.nav > .nav-btn {
      display: inline-block;
      position: absolute;
      background-color: #0f0f21;
      right: 0px;
      top: 0px;
      height: 50px;
    }
    div.nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    div.nav > .nav-btn > label:hover,div.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: #0f0f21;
    }
    div.nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    div.nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    div.nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    div.nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;

    }
    div.nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
      background-color: #0f0f21;
      touch-action: none;
    }
  }
  .plaque-specimen{
    top: 93%;
    background: black;
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding: 1%;
    opacity: 0.7;
  }
  .plaque-specimen > span{
    color: white;
    font-weight: bold;
  }


  /*preloader */

  .preloarder{
	position:fixed;
	width:100px;
	height:70px;
	display:inline-block;
	transform-origin:center;
    animation:preloarder 1.5s linear infinite;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
.preloarder .SpanLoad{
	display:flex;
	justify-content:center;
}
.preloarder span{
	position:absolute;
	width:15px;
	height:15px;
	background:#fff;
	transform-origin:center 35px;
	border-radius:50%;
}
.preloarder span:first-child{
	opacity:.1;
}
.preloarder span:nth-child(2){
	transform:rotate(36deg);
	opacity:.2;
}
.preloarder span:nth-child(3){
	transform:rotate(72deg);
	opacity:.3;
}
.preloarder span:nth-child(4){
	transform:rotate(108deg);
	opacity:.4;
}
.preloarder span:nth-child(5){
	transform:rotate(144deg);
	opacity:.5;
}
.preloarder span:nth-child(6){
	transform:rotate(180deg);
	opacity:.6;
}
.preloarder span:nth-child(7){
	transform:rotate(216deg);
	opacity:.7;
}
.preloarder span:nth-child(8){
	transform:rotate(252deg);
	opacity:.8;
}
.preloarder span:nth-child(9){
	transform:rotate(288deg);
	opacity:.9;
}
.preloarder span:nth-child(10){
	transform:rotate(324deg);
	opacity:1;
}

@keyframes preloarder{
	0%{
		transform:rotate(0deg) scale(1);
	}
	100%{
		transform:rotate(360deg) scale(1);
	}
}


#backPreloader{
    display: none;
    background-color: black;
    opacity: 0.9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: contain;
    z-index: 1;
}

.viewpreloader{
    display:block !important;
}

/*----- progrss bar lineal----*/

.progress {
    margin:20px auto;
    padding:0;
    width:90%;
    height:30px;
    overflow:hidden;
    background:#e5e5e5;
    border-radius:6px;
  }

  .bar {
      position:relative;
    float:left;
    min-width:1%;
    height:100%;
    background:cornflowerblue;
  }

  .percent {
      position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    font-family:tahoma,arial,helvetica;
    font-size:12px;
    color:white;
  }

  /*----- progress bar circular ----*/
  #backProgressbar{
    display: none;
    background-color: black;
    opacity: 0.9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: contain;
    z-index: 3;
}

  span#procent {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  span#procent::after {
    content: '%';
  }

  .canvas-wrap {
    width: 300px;
    height: 300px;
    position:fixed;
	display:inline-block;
	transform-origin:center;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
  }

  /* tooltip*/
  .tooltipdiv {
    position: absolute;
    background: black;
    color: white;
    padding: 5px;
    z-index: 1123;
    border-radius: 5px;
    width: auto;
  }
  .add{
    cursor: pointer;
    background-color: #30CFD0;
    padding: 3px;
    color: #fff;
    border-radius: 5px;
  }

  /*-----------------------*/
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }

  #myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  #myInput:focus {outline: 3px solid #ddd;}

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }

  .dropdown-content a {
    display: none ;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {background-color: #ddd;}

  .show {display: block;}
  /*-----------------*/
  .cont-users.scroll-all.cont-acc-me{
    height: auto !important;
  }

  .cont-users{
        color:#fff;
        position: absolute;
        width: 92%;
        background: #666666;
        z-index: 1;
        border-radius: 8px;
        overflow-y: scroll;
        top: 58px;
        height:0px;
    }
    .cont-users.all-he{
        height: auto;
        max-height:100px;
        border: 1px solid #ccc;
        padding: 5px;
    }
    .span-hover:hover{
        background:#e4e4e4;
    }
    /*--------------*/
    .button-group-l{
        border-bottom-right-radius: 20px !important;
        border-top-right-radius: 20px !important;
        background-color: white ;
        color: #565656 ;
        border-color: #565656 ;
    }

    .button-group-r{
        border-bottom-left-radius: 20px !important;
        border-top-left-radius: 20px !important;
        background-color: white ;
        color:  #565656  ;
        border-color: #565656 ;
    }

    .active-gender{
        background-color: #212529;
        color: white;
    }
    /*--------------------*/
    .button-group-l-edit{
        border-bottom-right-radius: 20px !important;
        border-top-right-radius: 20px !important;
        background-color: white;
        color: #30CFD0;
        border-color: #30CFD0;
    }

    .button-group-r-edit{
        border-bottom-left-radius: 20px !important;
        border-top-left-radius: 20px !important;
        background-color: white ;
        color: #30CFD0 ;
        border-color: #30CFD0 ;
    }

    .active-gender-edit{
        background-color: #30CFD0 !important;
        color: white !important;
    }

    .f-control{
        padding: 0 !important;
        background-color: inherit !important;
        border-radius: 20px !important;

    }
    .c1{
        border-right-style: solid;
        border-right-color: #30CFD0;
    }
    .observations{
        border-top-style: solid;
        border-top-color: #30DFC0;
    }
    .description{
        border-top-style: solid;
        border-top-color: #30DFC0;
    }
    .loading-screen{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000 !important;
        flex-direction: column;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
.border-radius-10{
    border-radius: 10px;
}
