<template>
    <div class="mr-3">
        <div class="row mt-3">
                <div class="col-md-12">
                    <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                        <span class="class-span-1" style="border-radius: 20px; border-width: 1px; border-color: black;">{{
                            (paginate.start_page - 1) * paginate.perpage +
                            1 +
                            "-" +
                            (paginate.start_page == paginate.end_page
                            ? paginate.total_data
                            : paginate.start_page * paginate.perpage)
                        }}</span
                        ><span style="padding-top: 7px; margin-right: 5px">de</span
                        ><span class="class-span-2" style="border-radius: 50%; border-width: 1px; border-color: black;">{{ paginate.total_data }}</span
                        ><button
                            class="btn btn-rounded-ui bg-ui-black"
                            @click="prev(paginate.start_page)"
                            :style="
                            paginate.start_page != 1
                                ? 'margin-right:5px;'
                                : 'pointer-events:none;margin-right:5px;'
                            "
                        >
                            <i class="fas fa-caret-left"></i></button
                        ><button
                            class="btn btn-rounded-ui bg-ui-black"
                            @click="next(paginate.next_page)"
                            :style="
                            paginate.start_page != paginate.end_page
                                ? ''
                                : 'pointer-events:none'
                            "
                        >
                            <i class="fas fa-caret-right"></i></button
                        ><button class="btn btn-rounded-ui bg-ui-black ml-2" @click="resetSearch">
                            <i class="fas fa-sync-alt"></i>
                        </button>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="form-group">
                            <b-input-group>
                                <b-form-input
                                    class="input-search mr-3"
                                    v-model="paginate.search_input"
                                    style="border-radius: 20px; border-width: 1px; border-color: black;"
                                    type="text"
                                    debounce="500"
                                    placeholder="Fecha"
                                ></b-form-input>
                                <template #append>
                                <button class="btn btn-ui bg-ui-black" @click="getFinishedLotes(null, null)">
                                    <i class="fas fa-search"></i> BUSCAR
                                </button>
                                </template>
                            </b-input-group>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                        <thead class="text-center">
                            <th scope="col">Lote</th>
                            <th scope="col">Pollos nacidos</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Creado por</th>
                            <th scope="col">Acciones</th>
                        </thead>
                        <tbody>
                            <tr v-if="loading">
                                                <td colspan="11" class="text-center"><spinner></spinner></td>

                                            </tr>
                            <template v-else>
                            <tr
                                v-for="(lote) in arrayFinishedLotes"
                                :key="lote.id"
                            >
                                <td data-label="Lote" >
                                    Lote {{lote.id}}
                                </td>
                                <td data-label="Pollos nacidos">
                                    {{lote.total_born_eggs}}
                                </td>
                                <td data-label="Fecha">
                                    {{lote.created_at}}
                                </td>
                                <td data-label="Creado por">
                                    {{lote.first_name}} {{lote.last_name}}
                                </td>
                                <td data-label="Acciones">
                                    <button class="btn btn-danger" @click="openDetailFinishedLotes(lote)" v-if="isEncastador" size="sm">Registrar nacimientos</button>
                                </td>
                            </tr>
                            </template>
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                </div>
            <b-modal id="activationCommentModal" title="Nacimiento de pollos" v-model="modalDetailFinishedLotes" size="xl" hide-footer>
                <chick-hatching-detail :lote="selectedLote" @closeModal="closeModalDetail"></chick-hatching-detail>
                </b-modal>
    </div>
</template>

<script>
import ChickHatchingDetail from './chickhatching/ChickHatchingDetail'
export default {
  data() {
    return {
      arrayFinishedLotes: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      posturaId: null,
      posturaComment: null,
      modalActivatingPostura: false,
      loading: false,
      modalDetailFinishedLotes: false,
      selectedLote: null
    };
  },
  computed:{
      currentUser(){
            return this.$store.getters.currentUser;
        },
        isEncastador(){
            return this.currentUser?this.currentUser.role_id == 6:false;
        },
        isAdmin(){
            return this.currentUser?this.currentUser.role_id == 1:false;
        }
  },
  mounted() {
    this.getFinishedLotes(null, null);
  },
  components:{
      'chick-hatching-detail': ChickHatchingDetail
  },
  methods: {
    getFinishedLotes(dato1, dato2) {
        this.loading = true
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/lote/finished-lotes", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {

            this.arrayFinishedLotes = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
        this.loading = true
      var newval = start_p - 1;
      axios
        .post("/api/lote/finished-lotes?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayFinishedLotes = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
        this.loading = true
      axios
        .post("/api/lote/finished-lotes?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayFinishedLotes = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getFinishedLotes(null, null);
    },
    openDetailFinishedLotes(lote){
        this.modalDetailFinishedLotes = true
        this.selectedLote = lote
    },
    closeModalDetail(){
        this.modalDetailFinishedLotes = false
        this.getFinishedLotes(null, null);
    }
  },
  watch: {
    "paginate.search_input"() {
      this.getFinishedLotes(null, null);
    },
  },
};
</script>

<style>

</style>
