<template>
  <div class="mr-3">
    <b-tabs
      content-class="mt-3"
      active-nav-item-class="border-bottom-white active-link-tabs "
      nav-class="border-bottom border-dark"
      lazy
    >
      <b-tab title-link-class="text-dark" @click="getSelectedTab(2)">
        <template #title v-if="counters">
          <span
            >Pendiente
            <span
              class="notification-icon-link"
              v-if="
                counters.count_pendiente != 0 &&
                isEncastador &&
                !fromSpecimenDetail
              "
              ><strong>{{ counters.count_pendiente }}</strong>
            </span></span
          >
        </template>
        <template #title v-else>
          <span>Pendiente</span>
        </template>
        <litter-planning-pending-tab :status="2"></litter-planning-pending-tab>
      </b-tab>
      <b-tab title-link-class="text-dark" @click="getSelectedTab(3)">
        <template #title v-if="counters">
          <span
            >En proceso
            <span
              class="notification-icon-link"
              v-if="
                counters.count_proceso != 0 &&
                isEncastador &&
                !fromSpecimenDetail
              "
              ><strong>{{ counters.count_proceso }}</strong>
            </span></span
          >
        </template>
        <template #title v-else>
          <span>En proceso</span>
        </template>
        <litter-planning-in-process-tab
          :status="3"
        ></litter-planning-in-process-tab>
      </b-tab>
      <b-tab title-link-class="text-dark" @click="getSelectedTab(4)">
        <template #title v-if="counters">
          <span
            >Finalizada
            <span
              class="notification-icon-link"
              v-if="
                counters.count_finalizado != 0 &&
                isEncastador &&
                !fromSpecimenDetail
              "
              ><strong>{{ counters.count_finalizado }}</strong>
            </span></span
          >
        </template>
        <template #title v-else>
          <span >Finalizada</span>
        </template>
        <litter-planning-finished-tab
          :status="4"
        ></litter-planning-finished-tab>
      </b-tab>
      <b-tab title-link-class="text-dark" :title-item-class="'margin-right'" @click="getSelectedTab(1)">
        <template #title v-if="counters">
          <span
            >Anulada
            <span
              class="notification-icon-link"
              v-if="counters.count_anulado != 0 && !fromSpecimenDetail"
              ><strong>{{ counters.count_anulado }}</strong>
            </span></span
          >
        </template>
        <template #title v-else>
          <span >Anulada</span>
        </template>
        <litter-planning-anuled-tab :status="1"></litter-planning-anuled-tab>
      </b-tab>

      <b-tab
        title="Reporte padrillo"
        title-link-class="text-dark"
        v-if="!fromSpecimenDetail"
      >
        <litter-planning-padrillo-report></litter-planning-padrillo-report>
      </b-tab>
      <b-tab
        title="Madrillas"
        title-link-class="text-dark"
        v-if="!fromSpecimenDetail"
      >
        <litter-planning-madrilla></litter-planning-madrilla>
      </b-tab>
      <b-tab
        title="Padrillos"
        title-link-class="text-dark"
        v-if="!fromSpecimenDetail"
      >
        <litter-planning-padrillo></litter-planning-padrillo>
      </b-tab>
      <div></div>
    </b-tabs>
  </div>
</template>

<script>
import { misMixins } from "../../mixins.js";
import LitterPlanningDetail from "../../components/litterplanning/LitterPlanningDetail";
import LitterPlanningMadrilla from "../../pages/reproductions/litterplanning/LitterPlanningMadrilla";
import LitterPlanningPadrillo from "../../pages/reproductions/litterplanning/LitterPlanningPadrillo";
import LitterPlanningPadrilloReport from "./litterplanning/LitterPlanningPadrilloReport";
import SwitchComponent from "../../components/commons/SwitchComponent.vue";
import LitterPlanningPendingTab from "../../pages/reproductions/litterplanning/LitterPlanningPendingTab.vue";
import LitterPlanningInProcessTab from "../../pages/reproductions/litterplanning/LitterPlanningInProcessTab.vue";
import LitterPlanningFinishedTab from "../../pages/reproductions/litterplanning/LitterPlanningFinishedTab.vue";
import LitterPlanningAnuledTab from "../../pages/reproductions/litterplanning/LitterPlanningAnuledTab.vue";
import Multiselect from "vue-multiselect";
import moment from "moment";
export default {
  name: "LitterPlanningPage",
  props: {
    specimen_plate: String,
    fromSpecimenDetail: Boolean,
    category_specimen: Number,
  },
  data() {
    return {
      arrayPosturas: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      posturaId: null,
      posturaComment: null,
      finishComment: null,
      cancelComment: null,
      modalActivatingPostura: false,
      modalFinishingPostura: false,
      modalCancelPostura: false,
      loading: false,
      modalDetailPostura: false,
      selectedPostura: {},
      arrayTabs: [
        {
          title: "Pendiente",
          status: 2,
          active: true,
        },
        {
          title: "En proceso",
          status: 3,
          active: false,
        },
        {
          title: "Finalizada",
          status: 4,
          active: false,
        },
        {
          title: "Anulada",
          status: 1,
          active: false,
        },
      ],
      selectedTab: {
        title: "Pendiente",
        status: 2,
        active: true,
      },
      counters: null,
      modal_image: false,
      data_specimen: {
        type: "",
        url: "",
        plaque: "",
        alias: "",
        id: "",
        size: 300000000,
        last_left: false,
        last_right: false,
      },
      incubacionMethod: 1,
      arrayReason: [],
      turnOffReason: null,
      addTurnOffReasonModal: false,
      selectedSpecimenGender: null,
      modalAsignResponsable: false,
      responsable: null,
      responsableComment: null,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    /*userRoles(){
        return this.$store.getters.userRoles;
    },*/
    isAdmin() {
      // for(let i = 0; i < this.userRoles.length; i++){
      //     if(this.userRoles[i].role_id == 2){
      //         return true;
      //     }
      // }
      return this.currentUser ? this.currentUser.role_id == 1 : false;
    },
    isEncastador() {
      // for(let i = 0; i < this.userRoles.length; i++){
      //     if(this.userRoles[i].role_id == 6){
      //         return true;
      //     }
      // }
      return this.currentUser ? this.currentUser.role_id == 6 : false;
    },
    subTotalEggs: function () {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        sum += this.arrayPosturas[i].number_eggs_good
          ? parseFloat(this.arrayPosturas[i].number_eggs_good)
          : 0;
      }
      return sum;
    },
    subTotalEggsLote: function () {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        sum += this.arrayPosturas[i].suma_total
          ? parseFloat(this.arrayPosturas[i].suma_total)
          : 0;
      }
      return sum;
    },
    subTotalEggsInfertiles: function () {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        sum += this.arrayPosturas[i].suma_infertiles
          ? parseFloat(this.arrayPosturas[i].suma_infertiles)
          : 0;
      }
      return sum;
    },
    subTotalEggsNacidos: function () {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        sum += this.arrayPosturas[i].suma_nacidos
          ? parseFloat(this.arrayPosturas[i].suma_nacidos)
          : 0;
      }
      return sum;
    },
    subTotalEggsMuertos: function () {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        sum += this.arrayPosturas[i].suma_muertos
          ? parseFloat(this.arrayPosturas[i].suma_muertos)
          : 0;
      }
      return sum;
    },
    totalEggs: function () {
      if (this.arrayPosturas.length == 0) {
        return 0;
      } else {
        return this.arrayPosturas[0].total_sum;
      }
    },
    totalEggsLote: function () {
      if (this.arrayPosturas.length == 0) {
        return 0;
      } else {
        return this.arrayPosturas[0].total_sum_eggs_lote;
      }
    },
    totalEggsInfertiles: function () {
      if (this.arrayPosturas.length == 0) {
        return 0;
      } else {
        return this.arrayPosturas[0].total_sum_eggs_infertiles;
      }
    },
    totalEggsNacidos: function () {
      if (this.arrayPosturas.length == 0) {
        return 0;
      } else {
        return this.arrayPosturas[0].total_sum_eggs_nacidos;
      }
    },
    totalEggsMuertos: function () {
      if (this.arrayPosturas.length == 0) {
        return 0;
      } else {
        return this.arrayPosturas[0].total_sum_eggs_muertos;
      }
    },
  },

  mounted() {
    this.getPosturas(null, null);
    this.getCounterByStatus();
    this.getReasonsByModule();
  },
  components: {
    "litter-planning-detail": LitterPlanningDetail,
    "litter-planning-madrilla": LitterPlanningMadrilla,
    "litter-planning-padrillo": LitterPlanningPadrillo,
    "litter-planning-padrillo-report": LitterPlanningPadrilloReport,
    "litter-planning-pending-tab": LitterPlanningPendingTab,
    "litter-planning-in-process-tab": LitterPlanningInProcessTab,
    "litter-planning-finished-tab": LitterPlanningFinishedTab,
    "litter-planning-anuled-tab": LitterPlanningAnuledTab,
    "switch-component": SwitchComponent,
    Multiselect,
  },
  methods: {
    customLabel({ parent_id, reason }) {
      return `${parent_id} : ${reason}`;
    },
    asignResponsable() {
      Swal.fire({
        title: "Estás seguro?",
        text: "Esta acción no se podrá deshacer",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si",
      }).then((result) => {
        if (result.value) {
          axios
            .post("/api/postura/asign-infertility-responsable", {
              responsable: this.responsable,
              infertility_observation: this.responsableComment,
              postura_id: this.selectedPostura.id,
              user_id: this.currentUser.user_id,
            })
            .then((res) => {
              Swal.fire({
                title: "Felicidades",
                text: `Se ha asignado al ejemplar con placa ${this.responsable} como responsable de la postura ${this.selectedPostura.code}`,
                icon: "success",
              });
              this.getPosturas(null, null);
              this.modalAsignResponsable = false;
            });
        }
      });
    },
    openModalAsignResponsable(postura) {
      this.selectedPostura = postura;
      this.modalAsignResponsable = true;
    },
    openAddReasonModal(postura, gender) {
      if (gender == 1) {
        postura.padrillo_status_post = 1;
      } else {
        postura.madrilla_status_post = 1;
      }
      this.addTurnOffReasonModal = true;
      this.selectedSpecimenGender = gender;
      this.selectedPostura = postura;
    },
    getReasonsByModule() {
      axios
        .post("/api/reason/by-module", {
          module_id: 2,
        })
        .then((res) => {
          this.arrayReason = res.data;
        });
    },
    seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        if (this.arrayPosturas[i].madrilla_id == id) {
          if (this.arrayPosturas.indexOf(this.arrayPosturas[i]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else if (
            this.arrayPosturas.indexOf(this.arrayPosturas[i]) >=
            this.arrayPosturas.length - 1
          ) {
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = true;
          }
        }
      }
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
      this.data_specimen.id = id;
    },
    getPosturas(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/postura", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          status: this.selectedTab.status,
          specimen: this.specimen_plate,
          category_specimen: this.category_specimen,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/postura?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          status: this.selectedTab.status,
          specimen: this.specimen_plate,
          category_specimen: this.category_specimen,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      this.loading = true;
      axios
        .post("/api/postura?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          status: this.selectedTab.status,
          specimen: this.specimen_plate,
          category_specimen: this.category_specimen,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getPosturas(null, null);
    },
    cancelPostura() {
      //console.log(postura);
      axios
        .post("/api/postura/cancel", {
          postura_id: this.posturaId.id,
          placa_padrillo: this.posturaId.placa_padrillo,
          placa_madrilla: this.posturaId.placa_madrilla,
          postura_comment: this.cancelComment,
          user_id: this.currentUser.user_id,
        })
        .then((response) => {
          swal
            .fire({
              icon: "success",
              title: "Postura anulada!",
              text: "Has anulado correctamente la postura!",
            })
            .then((result) => {
              if (result.value) {
                this.$router.push("/main/reproduccion/planificacion-camadas");
              }
            });
          this.getPosturas(null, null);
          //postura.status = 'proceso';
        });
    },
    getCounterByStatus() {
      axios.get("/api/postura/counters").then((response) => {
        this.counters = response.data[0];
        //this.checkSeenStatus();
        //dconsole.log(this.counters);
      });
    },
    activatePostura() {
      //console.log(postura);
      axios
        .post("/api/postura/activate", {
          postura_id: this.posturaId,
          postura_comment: this.posturaComment,
          method: this.incubacionMethod,
        })
        .then((response) => {
          swal
            .fire({
              icon: "success",
              title: "Postura activada!",
              text: "Has activado correctamente la postura!",
            })
            .then((result) => {
              if (result.value) {
                this.$router.push("/main/reproduccion/planificacion-camadas");
              }
            });
          this.getPosturas(null, null);
          //postura.status = 'proceso';
        });
    },
    turnOffSpecimen(postura, status) {
      Swal.fire({
        title: "Estás seguro?",
        text: "Esta acción no se podrá deshacer",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si",
      }).then((result) => {
        if (result.value) {
          axios
            .post(
              `/api/postura/${
                status == 2 ? "turn-off-madrilla" : "turn-off-padrillo"
              }`,
              {
                plate:
                  status == 2 ? postura.placa_madrilla : postura.placa_padrillo,
                turn_off_reason: this.turnOffReason.id,
                postura_id: postura.id,
              }
            )
            .then((res) => {
              Swal.fire({
                title: "Felicidades",
                text: "Has apagado correctamente a este ejemplar",
                icon: "success",
              });
              this.getPosturas(null, null);
            });
        }
      });
    },
    onChangeSwitch(postura) {
      this.openAddReasonModal();
      Swal.fire({
        title: "Estás seguro?",
        text: "Esta acción no se podrá deshacer",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si",
      }).then((result) => {
        if (result.value) {
          axios
            .post("/api/postura/turn-off-madrilla", {
              plate: postura.placa_madrilla,
            })
            .then((res) => {
              Swal.fire({
                title: "Felicidades",
                text: "Has apagado correctamente a este ejemplar",
                icon: "success",
              });
              this.getPosturas(null, null);
            });
        } else {
          postura.madrilla_status_post = !postura.madrilla_status_post;
        }
      });
    },
    onChangeSwitchPadrillo(postura) {
      Swal.fire({
        title: "Estás seguro?",
        text: "Esta acción no se podrá deshacer",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si",
      }).then((result) => {
        if (result.value) {
          axios
            .post("/api/postura/turn-off-padrillo", {
              placa_padrillo: postura.placa_padrillo,
            })
            .then((res) => {
              Swal.fire({
                title: "Felicidades",
                text: "Has apagado correctamente a este padrillo",
                icon: "success",
              });
              this.getPosturas(null, null);
            });
        } else {
          postura.padrillo_status_post = !postura.padrillo_status_post;
        }
      });
    },
    closeModalimage() {
      this.modal_image = false;
    },
    finishPostura() {
      //console.log(postura);
      axios
        .post("/api/postura/finish", {
          postura_id: this.posturaId,
          postura_comment: this.finishComment,
          finished_by: this.currentUser.user_id,
        })
        .then((response) => {
          swal
            .fire({
              icon: "success",
              title: "Postura finalizada!",
              text: "Has finalizado correctamente la postura!",
            })
            .then((result) => {
              if (result.value) {
                this.$router.push("/main/reproduccion/planificacion-camadas");
              }
            });
          this.getPosturas(null, null);
          //postura.status = 'proceso';
        });
    },
    openModalActivatingComment(postura) {
      this.posturaId = postura.id;
      this.modalActivatingPostura = true;
    },
    openModalDesactivatingComment(postura) {
      this.posturaId = postura;
      this.modalCancelPostura = true;
    },
    openModalFinishingComment(postura) {
      this.posturaId = postura.id;
      this.modalFinishingPostura = true;
    },
    openModalPosturaDetail(postura) {
      this.selectedPostura = postura;
      this.modalDetailPostura = true;
    },
    clearComment() {
      this.posturaComment = null;
      this.finishComment = null;
      this.cancelComment = null;
      this.responsableComment = null;
    },
    checkSeenStatus(status) {
      axios
        .post("/api/postura/seenstatus", {
          status_postura: status,
        })
        .then((response) => {
          if (this.selectedTab.status == 1) {
            this.counters.count_anulado = 0;
          } else if (this.selectedTab.status == 2) {
            this.counters.count_pendiente = 0;
          } else if (this.selectedTab.status == 3) {
            this.counters.count_proceso = 0;
          } else if (this.selectedTab.status == 4) {
            this.counters.count_finalizado = 0;
          }
        });
    },
    getSelectedTab(tab) {
    //   this.selectedTab = tab;
      if (this.isEncastador) {
        this.checkSeenStatus(tab);
      }
      this.getPosturas(null, null);
    },
    switchRight() {
      for (let i = this.arrayPosturas.length - 1; i >= 0; i--) {
        if (this.arrayPosturas[i].madrilla_id == this.data_specimen.id) {
          if (
            this.arrayPosturas.indexOf(this.arrayPosturas[i + 1]) >=
            this.arrayPosturas.length - 1
          ) {
            this.data_specimen.last_right = true;
            this.data_specimen.last_left = false;
          } else {
            this.data_specimen.last_right = false;
            this.data_specimen.last_left = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.arrayPosturas[i + 1].photo;
          this.data_specimen.plaque = this.arrayPosturas[i + 1].placa_madrilla;
          this.data_specimen.alias = this.arrayPosturas[i + 1].madrilla_alias;
          this.data_specimen.id = this.arrayPosturas[i + 1].madrilla_id;
        }
      }
    },
    switchLeft() {
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        if (this.arrayPosturas[i].madrilla_id == this.data_specimen.id) {
          if (this.arrayPosturas.indexOf(this.arrayPosturas[i - 1]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else {
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.arrayPosturas[i - 1].photo;
          this.data_specimen.plaque = this.arrayPosturas[i - 1].placa_madrilla;
          this.data_specimen.alias = this.arrayPosturas[i - 1].madrilla_alias;
          this.data_specimen.id = this.arrayPosturas[i - 1].madrilla_id;
        }
      }
    },
    myLocalSetterFunction(e) {
      console.log(e);
    },
    moment: function () {
      return moment();
    },
  },
  watch: {
    "paginate.search_input"() {
      this.getPosturas(null, null);
    },
  },
  mixins: [misMixins],
};
</script>

<style scoped>
.borderes {
  border-color: black !important;
  border-radius: 20px !important;
}
.notification-icon-link {
  background: #f00;
  padding: 4px 8px 4px 8px;
  border-radius: 50%;
  color: #fff;
  vertical-align: top;
}
.disabled-switch {
  pointer-events: none;
  opacity: 0.4;
}
.badge-width {
  width: 100%;
  max-width: 60px;
  box-sizing: border-box;
}
</style>
