<template>
  <div class="m-3">
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <span
                class="class-span-1"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                >{{
                  (paginate.start_page - 1) * paginate.perpage +
                  1 +
                  "-" +
                  (paginate.start_page == paginate.end_page
                    ? paginate.total_data
                    : paginate.start_page * paginate.perpage)
                }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span
                class="class-span-2"
                style="
                  border-radius: 50%;
                  border-width: 1px;
                  border-color: black;
                "
                >{{ paginate.total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(paginate.start_page)"
                :style="
                  paginate.start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(paginate.next_page)"
                :style="
                  paginate.start_page != paginate.end_page
                    ? ''
                    : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <div
            class="
              col-lg-9
              d-flex
              flex-wrap
              justify-content-end
              align-items-center
            "
          >
            <div class="mr-2 width-100">
              <b-form-datepicker
                id="example-datepicker"
                placeholder="Fecha"

                locale="es"
                v-model="selectedDate"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                @context="onContext"
                :date-format-options="{
                  year: 'numeric',
                  month: 'numeric',
                  day: 'numeric',
                }"
              ></b-form-datepicker>
            </div>
            <div class="width-100">
              <b-form-input
                class="input-search mr-3 "
                v-model="paginate.search_input"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                type="text"
                debounce="500"
                placeholder="Estado, usuario, lote"
              ></b-form-input>
            </div>
            <button
              class="btn btn-ui bg-ui-black mr-2 width-100"
              @click="getLotes(null, null)"
            >
              <i class="fas fa-search"></i> BUSCAR
            </button>
            <router-link
              role="button"
              class="btn btn-ui bg-ui-verde mr-2 width-100"
              to="/main/reproduccion/sacar-crias/crear"
              v-if="isEncastador"
            >
              <i class="fas fa-plus"></i> CREAR LOTE
            </router-link>
            <button
              role="button"
              class="btn btn-ui bg-ui-verde mr-2 width-100"
              to="/main/reproduccion/sacar-crias/crear"
              v-if="isAdmin || isInvitado"
              @click="openCreateTaskModal()"
            >
              <i class="fas fa-plus"></i> TAREAS
            </button>
            <button
              role="button"
              class="btn btn-ui bg-ui-verde width-100"
              to="/main/reproduccion/sacar-crias/crear"
              @click="openTaskCalendarModal()"
            >
              <i class="fas fa-plus"></i> CALENDARIO
            </button>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Método</th>
                <th scope="col">Lote</th>
                <th scope="col"># Huevos</th>
                <th scope="col">Fecha de incubación</th>
                <th scope="col">Estado</th>
                <th scope="col">Creado por</th>
                <th scope="col">Acciones</th>
              </thead>
              <tbody>
                <tr v-if="loading">
                  <td colspan="11" class="text-center"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr v-for="lote in arrayLotes" :key="lote.id">
                    <td data-label="Método">
                      {{ lote.placa_madrilla ? "NATURAL" : "ARTIFICIAL" }}
                      <br />
                      <template v-if="lote.placa_madrilla">
                        <hr />
                        <span>
                          {{ lote.madrilla_alias }}
                        </span>
                        <br />

                        <span class="badge bg-secondary text-white pr-3 pl-3">{{
                          lote.placa_madrilla
                        }}</span>
                      </template>
                    </td>
                    <td data-label="Lote">
                      {{ lote.code }}
                    </td>
                    <td data-label="# Huevos">
                      {{ lote.total_eggs }}
                    </td>
                    <td data-label="Fecha del lote">
                      {{ lote.first_name }} {{ lote.last_name }} <br />
                      <span>
                        {{ convertToSpanishDate(lote.date_lote) }}
                      </span>
                    </td>
                    <td data-label="Estado">
                      <span
                        v-if="lote.status_number <= 12"
                        class="badge bg-celeste text-white pr-3 pl-3"
                      >
                        EN PROCESO
                      </span>
                      <span
                        v-if="lote.status_number > 12"
                        class="badge bg-verde text-white pr-3 pl-3"
                      >
                        FINALIZADO
                      </span>
                    </td>
                    <td data-label="Creado por">
                      {{ lote.first_name }} {{ lote.last_name }} <br />
                      {{ convertToSpanishDate(lote.created_at) }}
                    </td>
                    <td data-label="Acciones">
                      <div>
                        <b-button
                          variant="success"
                          size="sm"
                          style="
                            border-radius: 50%;
                            padding-right: 10px;
                            padding-left: 10px;
                          "
                          @click="openDetalleModal(lote.id)"
                          v-b-tooltip.hover
                          title="Detalles"
                        >
                          DE
                        </b-button>
                        <b-button
                          variant="secondary"
                          size="sm"
                          style="
                            border-radius: 50%;
                            padding-right: 10px;
                            padding-left: 10px;
                          "
                          @click="openTrackingModal(lote.id)"
                          v-b-tooltip.hover
                          title="Seguimiento"
                        >
                          SE
                        </b-button>
                        <template
                          v-if="
                            lote.status_number > 1 && (isAdmin || isEncastador)
                          "
                        >
                          <b-button
                            :variant="
                              lote.status_number >= 4 ? 'info' : 'danger'
                            "
                            size="sm"
                            v-if="
                              moment().format('YYYY-MM-DD') >=
                              lote.infertile_revision_date
                            "
                            style="
                              border-radius: 50%;
                              padding-right: 12px;
                              padding-left: 12px;
                            "
                            :to="`/main/reproduccion/sacar-crias/revision-infertiles/${lote.id}`"
                            v-b-tooltip.hover
                            title="Revisión de infertiles"
                          >
                            I
                          </b-button>
                          <b-button
                            variant="danger"
                            size="sm"
                            v-if="
                              moment().format('YYYY-MM-DD') >=
                                lote.hatcher_revision_date &&
                              lote.status_number == 10
                            "
                            style="
                              border-radius: 50%;
                              padding-right: 10px;
                              padding-left: 10px;
                            "
                            @click="hatcherReview(lote)"
                            v-b-tooltip.hover
                            title="Revisión de nacedora"
                          >
                            N
                          </b-button>
                          <b-button
                            :variant="
                              lote.status_number >= 6 ? 'info' : 'danger'
                            "
                            size="sm"
                            v-if="
                              moment().format('YYYY-MM-DD') >=
                              lote.alive_revision_date
                            "
                            style="
                              border-radius: 50%;
                              padding-right: 10px;
                              padding-left: 10px;
                            "
                            :to="`/main/reproduccion/sacar-crias/revision-vivos/${lote.id}`"
                            v-b-tooltip.hover
                            title="Revisión de pollos vivos"
                          >
                            V
                          </b-button>
                          <b-button
                            :variant="
                              lote.status_number >= 12 ? 'info' : 'danger'
                            "
                            size="sm"
                            v-if="
                              moment().format('YYYY-MM-DD') >=
                              lote.cintillo_ala_revision_date
                            "
                            style="border-radius: 50%"
                            :to="`/main/reproduccion/sacar-crias/revision-cintillo-ala/${lote.id}`"
                            v-b-tooltip.hover
                            title="Revisión de cintillo en el ala"
                          >
                            CA
                          </b-button>
                        </template>
                        <b-button
                          size="sm"
                          variant="warning"
                          style="
                            border-radius: 50%;
                            padding-right: 10px;
                            padding-left: 10px;
                          "
                          :to="`/main/reproduccion/sacar-crias/editar/${lote.id}`"
                          v-b-tooltip.hover
                          title="Editar"
                          v-if="isAdmin && lote.status_number == 1"
                        >
                          ED
                        </b-button>
                        <b-button
                          size="sm"
                          variant="danger"
                          style="
                            border-radius: 50%;
                            padding-right: 10px;
                            padding-left: 10px;
                            border-color: gray;
                          "
                          @click="deleteLote(lote.id, lote.status_number)"
                          v-b-tooltip.hover
                          title="Eliminar"
                          v-if="isAdmin"
                        >
                          EL
                        </b-button>
                      </div>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <b-modal
      id="modalPostura"
      title="Detalles"
      size="xl"
      v-model="openPosturasModel"
      scrollable
      hide-footer
    >
      <raise-young-detail :loteId="loteId"></raise-young-detail>
    </b-modal>
    <b-modal
      id="modalTracking"
      title="Seguimiento"
      size="lg"
      v-model="openTrackingModel"
      scrollable
      hide-footer
    >
      <raise-young-tracking :loteId="loteId"></raise-young-tracking>
    </b-modal>
    <b-modal
      v-model="openRegisterDeadChicks"
      id="modalDeadChicks"
      :title="`Pollos muertos lote ${loteId}`"
      size="xl"
      scrollable
      hide-footer
    >
      <raise-young-dead-chicks :loteId="loteId"></raise-young-dead-chicks>
    </b-modal>
    <b-modal
      v-model="createTaskModal"
      id="createTaskModal"
      title="Tareas"
      size="xl"
      scrollable
      hide-footer
    >
      <raise-young-task></raise-young-task>
    </b-modal>
    <b-modal
      v-model="taskCalendar"
      id="taskCalendar"
      title="Calendario de tareas"
      size="xl"
      scrollable
      hide-footer
    >
      <raise-young-task-calendar></raise-young-task-calendar>
    </b-modal>
  </div>
</template>

<script>
import RaiseYoungDetail from "./raiseyoung/RaiseYoungDetail.vue";
import RaiseYoungTracking from "./raiseyoung/RaiseYoungTracking";
import RaiseYoungDeadChicksPage from "./raiseyoung/RaiseYoungDeadChicksPage";
import RaiseYoungTask from "./raiseyoung/RaiseYoungTask";
import RaiseYoungTaskCalendar from "./raiseyoung/RaiseYoungTaskCalendar";
import moment from "moment";
import { misMixins } from "../../mixins";
export default {
  mounted() {
    this.getLotes();
  },
  data() {
    return {
      arrayLotes: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      loading: false,
      arrayLoteDetalle: [],
      openPosturasModel: false,
      openTrackingModel: false,
      openRegisterDeadChicks: false,
      createTaskModal: false,
      loteId: null,
      taskCalendar: false,
      selectedDate: null,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter((rol) => rol.role_id == 1);
      if (isDueñoInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    isInvitado() {
      const isInvitadoInRoles = this.roles.filter((rol) => rol.role_id == 7);
      if (isInvitadoInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter((rol) => rol.role_id == 6);
      if (isEncastadorInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    roles() {
      if (this.currentUser) {
        return this.currentUser.role;
      } else {
        return [];
      }
    },
  },
  components: {
    "raise-young-detail": RaiseYoungDetail,
    "raise-young-tracking": RaiseYoungTracking,
    "raise-young-dead-chicks": RaiseYoungDeadChicksPage,
    "raise-young-task": RaiseYoungTask,
    "raise-young-task-calendar": RaiseYoungTaskCalendar,
  },
  methods: {
    onContext(ctx) {
      this.selectedDate = ctx.selectedYMD;
    },
    deleteLote(lote_id_param, status_param) {
      swal
        .fire({
          icon: "warning",
          title: "Eliminar lote!",
          text: "¿Estás seguro de realizar esta acción?",
          showCancelButton: true,
          cancelButtonText: "Cancelar",
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/lote/delete", {
                lote_id: lote_id_param,
                status: status_param,
              })
              .then((res) => {
                this.getLotes();
                swal.fire({
                  icon: "success",
                  title: "Lote eliminado correctamente!",
                  text: "El lote fue eliminado correctamente.",
                });
              });
          }
        });
    },
    getLotes(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/lote/get", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          date: this.selectedDate,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayLotes = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/lote/get?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayLotes = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      axios
        .post("/api/lote/get?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayLotes = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getLoteDetail(loteId) {
      axios
        .post("/api/lote/get-detail", {
          lote_id: loteId,
        })
        .then((response) => {});
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.selectedDate = null;
      this.getLotes(null, null);
    },
    openDetalleModal(loteId) {
      this.openPosturasModel = true;
      this.loteId = loteId;
      this.getLoteDetail(loteId);
    },
    openTrackingModal(loteId) {
      this.openTrackingModel = true;
      this.loteId = loteId;
      //this.getLoteDetail(loteId);
    },
    moment: function () {
      return moment();
    },
    hatcherReview(lote) {
      this.loteId = lote.id;
      let obj = {
        created_by: this.currentUser.user_id,
        lote_id: this.loteId,
        hatcher_revision_date: null,
      };
      swal
        .fire({
          icon: "warning",
          title: "Revisión de nacedora!",
          text: "¿Estás seguro de realizar esta acción?",
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/lote/hatcher", {
                lote: obj,
              })
              .then((response) => {
                lote.status_number = 4;
                swal.fire({
                  icon: "success",
                  title: "Nacedora completada!",
                  text: "¡Has completado correctamente este paso!",
                });
              });
          }
        });
    },
    openModalRegisterDeadEggs(loteId) {
      this.openRegisterDeadChicks = true;
      this.loteId = loteId;
    },
    openCreateTaskModal() {
      this.createTaskModal = true;
    },
    openTaskCalendarModal() {
      this.taskCalendar = true;
    },
  },
  mixins: [misMixins],
};
</script>

<style scoped>
.bg-danger {
  background-color: #a5221a !important;
}
@media screen and (max-width: 812px){
    .width-100{
        margin-top: 10px !important;
        width: 100% !important;
    }
}
</style>
