<template>
  <div class="m-3">
    <div
      class="d-flex flex-wrap justify-content-between align-items-center mb-5"
    >
      <div>
        <h3 class="title-module">
          {{ selectedLink ? selectedLink.title : "Encaste" }}
        </h3>
      </div>
      <div>
        <b-nav pills>
          <template v-for="link in navLinks">
            <b-nav-item
              :to="link.path"
              tag="li"
              :key="link.id"
              exact-active-class="btn btn-outline-dark active-item-nav"
              link-classes="active-item-nav"
              @click="getLink(link)"
              exact
              v-if="
                link.requiresAdmin == isAdmin ||
                link.requiresEncastador == isEncastador ||
                link.requiresInvitado == isInvitado
              "
            >
              <template
                v-if="
                  link.title == 'Lotes' &&
                  amountLoteNotifications > 0 &&
                  isEncastador
                "
              >
                {{ link.title }}
                <span class="notification-icon-link"
                  ><strong>{{ amountLoteNotifications }}</strong>
                </span>
              </template>
              <template v-else>
                {{ link.title }}
              </template>
            </b-nav-item>
          </template>
        </b-nav>
      </div>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  mounted() {
    //this.getCounter();
    this.$store.dispatch("getLoteNotifications");
  },
  data() {
    return {
      navLinks: [
        {
          title: "Postura",
          requiresAdmin: true,
          requiresEncastador: true,
          requiresInvitado: true,
          path: "/main/reproduccion/planificacion-camadas",
        },
        {
          title: "Registro",
          requiresAdmin: true,
          requiresEncastador: true,
          requiresInvitado: true,
          path: "/main/reproduccion/registro-huevos",
        },
        {
          title: "Lotes",
          requiresAdmin: true,
          requiresEncastador: true,
          requiresInvitado: true,
          path: "/main/reproduccion/sacar-crias",
        },
        {
          title: "Migración",
          requiresAdmin: true,
          requiresEncastador: false,
          requiresInvitado: true,
          path: "/main/reproduccion/migracion",
        },
      ],
      selectedLink: null,
      counter: null,
    };
  },
  computed: {
    amountLoteNotifications() {
      return this.$store.getters.amountLoteNotifications;
    },
    currentUser() {
      return this.$store.getters.currentUser;
    },
    /*userRoles(){
                return this.$store.getters.userRoles;
            },*/
    isAdmin() {
      const isDueñoInRoles = this.roles.filter(rol => rol.role_id == 1);
        if(isDueñoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isInvitado(){
        const isInvitadoInRoles = this.roles.filter(rol => rol.role_id == 7);
        if(isInvitadoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter(rol => rol.role_id == 6);
      if(isEncastadorInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    roles(){
        if(this.currentUser){
            return this.currentUser.role
        }else{
            return [];
        }

    },
  },
  methods: {
    getLink(link) {
      this.selectedLink = link;
    }
  },
};
</script>

<style scoped>
.notification-icon-link {
  background: #f00;
  padding: 2px 6px 2px 6px;
  border-radius: 50%;
  color: #fff;
  vertical-align: top;
}
</style>
