<template>
  <div class="m-3">
    <div>
      <h3 class="title-module">Usuarios</h3>
      <hr />
      <h5 class="title-module">Agregar</h5>
      <validation-observer v-slot="{ invalid }">
        <div class="style-save-specimens p-4">
          <div class="row">
            <div class="col-md-2">
              <label>Nombres</label>
              <validation-provider rules="required" v-slot="{ errors }">
                <input
                  class="form-control inputs-modules"
                  type="text"
                  id="name"
                  v-model="name"
                />
                <span class="text-danger">{{ errors[0] }}</span>
              </validation-provider>
            </div>
            <div class="col-md-2">
              <label>Apellidos</label>
              <validation-provider rules="required" v-slot="{ errors }">
                <input
                  class="form-control inputs-modules"
                  type="text"
                  id="last_name"
                  v-model="last_name"
                />
                <span class="text-danger">{{ errors[0] }}</span>
              </validation-provider>
            </div>
            <div class="col-md-2">
              <label>Telefono</label>
              <validation-provider rules="required|tel" v-slot="{ errors }">
                <input
                  class="form-control inputs-modules"
                  type="text"
                  id="phone"
                  v-model="phone"
                  @keypress="justNumbers"
                />
                <span class="text-danger">{{ errors[0] }}</span>
              </validation-provider>
            </div>
            <div class="col-md-4">
              <label for="file-input">Avatar</label>
              <div class="row">
                <div class="wrapper">
                  <div class="buttom-file">
                    <input
                      type="file"
                      id="file"
                      @change="filechange"
                      accept="image/*"
                    /><i class="fas fa-arrow-circle-up"></i>
                  </div>
                </div>
                <div id="preview" v-if="view_avatar"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Usuario</label>
              <validation-provider rules="required" v-slot="{ errors }">
                <input
                  class="form-control inputs-modules"
                  type="text"
                  v-model="useremail"
                  id="email"
                  @keyup="ValidEmail"
                /><span class="badge badge-danger" v-if="valid_email == true"
                  >Este correo ya existe.</span
                ><span
                  class="badge badge-success"
                  v-if="validate.vemailcorrect == true"
                  >Email Correcto</span
                ><span
                  class="badge badge-danger"
                  v-if="inuse.iuemail==true &amp;&amp; validate.vemailcorrect == false"
                  >Email Incorrecto</span
                >
                <span class="text-danger">{{ errors[0] }}</span>
              </validation-provider>
            </div>
            <div class="col-md-2">
              <label
                title="(Debe tener al menos una letra mayúscula, un número y un caracter especial)"
                >Contrase&ntilde;a
              </label>
              <validation-provider rules="required" v-slot="{ errors }">
                <input
                  class="form-control inputs-modules"
                  type="password"
                  id="password_n"
                  v-model="password_n"
                  @keyup="keymonitor"
                /><span
                  class="badge badge-success"
                  v-if="validate.vpassword == true"
                  >contraseña correcta</span
                ><span
                  class="badge badge-danger"
                  v-if="validate.vpassword == false &amp;&amp; inuse.iupassword==true"
                  >contraseña no valida</span
                >
                <span class="text-danger">{{ errors[0] }}</span>
              </validation-provider>
            </div>
            <div class="col-md-2 mt-3">
              <label>Rol</label><br /><label id="ceo" for="lblCeo"
                >Due&ntilde;o</label
              ><input
                class="ml-1"
                type="radio"
                name="type_rol"
                value="1"
                for="ceo"
                id="lblCeo"
                v-model="ceo"
                @change="radiob(1)"
              /><label class="ml-3" id="other" for="lblOther">Otro</label
              ><input
                class="ml-1"
                type="radio"
                name="type_rol"
                value="1"
                for="other"
                id="lblOther"
                v-model="other"
                @change="radiob(2)"
              />
            </div>
            <div class="col-md-3" v-if="other_role">
              <label>Rol</label>
              <div class="form-group">
                <multiselect
                  v-model="t_roles"
                  :options="roles"
                  :multiple="true"
                  :close-on-select="false"
                  :clear-on-select="true"
                  :preserve-search="true"
                  placeholder="Pick some"
                  label="name"
                  track-by="name"
                  :preselect-first="false"
                ></multiselect>
              </div>
            </div>
            <div class="col-md-2 mt-3">
              <label>Estado</label><br /><label id="active" for="lblActive"
                >Activo</label
              ><input
                class="ml-1"
                type="radio"
                name="status_user"
                value="1"
                for="active"
                id="lblActive"
                v-model="active"
                @change="statusUser(1)"
              /><label class="ml-3" id="inactive" for="lblInactive"
                >Inactivo</label
              ><input
                class="ml-1"
                type="radio"
                name="status_user"
                value="1"
                id="lblInactive"
                v-model="inactive"
                @change="statusUser(2)"
              />
            </div>
            <div class="col-md-12 d-flex justify-content-center mt-5">
              <div>
                <button
                  class="btn btn-ui bg-ui-black"
                  @click="save()"
                  :disabled="invalid"
                >
                  <i class="fas fa-edit"></i> GRABAR
                </button>
              </div>
            </div>
          </div>
        </div>
      </validation-observer>
    </div>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  data() {
    return {
      roles: [],
      t_roles: "",
      other: "",
      ceo: "",
      other_role: false,
      name: "",
      last_name: "",
      phone: "",
      useremail: "",
      password_n: "",
      view_avatar: false,
      active: "",
      inactive: "",
      valid_email: false,
      disable: {
        save: false,
      },
      file_image: "",
      file_name: "",
      validate: {
        vpassword: false,
        vemailcorrect: false,
      },
      inuse: {
        iupassword: false,
        iuemail: false,
      },
      data_origin: [],
      data_category: [],
      data_statuse: [],
      color_specimen: [],
      type_currency: [],
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
  },
  mounted() {
    this.getrole();
  },
  methods: {
    ValidEmail() {
      var r_email = document.getElementById("email").value;
      var r_email = r_email.trim();
      var RegEx = /^([\da-z_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;

      if (r_email.length === 0) {
        this.inuse.iuemail = false;
      } else {
        this.inuse.iuemail = true;
      }
      if (r_email.match(RegEx)) {
        this.validate.vemailcorrect = true;
        axios
          .post("/api/valid-email", {
            useremail: r_email,
            iduser: null,
          })
          .then((response) => {
            if (response.status == 200) {
              console.log(response);
              this.validate.vemailcorrect = false;
              if (response.data == 0) {
                this.valid_email = true;
              } else {
                this.valid_email = false;
                this.validate.vemailcorrect = true;
              }
            }
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        this.validate.vemailcorrect = false;
      }
    },
    keymonitor() {
      var x = document.getElementById("password_n").value;
      var passw =
        /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
      if (x.lenght === 0) {
        this.inuse.iu_n = false;
      } else {
        this.inuse.iupassword = true;
      }
      if (x.match(passw)) {
        this.validate.vpassword = true;
        this.notvalidate = false;
      } else {
        this.validate.vpassword = false;
        this.notvalidate = false;
      }
    },
    justNumbers: function (event) {
      var charCode = window.event ? event.which : event.keyCode;
      var RE = /^\d*(\.\d{1})?\d{0,1}$/;
      if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
        //Usando la definición del DOM level 2, "return" NO funciona.
        event.preventDefault();
      }
    },
    filechange(e) {
      var reader = new FileReader();
      reader.readAsDataURL(e.target.files[0]);
      // Le decimos que cuando este listo ejecute el código interno
      reader.onload = (e) => {
        this.file_image = e.target.result;
        let preview = document.getElementById("preview"),
          image = document.createElement("img");
        image.src = e.target.result;
        preview.innerHTML = "";
        preview.append(image);
      };
      const file = e.target.files[0].name;
      this.file_name = file;
      this.view_avatar = true;
    },
    statusUser(dato) {
      dato == 1 ? this.active == 1 : 0;
      dato == 2 ? this.inactive == 1 : 0;
    },
    radiob(dato) {
      dato == 1 ? (this.ceo = 1) : (this.ceo = 0);
      if (dato == 2) {
        this.other_role = true;
      } else {
        this.t_roles = "";
        this.other_role = false;
      }
    },
    getrole() {
      axios
        .post("/api/get-role")
        .then((response) => {
          if (response.status == 200) {
            this.roles = response.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    save() {
      var name = document.getElementById("name");
      var last_name = document.getElementById("last_name");
      var phone = document.getElementById("phone");
      var email = document.getElementById("email");
      var password_n = document.getElementById("password_n");
      var ceo = document.getElementById("ceo");
      var other = document.getElementById("name");
      var active = document.getElementById("active");
      var inactive = document.getElementById("inactive");
      if (this.name == "") {
        name.classList.add("input-required");
      } else if (this.last_name == "") {
        last_name.classList.add("input-required");
      } else if (this.phone == "") {
        phone.classList.add("input-required");
      } else if (this.email == "") {
        email.classList.add("input-required");
      } else if (this.password == "") {
        password_n.classList.add("input-required");
      } else if (this.ceo == 0 && this.other == 0) {
        ceo.classList.add("input-required");
        other.classList.add("input-required");
      } else if (this.active == 0 && this.inactive == 0) {
        active.classList.add("input-required");
        inactive.classList.add("input-required");
      } else {
        if (
          this.validate.vpassword == true &&
          this.validate.vemailcorrect == true
        ) {
          this.disable.save = true;
          axios
            .post("/api/save-update-user", {
              iduser: this.currentUser.user_id,
              name: this.name,
              last_name: this.last_name,
              phone: this.phone,
              useremail: this.useremail,
              password: this.password_n,
              rol: this.ceo == 1 ? 1 : this.t_roles,
              status: this.active == 1 ? 1 : 0,
              t_update: null,
              file_image: this.file_image,
              file_name: this.file_name,
            })
            .then((response) => {
              if (response.status == 200) {
                if (response.data == 0) {
                  this.valid_email = true;
                } else {
                  this.valid_email = false;
                }
                this.$router.push("/main/usuarios");
              }
            })
            .catch((err) => {
              console.log(err);
            });
        }
      }
    },
  },
};
</script>
