<template>
  <div class="m-3">
    <h3 class="title-module">Usuarios</h3>
    <hr />
    <h5 class="title-module">Editar</h5>
    <div class="style-save-specimens p-4">
      <div class="row">
        <div class="col-md-2">
          <label>Nombres</label
          ><input class="form-control" type="text" id="name" v-model="name" />
        </div>
        <div class="col-md-2">
          <label>Apellidos</label
          ><input
            class="form-control"
            type="text"
            id="last_name"
            v-model="last_name"
          />
        </div>
        <div class="col-md-2">
          <label>Telefono</label
          ><input
            class="form-control"
            type="text"
            id="phone"
            v-model="phone"
            @keypress="justNumbers"
          />
        </div>
        <div class="col-md-4">
          <label for="file-input">Avatar</label>
          <div class="row">
            <div class="wrapper">
              <div class="buttom-file">
                <input
                  type="file"
                  id="file"
                  @change="filechange"
                  accept="image/*"
                /><i class="fas fa-arrow-circle-up"></i>
              </div>
            </div>
            <div id="preview" v-if="view_avatar">
              <img
                id="img"
                :src="
                  userToEdit[0].avatar == '' || userToEdit[0].avatar == null
                    ? ''
                    : userToEdit[0].avatar
                "
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label>Usuario</label
          ><input
            class="form-control"
            type="text"
            v-model="useremail"
            id="email"
            @keyup="ValidEmail"
          /><span class="badge badge-danger" v-if="valid_email == true"
            >Este correo ya existe.</span
          ><span
            class="badge badge-success"
            v-if="validate.vemailcorrect == true"
            >Email Correcto</span
          ><span
            class="badge badge-danger"
            v-if="inuse.iuemail==true &amp;&amp; validate.vemailcorrect == false"
            >Email Incorrecto</span
          >
        </div>
        <div class="col-md-2">
          <label
            title="(Debe tener al menos una letra mayúscula, un número y un caracter especial)"
            >Contrase&ntilde;a </label
          ><input
            class="form-control"
            type="password"
            id="password_n"
            v-model="password_n"
            @keyup="keymonitor"
          /><span class="badge badge-success" v-if="validate.vpassword == true"
            >contraseña correcta</span
          ><span
            class="badge badge-danger"
            v-if="validate.vpassword == false &amp;&amp; inuse.iupassword==true"
            >contraseña no valida</span
          >
        </div>
        <div class="col-md-2" v-if="isAdmin">
          <label>Rol</label><br /><label id="ceo">Due&ntilde;o</label
          ><input
            class="ml-1"
            type="radio"
            name="type_rol"
            value="1"
            v-model="ceo"
            @change="radiob(1)"
          /><label class="ml-3" id="other">Otro</label
          ><input
            class="ml-1"
            type="radio"
            name="type_rol"
            value="1"
            v-model="other"
            @change="radiob(2)"
          />
        </div>
        <div class="col-md-3" v-if="other_role && isAdmin">
          <label>Rol</label>
          <div class="form-group">
            <multiselect
              v-model="t_roles"
              :options="roles"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="true"
              :preserve-search="true"
              placeholder="Pick some"
              label="name"
              track-by="name"
              :preselect-first="true"
            ></multiselect>
          </div>
        </div>
        <div class="col-md-2" v-if="isAdmin">
          <label>Estado</label><br /><label id="active">Activo</label
          ><input
            class="ml-1"
            type="radio"
            name="status_user"
            value="1"
            v-model="active"
            @change="statusUser(1)"
          /><label class="ml-3" id="inactive">Inactivo</label
          ><input
            class="ml-1"
            type="radio"
            name="status_user"
            value="1"
            v-model="inactive"
            @change="statusUser(2)"
          />
        </div>
        <div class="col-md-12 d-flex justify-content-center mt-5">
          <div>
            <button
              class="btn btn-ui bg-ui-black"
              @click="edit()"
              :disabled="disable.save"
            >
              <i class="fas fa-edit"></i> ACTUALIZAR
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  data() {
    return {
      roles: [],
      t_roles: null,
      other: null,
      ceo: null,
      other_role: null,
      name: null,
      last_name: null,
      phone: null,
      useremail: null,
      password_n: "",
      view_avatar: null,
      active: null,
      inactive: null,
      valid_email: false,
      disable: {
        save: false,
      },
      validate: {
        vpassword: false,
        vemailcorrect: false,
      },
      inuse: {
        iupassword: false,
        iuemail: false,
      },
      file_image: "",
      file_name: "",
      userToEdit: {},
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles_comp.filter((rol) => rol.role_id == 1);
      if (isDueñoInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    isInvitado() {
      const isInvitadoInRoles = this.roles_comp.filter((rol) => rol.role_id == 7);
      if (isInvitadoInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles_comp.filter((rol) => rol.role_id == 6);
      if (isEncastadorInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    roles_comp() {
      if (this.currentUser) {
        return this.currentUser.role;
      } else {
        return [];
      }
    },
  },
  mounted() {
    this.getrole();
    axios.get(`/api/users/edit/${this.$route.params.id}`).then((response) => {
      this.userToEdit = response.data;
    });
  },
  methods: {
    filechange(e) {
      var reader = new FileReader();
      reader.readAsDataURL(e.target.files[0]);
      // Le decimos que cuando este listo ejecute el código interno
      reader.onload = (e) => {
        this.file_image = e.target.result;
        let preview = document.getElementById("preview"),
          image = document.getElementById("img");
        image.src = e.target.result;
      };
      const file = e.target.files[0].name;
      this.file_name = file;
      this.view_avatar = true;
    },
    ValidEmail() {
      var r_email = document.getElementById("email").value;
      var r_email = r_email.trim();
      var RegEx = /^([\da-z_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;

      if (r_email.length === 0) {
        this.inuse.iuemail = false;
      } else {
        this.valid_email = false;
        this.inuse.iuemail = true;
      }
      if (r_email.match(RegEx)) {
        this.validate.vemailcorrect = true;
        axios
          .post("/api/valid-email", {
            useremail: r_email,
            iduser: this.userToEdit[0].id,
          })
          .then((response) => {
            if (response.status == 200) {
              this.validate.vemailcorrect = false;
              if (response.data == 0) {
                this.valid_email = true;
                this.inuse.iuemail = false;
              } else {
                this.valid_email = false;
                this.validate.vemailcorrect = false;
                this.inuse.iuemail = false;
              }
            }
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        this.validate.vemailcorrect = false;
      }
    },
    keymonitor() {
      var x = document.getElementById("password_n").value;
      var passw =
        /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
      if (x.lenght === 0) {
        this.inuse.iupassword = false;
      } else {
        this.inuse.iupassword = true;
      }
      if (x.match(passw)) {
        this.validate.vpassword = true;
        this.notvalidate = false;
      } else {
        this.validate.vpassword = false;
        this.notvalidate = false;
      }
    },
    justNumbers: function (event) {
      var charCode = window.event ? event.which : event.keyCode;
      var RE = /^\d*(\.\d{1})?\d{0,1}$/;
      if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
        //Usando la definición del DOM level 2, "return" NO funciona.
        event.preventDefault();
      }
    },
    statusUser(dato) {
      if (dato == 1) {
        this.active = 1;
        this.inactive = 0;
      } else {
        this.active = 0;
        this.inactive = 1;
      }
    },
    radiob(dato) {
      dato == 1 ? (this.ceo = 1) : (this.ceo = 0);
      if (dato == 2) {
        this.t_roles = "";
        this.other_role = true;
      } else {
        this.t_roles = "";
        this.other_role = false;
      }
    },
    getrole() {
      axios
        .post("/api/get-role")
        .then((response) => {
          if (response.status == 200) {
            this.roles = response.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    edit() {
      this.disable.save = true;
      axios
        .post("/api/save-update-user", {
          iduser: this.currentUser.user_id,
          name: this.name,
          last_name: this.last_name,
          phone: this.phone,
          useremail: this.useremail,
          password: this.password_n,
          rol: this.ceo == 1 ? 1 : this.t_roles,
          status: this.active == 1 ? 1 : 0,
          t_update: this.userToEdit[0].id,
          file_image: this.file_image,
          file_name: this.file_name,
        })
        .then((response) => {
          if (response.status == 200) {
            if (response.data == 0) {
              this.valid_email = true;
            } else {
              this.valid_email = false;
            }
            if (this.currentUser.role_id != 1) {
              this.$router.push("/main");
            } else {
              this.$router.push("/main/usuarios");
            }
            if (this.currentUser.user_id == this.userToEdit[0].id)
              axios
                .post("/api/get-current-user", {
                  user_id: this.currentUser.user_id,
                })
                .then((res) => {
                  this.$store.dispatch("updateCurrentUser", res.data[0]);
                });
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  watch: {
    userToEdit(newVal, oldVal) {
      this.t_roles = newVal[0].u_roles[0].id == 1 ? "" : newVal[0].u_roles;
      this.other = newVal[0].u_roles[0].id == 1 ? 0 : 1;
      this.ceo = newVal[0].u_roles[0].id == 1 ? 1 : 0;
      this.other_role = newVal[0].u_roles[0].id == 1 ? false : true;
      this.name = newVal[0].name;
      this.last_name = newVal[0].last_name;
      this.phone = newVal[0].phone;
      this.useremail = newVal[0].user_email;
      this.password_n = newVal[0].password;
      this.view_avatar =
        newVal[0].avatar == null || newVal[0].avatar == "" ? false : true;
      this.active = newVal[0].status == 1 ? 1 : 0;
      this.inactive = newVal[0].status == 0 ? 1 : 0;
    },
  },
};
</script>
