<template>
  <div class="m-3">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="form-group">
          <h3 class="title-module">Usuarios</h3>
          <router-link
            v-if="!isInvitado"
            class="btn btn-ui bg-ui-verde float-right"
            to="/main/usuarios/crear"
            ><i class="fas fa-plus"></i> AGREGAR
          </router-link>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <span class="class-span-1">{{
                (start_page - 1) * perpage +
                1 +
                "-" +
                (start_page == end_page ? total_data : start_page * perpage)
              }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span class="class-span-2">{{ total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(start_page)"
                :style="
                  start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(next_page)"
                :style="
                  this.start_page != this.end_page ? '' : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 text-right">
            <div class="form-group">
              <input
                class="input-search mr-3"
                type="text"
                v-model="search_input"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                @keyup="search(null, null)"
                placeholder="Buscar por nombre o usuario"
              /><button class="btn bg-ui-black" @click="search(null, null)">
                <i class="fas fa-search"></i> Buscar
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Avatar</th>
                <th scope="col">Nombre y Apellidos</th>
                <th scope="col">Usuario</th>
                <th scope="col">Rol(es)</th>
                <th scope="col">Estado</th>
                <th scope="col">Creado por</th>
                <th scope="col">Ultimo Acceso</th>
                <th scope="col">Acciones</th>
              </thead>
              <tbody>
                <tr v-if="loadingData">
                  <td colspan="11"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr v-for="item in data" :key="item.user_id">
                    <td data-label="Avatar">
                      <div class="justify-content-center">
                        <div id="preview"><img :src="item.avatar" /></div>
                      </div>
                    </td>
                    <td data-label="Nombre y Apellidos">
                      {{ item.name_user }}
                    </td>
                    <td data-label="Usuario">{{ item.email }}</td>
                    <td data-label="Rol(es)">
                      <ul
                        class="ul-table"
                        v-for="rol in JSON.parse(item.u_roles)"
                        :key="rol.id"
                      >
                        <li>{{ rol.name_role }}</li>
                      </ul>
                    </td>
                    <td data-label="Estado">{{ item.status }}</td>
                    <td data-label="Creado por">
                      <div v-html="item.name_create"></div>
                    </td>
                    <td data-label="ultimo Acceso">{{ item.t_access_log }}</td>
                    <td data-label="Acciones">
                      <i
                        class="fas fa-user-clock clickable text-primary"
                        style="font-size: 20px"
                        @click="openmodal(item.id)"
                        title="SESIONES"
                      ></i>
                      <router-link
                        :to="'/main/usuarios/editar/' + item.id"
                        title="EDITAR"
                      >
                        <i
                          class="fas fa-edit text-success"
                          style="font-size: 20px"
                        ></i>
                      </router-link>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <b-modal
      v-model="modal_sessions"
      title="Lista de Sessiones"
      size="lg"
      scrollable
      hide-footer
    >
      <modal-sessions
        v-if="modal_sessions"
        @click="closeModals"
        :data_sessions="this.data_sessions"
      ></modal-sessions>
    </b-modal>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  data() {
    return {
      data_sessions: [],
      modal_sessions: false,
      data: [],
      edit: [],
      list_users: true,
      create_update: false,
      disable: {
        save: false,
      },
      search_input: "",
      orderby: this.dato2 == null ? 3 : this.dato2,
      order: this.dato1 == null ? "desc" : this.dato1,
      start_page: "",
      end_page: "",
      total_data: "",
      perpage: "",
      next_page: "",
      dato1: "",
      dato2: "",
      loadingData: false,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter(rol => rol.role_id == 1);
        if(isDueñoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isInvitado(){
        const isInvitadoInRoles = this.roles.filter(rol => rol.role_id == 7);
        if(isInvitadoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter(rol => rol.role_id == 6);
      if(isEncastadorInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    roles(){
        if(this.currentUser){
            return this.currentUser.role
        }else{
            return [];
        }

    },
  },
  mounted() {
    if (this.currentUser) {
      this.search(null, null);
    }
  },
  methods: {
    search(dato1, dato2) {
      this.loadingData = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/get-users", {
          userid: this.currentUser.user_id,
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo: this.search_input == "" ? null : this.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      var newval = start_p - 1;
      axios
        .post("/api/get-users?page=" + newval, {
          userid: this.currentUser.user_id,
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            if (this.start_page == this.end_page) {
              this.next_page = this.start_page;
            } else {
              this.next_page = this.start_page + 1;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      axios
        .post("/api/get-users?page=" + next, {
          userid: this.currentUser.user_id,
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            if (this.start_page == this.end_page) {
              this.next_page = this.start_page;
            } else {
              this.next_page = this.start_page + 1;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.search_input = "";
      this.search();
    },
    closeModals() {
      this.modal_sessions = false;
    },
    openmodal(id) {
      axios
        .post("/api/get-sessions-user", {
          iduser: id,
        })
        .then((response) => {
          if (response.data) {
            this.data_sessions = response.data;
            this.modal_sessions = true;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  watch: {
    currentUser(newVal, oldVal) {
      this.search(null, null);
    },
  },
};
</script>
<style scoped>
.input-search {
  width: 237px !important;
}
</style>
