<template>
  <div>
    <b-list-group>
      <b-list-group-item
        v-for="task in tasks"
        :key="task.id"
        :class="[
          task.status_number == 1 ? 'bg-danger' : 'bg-success',
          'clickable text-white',
        ]"
        @click="doneTask(task)"
        >Lote {{ task.lote_id }} - {{ task.task }}</b-list-group-item
      >
    </b-list-group>
  </div>
</template>

<script>
export default {
  props: {
    date: String
  },
  data() {
    return {
      tasks: [],
    };
  },
  mounted() {
    this.getTasksFromDate();
  },
  computed:{
      currentUser(){
          return this.$store.getters.currentUser;
      }
  },
  methods: {
    getTasksFromDate() {
      console.log(this.date);
      axios
        .post("/api/task/get-more-tasks", {
          delivery_date: this.date,
        })
        .then((res) => {
          this.tasks = res.data;
        });
    },
    doneTask(loteTaskId) {
      let today = new Date();
      swal
        .fire({
          icon: "warning",
          title: "¿Desea confirmar la tarea?",
          text: "Esta acción no se puede deshacer",
          showCancelButton: true,
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/task/done-task", {
                lote_task_id: loteTaskId.id,
                done_by: this.currentUser.user_id,
              })
              .then((res) => {
                swal
                  .fire({
                    icon: "success",
                    title: "¡Tarea completada!",
                    text: "La tarea se ha realizado con éxito!",
                  })
                  .then((result) => {
                    if (result) {
                      loteTaskId.status_number = 2
                    }
                  });
              });
          }
        });
    },
  },
};
</script>

<style>
</style>
