<template>
  <div class="m-3">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="form-group">
          <b-button
            class="btn btn-ui bg-ui-verde float-right"
            @click="openModalCreateTask()"
            v-if="isAdmin"
            ><i class="fas fa-plus"></i> CREAR
          </b-button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <span class="class-span-1">{{
                (start_page - 1) * perpage +
                1 +
                "-" +
                (start_page == end_page ? total_data : start_page * perpage)
              }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span class="class-span-2">{{ total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(start_page)"
                :style="
                  start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(next_page)"
                :style="
                  this.start_page != this.end_page ? '' : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 text-right">
            <div class="form-group">
              <input
                class="input-search mr-3"
                type="text"
                v-model="search_input"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                @keyup="search(null, null)"
                placeholder="Buscar por nombre o usuario"
              /><button class="btn bg-ui-black" @click="search(null, null)">
                <i class="fas fa-search"></i> Buscar
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Tarea</th>
                <th scope="col">Día</th>
                <th scope="col">Módulo</th>
                <th scope="col">Creado por</th>
                <th scope="col">Acciones</th>
              </thead>
              <tbody>
                <tr v-if="loadingData">
                  <td colspan="11"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr v-for="item in data" :key="item.id">
                    <td data-label="Tarea">
                      {{ item.task }}
                    </td>
                    <td data-label="Día">
                      {{ item.day }}
                    </td>
                    <td data-label="Módulo">
                      {{ item.module }}
                    </td>
                    <td data-label="Creado por">
                      {{ item.first_name }} {{ item.last_name }} <br />
                      <span>{{ convertToSpanishDate(item.created_at) }}</span>
                    </td>
                    <td data-label="Acciones">
                        <b-button variant="warning" size="sm" @click="editTask(item)" v-if="isAdmin"
                        >Editar</b-button
                      >
                      <b-button variant="danger" size="sm" @click="deleteTask(item)" v-if="isAdmin"
                        >Eliminar</b-button
                      >
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <b-modal
      v-model="modalCreateTask"
      id="createTaskModal"
      title="Tareas"
      size="lg"
      scrollable
      hide-footer
    >
      <raise-young-create-task
        :task="selectedTask"
        @close="closeModalTasks()"
      ></raise-young-create-task>
    </b-modal>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
import { misMixins } from "../../../mixins";
import RaiseYoungCreateTask from "./RaiseYoungCreateTask";
export default {
  components: { Multiselect, "raise-young-create-task": RaiseYoungCreateTask },
  data() {
    return {
      data_sessions: [],
      modal_sessions: false,
      data: [],
      edit: [],
      list_users: true,
      create_update: false,
      disable: {
        save: false,
      },
      search_input: "",
      orderby: this.dato2 == null ? 3 : this.dato2,
      order: this.dato1 == null ? "desc" : this.dato1,
      start_page: "",
      end_page: "",
      total_data: "",
      perpage: "",
      next_page: "",
      dato1: "",
      dato2: "",
      loadingData: false,
      modal_image: false,
      data_specimen: {
        type: "",
        url: "",
        plaque: "",
        alias: "",
        id: "",
        size: 300000000,
      },
      modalCreateTask: false,
      selectedTask: null
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter(rol => rol.role_id == 1);
        if(isDueñoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isInvitado(){
        const isInvitadoInRoles = this.roles.filter(rol => rol.role_id == 7);
        if(isInvitadoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter(rol => rol.role_id == 6);
      if(isEncastadorInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    roles(){
        if(this.currentUser){
            return this.currentUser.role
        }else{
            return [];
        }

    },
  },
  mounted() {
    this.search(null, null);
  },
  methods: {
    seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
    },
    search(dato1, dato2) {
      this.loadingData = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/task/get", {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      var newval = start_p - 1;
      axios
        .post("/api/task/get?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            if (this.start_page == this.end_page) {
              this.next_page = this.start_page;
            } else {
              this.next_page = this.start_page + 1;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      axios
        .post("/api/task/get?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            if (this.start_page == this.end_page) {
              this.next_page = this.start_page;
            } else {
              this.next_page = this.start_page + 1;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.search_input = "";
      this.search();
    },
    openModalCreateTask() {
        this.selectedTask = null
      this.modalCreateTask = true;
    },
    closeModalTasks() {
      this.modalCreateTask = false;
      this.search(null, null);
    },
    deleteTask(item) {
      swal
        .fire({
          icon: "warning",
          title: "¿Desea realizar esta acción?",
          text: "Esta acción no se puede deshacer",
          showCancelButton: true,
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/task/delete", {
                deleted_by: this.currentUser.user_id,
                task_id: item.id,
              })
              .then((res) => {
                this.search(null, null);
              });
          }
        });
    },
    editTask(item){
        this.selectedTask = item
        this.modalCreateTask = true;
    }
  },
  mixins: [misMixins],
};
</script>
