<template>
  <div class="text-center section">
    <h2 class="h2">Calendario de tareas</h2>
    <p class="text-lg font-medium text-gray-600 mb-6">Tareas para los lotes</p>
    <v-calendar
      class="custom-calendar"
      :masks="masks"
      :attributes="attributes"
      disable-page-swipe
      is-expanded
      locale="es"
      @update:to-page="click"
    >
      <template v-slot:day-content="{ day, attributes }">

        <div
         :class="['flex flex-col h-full z-10 overflow-hidden table-calendar box']"
          :style="
            day.isToday ? 'border: solid red 1px; border-radius: 20px;' : ''
          "
        >
          <span
            :class="[
              'day-label text-sm text-gray-900',
              (attributes?attributes.length> 2:false) ? 'mr-5' : '',
            ]"
            >{{ day.day }}</span
          ><span
            class="text-info clickable"

            data-toggle="tooltip" title="Ver más tareas"
            @click="openModalDetail(moment(day.date).format('YYYY-MM-DD'), day)"
            v-if="attributes?attributes.length> 2:false"
            ><i class="fas fa-eye"></i
            ></span
          >

          <div class="flex-grow overflow-y-auto overflow-x-auto p-1">
            <template v-for="(attr, index) in attributes">
              <p
                v-if="index < 2"
                :key="attr.id"
                class="text-xs leading-tight rounded-sm p-1 mt-0 mb-1 text-white"
                :class="
                  attr.customData.status == 1 ? 'bg-danger' : 'bg-success'
                "
                style="cursor: pointer"
                @click="doneTask(attr.customData.id)"
              >
                Lote {{ attr.customData.lote_id }} - {{ attr.customData.title }}
              </p>
            </template>
          </div>
        </div>
      </template>
    </v-calendar>
    <b-modal
      :title="dateSelected?convertToSpanishDateWithoutHours(dateSelected):''"
      size="sm"
      centered
      hide-footer
      scrollable
      v-model="modalMoreTasks"
      @hidden="closeModalDetail"
    >
      <raise-young-more-tasks-calendar
        :date="dateSelected"
      ></raise-young-more-tasks-calendar>
    </b-modal>
  </div>
</template>

<script>
import moment from "moment";
import RaiseYoungMoreTasksCalendar from "./RaiseYoungMoreTasksCalendar";
import { misMixins } from '../../../mixins';
export default {
  data() {
    const month = new Date().getMonth();
    const year = new Date().getFullYear();
    return {
      masks: {
        weekdays: "WWW",
      },
      attributes: [],
      date: "2021-06-18",
      dateSelected: null,
      modalMoreTasks: false,
    };
  },
  mounted() {},
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
  },
  components: {
    "raise-young-more-tasks-calendar": RaiseYoungMoreTasksCalendar,
  },
  methods: {
    convertDate(date) {
      let newDa = null;
      newDa = moment(date).format("YYYY-MM-DD HH:mm:ss");
      newDa = new Date(newDa);
      return newDa;
    },
    convertGMT() {
      this.date = new Date(this.date);
      console.log(this.date);
    },
    getTasks(monthDate, yearDate) {
      axios
        .post("/api/task-lote/get", {
          month: monthDate,
          year: yearDate,
        })
        .then((response) => {
          this.attributes = response.data;
          for (let i = 0; i < this.attributes.length; i++) {
            this.attributes[i].dates = this.convertDate(
              this.attributes[i].dates
            );
          }
        });
    },
    click(date) {
      this.getTasks(date.month, date.year);
    },
    doneTask(loteTaskId) {
      let today = new Date();
      swal
        .fire({
          icon: "warning",
          title: "¿Desea confirmar la tarea?",
          text: "Esta acción no se puede deshacer",
          showCancelButton: true,
        })
        .then((result) => {
          if (result.value) {
            axios
            .post("/api/task/done-task", {
                lote_task_id: loteTaskId,
                done_by: this.currentUser.user_id,
            })
            .then((res) => {
                swal.fire({
                        icon: 'success',
                        title: '¡Tarea completada!',
                        text: 'La tarea se ha realizado con éxito!'
                    }).then((result) => {
                        if(result){
                           this.getTasks(today.getMonth() + 1, today.getFullYear());
                        }
                    });

            });
          }
        });
    },
    openModalDetail(day, d) {
      this.dateSelected = day;
      this.modalMoreTasks = true;
    },
    closeModalDetail(){
        let today = new Date();
        this.getTasks(today.getMonth() + 1, today.getFullYear());
    },
    moment: function (date) {
      return moment(date);
    },
  },
  mixins: [misMixins]
};
</script>

<style lang="scss" scoped>
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  display: none;
}
.table-calendar{
    transition: all .4s ease-in-out;
    border-radius: 20px;
    height: 130px;
    overflow: hidden;
}
.custom-calendar.vc-container {
  --day-border: 1px solid #b8c2cc;
  --day-border-highlight: 1px solid #b8c2cc;
  --day-width: 90px;
  --day-height: 90px;
  --weekday-bg: #f8fafc;
  --weekday-border: 1px solid #eaeaea;
  border-radius: 0;
  width: 100%;
  & .vc-header {
    background-color: #f1f5f8;
    padding: 10px 0;
  }
  & .vc-weeks {
    padding: 0;
  }
  & .vc-weekday {
    background-color: var(--weekday-bg);
    border-bottom: var(--weekday-border);
    border-top: var(--weekday-border);
    padding: 5px 0;
  }
  & .vc-day {
    padding: 0 5px 3px 5px;
    text-align: left;
    height: var(--day-height);
    min-width: var(--day-width);
    background-color: white;
    &.weekday-1,
    &.weekday-7 {
      background-color: #eff8ff;
    }
    &:not(.on-bottom) {
      border-bottom: var(--day-border);
      &.weekday-1 {
        border-bottom: var(--day-border-highlight);
      }
    }
    &:not(.on-right) {
      border-right: var(--day-border);
    }
  }
  & .vc-day-dots {
    margin-bottom: 5px;
  }
}

.box:hover{
    border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid #0F0F21;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.gradient-border {
  --border-width: 3px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
</style>
