<template>
  <div>
    <div class="row text-center">
      <div class="col-md-4">
        <label for="dateInput">Fecha del lote</label>
        <input
          type="date"
          class="form-control"
          id="dateInput"
          v-model="loteObject.date"
          style="border-radius: 20px; border-width: 1px; border-color: black"
        />
      </div>
      <div class="col-md-4" v-if="incubacionMethod == 'natural'">
        <label for="dateInput">Selecciona la nodriza</label>
        <select
          class="form-control"
          aria-label="Default select example"
          v-model="loteObject.placa_madrilla"
          style="border-radius: 20px; border-width: 1px; border-color: black"
        >
          <option :value="null"></option>
          <option
            v-for="madrilla in arrayMadrillas"
            :key="madrilla.id"
            :value="madrilla.plate"
          >
            {{ madrilla.alias }} / ({{ madrilla.plate }})
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="numberInput">Total de huevos</label>
        <input
          type="number"
          disabled
          v-model="totalEggs"
          id="numberInput"
          class="form-control"
          style="border-radius: 20px; border-width: 1px; border-color: black"
        />
      </div>
    </div>
    <hr />
    <div class="card">
      <div class="card-body">
        <label>Método</label><br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="chkArtificial"
            value="artificial"
            v-model="incubacionMethod"
          />
          <label class="form-check-label text-dark" for="chkArtificial">
            Artificial
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="chkNatural"
            value="natural"
            v-model="incubacionMethod"
          />
          <label class="form-check-label text-dark" for="chkNatural">
            Natural
          </label>
        </div>
      </div>
    </div>

    <div class="row align-self-start mt-3 text-center">
      <div class="col-md-10">
        <div v-for="(postura, index) in arrayPosturas" :key="postura.id">
          <div class="row align-items-center">
            <div class="col-md-5 col-lg-4">
              <label>Elige la madrilla</label>
              <multiselect
                :id="`multi${index}`"
                v-model="postura.postura_id"
                placeholder="Elige una madrilla"
                label="title"
                :ref="`combination${index}`"
                track-by="id"
                :options="arrayMadrillasByProcessingPosturas"
                @input="selectOnChange(postura, index, 2)"
                :option-height="104"
                :custom-label="customLabel"
                :show-labels="false"
              >
                <!-- <template slot="singleLabel" slot-scope="props"
                  ><span class="option__desc"
                    ><span class="option__title"
                      ><span>
                        {{ props.option.madrilla_alias }} / ({{
                          props.option.placa_madrilla
                        }}) - Postura ({{ props.option.id }})
                      </span>
                    </span></span
                  ></template
                > -->
                <template slot="option" slot-scope="props">
                  <div class="option__desc">
                    <span>
                      <!-- {{ props.option.chickenleg_description }} -->

                      {{ props.option.madrilla_alias }} / ({{
                        props.option.placa_madrilla
                      }}) - Postura ({{ props.option.id }})
                    </span>
                  </div>
                </template>
              </multiselect>

              <!-- <select
                class="form-control"
                aria-label="Default select example"
                v-model="postura.postura_id"
                @change="selectOnChange(postura, index)"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
              >
                <option :value="null"></option>
                <template
                  v-for="(
                    madrilla, index
                  ) in arrayMadrillasByProcessingPosturas"
                >
                  <option
                    :key="index"
                    :value="madrilla.id"
                    :disabled="madrilla.status == 2"
                    :class="madrilla.status == 2 ? 'text-danger' : ''"
                  >
                    {{ madrilla.madrilla_alias }} / ({{
                      madrilla.placa_madrilla
                    }}) Postura {{ madrilla.id }}
                  </option>
                </template>
              </select> -->
              <span class="text-danger" v-if="postura.error">{{
                postura.error
              }}</span>
            </div>
            <div class="col-md-3" v-if="postura.remaining_eggs != 0">
              <label for="remainingEggsInput">Huevos disponibles</label>
              <input
                type="text"
                class="form-control"
                disabled
                id="remainingEggsInput"
                v-model="postura.remaining_eggs"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
              />
            </div>
            <div class="col-md-5 col-lg-4">
              <label>Cantidad de huevos</label>
              <!-- <input
                type="number"
                v-model="postura.number_eggs"
                class="form-control"
                @input="onChange(postura)"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
              /> -->
              <b-input-group>
                <template #prepend>
                  <b-button
                    variant="danger"
                    @click="decreaseNumberEggs(postura)"
                    style="
                      border-top-left-radius: 20px;
                      border-bottom-left-radius: 20px;
                      border-width: 1px;
                    "
                    :disabled="loteStatus == 2"
                    >-</b-button
                  >
                </template>
                <b-form-input
                  v-model="postura.total_eggs"
                  class="text-center"
                  style="border-width: 1px; border-color: black"
                  :disabled="loteStatus == 2"
                  @input="onChange(postura)"
                ></b-form-input>

                <template #append>
                  <b-button
                    variant="success"
                    @click="increaseNumberEggs(postura)"
                    style="
                      border-top-right-radius: 20px;
                      border-bottom-right-radius: 20px;
                      border-width: 1px;
                    "
                    :disabled="loteStatus == 2"
                    >+</b-button
                  >
                </template>
              </b-input-group>
            </div>
            <div class="col-md-2" v-if="loteStatus != 2">
              <img
                src="/images/buttons/delete.png"
                class="clickable"
                alt=""
                @click="deletePostura(index, postura)"
              />

            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="col-md-2" v-if="loteStatus != 2">
        <img
          src="/images/buttons/add.png"
          class="clickable"
          alt=""
          @click="addPosturas()"
        />
      </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <b-overlay
        :show="busy"
        rounded
        opacity="0.85"
        spinner-small
        spinner-variant="primary"
        class="d-inline-block"
      >
        <button
          class="btn btn-ui bg-ui-black"
          @click="insertLote(1)"
          v-if="loteStatus != 2"
        >
          <i class="fas fa-plus"></i> Guardar lote
        </button>
        <button
          class="btn btn-ui bg-ui-black"
          @click="insertLote(2)"
           v-if="loteStatus != 2"
        >
          <i class="fas fa-plus"></i> Registrar lote
        </button>
      </b-overlay>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import moment from "moment";
export default {
  components: {
    Multiselect,
  },
  mounted() {
    this.loteObject.date = moment().format("YYYY-MM-DD");
    if (this.$route.params.lote_id) {
      this.getLote();
    } else {
      this.getPosturasByProcessingMadrilla();
    }
    this.getNodrizas();
  },
  data() {
    return {
      arrayMadrillasByProcessingPosturas: [],
      loteObject: {
        placa_madrilla: null,
        date: null,
        created_by: null,
      },
      arrayMadrillas: [],
      incubacionMethod: "artificial",
      arrayPosturas: [
        {
          postura_id: null,
          placa_madrilla: null,
          total_eggs: 0,
          remaining_eggs: 0,
          error: null,
          lote_postura_id: null,
        },
        {
          postura_id: null,
          placa_madrilla: null,
          total_eggs: 0,
          remaining_eggs: 0,
          error: null,
          lote_postura_id: null,
        },
        {
          postura_id: null,
          placa_madrilla: null,
          total_eggs: 0,
          remaining_eggs: 0,
          error: null,
          lote_postura_id: null,
        },
        {
          postura_id: null,
          placa_madrilla: null,
          total_eggs: 0,
          remaining_eggs: 0,
          error: null,
          lote_postura_id: null,
        },
        {
          postura_id: null,
          placa_madrilla: null,
          total_eggs: 0,
          remaining_eggs: 0,
          error: null,
          lote_postura_id: null,
        },
      ],
      busy: false,
      arrayMadrillasSelected: [],
      posturasToDelete: [],
      loteStatus: null
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    totalEggs() {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        sum += parseFloat(this.arrayPosturas[i].total_eggs);
      }
      return sum;
    },
    isEncastador() {
      return this.currentUser ? this.currentUser.role_id == 6 : false;
    },
    isButtonsDisabled() {
      if (this.loteStatus == 2) {
        return true;
      } else {
        return false;
      }
    },
  },
  methods: {
    getLote() {
      //   this.show = true;
      axios.get(`/api/lote/${this.$route.params.lote_id}`).then((response) => {
        this.getPosturasByProcessingMadrilla().then((res) => {
          console.log(response.data, "response");
          this.arrayPosturas = response.data;
          this.loteObject.date = this.arrayPosturas[0].date_lote;
          this.loteObject.placa_madrilla =
            this.arrayPosturas[0].madrilla_incubadora;
          this.incubacionMethod = this.arrayPosturas[0].madrilla_incubadora
            ? "natural"
            : "artificial";
          this.loteStatus = this.arrayPosturas[0].lote_status;
          for (let i = 0; i < this.arrayPosturas.length; i++) {
            if (!this.arrayPosturas[i].number_infertile_eggs) {
              this.$set(this.arrayPosturas[i], "number_infertile_eggs", 0);
            }
            for (
              let j = 0;
              j < this.arrayMadrillasByProcessingPosturas.length;
              j++
            ) {
              if (
                this.arrayMadrillasByProcessingPosturas[j].id ==
                this.arrayPosturas[i].postura_id
              ) {
                this.arrayPosturas[i].postura_id =
                  this.arrayMadrillasByProcessingPosturas[j];
              }
            }
            this.selectOnChange(this.arrayPosturas[i], i, 1);
          }
        });

        // this.show = false;
      });
    },
    customLabel({ madrilla_alias, placa_madrilla, id }) {
      return `${madrilla_alias} / (${placa_madrilla}) - Postura (${id})`;
    },
    addPosturas() {
      var objectPostura = {
        postura_id: null,
        placa_madrilla: null,
        total_eggs: 0,
        remaining_eggs: 0,
        error: null,
        lote_postura_id: null,
      };
      this.arrayPosturas.push(objectPostura);
    },
    insertLote(status_param) {
      let contador = 0;
      let previousPlacaMadrilla = "";
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        if (
          this.arrayPosturas[i].placa_madrilla == previousPlacaMadrilla &&
          this.arrayPosturas[i].placa_madrilla != null
        ) {
          this.arrayPosturas[i].error = "Esta madrilla ya está en uso";
          contador = contador + 1;
        }
        previousPlacaMadrilla = this.arrayPosturas[i].placa_madrilla;
      }
      if (contador == 0) {
        this.busy = true;
        let obj = {
          placa_madrilla: this.loteObject.placa_madrilla,
          date: !this.$route.params.lote_id?moment(this.loteObject.date)
            .add(1, "days")
            .format("YYYY-MM-DD"):this.loteObject.date,
          created_by: this.currentUser.user_id,
          total_eggs: this.totalEggs,
          status: status_param,
          fromMigration: false,
          lote_id: this.$route.params.lote_id
            ? this.$route.params.lote_id
            : null,
        };
        axios
          .post("/api/lote/crear", {
            lote: obj,
            posturas: this.arrayPosturas,
            posturas_to_delete: this.posturasToDelete
          })
          .then((response) => {
            this.busy = false;
            this.$router.push("/main/reproduccion/sacar-crias");
          });
      } else {
        swal.fire({
          icon: "error",
          title: "Cantidad incorrecta",
          text: "Tienes que elegir una madrilla al menos",
        });
      }
    },
    getMadrillasByProcessingPosturas() {
      axios.get("/api/postura/processing-madrillas").then((response) => {
        this.arrayMadrillasByProcessingPosturas = response.data;
        for (
          let i = 0;
          i < this.arrayMadrillasByProcessingPosturas.length;
          i++
        ) {
          this.arrayMadrillasByProcessingPosturas[i].status = 1;
        }
      });
    },
    getPosturasByProcessingMadrilla() {
      return axios
        .get("/api/postura/get-madrillas-processing")
        .then((response) => {
          this.arrayMadrillasByProcessingPosturas = response.data;
          for (
            let i = 0;
            i < this.arrayMadrillasByProcessingPosturas.length;
            i++
          ) {
            this.arrayMadrillasByProcessingPosturas[i].status = 1;
            this.$set(
              this.arrayMadrillasByProcessingPosturas[i],
              "number_eggs",
              this.arrayMadrillasByProcessingPosturas[i].remaining_eggs
            );
          }
        });
    },
    onChange(postura, index) {
      if (postura.total_eggs > postura.remaining_eggs) {
        swal
          .fire({
            icon: "error",
            title: "Cantidad incorrecta",
            text: "La cantidad de huevos no puede ser mayor a la de los huevos restantes en la postura",
          })
          .then((result) => {
            postura.total_eggs = postura.remaining_eggs;
          });
      }
    },
    getNodrizas() {
      axios.get("/api/postura/nodrizas").then((response) => {
        this.arrayMadrillas = response.data;
      });
    },
    selectOnChange(postura, index, situation) {
      this.arrayMadrillasSelected.push({
        id: index,
        postura: postura,
      });
      if (this.arrayMadrillasSelected.filter((v) => v.id == index).length > 1) {
        var idx = this.arrayMadrillasSelected.findIndex((i) => i.id == index);
        if (idx >= 0) {
          this.arrayMadrillasSelected.splice(idx, 1);
        }
      }
      for (let i = 0; i < this.arrayMadrillasByProcessingPosturas.length; i++) {
        this.arrayMadrillasByProcessingPosturas[i].$isDisabled = false;
        if (
          postura.postura_id.id == this.arrayMadrillasByProcessingPosturas[i].id && situation == 2
        ) {
          postura.remaining_eggs =
            this.arrayMadrillasByProcessingPosturas[i].remaining_eggs;
          postura.total_eggs =
            this.arrayMadrillasByProcessingPosturas[i].remaining_eggs;
        }
      }
      for (let i = 0; i < this.arrayMadrillasSelected.length; i++) {
        if (this.arrayMadrillasSelected[i].postura.postura_id.id != "") {
          this.arrayMadrillasByProcessingPosturas.find(
            (x) => x.id == this.arrayMadrillasSelected[i].postura.postura_id.id
          ).$isDisabled = true;
        }
      }
    },
    deletePostura(index, postura) {
      this.arrayPosturas.splice(index, 1);
    //   console.log(this.posturasToDelete, 'delete');
    //   console.log(postura.postura_id, 'delete2');
          this.posturasToDelete.push(postura.lote_postura_id)

    },
    decreaseNumberEggs(postura) {
      postura.total_eggs = Number(postura.total_eggs) - 1;
      this.onChange(postura);
    },
    increaseNumberEggs(postura) {
      postura.total_eggs = Number(postura.total_eggs) + 1;
      this.onChange(postura);
    },
  },
  watch: {
    currentUser() {
      if (!this.isEncastador) {
        this.$router.push("/main/reproduccion/sacar-crias");
      }
    },
    incubacionMethod(newVal) {
      if (newVal == "artificial") {
        this.loteObject.placa_madrilla = null;
      }
    },
  },
};
</script>

<style>
</style>

