<template>
  <div>
    <b-tabs
      content-class="mt-3"
      active-nav-item-class="border-bottom-white active-link-tabs "
      nav-class="border-bottom border-dark"
      lazy
    >
      <b-tab title="Evidencias" active title-link-class="text-dark">
        <div class="card" v-for="postura in lotePosturas" :key="postura.id">
          <div class="card-body">
            <span
              ><h4 class="title-module">Postura {{ postura.postura_id }}:</h4> </span
            ><span
              >{{ postura.madrilla_alias }} | {{ postura.padrillo_alias }}</span
            > <br>
            <span>Pollos muertos:</span>
            <span
              class="badge bg-danger pl-3 pr-3 text-light"
                v-if="postura.evidence">{{ postura.evidence[0].quantity }}</span
            > <br>
            <span><strong>Cintillo: </strong></span> <template v-if="postura.cintillo_color">
                            <span >{{postura.chickenleg_description}} {{postura.cintillo_description}} </span> <span class="fa-squaress"
                            ><i
                              class="fas fa-square"
                              :style="`color: ${postura.cintillo_color}; font-size: 30px; text-shadow: 0 0 3px #000;`"
                            ></i
                          ></span>
                        </template> <br>
            <span
              ><h5 class="title-module" style="color: black !important">Evidencia</h5> </span
            >
            <b-container fluid class="p-4 bg-light text-center">
              <b-row>
                <b-col>
                  <template v-for="imagen in postura.evidence">
                    <b-img
                      thumbnail
                      fluid
                      width="200"
                      class="ml-1 mb-1 clickable"
                      :src="imagen.url"
                      :alt="''"
                      :key="imagen.id"
                    ></b-img>
                  </template>
                </b-col>
              </b-row>
            </b-container>
          </div>
        </div>
      </b-tab>
      <b-tab title="Registrar" title-link-class="text-dark">
        <form @submit.prevent="saveDeadEggs()">
          <div class="row">
            <div
              class="col-md-4"
              v-for="postura in lotePosturas"
              :key="postura.id"
            >
                <span
                ><h4 class="title-module">Postura {{ postura.postura_id }}:</h4> </span
                >
                <span><strong>Cintillo: </strong></span> <template v-if="postura.cintillo_color">
                            <span >{{postura.chickenleg_description}} {{postura.cintillo_description}} </span> <span class="fa-squaress"
                            ><i
                              class="fas fa-square"
                              :style="`color: ${postura.cintillo_color}; font-size: 30px; text-shadow: 0 0 3px #000;`"
                            ></i
                          ></span>
                        </template> <br>
              <label for="dateInput">Cantidad pollos muertos</label>
              <input
                type="text"
                class="form-control text-center"
                id="dateInput"
                v-model="postura.quantity"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
              />
              <br />
              <vue-dropzone
                :options="dropzoneOptions"
                ref="myDropzone"
                id="dropzone"
                v-on:vdropzone-sending="
                  (file, xhr, formData) =>
                    sendingEvent(file, xhr, formData, postura)
                "
                v-on:vdropzone-complete="completed"
              >
              </vue-dropzone>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-3">
              <b-overlay
          :show="busy"
          rounded
          opacity="0.85"
          spinner-small
          spinner-variant="primary"
          class="d-inline-block"
        >
            <b-button type="submit" class="btn btn-ui bg-ui-verde">Registrar</b-button>
        </b-overlay>
        </div>

        </form>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
export default {
  mounted() {
    this.getLote();
  },
  props: {
    loteId: Number,
  },
  data() {
    return {
      deadChicksObject: {
        deadChicksQuantity: 0,
        description: null,
      },
      dropzoneOptions: {
        url: "/api/lote/dead-eggs",
        headers: {
          "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]")
            .content,
        },
        humbnailWidth: 200,
        addRemoveLinks: true,
        dictRemoveFile: "Eliminar",
        dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>ARRASTRA AQUÍ",
        autoProcessQueue: false,
      },
      dead_chick_id: null,
      lotePosturas: [],
      busy: false
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
  },
  components: {
    vueDropzone: vue2Dropzone,
  },
  methods: {
    getLote() {
      axios.get(`/api/lote/${this.loteId}`).then((response) => {
        this.lotePosturas = response.data;
        for(let i = 0; i < this.lotePosturas.length; i++){
            this.$set(this.lotePosturas[i], 'quantity', null);
        }
      });
    },
    onFormSubmit() {
      for (let i = 0; i < this.$refs.myDropzone.length; i++) {
        this.$refs.myDropzone[i].processQueue();
      }
    },
    sendingEvent(file, xhr, formData, paraaa) {
      //   formData.append("lote_id", this.loteId);
      formData.append("quantity", paraaa.quantity);
      formData.append("lote_postura_id", paraaa.lote_postura_id);
    },
    saveDeadEggs() {
        this.busy = true
      axios
        .post("/api/lote/calculate-dead-chicks", {
          lote_posturas: this.lotePosturas
        })
        .then((response) => {
          //this.dead_chick_id = response.data[0].dead_chick_id;
          this.onFormSubmit();
        });
    },
    completed(response){
        this.busy = false
        swal.fire({
                        icon: 'success',
                        title: 'Evidencias cargadas!',
                        text: 'Evidencias de pollos muertos cargadas correctamente!'
                    })
    }
  },
};
</script>

<style>
</style>
