<template>
  <div>
    <b-form @submit.prevent="task?onUpdate():onSubmit()" @reset="onReset" v-if="show">
      <b-form-group id="input-group-2" label="Regla" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="taskObject.task"
          placeholder="Ingresa la regla"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Día" label-for="input-3">
          <b-form-input
          type="number"
          id="input-3"
          v-model="taskObject.day"
          placeholder="Día"
          required
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">{{task?'Actualizar':'Guardar'}}</b-button>
      <b-button type="reset" variant="danger">Resetear</b-button>
    </b-form>
  </div>
</template>

<script>
  export default {
      mounted(){
          if(this.task){
              this.taskObject.task = this.task.task
              this.taskObject.day = this.task.day
          }
      },
      props:{
          task: Object
      },
    data() {
      return {
          taskObject:{
              task: null,
              day: null
          },
        show: true
      }
    },
    computed:{
        currentUser(){
            return this.$store.getters.currentUser;
        }
    },
    methods: {
      onSubmit(event) {
        axios.post('/api/task/save', {
            task: this.taskObject.task,
            day: this.taskObject.day,
            module: 1,
            created_by: this.currentUser.user_id
        }).then(response=>{
            swal.fire({
                        icon: 'success',
                        title: '¡Tarea completada!',
                        text: 'La tarea se ha realizado con éxito!'
                    }).then((result) => {
                        if(result){
                           this.$emit('close', true)
                        }
                    });
        })
      },
      onUpdate(){
        axios.post('/api/task/update', {
            task: this.taskObject.task,
            day: this.taskObject.day,
            task_id: this.task.id
        }).then(response=>{
            swal.fire({
                        icon: 'success',
                        title: '¡Tarea actualizada!',
                        text: 'La tarea se ha actualizado con éxito!'
                    }).then((result) => {
                        if(result){
                           this.$emit('close', true)
                        }
                    });
        })
      },
      onReset(event) {
        event.preventDefault()
        // Reset our form values
        this.taskObject.task = ''
        this.taskObject.day = ''
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  }
</script>
