<template>
  <div class="m-3">
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="row">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Lote</th>
                <th scope="col">Madrilla</th>
                <th scope="col">Padrillo</th>
                <th scope="col">Huevos</th>
                <th scope="col">Infértiles</th>
                <th scope="col">Vivos</th>
                <th scope="col">Muertos</th>
                <th scope="col">Cintillo</th>
              </thead>
              <tbody>
                <tr v-if="loading">
                  <td colspan="11" class="text-center"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr v-for="detail in arrayLoteDetail" :key="detail.id">
                    <td data-label="Lote">
                      {{ detail.code }}
                    </td>
                    <td data-label="Madrilla">
                      <span>
                        {{ detail.madrilla_alias }}
                      </span>
                      <br />

                      <span class="badge bg-secondary text-white pr-3 pl-3">{{
                        detail.placa_madrilla
                      }}</span>
                    </td>
                    <td data-label="Padrillo">
                      <span>
                        {{ detail.padrillo_alias }}
                      </span>
                      <br />

                      <span class="badge bg-secondary text-white pr-3 pl-3">{{
                        detail.placa_padrillo
                      }}</span>
                    </td>
                    <td data-label="# Huevos">
                      {{ detail.quantity_eggs }}
                    </td>
                    <td data-label="# Huevos infértiles">
                      {{ detail.quantity_infertile_eggs }}
                    </td>
                    <td data-label="# Pollos vivos">
                      {{ detail.quantity_born_eggs }}
                    </td>
                    <td data-label="# Pollos muertos">
                      {{ detail.quantity_dead_eggs }}
                    </td>
                    <td
                      data-label="Cintillo"
                      class="d-flex align-items-center justify-content-center"
                    >
                      <template v-if="detail.cintillo_color">
                        <span class="mr-2"
                          >{{ detail.chickenleg_description }}
                          {{ detail.cintillo_description }}
                        </span>
                        <span class="fa-squaress"
                          ><i
                            class="fas fa-square"
                            :style="`color: ${detail.cintillo_color}; font-size: 30px; text-shadow: 0 0 3px #000;`"
                          ></i
                        ></span>
                      </template>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.getLoteDetail();
  },
  props: {
    loteId: Number,
  },
  data() {
    return {
      arrayLoteDetail: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      loading: false,
      arrayLoteDetalle: [],
      openPosturasModel: false,
    };
  },
  methods: {
    getLoteDetail(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/lote/get-detail", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          lote_id: this.loteId,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayLoteDetail = response.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/lote/get-detail?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          lote_id: this.loteId,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayLoteDetail = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      axios
        .post("/api/lote/get-detail?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          lote_id: this.loteId,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayLoteDetail = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getLoteDetail(null, null);
    },
  },
};
</script>

<style>
</style>
