<template>
  <div>
    <validation-observer v-slot="{ invalid }">
      <div class="row position-relative">
        <div class="col-md-4">
          <label for="dateInput">Fecha del lote</label>
          <input
            type="date"
            class="form-control"
            id="dateInput"
            v-model="loteObject.date"
            disabled
            style="border-radius: 20px; border-width: 1px; border-color: black"
          />
        </div>
        <div class="col-md-4" v-if="incubacionMethod == 'natural'">
          <label for="dateInput">Nodriza</label>
          <select
            class="form-control"
            aria-label="Default select example"
            v-model="loteObject.placa_madrilla"
            disabled
            style="border-radius: 20px; border-width: 1px; border-color: black"
          >
            <option :value="null"></option>
            <option
              v-for="madrilla in arrayMadrillas"
              :key="madrilla.id"
              :value="madrilla.plate"
            >
              {{ madrilla.alias }} / ({{ madrilla.plate }})
            </option>
          </select>
        </div>
        <!-- <div class="col-md-4">
          <label for="numberInput">Total de huevos infértiles</label>
          <input
            type="number"
            disabled
            v-model="totalEggs"
            id="numberInput"
            class="form-control"
            style="border-radius: 20px; border-width: 1px; border-color: black"
          />
        </div> -->
      </div>
      <hr />
      <div class="card">
        <div class="card-body">
          <label>Método</label><br />
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              id="chkArtificial"
              value="artificial"
              v-model="incubacionMethod"
              disabled
              style="
                border-radius: 20px;
                border-width: 1px;
                border-color: black;
              "
            />
            <label class="form-check-label text-dark" for="chkArtificial">
              Artificial
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              id="chkNatural"
              value="natural"
              v-model="incubacionMethod"
              disabled
              style="
                border-radius: 20px;
                border-width: 1px;
                border-color: black;
              "
            />
            <label class="form-check-label text-dark" for="chkNatural">
              Natural
            </label>
          </div>
        </div>
      </div>
      <div class="row align-self-start mt-3">
        <div class="col-md-12">
          <div v-for="postura in arrayPosturasLote" :key="postura.id">
            <div class="row align-items-center">
              <div class="col-md-4 col-lg-3">
                <label>Madrilla</label>
                <input
                  type="text"
                  class="form-control"
                  disabled
                  style="
                    border-radius: 20px;
                    border-width: 1px;
                    border-color: black;
                  "
                  :value="
                    postura.madrilla_alias + ' / ' + postura.placa_madrilla
                  "
                />
              </div>
              <div class="col-md-3">
                <label>Padrillo</label>
                <input
                  type="text"
                  class="form-control"
                  disabled
                  style="
                    border-radius: 20px;
                    border-width: 1px;
                    border-color: black;
                  "
                  :value="
                    postura.padrillo_alias + ' / ' + postura.placa_padrillo
                  "
                />
              </div>
              <div class="col-md-3">
                  <label for="inputPassword">Cintillo</label><br />
                <template v-if="postura.cintillo_color">
                  <div
                    class="d-flex align-items-center justify-content-around p-1"
                    style="
                      -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                      box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                      border-radius: 20px;
                    "
                  >
                    <span
                      >{{ postura.chickenleg_description }}
                      {{ postura.cintillo_description }}
                    </span>
                    <span class="fa-squaress"
                      ><i
                        class="fas fa-square"
                        :style="`color: ${postura.cintillo_color}; font-size: 30px; text-shadow: 0 0 3px #000;`"
                      ></i
                    ></span>
                  </div>
                  <span
                    :class="[
                      'badge',
                      'bg-danger',
                      'text-white',
                      'pr-3',
                      'pl-3',
                    ]"
                    v-if="postura.cintillo_pata_postura_number == 2"
                    >LIBERADO</span
                  >
                  <span
                    :class="[
                      'badge',
                      'bg-success',
                      'text-white',
                      'pr-3',
                      'pl-3',
                    ]"
                    v-else
                    >COLOCADO</span
                  >
                </template>
              </div>
              <!-- <div class="col-md-2 col-lg-3" v-if="postura.total_eggs">
                <label for="remainingEggsInput">Pollos vivos</label>
                <input
                  type="text"
                  class="form-control"
                  disabled
                  id="remainingEggsInput"
                  v-model="postura.number_alive_eggs"
                  style="
                    border-radius: 20px;
                    border-width: 1px;
                    border-color: black;
                  "
                />
              </div> -->
            </div>
            <br />
            <h5 class="title-module">Cintillo en ala</h5>
            <div class="row align-self-start text-center">
              <div
                v-for="(chicken, index) in postura.cintillos_alas"
                :key="chicken.id"
                class="col-md-6"
              >
                <div class="row align-items-center">
                  <div class="col-md-6 col-lg-6">
                    <label>Cintillo ala</label>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <span class="mr-4">{{ index + 1 }}.</span>
                      <validation-provider rules="required" v-slot="{ errors }">
                        <b-form-input
                          v-model="chicken.cintillo_ala"
                          type="text"
                          style="
                            border-radius: 20px;
                            border-width: 1px;
                            border-color: black;
                          "
                          :disabled="isDisabled"
                          @change="validateCintilloAla(chicken)"
                        ></b-form-input>
                        <span class="text-danger">{{ errors[0] }}</span>
                      </validation-provider>
                    </div>
                    <span v-if="chicken.error" class="text-danger">{{
                      chicken.error
                    }}</span>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <label>Elige el género</label>
                    <validation-provider rules="required" v-slot="{ errors }">
                      <select
                        class="form-control"
                        aria-label="Default select example"
                        v-model="chicken.gender"
                        style="
                          border-radius: 20px;
                          border-color: black;
                          border-width: 1px;
                        "
                        :disabled="isDisabled"
                      >
                        <option value="1">Macho</option>
                        <option value="2">Hembra</option>
                        <option value="3">Sin Identificar</option>
                      </select>
                      <span class="text-danger">{{ errors[0] }}</span>
                    </validation-provider>
                  </div>
                </div>
                <hr />
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <!-- v-if="loteStatus == 2 || loteStatus == 3" -->
        <div class="d-flex justify-content-center mt-5">
          <b-overlay
            :show="busy"
            rounded
            opacity="0.85"
            spinner-small
            spinner-variant="primary"
            class="d-inline-block"
          >
            <!-- <button
            class="btn btn-ui btn-info text-light mr-2"
            role="button"
            type="button"
            @click="insertLote(11)"
          >
            Guardar infértiles <i class="fas fa-save"></i>
          </button> -->
            <div class="d-flex flex-column">
              <span class="text-danger" v-if="invalid"
                >Debes llenar todos los campos para confirmar</span
              >
              <button
                class="btn btn-ui btn-success text-light"
                @click="insertLote(12)"
                :disabled="invalid"
                v-if="loteStatus == 11"
              >
                Confirmar cintillos <i class="fas fa-check"></i>
              </button>
            </div>
          </b-overlay>
        </div>
      </div>
    </validation-observer>
    <b-overlay
      :show="show"
      rounded="sm"
      variant="light"
      spinner-variant="dark"
      opacity="1.00"
    >
    </b-overlay>
  </div>
</template>

<script>
import moment from "moment";
export default {
  mounted() {

    this.getMadrillasByProcessingPosturas();
    this.getNodrizas();
    this.getLote();
  },
  data() {
    return {
      arrayMadrillasByProcessingPosturas: [],
      loteObject: {
        placa_madrilla: null,
        date: null,
        created_by: null,
      },
      arrayMadrillas: [],
      incubacionMethod: false,
      arrayPosturasLote: [],
      loteStatus: null,
      busy: false,
      show: false,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    totalEggs() {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturasLote.length; i++) {
        sum += parseFloat(this.arrayPosturasLote[i].number_infertile_eggs);
      }
      return sum;
    },
    isDisabled() {
      if (this.loteStatus != 12) {
        return false;
      } else {
        return true;
      }
    },
    isEncastador() {
      return this.currentUser ? this.currentUser.role_id == 6 : false;
    },
    amountLoteNotifications() {
      return this.$store.getters.amountLoteNotifications;
    },
  },
  methods: {
    getLote() {
      this.show = true;
      axios.get(`/api/lote/${this.$route.params.lote_id}`).then((response) => {
        this.arrayPosturasLote = response.data;
        this.loteObject.date = this.arrayPosturasLote[0].date_lote;
        this.loteObject.placa_madrilla = this.arrayPosturasLote[0].madrilla_incubadora;
        this.incubacionMethod = this.arrayPosturasLote[0].madrilla_incubadora
          ? "natural"
          : "artificial";
        this.loteStatus = this.arrayPosturasLote[0].lote_status;
        console.log(this.loteStatus, '122');
        for (let i = 0; i < this.arrayPosturasLote.length; i++) {
          if (!this.arrayPosturasLote[i].cintillos_alas) {
            this.$set(this.arrayPosturasLote[i], "cintillos_alas", []);
            for (
                let k = 0;
                k < this.arrayPosturasLote[i].number_alive_eggs;
                k++
            ) {
                let chick = {
                cintillo_ala: null,
                gender: null,
                id: new Date().getUTCMilliseconds() + Math.random() * 10000000000,
                };
                this.arrayPosturasLote[i].cintillos_alas.push(chick);
            }
          }else{}

        }

        this.show = false;
      });
    },
    insertLote(estado) {
        console.log(this.arrayPosturasLote, 'lote');
        let counter = 0;
      for (let i = 0; i < this.arrayPosturasLote.length; i++) {
        for (
          let k = 0;
          k < this.arrayPosturasLote[i].cintillos_alas.length;
          k++
        ) {
          if (
            !this.arrayPosturasLote[i].cintillos_alas[k].cintillo_ala ||
            !this.arrayPosturasLote[i].cintillos_alas[k].gender
          ) {
            counter = counter + 1;
          }
        }
      }
      if (estado == 11) {
        this.busy = true;
        let obj = {
          created_by: this.currentUser.user_id,
          total_eggs: this.totalEggs,
          lote_id: this.$route.params.lote_id,
          infertile_revision_date: null,
        };
        axios
          .post("/api/lote/alas", {
            lote: obj,
            posturas: this.arrayPosturasLote,
            status: estado,
          })
          .then((response) => {
            swal
              .fire({
                icon: "success",
                title: "Revisión guardada",
                text: "El borrador de esta revisión ha sido guardada",
              })
              .then((result) => {
                this.$router.push("/main/reproduccion/sacar-crias");
              });
            this.busy = false;
          });
      } else if (estado == 12) {
        if (counter <= 0) {
          this.busy = true;
          let obj = {
            created_by: this.currentUser.user_id,
            total_eggs: this.totalEggs,
            lote_id: this.$route.params.lote_id,
            infertile_revision_date: null,
          };
          axios
            .post("/api/lote/alas", {
              lote: obj,
              posturas: this.arrayPosturasLote,
              status: estado,
            })
            .then((response) => {
              if (estado == 11) {
                swal
                  .fire({
                    icon: "success",
                    title: "Revisión guardada",
                    text: "El borrador de esta revisión ha sido guardada",
                  })
                  .then((result) => {
                    this.$router.push("/main/reproduccion/sacar-crias");
                  });
              } else if (estado == 12) {
                swal
                  .fire({
                    icon: "success",
                    title: "Revisión confirmada",
                    text: "Esta revisión ya no podrá ser editada",
                  })
                  .then((result) => {
                    this.$store.dispatch(
                      "updateAmountLoteNotifications",
                      this.amountLoteNotifications - 1
                    );
                    this.$router.push("/main/reproduccion/sacar-crias");
                  });
              }
              this.busy = false;
            });
        } else {
          swal.fire({
            icon: "error",
            title: "Campos inválidos",
            text: "Para confirmar esta revisión debes llenar todos los campos",
          });
        }
      }
    },
    getMadrillasByProcessingPosturas() {
      axios.get("/api/postura/processing-madrillas").then((response) => {
        this.arrayMadrillasByProcessingPosturas = response.data;
      });
    },
    onChange(postura) {
      for (let i = 0; i < this.arrayMadrillasByProcessingPosturas.length; i++) {
        if (
          postura.placa_madrilla ==
          this.arrayMadrillasByProcessingPosturas[i].plate
        ) {
          if (postura.number_infertile_eggs > postura.total_eggs) {
            swal
              .fire({
                icon: "error",
                title: "Cantidad incorrecta",
                text:
                  "La cantidad de huevos no puede ser mayor a la de los huevos en el lote",
              })
              .then((result) => {
                postura.number_infertile_eggs = postura.total_eggs;
                postura.number_eggs = this.arrayMadrillasByProcessingPosturas[
                  i
                ].remaining_eggs;
              });
          }
        }
      }
    },
    getNodrizas() {
      axios.get("/api/postura/nodrizas").then((response) => {
        this.arrayMadrillas = response.data;
      });
    },
    decreaseNumberEggs(postura) {
      postura.number_infertile_eggs = Number(postura.number_infertile_eggs) - 1;
      this.onChange(postura);
    },
    increaseNumberEggs(postura) {
      postura.number_infertile_eggs = Number(postura.number_infertile_eggs) + 1;
      this.onChange(postura);
    },
    validateCintilloAla(chicken) {
        if(chicken.cintillo_ala == ''){
            this.$set(chicken, "error", null);
        }else{
            this.$set(chicken, "error", null);
            let counter = 0;
            this.arrayPosturasLote.forEach((postura) => {
                postura.cintillos_alas.forEach((chick) => {
                if (chicken.cintillo_ala == chick.cintillo_ala) {
                    counter = counter + 1;
                }
                });
            });
            if (counter > 1) {
                this.$set(chicken, "error", "Este cintillo en el ala ya está en uso");
            } else {
                this.$set(chicken, "error", null);
                axios
                .post("/api/chick/validate", {
                    cintillo_ala: chicken.cintillo_ala,
                })
                .then((response) => {
                    let chickens = [];
                    chickens = response.data;
                    if (chickens.length > 0) {
                    this.$set(
                        chicken,
                        "error",
                        "Este cintillo en el ala ya está usado"
                    );
                    } else {
                    this.$set(chicken, "error", null);
                    }
                });
            }
        }

    },
  },
  watch: {
    currentUser() {
      if (!this.isEncastador) {
        this.$router.push("/main/reproduccion/sacar-crias");
      }
    },
    "$route.params.lote_id"() {
      this.getMadrillasByProcessingPosturas();
      this.getNodrizas();
      this.getLote();
    },
  },
};
</script>

<style scoped>
.radius-border {
  border-radius: 20px !important;
}
</style>
