<template>
  <div>
    <div class="row position-relative">
      <div class="col-md-4">
        <label for="dateInput">Fecha del lote</label>
        <input
          type="date"
          class="form-control"
          id="dateInput"
          v-model="loteObject.date"
          disabled
          style="border-radius: 20px; border-width: 1px; border-color: black"
        />
      </div>
      <div class="col-md-4" v-if="incubacionMethod == 'natural'">
        <label for="dateInput">Nodriza</label>
        <select
          class="form-control"
          aria-label="Default select example"
          v-model="loteObject.placa_madrilla"
          disabled
          style="border-radius: 20px; border-width: 1px; border-color: black"
        >
          <option :value="null"></option>
          <option
            v-for="madrilla in arrayMadrillas"
            :key="madrilla.id"
            :value="madrilla.plate"
          >
            {{ madrilla.alias }} / ({{ madrilla.plate }})
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="numberInput">Total de huevos infértiles</label>
        <input
          type="number"
          disabled
          v-model="totalEggs"
          id="numberInput"
          class="form-control text-center"
          style="border-radius: 20px; border-width: 1px; border-color: black"
        />
      </div>
    </div>
    <hr />
    <div class="card">
      <div class="card-body">
        <label>Método</label><br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="chkArtificial"
            value="artificial"
            v-model="incubacionMethod"
            disabled
            style="border-radius: 20px; border-width: 1px; border-color: black"
          />
          <label class="form-check-label text-dark" for="chkArtificial">
            Artificial
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="chkNatural"
            value="natural"
            v-model="incubacionMethod"
            disabled
            style="border-radius: 20px; border-width: 1px; border-color: black"
          />
          <label class="form-check-label text-dark" for="chkNatural">
            Natural
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <label>Elige una postura</label><br />
          <multiselect
            :id="'selectmulti'"
            v-model="selectedPostura"
            placeholder="Elige una madrilla"
            label="title"
            :ref="'combinationmulti'"
            track-by="id"
            :options="arrayPosturas"
            :option-height="104"
            :custom-label="customLabel"
            :show-labels="false"
          >
            <!-- <template slot="singleLabel" slot-scope="props"
                    ><span class="option__desc"
                        ><span class="option__title"
                        ><span>
                            {{ props.option.madrilla_alias }} / ({{
                            props.option.placa_madrilla
                            }}) - Postura ({{ props.option.id }})
                        </span>
                        </span></span
                    ></template
                    > -->
            <template slot="option" slot-scope="props">
              <div class="option__desc">
                <span>
                  <!-- {{ props.option.chickenleg_description }} -->

                  {{ props.option.madrilla_alias }} / ({{
                    props.option.placa_madrilla
                  }}) - Postura ({{ props.option.postura_id }})
                </span>
              </div>
            </template>
          </multiselect>
    </div>
    <div class="row align-self-start mt-3">
      <div class="col-md-12">
        <div v-for="(postura, index) in arrayPosturasLote" :key="postura.id">
          <div class="row align-items-center">
            <div class="col-md-4 col-lg-3">
              <label>Madrilla</label>
              <input
                type="text"
                class="form-control"
                disabled
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                :value="postura.madrilla_alias + ' / ' + postura.placa_madrilla"
              />
            </div>
            <div class="col-md-3">
              <label>Padrillo</label>
              <input
                type="text"
                class="form-control"
                disabled
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                :value="postura.padrillo_alias + ' / ' + postura.placa_padrillo"
              />
            </div>
            <div class="col-md-2 col-lg-2" v-if="postura.total_eggs">
              <label for="remainingEggsInput">Huevos disponibles</label>
              <input
                type="text"
                class="form-control text-center"
                disabled
                id="remainingEggsInput"
                v-model="postura.total_eggs"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
              />
            </div>
            <div class="col-md-2">
              <label>Huevos infertiles</label>
              <b-input-group>
                <template #prepend>
                  <b-button
                    variant="danger"
                    @click="decreaseNumberEggs(postura)"
                    style="
                      border-top-left-radius: 20px;
                      border-bottom-left-radius: 20px;
                      border-width: 1px;
                    "
                    v-if="!isDisabled"
                    >-</b-button
                  >
                </template>
                <b-form-input
                  v-model="postura.number_infertile_eggs"
                  :class="['text-center', isDisabled ? 'radius-border' : '']"
                  style="border-width: 1px; border-color: black"
                  @input="onChange(postura)"
                  :disabled="isDisabled"
                ></b-form-input>

                <template #append>
                  <b-button
                    variant="success"
                    @click="increaseNumberEggs(postura)"
                    style="
                      border-top-right-radius: 20px;
                      border-bottom-right-radius: 20px;
                      border-width: 1px;
                    "
                    v-if="!isDisabled"
                    >+</b-button
                  >
                </template>
              </b-input-group>
            </div>
            <div class="col-md-2">
              <img
                src="/images/buttons/delete.png"
                class="clickable"
                alt=""
                @click="deletePostura(index, postura)"
              />
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
    <div
      class="d-flex justify-content-center mt-5"
      v-if="loteStatus == 2 || loteStatus == 3"
    >
      <div class="d-flex justify-content-center mt-5">
        <b-overlay
          :show="busy"
          rounded
          opacity="0.85"
          spinner-small
          spinner-variant="primary"
          class="d-inline-block"
        >
          <!-- <button class="btn btn-ui btn-info text-light mr-2" @click="insertLote(3)">
        Guardar infértiles <i class="fas fa-save"></i>
      </button> -->
          <button
            class="btn btn-ui btn-success text-light"
            @click="insertLote(10)"
          >
            Confirmar infértiles <i class="fas fa-check"></i>
          </button>
        </b-overlay>
      </div>
    </div>
    <b-overlay
      :show="show"
      rounded="sm"
      variant="light"
      spinner-variant="dark"
      opacity="1.00"
    >
    </b-overlay>
  </div>
</template>

<script>
import moment from "moment";
import Multiselect from "vue-multiselect";
export default {
  mounted() {
    this.getMadrillasByProcessingPosturas();
    this.getNodrizas();
    this.getLote();
  },
  data() {
    return {
      arrayMadrillasByProcessingPosturas: [],
      loteObject: {
        placa_madrilla: null,
        date: null,
        created_by: null,
      },
      arrayMadrillas: [],
      incubacionMethod: false,
      arrayPosturasLote: [],
      loteStatus: null,
      busy: false,
      show: false,
      selectedPostura: null,
      arrayPosturas: [],
    };
  },
  components: {
    Multiselect,
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    totalEggs() {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturasLote.length; i++) {
        sum += parseFloat(this.arrayPosturasLote[i].number_infertile_eggs);
      }
      return sum;
    },
    isDisabled() {
      if (this.loteStatus != 2 && this.loteStatus != 3) {
        return true;
      } else {
        return false;
      }
    },
    isEncastador() {
      return this.currentUser ? this.currentUser.role_id == 6 : false;
    },
    amountLoteNotifications() {
      return this.$store.getters.amountLoteNotifications;
    },
  },
  methods: {
    deletePostura(index, postura) {
      this.arrayPosturasLote.splice(index, 1);
      this.arrayPosturas.push(postura);
    },
    customLabel({ madrilla_alias, placa_madrilla, postura_id }) {
      return `${madrilla_alias} / (${placa_madrilla}) - Postura (${postura_id})`;
    },
    getLote() {
      this.show = true;
      axios.get(`/api/lote/${this.$route.params.lote_id}`).then((response) => {
        this.arrayPosturas = response.data;
        this.loteObject.date = response.data[0].date_lote;
        this.loteObject.placa_madrilla = response.data[0].madrilla_incubadora;
        this.incubacionMethod = response.data[0].madrilla_incubadora
          ? "natural"
          : "artificial";
        this.loteStatus = response.data[0].lote_status;
        // for (let i = 0; i < this.arrayPosturasLote.length; i++) {
        //   if (!this.arrayPosturasLote[i].number_infertile_eggs) {
        //     this.$set(this.arrayPosturasLote[i], "number_infertile_eggs", 0);
        //   }
        // }
        this.show = false;
      });
    },
    insertLote(estado) {
      this.busy = true;
      let obj = {
        created_by: this.currentUser.user_id,
        total_eggs: this.totalEggs,
        lote_id: this.$route.params.lote_id,
        infertile_revision_date: null,
      };
      axios
        .post("/api/lote/infertiles", {
          lote: obj,
          posturas: this.arrayPosturasLote,
          status: estado,
        })
        .then((response) => {
          if (estado == 3) {
            swal
              .fire({
                icon: "success",
                title: "Revisión guardada",
                text: "El borrador de esta revisión ha sido guardada",
              })
              .then((result) => {
                this.$router.push("/main/reproduccion/sacar-crias");
              });
          } else if (estado == 10) {
            swal
              .fire({
                icon: "success",
                title: "Revisión confirmada",
                text: "Esta revisión ya no podrá ser editada",
              })
              .then((result) => {
                this.$store.dispatch(
                  "updateAmountLoteNotifications",
                  this.amountLoteNotifications - 1
                );
                this.$router.push("/main/reproduccion/sacar-crias");
              });
          }
          this.busy = false;
        });
    },
    getMadrillasByProcessingPosturas() {
      axios.get("/api/postura/processing-madrillas").then((response) => {
        this.arrayMadrillasByProcessingPosturas = response.data;
        console.log(this.arrayMadrillasByProcessingPosturas);
      });
    },
    onChange(postura) {
      for (let i = 0; i < this.arrayMadrillasByProcessingPosturas.length; i++) {
        if (
          postura.placa_madrilla ==
          this.arrayMadrillasByProcessingPosturas[i].plate
        ) {
          if (postura.number_infertile_eggs > postura.total_eggs) {
            swal
              .fire({
                icon: "error",
                title: "Cantidad incorrecta",
                text: "La cantidad de huevos no puede ser mayor a la de los huevos en el lote",
              })
              .then((result) => {
                postura.number_infertile_eggs = postura.total_eggs;
                postura.number_eggs =
                  this.arrayMadrillasByProcessingPosturas[i].remaining_eggs;
              });
          }
        }
      }
    },
    getNodrizas() {
      axios.get("/api/postura/nodrizas").then((response) => {
        this.arrayMadrillas = response.data;
      });
    },
    decreaseNumberEggs(postura) {
      postura.number_infertile_eggs = Number(postura.number_infertile_eggs) - 1;
      this.onChange(postura);
    },
    increaseNumberEggs(postura) {
      postura.number_infertile_eggs = Number(postura.number_infertile_eggs) + 1;
      this.onChange(postura);
    },
  },
  watch: {
    currentUser() {
      if (!this.isEncastador) {
        this.$router.push("/main/reproduccion/sacar-crias");
      }
    },
    "$route.params.lote_id"() {
      this.getMadrillasByProcessingPosturas();
      this.getNodrizas();
      this.getLote();
    },
    selectedPostura(newVal, oldVal) {
      console.log(newVal, "postura");
      if (newVal) {
        newVal.number_infertile_eggs = 0;
        this.arrayPosturasLote.push(newVal);
        for (let i = 0; i < this.arrayPosturas.length; i++) {
          if (this.arrayPosturas[i].lote_postura_id == newVal.lote_postura_id) {
            this.arrayPosturas.splice(i, 1);
            this.selectedPostura = null
          }
        }
      }
    },
  },
};
</script>

<style scoped>
.radius-border {
  border-radius: 20px !important;
}
</style>
