<template>
  <div>
    <div class="row position-relative">
      <div class="col-md-4">
        <label for="dateInput">Fecha del lote</label>
        <input
          type="date"
          class="form-control"
          id="dateInput"
          v-model="loteObject.date"
          disabled
          style="border-radius: 20px; border-width: 1px; border-color: black"
        />
      </div>
      <div class="col-md-4" v-if="incubacionMethod == 'natural'">
        <label for="dateInput">Nodriza</label>
        <select
          class="form-control"
          aria-label="Default select example"
          v-model="loteObject.placa_madrilla"
          disabled
          style="border-radius: 20px; border-width: 1px; border-color: black"
        >
          <option :value="null"></option>
          <option
            v-for="madrilla in arrayMadrillas"
            :key="madrilla.id"
            :value="madrilla.plate"
          >
            {{ madrilla.alias }} / ({{ madrilla.plate }})
          </option>
        </select>
      </div>
      <div class="col-md-3 col-lg-2">
        <label for="numberInput">Total pollos vivos</label>
        <input
          type="number"
          disabled
          v-model="totalAliveEggs"
          id="numberInput"
          class="form-control text-center"
          style="border-radius: 20px; border-width: 1px; border-color: black"
        />
      </div>
      <div class="col-md-3 col-lg-2">
        <label for="numberInput">Total pollos muertos</label>
        <input
          type="number"
          disabled
          v-model="totalDeadEggs"
          id="numberInput"
          class="form-control text-center"
          style="border-radius: 20px; border-width: 1px; border-color: black"
        />
      </div>
    </div>
    <hr />
    <div class="card">
      <div class="card-body">
        <label>Método</label><br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="chkArtificial"
            value="artificial"
            v-model="incubacionMethod"
            disabled
            style="border-radius: 20px; border-width: 1px; border-color: black"
          />
          <label class="form-check-label text-dark" for="chkArtificial">
            Artificial
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="chkNatural"
            value="natural"
            v-model="incubacionMethod"
            disabled
            style="border-radius: 20px; border-width: 1px; border-color: black"
          />
          <label class="form-check-label text-dark" for="chkNatural">
            Natural
          </label>
        </div>
      </div>
    </div>
    <div class="row align-self-start mt-3">
      <div class="col-md-12">
        <div
          v-for="postura in arrayPosturasLote"
          :key="postura.id"
          class="card"
        >
          <div class="row align-items-center card-body">
            <div class="col-md-4">
              <label>Madrilla</label>
              <!-- <select
                class="form-control"
                aria-label="Default select example"
                v-model="postura.placa_madrilla"
                disabled
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
              >
                <option :value="null"></option>
                <option
                  v-for="madrilla in arrayMadrillasByProcessingPosturas"
                  :key="madrilla.id"
                  :value="madrilla.plate"
                >
                  {{ madrilla.alias }} / ({{ madrilla.plate }})
                </option>
              </select> -->
              <input
                type="text"
                class="form-control"
                disabled
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                :value="postura.madrilla_alias + ' / ' + postura.placa_madrilla"
              />
              <!-- <span class="text-danger" v-if="postura.error">{{postura.error}}</span>-->
            </div>
            <div class="col-md-2">
              <label>Padrillo</label>
              <input
                type="text"
                class="form-control"
                disabled
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                :value="postura.padrillo_alias + ' / ' + postura.placa_padrillo"
              />
            </div>
            <div class="col-md-3" v-if="postura.total_minus_infertile_eggs">
              <label for="remainingEggsInput">Huevos disponibles</label>
              <input
                type="text"
                class="form-control text-center"
                disabled
                id="remainingEggsInput"
                v-model="postura.total_minus_infertile_eggs"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
              />
            </div>
            <div class="col-md-3">
              <label>Pollos vivos</label>
              <!-- <input
                type="number"
                v-model="postura.number_alive_eggs"
                class="form-control"
                @input="onChange(postura)"
                :disabled="!isNotDisabled"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
              /> -->

              <b-input-group>
                <template #prepend>
                  <b-button
                    variant="danger"
                    @click="decreaseNumberEggs(postura)"
                    style="
                      border-top-left-radius: 20px;
                      border-bottom-left-radius: 20px;
                      border-width: 1px;
                    "
                    v-if="isNotDisabled"
                    >-</b-button
                  >
                </template>
                <b-form-input
                  v-model="postura.number_alive_eggs"
                  :class="[
                    'text-center',
                    !isNotDisabled ? 'radius-border' : '',
                  ]"
                  style="border-width: 1px; border-color: black"
                  @input="onChange(postura)"
                  :disabled="!isNotDisabled"
                ></b-form-input>

                <template #append>
                  <b-button
                    variant="success"
                    @click="increaseNumberEggs(postura)"
                    style="
                      border-top-right-radius: 20px;
                      border-bottom-right-radius: 20px;
                      border-width: 1px;
                    "
                    v-if="isNotDisabled"
                    >+</b-button
                  >
                </template>
              </b-input-group>
            </div>
            <div class="col-md-3">
              <label>Pollos muertos</label>
              <input
                type="number"
                v-model="postura.number_dead_eggs"
                class="form-control text-center"
                disabled
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
              />
            </div>
          </div>
          <div class="row">
            <div
              class="col-md-12 d-flex justify-content-center align-items-center"
            >
              <div class="card">
                <div
                  class="
                    d-flex
                    justify-content-center
                    align-items-center
                    card-body
                  "
                >
                  <span><strong>Cintillo:</strong></span>
                  <span class="ml-3"
                    >{{
                      postura.combination
                        ? postura.combination.chickenleg_description
                        : "Sin"
                    }}
                    {{
                      postura.combination
                        ? postura.combination.color_description
                        : "Color"
                    }}</span
                  >
                  <div class="p-2">
                    <span>{{
                      postura.combination
                        ? postura.combination.cintillo_description
                        : ""
                    }}</span>
                  </div>
                  <div class="mr-auto p-2">
                    <span class="fa-squaress"
                      ><i
                        class="fas fa-square"
                        v-if="postura.combination"
                        :style="`color: ${postura.combination.cintillo_color}; font-size: 30px; text-shadow: 0 0 3px #000;`"
                      ></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5" v-if="isNotDisabled">
      <b-overlay
        :show="busy"
        rounded
        opacity="0.85"
        spinner-small
        spinner-variant="primary"
        class="d-inline-block"
      >
        <button class="btn btn-ui btn-info mr-2" @click="insertLote(5)">
          Guardar pollos vivos <i class="fas fa-save"></i>
        </button>
        <button class="btn btn-ui btn-success" @click="insertLote(11)">
          Registrar pollos vivos <i class="fas fa-check"></i>
        </button>
      </b-overlay>
    </div>
    <b-overlay
      :show="show"
      rounded="sm"
      variant="light"
      spinner-variant="dark"
      opacity="1.00"
    >
    </b-overlay>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  mounted() {
    // this.getCintillos();
    this.getMadrillasByProcessingPosturas();
    this.getNodrizas();
    this.getLote();
    this.getChickenLegs();
  },
  data() {
    return {
      arrayMadrillasByProcessingPosturas: [],
      loteObject: {
        placa_madrilla: null,
        date: null,
        created_by: null,
        cintillo_id: null,
        chickenleg_id: null,
      },
      arrayMadrillas: [],
      incubacionMethod: false,
      arrayPosturasLote: [],
      loteStatus: false,
      arrayChickenLegs: [],
      arrayCintillos: [],
      selectedCintillo: {
        id: null,
        color: null,
      },
      freeCombinations: [],
      freeCombinationsPostura: [],
      combsToRegister: [],
      busy: false,
      busyTotally: false,
      show: false,
    };
  },
  components: {
    Multiselect,
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    totalAliveEggs() {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturasLote.length; i++) {
        sum += parseFloat(this.arrayPosturasLote[i].number_alive_eggs);
      }
      return sum;
    },
    totalDeadEggs() {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturasLote.length; i++) {
        sum += parseFloat(this.arrayPosturasLote[i].number_dead_eggs);
      }
      return sum;
    },
    isEncastador() {
      return this.currentUser ? this.currentUser.role_id == 6 : false;
    },
    amountLoteNotifications() {
      return this.$store.getters.amountLoteNotifications;
    },
    isNotDisabled() {
      if (this.loteStatus == 4 || this.loteStatus == 5) {
        return true;
      } else {
        return false;
      }
    },
  },
  methods: {
    getLote() {
      this.show = true;
      axios
        .get(`/api/lote/get-lote-vivos/${this.$route.params.lote_id}`)
        .then((response) => {
          this.arrayPosturasLote = response.data;
          this.loteObject.date = this.arrayPosturasLote[0].date_lote;
          this.loteObject.placa_madrilla =
            this.arrayPosturasLote[0].madrilla_incubadora;
          this.incubacionMethod = this.arrayPosturasLote[0].madrilla_incubadora
            ? "natural"
            : "artificial";
          this.loteStatus = this.arrayPosturasLote[0].lote_status;
          this.getFreeCombinations().then((response) => {
            this.getFreeCombinationsByPostura().then((response) => {
              this.setCombinationsToNewPosturas();
              for (let i = 0; i < this.arrayPosturasLote.length; i++) {
                if (!this.arrayPosturasLote[i].number_alive_eggs) {
                  this.$set(
                    this.arrayPosturasLote[i],
                    "number_alive_eggs",
                    this.arrayPosturasLote[i].total_minus_infertile_eggs
                  );
                }
                if (!this.arrayPosturasLote[i].number_dead_eggs) {
                  this.$set(this.arrayPosturasLote[i], "number_dead_eggs", 0);
                }
              }
              this.show = false;
            });
          });

          //console.log("posturas lote", this.arrayPosturasLote);
        });
    },
    insertLote(estado) {
      this.busy = true;
      let obj = {
        created_by: this.currentUser.user_id,
        total_alive_eggs: this.totalAliveEggs,
        total_dead_eggs: this.totalDeadEggs,
        lote_id: this.$route.params.lote_id,
        born_date: null,
      };
      axios
        .post("/api/lote/vivos", {
          lote: obj,
          posturas: this.arrayPosturasLote,
          status: estado,
        })
        .then((response) => {
          if (estado == 11) {
            this.$store.dispatch(
              "updateAmountLoteNotifications",
              this.amountLoteNotifications - 1
            );
            this.saveCombinations();
          }
          this.$router.push("/main/reproduccion/sacar-crias");
        });
    },
    getCintillos() {
      return axios.get("/api/lote/cintillos").then((response) => {
        this.arrayCintillos = response.data;
      });
    },
    getChickenLegs() {
      axios.get("/api/lote/chickenlegs").then((response) => {
        this.arrayChickenLegs = response.data;
      });
    },
    saveCombinations() {
        axios
          .post("/api/cintillo-pata/save-combinations", {
            combinations: this.combsToRegister,
          })
          .then((response) => {
            this.busy = false;
          });
    },
    getMadrillasByProcessingPosturas() {
      axios.get("/api/postura/processing-madrillas").then((response) => {
        this.arrayMadrillasByProcessingPosturas = response.data;
      });
    },
    onChange(postura) {
      this.setCombinationsToNewPosturasOnchange();
          if (Number(postura.number_alive_eggs) > postura.total_minus_infertile_eggs) {
            swal
              .fire({
                icon: "error",
                title: "Cantidad incorrecta",
                text: "La cantidad de huevos no puede ser mayor a la de los huevos en el lote",
              })
              .then((result) => {
                postura.number_alive_eggs = postura.total_minus_infertile_eggs;
                postura.number_dead_eggs =
                  postura.total_minus_infertile_eggs -
                  postura.number_alive_eggs;
              });
          } else {
            postura.number_dead_eggs =
              postura.total_minus_infertile_eggs - postura.number_alive_eggs;
          }
    },
    getNodrizas() {
      axios.get("/api/postura/nodrizas").then((response) => {
        this.arrayMadrillas = response.data;
      });
    },
    onChangeMultiSelect(postura) {
      if (postura.chickenleg_id && postura.cintillo_id) {
        let contador = 0;
        for (let i = 0; i < this.arrayPosturasLote.length; i++) {
          if (
            this.arrayPosturasLote[i].chickenleg_id &&
            this.arrayPosturasLote[i].cintillo_id
          ) {
            if (
              this.arrayPosturasLote[i].chickenleg_id ==
                postura.chickenleg_id &&
              this.arrayPosturasLote[i].cintillo_id.id == postura.cintillo_id.id
            ) {
              contador = contador + 1;
            }
          }
          if (contador > 1) {
            swal
              .fire({
                icon: "error",
                title: "Combinación duplicada",
                text: "Esta combinación ya está en uso",
              })
              .then((result) => {
                postura.chickenleg_id = null;
                postura.cintillo_id = null;
              });
          }
        }
      }
    },
    getFreeCombinations() {
      return axios
        .get("/api/cintillos-pata/free-combinations")
        .then((response) => {
          this.freeCombinations = response.data;
        });
    },
    getFreeCombinationsByPostura() {
      let posturas_ids = [];
      for (let i = 0; i < this.arrayPosturasLote.length; i++) {
        posturas_ids.push(this.arrayPosturasLote[i].postura_id);
      }
      return axios
        .post("/api/cintillos-pata/free-combinations-postura", {
          posturas_id: posturas_ids,
        })
        .then((response) => {
          this.freeCombinationsPostura = response.data;
        });
    },
    setCombinationsToNewPosturas() {
      let freeCombs = [];
      for (let k = 0; k < this.freeCombinations.length; k++) {
        freeCombs.push(this.freeCombinations[k].cintillo_pata_id);
      }
      for (let i = 0; i < this.freeCombinationsPostura.length; i++) {
        if (!this.freeCombinationsPostura[i].cintillo_pata_id) {
          this.freeCombinationsPostura[i].cintillo_pata_id = freeCombs[0];
          this.freeCombinationsPostura[i].cintillo_description =
            this.freeCombinations.find(
              (x) => x.cintillo_pata_id == freeCombs[0]
            ).cintillo_description;
          this.freeCombinationsPostura[i].cintillo_color =
            this.freeCombinations.find(
              (x) => x.cintillo_pata_id == freeCombs[0]
            ).color_color;
          this.freeCombinationsPostura[i].chickenleg_description =
            this.freeCombinations.find(
              (x) => x.cintillo_pata_id == freeCombs[0]
            ).chickenleg_description;
          this.freeCombinationsPostura[i].color_description =
            this.freeCombinations.find(
              (x) => x.cintillo_pata_id == freeCombs[0]
            ).color_description;
          this.freeCombinationsPostura[i].newCombination = true;
          this.combsToRegister.push(this.freeCombinationsPostura[i]);
          freeCombs.splice(0, 1);
        } else {
          this.freeCombinationsPostura[i].newCombination = false;
        }
        for (let j = 0; j < this.arrayPosturasLote.length; j++) {
          if (
            this.arrayPosturasLote[j].postura_id ==
            this.freeCombinationsPostura[i].id
          ) {
            this.$set(
              this.arrayPosturasLote[j],
              "combination",
              this.freeCombinationsPostura[i]
            );
          }
        }
      }
    },
    setCombinationsToNewPosturasOnchange() {
      let freeCombs = [];
      for (let k = 0; k < this.freeCombinations.length; k++) {
        freeCombs.push(this.freeCombinations[k].cintillo_pata_id);
      }

      for (let i = 0; i < this.freeCombinationsPostura.length; i++) {
        let counter = 0;
        if (!this.freeCombinationsPostura[i].cintillo_pata_id) {
          for (let l = 0; l < this.arrayPosturasLote.length; l++) {
            for (let a = 0; a < freeCombs.length; a++) {
              if (this.arrayPosturasLote[l].combination) {
                if (
                  freeCombs[a] ==
                  this.arrayPosturasLote[l].combination.cintillo_pata_id
                ) {
                  counter++;
                  break;
                } else {
                  counter = counter;
                  break;
                }
              }
            }
          }

          this.freeCombinationsPostura[i].cintillo_pata_id = freeCombs[counter];
          this.freeCombinationsPostura[i].cintillo_description =
            this.freeCombinations.find(
              (x) => x.cintillo_pata_id == freeCombs[counter]
            ).cintillo_description;
          this.freeCombinationsPostura[i].cintillo_color =
            this.freeCombinations.find(
              (x) => x.cintillo_pata_id == freeCombs[counter]
            ).color_color;
          this.freeCombinationsPostura[i].chickenleg_description =
            this.freeCombinations.find(
              (x) => x.cintillo_pata_id == freeCombs[counter]
            ).chickenleg_description;
          this.freeCombinationsPostura[i].color_description =
            this.freeCombinations.find(
              (x) => x.cintillo_pata_id == freeCombs[counter]
            ).color_description;
          this.freeCombinationsPostura[i].newCombination = true;
          this.combsToRegister.push(this.freeCombinationsPostura[i]);
          freeCombs.splice(counter, 1);
        } else {
          this.freeCombinationsPostura[i].newCombination = false;
          for (let j = 0; j < this.arrayPosturasLote.length; j++) {
            if (this.arrayPosturasLote[j].number_alive_eggs < 1) {
              for (let k = 0; k < this.combsToRegister.length; k++) {
                if (this.arrayPosturasLote[j].combination) {
                  if (
                    this.combsToRegister[k].id ==
                    this.arrayPosturasLote[j].combination.id
                  ) {
                    this.combsToRegister.splice(k, 1);
                  }
                }
              }
            }
          }
        }
        for (let j = 0; j < this.arrayPosturasLote.length; j++) {
          if (
            this.arrayPosturasLote[j].postura_id ==
            this.freeCombinationsPostura[i].id
          ) {
            this.$set(
              this.arrayPosturasLote[j],
              "combination",
              this.freeCombinationsPostura[i]
            );
          }
          if (
            this.arrayPosturasLote[j].number_alive_eggs < 1 &&
            !this.arrayPosturasLote[j].cintillo_pata_postura_status
          ) {
            if (this.arrayPosturasLote[j].combination) {
              if (
                this.arrayPosturasLote[j].combination.id ==
                this.freeCombinationsPostura[i].id
              ) {
                this.freeCombinationsPostura[i].cintillo_pata_id = null;
              }
            }

            this.$set(this.arrayPosturasLote[j], "combination", null);
          }
        }
      }
    },
    decreaseNumberEggs(postura) {
      postura.number_alive_eggs = Number(postura.number_alive_eggs) - 1;
      this.onChange(postura);
    },
    increaseNumberEggs(postura) {
      postura.number_alive_eggs = Number(postura.number_alive_eggs) + 1;
      this.onChange(postura);
    },
  },
  watch: {
    currentUser() {
      if (!this.isEncastador) {
        this.$router.push("/main/reproduccion/sacar-crias");
      }
    },
    "$route.params.lote_id"() {
      this.getMadrillasByProcessingPosturas();
      this.getNodrizas();
      this.getLote();
    },
  },
};
</script>

<style>
.multiselect__tags {
  border-radius: 20px !important;
  border-width: 1px !important;
  border-color: black !important;
}
.multiselect__content {
  border-radius: 20px;
}
.option__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.radius-border {
  border-radius: 20px !important;
}
</style>
