<template>
  <div class="m-3">
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="row">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Lote</th>
                <th scope="col">Usuario</th>
                <th scope="col">Estado</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha</th>
              </thead>
              <tbody>
                <tr v-if="loading">
                  <td colspan="11" class="text-center"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr v-for="tracking in arrayTrackingLote" :key="tracking.id">
                    <td data-label="Lote">
                      {{ tracking.lote_id }}
                    </td>
                    <td data-label="Usuario">
                      {{ tracking.u_name }} {{tracking.u_last_name}}
                    </td>
                    <td data-label="Estado" :class="[tracking.status_number==1?'text-danger':tracking.status_number==2?'text-warning':tracking.status_number==3?'text-info':tracking.status_number==4?'text-success':'']">
                      {{ tracking.status }}
                    </td>
                    <td data-label="Descripción">
                      {{ tracking.description }}
                    </td>
                    <td data-label="Fecha">
                      {{ convertToSpanishDate(tracking.created_at) }}
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { misMixins } from '../../../mixins';
export default {
  mounted() {
    this.getLoteDetail();
  },
  props: {
    loteId: Number,
  },
  data() {
    return {
      arrayTrackingLote: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      loading: false,
      arrayLoteDetalle: [],
      openPosturasModel: false,
    };
  },
  methods: {
    getLoteDetail(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/lote/tracking", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          lote_id: this.loteId,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayTrackingLote = response.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/lote/get-detail?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          lote_id: this.loteId,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayTrackingLote = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      axios
        .post("/api/lote/get-detail?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          lote_id: this.loteId,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayTrackingLote = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getLoteDetail(null, null);
    },
  },
  mixins:[misMixins]
};
</script>

<style>
</style>
