<template>
  <div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Categoria: </label>
          <div class="select" id="type">
            <select name="type" v-model="type" @change="changecategory">
              <option value="1">TOPE</option>
              <option value="2">PELEA</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Ejemplar:</label>
          <!-- <div class="select" id="type">
            <select name="type" v-model="specimen_id">
              <option :value="gallo.id" v-for="gallo in gallos" :key="gallo.id">
                {{ gallo.alias }} / {{ gallo.plate }}
              </option>
            </select>
          </div> -->
          <multiselect
              v-model="specimen_id"
              placeholder="Elige un gallo"
              label="alias"
              track-by="id"
              :options="gallos"
              :option-height="104"
              :show-labels="false"
            >
              <template slot="singleLabel" slot-scope="props"
                >
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <span class="option__desc"
                  ><span class="option__title">{{
                    props.option.alias
                  }} / ({{props.option.plate}})</span></span
                >
                </div>
                </template
              >
              <template slot="option" slot-scope="props"
                >
                <div class="option__desc d-flex flex-wrap justify-content-between align-items-center">
                  <span class="option__title">{{ props.option.alias }} / ({{props.option.plate}})</span
                  >
                </div>
              </template>
            </multiselect>
        </div>
      </div>
      <div class="col-md-4" v-if="t_cat">
        <div class="form-group">
          <label>Tipo: </label>
          <div class="select" id="type_category">
            <select
              v-model="type_category"
              name="type_category"
              @change="changecategory"
            >
              <option value="1">INTERNO</option>
              <option value="2">EXTERNO</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="float-left mr-2">Rival</label>
          <div class="float-left" v-if="btnrival">
            <i class="fas fa-plus add" v-if="ar == true" @click="add(3)"></i
            ><i
              class="fas fa-times add"
              v-if="ar == false"
              @click="close(3)"
            ></i>
          </div>
          <input
            class="form-control inputs-modules"
            v-if="selectrival"
            id="camposearch"
            name="plaquerival"
            v-model="camposearch"
            autocomplete="off"
            type="text"
            @click="viewrivals"
            @keyup="searchbreeder"
            placeholder="Search.."
            style="margin-bottom: 5px"
          /><input
            class="form-control inputs-modules"
            v-if="t_interno"
            type="text"
            id="camposearch"
            v-model="plaquerival"
            name="plaquerival"
            @keyup="validateplate"
          /><span class="badge badge-danger" v-if="validate.vplaca"
            >Placa no registrada.</span
          ><span class="badge badge-danger" v-if="validate.vplacadupli"
            >Placa no permitida.</span
          ><span class="badge badge-success" v-if="validate.vplacaE"
            >Placa existente.</span
          ><span class="badge badge-danger" v-if="validate.vplacagender"
            >Genero hembra no permitido.</span
          >
          <div class="cont-users" v-if="selectrival" id="contusers">
            <span
              class="span-hover"
              v-for="(item, index) in rival_specimen"
              :key="index"
              style="display: block; cursor: pointer"
              :id="item.id"
              @click="selectvalue(item.id, item.name)"
              >{{ item.name }}</span
            >
          </div>
          <div class="input-group" v-if="inputaddrival">
            <input
              class="form-control inputs-modules"
              type="text"
              id="namerival"
              v-model="namerival"
            />
            <div class="input-group-prepend">
              <button class="btn bg-ui-black" @click="saverival">
                Agregar
              </button>
            </div>
            <span class="badge badge-danger" v-if="validate.existsrival"
              >Rival ya existe.</span
            ><span class="badge badge-danger" v-if="validate.rivalsave"
              >Debe escoger un rival.</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Fecha:</label
          ><input
            class="form-control inputs-modules"
            type="date"
            data-date-format="DD/MM/YYYY"
            id="event_date"
            name="event_date"
            v-model="event_date"
          />
        </div>
      </div>
      <div class="col-md-4" v-if="result">
        <div class="form-group">
          <label>Resultado: </label>
          <div class="select" id="event_result">
            <select v-model="event_result">
              <option value="1">TRIUNFO</option>
              <option value="2">EMPATE</option>
              <option value="3">DERROTA</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4" v-if="showamarrador">
        <div class="form-group">
          <label class="mr-2">Amarrador </label
          ><i class="fas fa-plus add" v-if="am == true" @click="add(1)"></i
          ><i class="fas fa-times add" v-else @click="close(1)"></i>
          <div class="select" v-if="selectamarrador" id="amarrador">
            <select v-model="amarrador">
              <option
                v-for="(item, index) in amarrador_specimen"
                :key="index"
                :value="item.id"
              >
                {{ item.name }}
              </option>
            </select>
          </div>
          <div class="input-group" v-if="inputaddamarrador">
            <input
              class="form-control inputs-modules"
              type="text"
              id="nameamarrador"
              v-model="nameamarrador"
              aria-describedby="basic-addon1"
            />
            <div class="input-group-prepend">
              <button class="btn bg-ui-black" @click="saveamarrador">
                Agregar
              </button>
            </div>
          </div>
          <span class="badge badge-danger" v-if="validate.amarrador"
            >Amarrador ya existe.</span
          >
        </div>
      </div>
      <div class="col-md-4 mb-3" v-if="showcareador">
        <div class="form-group">
          <label class="mr-2">Careador </label
          ><i class="fas fa-plus add" v-if="ac == true" @click="add(2)"></i
          ><i class="fas fa-times add" v-else @click="close(2)"></i>
          <div class="select" v-if="selectcareador" id="careador">
            <select v-model="careador">
              <option
                v-for="(item, index) in careador_specimen"
                :key="index"
                :value="item.id"
              >
                {{ item.name }}
              </option>
            </select>
          </div>
          <div class="input-group" v-if="inputaddcareador">
            <input
              class="form-control inputs-modules"
              type="text"
              id="namecareador"
              v-model="namecareador"
              aria-describedby="basic-addon1"
            />
            <div class="input-group-prepend">
              <button class="btn bg-ui-black" @click="savecareador">
                Agregar
              </button>
            </div>
          </div>
          <span class="badge badge-danger" v-if="validate.careador"
            >Careador ya existe.</span
          >
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="form-group"></div>
        <label>Descripcion:</label
        ><textarea
          class="form-control"
          rows="3"
          id="namevideo"
          v-model="namevideo"
        ></textarea>
      </div>
    </div>
    <div class="form-group" v-if="svideo">
      <label>Cargar:</label>
      <div class="wrapper row">
        <div class="buttom-file ml-3" id="buttom-file">
          <input
            type="file"
            id="file"
            @change="filechange"
            accept="video/*"
          /><i class="fas fa-arrow-circle-up"></i>
        </div>
        <span class="badge float-left" v-if="selectedvideo" style="color: green"
          >Video cargado correctamente</span
        ><span class="badge" v-if="validateformat" style="color: red"
          >Formato no valido</span
        ><span class="badge" v-if="validateSize" style="color: red"
          >Limite 30 megas</span
        ><span class="badge" v-if="validateSeconds" style="color: red"
          >Tiempo minimo 3 segundos</span
        ><span class="badge" v-if="errconnection" style="color: red"
          >Error de conexion</span
        >
      </div>
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-center">
        <button
          class="btn bg-ui-black"
          v-if="save"
          @click="savevideo()"
        >
          SUBIR <i class="fas fa-upload"></i></button
        ><button
          class="btn bg-ui-black"
          v-if="update"
          @click="updatevideo()"
          :disabled="disable.upload"
        >
          ACTUALIZAR <i class="fas fa-upload"></i>
        </button>
      </div>
    </div>
    <progress-bar></progress-bar>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
export default {
  mounted() {
    this.getamarrador();
    this.getcareador();
    this.getrival();
    this.getGallos();
  },
  components:{
      Multiselect
  },
  computed:{
      currentUser(){
          return this.$store.getters.currentUser;
      }
  },
  data() {
    return {
      // require_type: false,
      // view_breeder: false,
      camposearch: "",
      namerival: "",
      // breeder_id: "",
      btnrival: true,
      selectamarrador: true,
      selectcareador: true,
      selectrival: true,
      am: true,
      ac: true,
      ar: true,
      result: false,
      save: true,
      update: false,
      svideo: true,
      t_cat: false,
      rival: false,
      t_interno: false,
      t_externo: false,
      selectedvideo: false,
      videop: "",
      // modal_image: false,
      errconnection: false,
      amarrador_specimen: [],
      careador_specimen: [],
      rival_specimen: [],
      amarrador: "",
      careador: "",
      rival: "",
      nameamarrador: "",
      namecareador: "",
      inputaddcareador: false,
      inputaddamarrador: false,
      inputaddrival: false,
      showamarrador: false,
      showcareador: false,
      // data_specimen: {
      //     type: "",
      //     url: "",
      //     plaque: null,
      //     alias: null,
      //     id: null,
      // },
      data: [],
      // upload_video: false,
      // list_all_videos: true,
      disable: {
        upload: false,
        type: true,
      },
      validate: {
        vplaca: false,
        vplacaE: false,
        vplacagender: false,
        careador: false,
        amarrador: false,
        existsrival: false,
        rivalsave: false,
        vplacadupli: false,
      },
      type: "",
      newvideo: "",
      namevideo: "",
    progress: "",
      validateSize: false,
      validateformat: false,
      validateSeconds: false,
      extension: "",
      tiempo: "",
      type_category: "",
      plaquerival: "",
      event_date: "",
      event_result: "",
      // data_save: [],
      // idspec: "",
      // idvideo: "",
      namerival: "",
      specimen_id: null,
      gallos: [],
    };
  },
  methods: {
    getGallos() {
      axios.get("/api/specimen/get-gallos").then((res) => {
        this.gallos = res.data;
        console.log(this.gallos);
      });
    },
    changecategory() {
      var plaquerival = document.getElementById("plaquerival");
      if (this.type == 1) {
        this.t_cat = true;
        this.rival = true;
        this.disable.type = true;
        this.t_interno = false;
        this.result = false;
        this.showamarrador = false;
        this.showcareador = false;
        if (this.type_category == 1) {
          this.t_interno = true;
          this.selectrival = false;
          this.inputaddrival = false;
          this.disable.type = false;
          this.btnrival = false;
        } else if (this.type_category == 2) {
          this.disable.type = false;
          this.t_interno = false;
          this.selectrival = true;
          this.inputaddrival = false;
          this.btnrival = true;
          this.addrival = true;
          this.ar = true;
        }
      } else {
        this.rival = true;
        this.disable.type = false;
        this.t_cat = false;
        this.t_externo = true;
        this.t_interno = false;
        this.result = true;
        this.showamarrador = true;
        this.showcareador = true;
        this.type_category = "";
      }
    },
    viewrivals() {
      var dato = document.getElementById("contusers");
      dato.classList.toggle("all-he");
    },
    searchbreeder() {
      var x = document.getElementById("camposearch");
      var dato = document.getElementById("contusers");
      var cant = x.value;
      axios
        .post("/api/search-rival", {
          q: cant,
        })
        .then((response) => {
          if (response.status == 200) {
            if (cant.length > 0) {
              dato.classList.add("all-he");
              this.rival_specimen = response.data;
              if (this.rival_specimen.length == 0) {
                dato.classList.remove("scroll-all");
                dato.classList.remove("all-he");
              } else if (this.rival_specimen.length < 15) {
                dato.classList.add("all-he");
                dato.classList.remove("scroll-all");
              } else if (this.rival_specimen.length > 15) {
                dato.classList.add("scroll-all");
              }
            } else {
              dato.classList.remove("scroll-all");
              dato.classList.remove("all-he");
              this.getrival();
            }
          }
        })
        .catch((err) => {
          console.error(err);
        });
    },
    filechange() {
      const file = document.querySelector("#file").files[0];
      var inputfile = document.getElementById("file");
      var ext = file.name.split(".").pop();
      this.extension = ext.toLowerCase();

      if (
        this.extension == "mp4" ||
        this.extension == "avi" ||
        this.extension == "mkv" ||
        this.extension == "flv" ||
        this.extension == "mov" ||
        this.extension == "wmv" ||
        this.extension == "mpg" ||
        this.extension == "mwebm"
      ) {
        this.validateformat = false;
      } else {
        this.validateformat = true;
        inputfile.value = "";
      }

      var vid = document.createElement("video");
      var fileURL = URL.createObjectURL(file);
      vid.src = fileURL;
      var url = (vid.src = fileURL);

      vid.ondurationchange = (event) => {
        var minutes = Math.floor(vid.duration / 60);
        var seconds = Math.round(vid.duration % 60);
        var data = minutes + ":" + seconds;

        if (seconds < 3) {
          this.validateSeconds = true;
          inputfile.value = "";
        } else {
          this.validateSeconds = false;
          this.selectedvideo = true;
          this.time_video(data);
        }
      };

      if (file.size > 300000000) {
        this.validateSize = true;
        inputfile.value = "";
      } else {
        this.validateSize = false;
      }

      if (!file) return;
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = (event) => {
        this.newvideo = event.target.result;
      };
    },
    add(type) {
      if (type == 1) {
        this.inputaddamarrador = true;
        this.selectamarrador = false;
        this.am = false;
      } else if (type == 2) {
        this.inputaddcareador = true;
        this.selectcareador = false;
        this.ac = false;
      } else {
        this.inputaddrival = true;
        this.selectrival = false;
        this.t_externo = true;
        this.t_interno = false;
        this.ar = false;
      }
    },
    close(type) {
      if (type == 1) {
        this.inputaddamarrador = false;
        this.selectamarrador = true;
        this.am = true;
      } else if (type == 2) {
        this.inputaddcareador = false;
        this.selectcareador = true;
        this.ac = true;
      } else {
        this.inputaddrival = false;
        this.selectrival = true;
        this.t_externo = false;
        this.t_interno = false;
        this.ar = true;
      }
    },
    getamarrador() {
      axios
        .post("/api/get-amarrador")
        .then((response) => {
          if (response.status == 200) {
            this.amarrador_specimen = response.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    selectvalue(id, name) {
      this.plaquerival = id;
      this.camposearch = name;
      var x = document.getElementById("camposearch");
      var dato = document.getElementById("contusers");
      x.value = this.camposearch;
      dato.classList.remove("scroll-all");
      dato.classList.remove("all-he");
      this.getrival();
    },
    getcareador() {
      axios
        .post("/api/get-careador")
        .then((response) => {
          if (response.status == 200) {
            this.careador_specimen = response.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    validateplate() {
      axios
        .post("/api/validate-plate-gender", {
          t_plate: this.plaquerival,
        })
        .then((response) => {
          if (response.status == 200) {
            if (response.data == 0) {
              if (this.data_video.plaque == this.plaquerival) {
                this.validate.vplacadupli = true;
                this.validate.vplaca = false;
                this.validate.vplacaE = false;
                this.validate.vplacagender = false;
              } else {
                this.validate.vplaca = false;
                this.validate.vplacaE = true;
                this.validate.vplacagender = false;
                this.validate.vplacadupli = false;
              }
            } else if (this.plaquerival == "") {
              this.validate.vplacagender = false;
              this.validate.vplaca = false;
              this.validate.vplacaE = false;
            } else if (response.data == 2) {
              this.validate.vplacagender = true;
              this.validate.vplaca = false;
              this.validate.vplacaE = false;
            } else {
              this.validate.vplaca = true;
              this.validate.vplacaE = false;
              this.validate.vplacagender = false;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    saveamarrador() {
      var amarrador = document.getElementById("nameamarrador");
      if (this.nameamarrador == "") {
        amarrador.style.border = "solid 1px red";
      } else {
        axios
          .post("/api/save-amarrador", {
            nameamarrador: this.nameamarrador,
          })
          .then((response) => {
            if (response.status == 200) {
              if (response.data[0].amarrador_exists != null) {
                this.validate.amarrador = true;
              } else {
                this.getamarrador();
                this.close(1);
                toast.fire({
                  icon: "success",
                  title: "Registrado con exito",
                });
                amarrador.removeAttribute("style");
                this.nameamarrador = "";
                this.validate.amarrador = false;
              }
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    savecareador() {
      var careador = document.getElementById("namecareador");
      if (this.namecareador == "") {
        careador.style.border = "solid 1px red";
      } else {
        axios
          .post("/api/save-careador", {
            namecareador: this.namecareador,
          })
          .then((response) => {
            if (response.status == 200) {
              if (response.data[0].careador_exists != null) {
                this.validate.careador = true;
              } else {
                this.getcareador();
                this.close(2);
                toast.fire({
                  icon: "success",
                  title: "Registrado con exito",
                });
                namecareador.removeAttribute("style");
                this.validate.careador = false;
                this.namecareador = "";
              }
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    saverival() {
      axios
        .post("/api/save-rival", {
          namerival: this.namerival,
        })
        .then((response) => {
          if (response.status == 200) {
            if (response.data[0].rivalexists != null) {
              this.validate.existsrival = true;
            } else {
              this.getrival();
              this.close(3);
              this.validate.existsrival = false;
              this.namerival = "";
              toast.fire({
                icon: "success",
                title: "Registrado con exito",
              });
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getrival() {
      axios
        .post("/api/get-rival")
        .then((response) => {
          if (response.status == 200) {
            this.rival_specimen = response.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    progressbar() {
      var can = document.getElementById("canvas"),
        spanProcent = document.getElementById("procent"),
        c = can.getContext("2d");

      var posX = can.width / 2,
        posY = can.height / 2,
        fps = 1000 / 200,
        procent = 0,
        oneProcent = 360 / 100,
        result = oneProcent * this.progress;

      c.lineCap = "round";
      arcMove();
      function arcMove() {
        var deegres = 0;
        //var acrInterval = setInterval (function() {
        //deegres += 1;
        c.clearRect(0, 0, can.width, can.height);
        procent = result / oneProcent;
        spanProcent.innerHTML = procent.toFixed();

        c.beginPath();
        c.arc(
          posX,
          posY,
          70,
          (Math.PI / 180) * 270,
          (Math.PI / 180) * (270 + 360)
        );
        c.strokeStyle = "#b1b1b1";
        c.lineWidth = "10";
        c.stroke();

        c.beginPath();
        c.strokeStyle = "#3949AB";
        c.lineWidth = "10";
        c.arc(
          posX,
          posY,
          70,
          (Math.PI / 180) * 270,
          (Math.PI / 180) * (270 + result)
        );
        c.stroke();
        //if( procent >= result ) clearInterval(acrInterval);
        //}, fps);
      }
    },
    time_video(time) {
      this.tiempo = time;
    },
    progressbar() {
      var can = document.getElementById("canvas"),
        spanProcent = document.getElementById("procent"),
        c = can.getContext("2d");

      var posX = can.width / 2,
        posY = can.height / 2,
        fps = 1000 / 200,
        procent = 0,
        oneProcent = 360 / 100,
        result = oneProcent * this.progress;

      c.lineCap = "round";
      arcMove();
      function arcMove() {
        var deegres = 0;
        //var acrInterval = setInterval (function() {
        //deegres += 1;
        c.clearRect(0, 0, can.width, can.height);
        procent = result / oneProcent;
        spanProcent.innerHTML = procent.toFixed();

        c.beginPath();
        c.arc(
          posX,
          posY,
          70,
          (Math.PI / 180) * 270,
          (Math.PI / 180) * (270 + 360)
        );
        c.strokeStyle = "#b1b1b1";
        c.lineWidth = "10";
        c.stroke();

        c.beginPath();
        c.strokeStyle = "#3949AB";
        c.lineWidth = "10";
        c.arc(
          posX,
          posY,
          70,
          (Math.PI / 180) * 270,
          (Math.PI / 180) * (270 + result)
        );
        c.stroke();
        //if( procent >= result ) clearInterval(acrInterval);
        //}, fps);
      }
    },
    savevideo() {
      var buttonfile = document.getElementById("buttom-file");
      var type = document.getElementById("type");
      var namevideo = document.getElementById("namevideo");
      var videofile = document.getElementById("file");
      var type_category = document.getElementById("type_category");
      var plaquerival = document.getElementById("camposearch");

      var event_date = document.getElementById("event_date");
      var event_result = document.getElementById("event_result");
      var amarrador = document.getElementById("amarrador");
      var careador = document.getElementById("careador");
      if (this.type == "") {
        type.style.border = "solid 1px red";
      } else if (this.t_cat == true && this.type_category == "") {
        type_category.style.border = "solid 1px red";
        buttonfile.removeAttribute("style");
        type.removeAttribute("style");
      } else if (this.inputaddrival == true) {
        this.validate.rivalsave = true;
        type.removeAttribute("style");
        type_category.removeAttribute("style");
        buttonfile.removeAttribute("style");
      } else if (
        (this.t_interno == true && this.plaquerival == "") ||
        (this.selectrival == true &&
          this.plaquerival == "" &&
          this.inputaddrival == false)
      ) {
        plaquerival.style.border = "solid 1px red";
        this.validate.rivalsave = false;
        type.removeAttribute("style");
        type_category.removeAttribute("style");
        buttonfile.removeAttribute("style");
      } else if (this.event_date == "") {
        event_date.style.border = "solid 1px red";
        plaquerival.removeAttribute("style");
        type_category.removeAttribute("style");
        buttonfile.removeAttribute("style");
        type.removeAttribute("style");
      } else if (this.result == true && this.event_result == "") {
        event_result.style.border = "solid 1px red";
        event_date.removeAttribute("style");
        plaquerival.removeAttribute("style");
        type_category.removeAttribute("style");
        buttonfile.removeAttribute("style");
        type.removeAttribute("style");
      } else if (this.showamarrador == true && this.amarrador == "") {
        amarrador.style.border = "solid 1px red";
        plaquerival.removeAttribute("style");
        event_date.removeAttribute("style");
        this.t_cat == true ? type_category.removeAttribute("style") : "";
        this.result == true ? event_result.removeAttribute("style") : "";
        buttonfile.removeAttribute("style");
        type.removeAttribute("style");
      } else if (this.showcareador == true && this.careador == "") {
        careador.style.border = "solid 1px red";
        plaquerival.removeAttribute("style");
        event_date.removeAttribute("style");
        this.t_cat == true ? type_category.removeAttribute("style") : "";
        this.result == true ? event_result.removeAttribute("style") : "";
        buttonfile.removeAttribute("style");
        type.removeAttribute("style");
      } else if (this.namevideo == "") {
        namevideo.style.border = "solid 1px red";
        event_date.removeAttribute("style");
        plaquerival.removeAttribute("style");
        this.t_cat == true ? type_category.removeAttribute("style") : "";
        buttonfile.removeAttribute("style");
        type.removeAttribute("style");
        this.result == true ? event_result.removeAttribute("style") : "";
      } else if (videofile.value == "") {
        buttonfile.style.border = "solid 1px red";
        namevideo.removeAttribute("style");
        type.removeAttribute("style");
        this.result == true ? event_result.removeAttribute("style") : "";
        namevideo.removeAttribute("style");
        this.t_cat == true ? type_category.removeAttribute("style") : "";
      } else if (
        this.validate.vplaca == true ||
        this.validate.vplacadupli == true ||
        (this.validate.vplacagender == true &&
          this.plaquerival == "" &&
          this.inputaddrival == false)
      ) {
        plaquerival.style.border = "solid 1px red";
        this.validate.rivalsave = false;
        event_date.removeAttribute("style");
        this.t_cat == true ? type_category.removeAttribute("style") : "";
        buttonfile.removeAttribute("style");
        namevideo.removeAttribute("style");
        type.removeAttribute("style");
        this.result == true ? event_result.removeAttribute("style") : "";
      } else {
        event_date.removeAttribute("style");
        plaquerival.removeAttribute("style");
        this.t_cat == true ? type_category.removeAttribute("style") : "";
        buttonfile.removeAttribute("style");
        namevideo.removeAttribute("style");
        type.removeAttribute("style");
        this.result == true ? event_result.removeAttribute("style") : "";
        this.showamarrador == true ? amarrador.removeAttribute("style") : "";
        this.showcareador == true ? careador.removeAttribute("style") : "";

        const fd = new FormData();
        fd.append("idspecimen", this.specimen_id.id);
        fd.append("iduser", this.currentUser.user_id);
        fd.append("video", this.newvideo);
        fd.append("name_video", this.namevideo);
        fd.append("type", this.type);
        fd.append("extension", this.extension);
        fd.append("duration", this.tiempo);
        fd.append("type_category", this.type_category);
        fd.append("plaquerival", this.plaquerival);
        fd.append("event_date", this.event_date);
        fd.append("event_result", this.event_result);
        fd.append("amarrador", this.amarrador);
        fd.append("careador", this.careador);
        fd.append("videofile", videofile);
        // console.log(fd, 'fd');
        const config = {
          onUploadProgress: (progressEvent) => {
            if (progressEvent.lengthComputable) {
              this.progress = Math.round(
                (progressEvent.loaded / progressEvent.total) * 100
              );
              this.progressbar();
            }
          },
        };
        var progress = document.getElementById("backProgressbar");
        progress.classList.add("viewpreloader");
        this.disable.upload = true;
        const data = {
          event_date: this.event_date,
        };

        axios
          .post("/api/save-video", fd, config)
          .then((response) => {
            if (response.status == 200) {
              var progress = document.getElementById("backProgressbar");
              progress.classList.remove("viewpreloader");
              toast.fire({
                icon: "success",
                title: "Video subido",
              });
            //   this.search();
              this.upload_video = false;
              this.list_all_videos = true;
              this.type = "";
              this.namevideo = "";
              var inputfile = document.getElementById("file");
              inputfile.value = "";
              this.extension = "";
              this.tiempo = "";
              this.disable.upload = false;
              this.selectedvideo = false;
                this.$emit('videoUploaded', null);
            }
          })
          .catch((err) => {
            //console.clear()

            //  console.log(err.response.data.errors.type)
            // err.response.data.errors.type ? this.require_type = true : this.require_type = false
            var progress = document.getElementById("backProgressbar");
            progress.classList.remove("viewpreloader");
            this.errconnection = true;
          });
      }
    }
  },
};
</script>

<style>
</style>
