<template>
    <div class="m-3">
        <div class="row mb-2">
            <div class="col-12">
                <div class="col">
                <h3 class="title-module">Videoteca</h3>
                </div>
            </div>
        </div>
        <b-tabs content-class="mt-3" active-nav-item-class="border-bottom-white active-link-tabs " nav-class="border-bottom border-dark" lazy v-model="tabIndex">
            <b-tab title="Ejemplares" title-link-class="text-dark">
                <video-grilla></video-grilla>
            </b-tab>
            <b-tab title="Pollitos" title-link-class="text-dark">
                <video-chick-grilla></video-chick-grilla>
            </b-tab>
        </b-tabs>
        <!-- <progress-bar></progress-bar> -->
        <!-- <b-modal size="xl" hide-footer scrollable title="Subir video" v-model="uploadVideoController">
            <upload-video @videoUploaded="closeModalUploadVideo"></upload-video>
        </b-modal> -->
        <!-- <button @click="closeModalUploadVideo()">sadsa</button> -->
    </div>
</template>

<script>
import VideoGrilla from './VideoGrilla.vue';
import VideoChickGrilla from './VideoChickGrilla.vue'
export default {
    components:{
        "video-grilla": VideoGrilla,
        "video-chick-grilla": VideoChickGrilla
    },
    data(){
        return{
            tabIndex: 0,
            uploadVideoController: false
        }
    },
    methods:{
        openUploadVideoModal(){
            this.uploadVideoController = true
        },
        closeModalUploadVideo(){
            this.uploadVideoController = false;
            this.tabIndex = 1;
            this.tabIndex = 0;
        }
    }
}
</script>

<style>

</style>
