<template>
  <div>
    <div class="row mb-2">
      <div class="col-12">
        <div class="col">
          <b-button
            role="button"
            class="btn btn-ui bg-ui-verde float-right"
            style="border: none"
            @click="openUploadVideoModal()"
            v-if="isAdmin"
            >AGREGAR <i class="fas fa-plus"></i>
          </b-button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <span class="class-span-1">{{
            (start_page - 1) * perpage +
            1 +
            "-" +
            (start_page == end_page ? total_data : start_page * perpage)
          }}</span
          ><span style="padding-top: 7px; margin-right: 5px">de</span
          ><span class="class-span-2">{{ total_data }}</span
          ><button
            class="btn btn-rounded-ui bg-ui-black"
            @click="prev(start_page)"
            :style="
              start_page != 1
                ? 'margin-right:5px;'
                : 'pointer-events:none;margin-right:5px;'
            "
          >
            <i class="fas fa-caret-left"></i></button
          ><button
            class="btn btn-rounded-ui bg-ui-black"
            @click="next(next_page)"
            :style="
              this.start_page != this.end_page ? '' : 'pointer-events:none'
            "
          >
            <i class="fas fa-caret-right"></i></button
          ><button
            class="btn btn-rounded-ui bg-ui-black ml-2"
            @click="resetSearch"
          >
            <i class="fas fa-sync-alt"></i>
          </button>
        </div>
      </div>
      <div class="col-lg-6 text-right">
        <div class="form-group">
          <input
            class="input-search mr-3"
            type="text"
            v-model="search_input"
            style="border-radius: 20px; border-width: 1px; border-color: black"
            @keyup="search(null, null)"
            placeholder="Buscar por ejemplar"
          /><button class="btn bg-ui-black" @click="search(null, null)">
            <i class="fas fa-search"></i> Buscar
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive" id="cont-list">
          <table class="table">
            <thead class="text-center">
              <th scope="col">Videos</th>
              <th scope="col">Ejemplar</th>
              <th scope="col">Rival</th>
              <th scope="col">Tipo</th>
              <th scope="col">Fecha</th>
              <th scope="col">Subido por</th>
              <th scope="col">Acciones</th>
            </thead>
            <tbody>
              <tr v-if="loadingData">
                <td colspan="11"><spinner></spinner></td>
              </tr>
              <template v-else>
                <tr v-for="(item, index) in data" :key="index">
                  <td class="text-right" data-label="Videos">
                    <!-- <div id="preview" @click="viewvideo(2, item.url)"> -->
                    <div id="preview" @click="viewvideo(2, item.url)">
                      <img v-lazy="item.thumb" alt="Snow" /><span
                        class="badge badge-dark"
                        style="position: relative; top: -18px"
                        >{{ item.duration }}</span
                      >
                    </div>
                  </td>
                  <td class="text-right" data-label="Ejemplar">
                    <div
                      class="d-flex flex-column justify-content-end p-2"
                      style="
                        -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                        box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                        border-radius: 5px;
                      "
                    >
                      <div
                        class="
                          d-flex
                          justify-content-between
                          align-items-center
                        "
                      >
                        <div class="mr-2">
                          <span>
                            {{ item.alias }}
                          </span>
                          <br />

                          <span
                            class="badge bg-secondary text-white pr-3 pl-3"
                            >{{ item.plate }}</span
                          >
                        </div>

                        <div id="preview">
                          <img
                            v-lazy="item.specimen_thumb"
                            alt="Snow"
                            @click="
                              seeimage(
                                1,
                                item.photo,
                                item.plate,
                                item.alias,
                                item.specimen_id
                              )
                            "
                          />
                        </div>
                      </div>
                    </div>
                  </td>
                  <td
                    data-label="Rival"
                    style="white-space: pre-line !important"
                  >
                    <span
                      class="badge badge-secondary"
                      v-if="item.type_of_rival != null"
                      >{{ item.type_of_rival }}</span
                    ><br v-if="item.type_of_rival != null" /><span
                      v-if="item.type_of_rival_number == 1"
                      class="text-uppercase font-weight-bold"
                      >{{ item.rival_alias }} / {{ item.rival_plate }}</span
                    >
                    <span
                      v-if="item.type_of_rival_number == 2"
                      class="text-uppercase font-weight-bold"
                      >{{ item.rival }}</span
                    >
                    <br /><i
                      class="fas fa-info-circle"
                      :id="`my-icon${item.id}`"
                      style="cursor: pointer"
                    ></i>
                    <b-tooltip
                      :target="`my-icon${item.id}`"
                      custom-class="my-tooltip-class"
                      >{{ item.description }}</b-tooltip
                    >
                  </td>
                  <td data-label="Tipo">
                    <span
                      class="text-uppercase font-weight-bold"
                      :style="
                        item.type_of_video == 'tope'
                          ? 'color:green'
                          : 'color:#0f0f21'
                      "
                      >{{ item.type_of_video }}</span
                    ><br v-if="item.event_result != null" /><span
                      v-if="item.event_result != null"
                      >{{
                        item.event_result == 1
                          ? "TRIUNFO"
                          : item.event_result == 2
                          ? "EMPATE"
                          : "DERROTA"
                      }}</span
                    >
                  </td>
                  <td data-label="Tipo">
                    <span>{{ convertToSpanishDate(item.event_date) }}</span>
                  </td>
                  <td data-label="Subido por">
                    <span>{{ item.first_name }} {{ item.last_name }}</span>
                    <br />
                    {{ convertToSpanishDate(item.created_at) }}
                  </td>
                  <td
                    class="acciones d-flex align-items-center"
                    data-label="Acciones"
                  >
                    <button
                      class="btn btn-edit mr-1"
                      v-if="item.permission == 1 && isAdmin"
                      :id="item.id"
                      title="EDITAR"
                    >
                      <img src="/images/edit.png" /></button
                    ><button
                      class="btn btn-trash"
                      :id="item.id"
                      title="ELIMINAR"
                      v-if="isAdmin"
                      @click="deletevideo(item.id)"
                    >
                      <img src="/images/trash.png" />
                    </button>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <view-image-specimens
      v-if="modal_image"
      :data_specimen="this.data_specimen"
      @click="closeModalimage"
    ></view-image-specimens>
    <b-modal
      size="xl"
      hide-footer
      scrollable
      title="Subir video ejemplares"
      v-model="uploadVideoController"
    >
      <upload-video @videoUploaded="closeModalUploadVideo"></upload-video>
    </b-modal>
  </div>
</template>

<script>
import UploadVideo from "./UploadVideo.vue";
import { misMixins } from "../../../mixins";
export default {
  components: {
    "upload-video": UploadVideo,
  },
  mounted() {
    this.search(null, null);
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isOwner() {
      return this.$store.getters.isOwner;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter((rol) => rol.role_id == 1);
      if (isDueñoInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    isInvitado() {
      const isInvitadoInRoles = this.roles.filter((rol) => rol.role_id == 7);
      if (isInvitadoInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter((rol) => rol.role_id == 6);
      if (isEncastadorInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    roles() {
      if (this.currentUser) {
        return this.currentUser.role;
      } else {
        return [];
      }
    },
  },
  data() {
    return {
      search_input: "",
      orderby: this.dato2 == null ? 3 : this.dato2,
      order: this.dato1 == null ? "desc" : this.dato1,
      start_page: "",
      end_page: "",
      total_data: "",
      perpage: "",
      next_page: "",
      dato1: "",
      dato2: "",
      require_type: false,
      view_breeder: false,
      camposearch: "",
      namerival: "",
      breeder_id: "",
      btnrival: true,
      selectamarrador: true,
      selectcareador: true,
      selectrival: true,
      am: true,
      ac: true,
      ar: true,
      result: false,
      save: true,
      update: false,
      svideo: true,
      t_cat: false,
      rival: false,
      t_interno: false,
      t_externo: false,
      selectedvideo: false,
      videop: "",
      modal_image: false,
      errconnection: false,
      amarrador_specimen: [],
      careador_specimen: [],
      rival_specimen: [],
      amarrador: "",
      careador: "",
      rival: "",
      nameamarrador: "",
      namecareador: "",
      inputaddcareador: false,
      inputaddamarrador: false,
      inputaddrival: false,
      showamarrador: false,
      showcareador: false,
      data_specimen: {
        type: "",
        url: "",
        plaque: null,
        alias: null,
        id: null,
      },
      data: [],
      upload_video: false,
      list_all_videos: true,
      disable: {
        upload: false,
        type: true,
      },
      validate: {
        vplaca: false,
        vplacaE: false,
        vplacagender: false,
        careador: false,
        amarrador: false,
        existsrival: false,
        rivalsave: false,
        vplacadupli: false,
      },
      type: "",
      newvideo: "",
      namevideo: "",
      progress: "",
      validateSize: false,
      validateformat: false,
      validateSeconds: false,
      extension: "",
      tiempo: "",
      type_category: "",
      plaquerival: "",
      event_date: "",
      event_result: "",
      data_save: [],
      idspec: "",
      idvideo: "",
      namerival: "",
      loadingData: false,
      uploadVideoController: false,
    };
  },
  methods: {
    seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
      this.data_specimen.id = id;
    },
    uploadvideo() {
      this.upload_video = true;
      this.list_all_videos = false;
      this.t_cat = false;
      this.rival = false;
      this.svideo = true;
      this.save = true;
      this.update = false;
      this.type = "";
      this.type_category = "";
      this.plaquerival = "";
      this.namevideo = "";
      this.event_date = "";
      this.event_result = "";
      this.result = false;
      this.showamarrador = false;
      this.showcareador = false;
      this.careador = "";
      this.namecareador = "";
      this.amarrador = "";
      this.nameamarrador = "";
    },
    search(dato1, dato2) {
      this.loadingData = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/specimen/get-videos", {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      var newval = start_p - 1;
      axios
        .post("/api/specimen/get-videos?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            if (this.start_page == this.end_page) {
              this.next_page = this.start_page;
            } else {
              this.next_page = this.start_page + 1;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      axios
        .post("/api/specimen/get-videos?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            if (this.start_page == this.end_page) {
              this.next_page = this.start_page;
            } else {
              this.next_page = this.start_page + 1;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.search_input = "";
      this.search();
    },
    playvideo(id) {
      var starttime = 30; // start at 2 seconds
      var endtime = 60; // stop at 4 seconds

      var video = document.getElementById("video" + id);

      //handler should be bound first
      video.addEventListener(
        "timeupdate",
        function () {
          if (this.currentTime >= endtime) {
            this.pause();
          }
        },
        false
      );

      //suppose that video src has been already set properly
      video.load();
      video.play(); //must call this otherwise can't seek on some browsers, e.g. Firefox 4
      try {
        video.currentTime = starttime;
      } catch (ex) {
        //handle exceptions here
      }
    },
    stopvideo(id) {
      var video = document.getElementById("video" + id);
      video.pause();
      video.currentTime = 0;
    },
    viewvideo(type, url) {
      this.modal_image = true;
      this.data_specimen.type = type;
      this.data_specimen.url = url;
    },
    closeModalimage() {
      this.modal_image = false;
    },
    openUploadVideoModal() {
      this.uploadVideoController = true;
    },
    closeModalUploadVideo() {
      this.uploadVideoController = false;
      this.search(null, null);
    },
    deletevideo(id) {
      swal
        .fire({
          title: "Estas seguro?",
          text: "¡No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3490dc",
          cancelButtonColor: "#e3342f",
          confirmButtonText: "Si",
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/delete-video", {
                id: id,
                iduser: this.currentUser.user_id,
              })
              .then((response) => {
                if (response.status == 200) {
                  toast.fire({
                    icon: "success",
                    title: "Registro Eliminado",
                  });
                  this.search();
                }
              })
              .catch((err) => {
                console.log(err);
              });
          }
        });
    },
  },
  mixins: [misMixins],
};
</script>

<style>
</style>
