<template>
  <div>
    <h5 class="title-module">Crear</h5>
    <div class="row mb-3">
      <template v-if="!fromSpecimenDetail">
        <div class="col-md-4">
          <label>Elige la madrilla</label>
          <multiselect
            :id="`multi`"
            v-model="posturaObject.placa_madrilla"
            placeholder="Elige una madrilla"
            label="title"
            :ref="`combination`"
            track-by="plate"
            :options="arrayMadrillas"
            :option-height="104"
            :custom-label="customLabel"
            :show-labels="false"
          >
            <!-- <template slot="singleLabel" slot-scope="props"
                  ><span class="option__desc"
                    ><span class="option__title"
                      ><span>
                        {{ props.option.madrilla_alias }} / ({{
                          props.option.placa_madrilla
                        }}) - Postura ({{ props.option.id }})
                      </span>
                    </span></span
                  ></template
                > -->
            <template slot="option" slot-scope="props">
              <div class="option__desc">
                <span>
                  <!-- {{ props.option.chickenleg_description }} -->

                  {{ props.option.alias }} / ({{ props.option.plate }})
                </span>
              </div>
            </template>
          </multiselect>

          <!-- <select class="form-control" aria-label="Default select example" v-model="posturaObject.placa_madrilla" style="border-radius: 20px; border-width: 1px; border-color: black;">
                    <option v-for="madrilla in arrayMadrillas" :key="madrilla.id" :value="madrilla.plate">{{madrilla.alias}} / ({{madrilla.plate}})</option>
                    </select> -->
        </div>

        <div class="col-md-4">
          <label>Elige el padrillo</label>
          <multiselect
            :id="`multi`"
            v-model="posturaObject.placa_padrillo"
            placeholder="Elige un padrillo"
            label="title"
            :ref="`combination`"
            track-by="plate"
            :options="arrayPadrillos"
            :option-height="104"
            :custom-label="customLabel"
            :show-labels="false"
          >
            <!-- <template slot="singleLabel" slot-scope="props"
                  ><span class="option__desc"
                    ><span class="option__title"
                      ><span>
                        {{ props.option.madrilla_alias }} / ({{
                          props.option.placa_madrilla
                        }}) - Postura ({{ props.option.id }})
                      </span>
                    </span></span
                  ></template
                > -->
            <template slot="option" slot-scope="props">
              <div class="option__desc">
                <span>
                  <!-- {{ props.option.chickenleg_description }} -->

                  {{ props.option.alias }} / ({{ props.option.plate }})
                </span>
              </div>
            </template>
          </multiselect>

          <!-- <select
            class="form-control"
            aria-label="Default select example"
            v-model="posturaObject.placa_padrillo"
            style="border-radius: 20px; border-width: 1px; border-color: black"
          >
            <option
              v-for="padrillo in arrayPadrillos"
              :key="padrillo.id"
              :value="padrillo.plate"
            >
              {{ padrillo.alias }} / ({{ padrillo.plate }})
            </option>
          </select> -->
        </div>
      </template>
      <template v-else>
        <div class="col-md-4">
          <label>Elige la madrilla</label>

          <multiselect
            :id="`multi`"
            v-model="posturaObject.placa_madrilla"
            placeholder="Elige una madrilla"
            label="title"
            :ref="`combination`"
            track-by="plate"
            :options="arrayMadrillas"
            :option-height="104"
            :custom-label="customLabel"
            :show-labels="false"
            :disabled="placa && madrillaController"
          >
            <!-- <template slot="singleLabel" slot-scope="props"
                  ><span class="option__desc"
                    ><span class="option__title"
                      ><span>
                        {{ props.option.madrilla_alias }} / ({{
                          props.option.placa_madrilla
                        }}) - Postura ({{ props.option.id }})
                      </span>
                    </span></span
                  ></template
                > -->
            <template slot="option" slot-scope="props">
              <div class="option__desc">
                <span>
                  <!-- {{ props.option.chickenleg_description }} -->

                  {{ props.option.alias }} / ({{ props.option.plate }})
                </span>
              </div>
            </template>
          </multiselect>

          <!-- <select
            class="form-control"
            aria-label="Default select example"
            v-model="posturaObject.placa_madrilla"
            style="border-radius: 20px; border-width: 1px; border-color: black"
            :disabled="placa && madrillaController"
          >
            <option
              v-for="madrilla in arrayMadrillas"
              :key="madrilla.id"
              :value="madrilla.plate"
            >
              {{ madrilla.alias }} / ({{ madrilla.plate }})
            </option>
          </select> -->
        </div>

        <div class="col-md-4">
          <label>Elige el padrillo</label>
          <multiselect
            :id="`multi`"
            v-model="posturaObject.placa_padrillo"
            placeholder="Elige un padrillo"
            label="title"
            :ref="`combination`"
            track-by="plate"
            :options="arrayPadrillos"
            :option-height="104"
            :custom-label="customLabel"
            :show-labels="false"
            :disabled="placa && !madrillaController"
          >
            <!-- <template slot="singleLabel" slot-scope="props"
                  ><span class="option__desc"
                    ><span class="option__title"
                      ><span>
                        {{ props.option.madrilla_alias }} / ({{
                          props.option.placa_madrilla
                        }}) - Postura ({{ props.option.id }})
                      </span>
                    </span></span
                  ></template
                > -->
            <template slot="option" slot-scope="props">
              <div class="option__desc">
                <span>
                  <!-- {{ props.option.chickenleg_description }} -->

                  {{ props.option.alias }} / ({{ props.option.plate }})
                </span>
              </div>
            </template>
          </multiselect>

          <!-- <select
            class="form-control"
            aria-label="Default select example"
            v-model="posturaObject.placa_padrillo"
            style="border-radius: 20px; border-width: 1px; border-color: black"
            :disabled="placa && !madrillaController"
          >
            <option
              v-for="padrillo in arrayPadrillos"
              :key="padrillo.id"
              :value="padrillo.plate"
            >
              {{ padrillo.alias }} / ({{ padrillo.plate }})
            </option>
          </select> -->
        </div>
      </template>

      <div class="col-md-4">
        <label>Fecha</label>
        <input
          type="date"
          class="form-control"
          v-model="posturaObject.postura_date"
          style="border-radius: 20px; border-width: 1px; border-color: black"
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="posturaObservation" class="form-label">Observación</label>
      <textarea
        class="form-control"
        id="posturaObservation"
        rows="3"
        v-model="posturaObject.observation"
        style="border-radius: 20px; border-width: 1px; border-color: black"
      ></textarea>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <button class="btn btn-ui bg-ui-black" @click="savePosturasToBd()">
        <i class="fas fa-plus"></i> REGISTRAR
      </button>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import moment from "moment";
export default {
  components: {
    Multiselect,
  },
  props: {
    placa: String,
    fromSpecimenDetail: Boolean,
    madrillaController: Boolean,
  },
  data() {
    return {
      arrayMadrillas: [],
      arrayPadrillos: [],
      posturaObject: {
        placa_madrilla: null,
        placa_padrillo: null,
        observation: null,
        postura_date: null,
      },
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      return this.currentUser ? this.currentUser.role_id == 1 : false;
    },
  },
  methods: {
    customLabel({ alias, plate }) {
      return `${alias} / (${plate})`;
    },
    getActiveMadrillasByActivePosturas() {
      axios.get("/api/postura/get-madrillas-being-used").then((response) => {
        this.arrayMadrillas = response.data;
        console.log(this.arrayMadrillas, 'madrillas');
        if(this.placa && this.madrillaController){

            for(let i = 0; i < this.arrayMadrillas.length; i++){
                console.log(this.arrayMadrillas[i].plate, 'plate');
            console.log(this.placa);
                if(this.arrayMadrillas[i].plate == this.placa){

                    this.posturaObject.placa_madrilla = this.arrayMadrillas[i]
                }
            }
        }else if(this.placa && !this.madrillaController){
            for(let i = 0; i < this.arrayPadrillos.length; i++){
                if(this.arrayPadrillos[i].plate == this.placa){
                    this.posturaObject.placa_padrillo = this.arrayPadrillos[i]
                }
            }
        }



        // if (this.placa && this.madrillaController) {
        //   this.posturaObject.placa_madrilla = this.placa;
        // } else if (this.placa && !this.madrillaController) {
        //   this.posturaObject.placa_padrillo = this.placa;
        // }
      });
    },
    getActivePadrillos() {
      axios.get("/api/postura/active-padrillos").then((response) => {
        this.arrayPadrillos = response.data;
        if(this.placa && this.madrillaController){

            for(let i = 0; i < this.arrayMadrillas.length; i++){
                console.log(this.arrayMadrillas[i].plate, 'plate');
            console.log(this.placa);
                if(this.arrayMadrillas[i].plate == this.placa){

                    this.posturaObject.placa_madrilla = this.arrayMadrillas[i]
                }
            }
        }else if(this.placa && !this.madrillaController){
            for(let i = 0; i < this.arrayPadrillos.length; i++){
                if(this.arrayPadrillos[i].plate == this.placa){
                    this.posturaObject.placa_padrillo = this.arrayPadrillos[i]
                }
            }
        }
      });
    },
    savePosturasToBd() {
      axios
        .post("/api/postura/save", {
          placa_madrilla: this.posturaObject.placa_madrilla.plate,
          placa_padrillo: this.posturaObject.placa_padrillo.plate,
          observation: this.posturaObject.observation,
          postura_date: this.posturaObject.postura_date,
          method: null,
          created_by: this.currentUser.user_id,
        })
        .then((response) => {
          swal
            .fire({
              icon: "success",
              title: "¡Felicidades!",
              text: "Has registrado correctamente una postura",
            })
            .then((result) => {
              if (result) {
                if (!this.fromSpecimenDetail) {
                  this.$router.push("/main/reproduccion/planificacion-camadas");
                } else {
                  this.$store.dispatch("updateCreateRegisterPostura", false);
                  this.$store.dispatch("updateModalDetalleSpecimen", false);
                }
              }
            });
        });
    },
  },
  mounted() {
    this.posturaObject.postura_date = moment().format("YYYY-MM-DD");
    this.getActiveMadrillasByActivePosturas();
    this.getActivePadrillos();
  },
  watch: {
    currentUser() {
      if (!this.isAdmin) {
        this.$router.push("/main/reproduccion/planificacion-camadas");
      }
    },
  },
};
</script>

<style>
</style>
