<template>
  <div class="mr-3">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <span
                class="class-span-1"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                >{{
                  (paginate.start_page - 1) * paginate.perpage +
                  1 +
                  "-" +
                  (paginate.start_page == paginate.end_page
                    ? paginate.total_data
                    : paginate.start_page * paginate.perpage)
                }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span
                class="class-span-2"
                style="
                  border-radius: 50%;
                  border-width: 1px;
                  border-color: black;
                "
                >{{ paginate.total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(paginate.start_page)"
                :style="
                  paginate.start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(paginate.next_page)"
                :style="
                  paginate.start_page != paginate.end_page
                    ? ''
                    : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <template v-for="postura in arrayGroupedPosturas">
            <div class="table-responsive ml-3" :key="postura.id">
              <div class="card">
                <div class="card-body">
                  <span
                    ><h4 class="title-module">
                      Postura {{ postura.id }}:
                    </h4> </span
                  ><span
                    ><strong>Fecha: </strong>
                    {{ convertToSpanishDate(postura.postura_date) }}</span
                  >
                  <span
                    :class="[
                      'badge',
                      postura.status == 'ANULADA'
                        ? 'bg-danger'
                        : postura.status == 'PENDIENTE'
                        ? 'bg-rosado'
                        : postura.status == 'EN PROCESO'
                        ? 'bg-celeste'
                        : 'bg-verde',
                      'text-white',
                      'pr-3',
                      'pl-3 mb-3',
                    ]"
                    >{{ postura.status }}</span
                  >
                  <table class="table">
                    <thead class="text-center">

                      <th scope="col">Lote</th>
                      <th scope="col">Nacido</th>
                      <th scope="col">Macho</th>
                      <th scope="col">Hembra</th>
                      <th scope="col">Sin asignar</th>
                      <!-- <th scope="col">Creado por</th> -->
                    </thead>
                    <tbody>
                      <tr v-if="loading">
                        <td colspan="11" class="text-center">
                          <spinner></spinner>
                        </td>
                      </tr>
                      <template v-else>
                        <tr
                          v-for="grouped in postura.json_data"
                          :key="grouped.id"
                        >
                          <td data-label="Lote">
                            {{ grouped.lote_id }}
                          </td>
                          <td data-label="Nacido">
                            {{ (grouped.quantity?grouped.quantity:0)-((grouped.quantities.macho_counter?grouped.quantities.macho_counter:0)+(grouped.quantities.hembra_counter?grouped.quantities.hembra_counter:0)+(grouped.quantities.sin_asignar_counter?grouped.quantities.sin_asignar_counter:0))}}
                          </td>
                          <td data-label="Machos">
                            {{ grouped.quantities.macho_counter?grouped.quantities.macho_counter:0 }}
                          </td>
                          <td data-label="Hembras">
                            {{ grouped.quantities.hembra_counter?grouped.quantities.hembra_counter:0 }}
                          </td>
                          <td data-label="Sin asignar">
                            {{ grouped.quantities.sin_asignar_counter?grouped.quantities.sin_asignar_counter:0 }}
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <strong>Total: </strong>
                          </td>
                          <td>
                            <strong>{{ (postura.total_nacidos)-(postura.total_sum+postura.total_sum_hembra+postura.total_sum_sin_definir) }}</strong>
                          </td>
                          <td>
                            <strong>{{ postura.total_sum }}</strong>
                          </td>
                          <td>
                            <strong>{{ postura.total_sum_hembra }}</strong>
                          </td>
                          <td>
                            <strong>{{ postura.total_sum_sin_definir }}</strong>
                          </td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                </div>
              </div>

              <hr />
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { misMixins } from '../../../mixins';
export default {
  props: {
    postura: Object,
    tab: Object
  },
  data() {
    return {
      arrayGroupedPosturas: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      posturaId: null,
      posturaComment: null,
      modalActivatingPostura: false,
      loading: false,
    };
  },
  mounted() {
    this.getGroupedDetail(null, null);
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isEncastador() {
      return this.currentUser ? this.currentUser.role_id == 6 : false;
    },
    isAdmin() {
      return this.currentUser ? this.currentUser.role_id == 1 : false;
    },
  },
  methods: {
    getGroupedDetail(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/postura/get-grouped-finished-postura-detail", {
          orderby: "desc",
                order: 3,
                campo: null,
                madrilla_plate: this.postura.placa_madrilla,
                padrillo_plate: this.postura.placa_padrillo,
                status: this.tab.status
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayGroupedPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/postura/get-grouped-finished-postura-detail?page=" + newval, {
          orderby: "desc",
                order: 3,
                campo: null,
                madrilla_plate: this.postura.placa_madrilla,
                padrillo_plate: this.postura.placa_padrillo,
                status: this.tab.status
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayGroupedPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      this.loading = true;
      axios
        .post("/api/postura/get-grouped-finished-postura-detail?page=" + next, {
          orderby: "desc",
                order: 3,
                campo: null,
                madrilla_plate: this.postura.placa_madrilla,
                padrillo_plate: this.postura.placa_padrillo,
                status: this.tab.status
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayGroupedPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getGroupedDetail(null, null);
    },
    moment: function () {
      return moment();
    },
  },
  watch: {
    "paginate.search_input"() {
      this.getGroupedDetail(null, null);
    },
  },
  mixins: [misMixins]
};
</script>

<style>
</style>
