<template>
  <div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6 mt-3">
            <div class="form-group">
              <span
                class="class-span-1"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                >{{
                  (paginate.start_page - 1) * paginate.perpage +
                  1 +
                  "-" +
                  (paginate.start_page == paginate.end_page
                    ? paginate.total_data
                    : paginate.start_page * paginate.perpage)
                }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span
                class="class-span-2"
                style="
                  border-radius: 50%;
                  border-width: 1px;
                  border-color: black;
                "
                >{{ paginate.total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(paginate.start_page)"
                :style="
                  paginate.start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(paginate.next_page)"
                :style="
                  paginate.start_page != paginate.end_page
                    ? ''
                    : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 text-right mt-3">
            <div class="form-group">
              <b-input-group>
                <b-form-input
                  class="input-search mr-3"
                  v-model="paginate.search_input"
                  style="
                    border-radius: 20px;
                    border-width: 1px;
                    border-color: black;
                  "
                  type="text"
                  debounce="500"
                  placeholder="Postura, madrilla o padrillo"
                ></b-form-input>
                <button
                  class="btn btn-ui bg-ui-black mr-2"
                  @click="getLotes(null, null)"
                >
                  <i class="fas fa-search"></i> BUSCAR
                </button>

                <router-link
                  role="button"
                  class="btn btn-ui bg-ui-verde"
                  v-if="isAdmin"
                  to="/main/reproduccion/planificacion-camadas/crear"
                  ><i class="fas fa-plus"></i> CREAR
                </router-link>
              </b-input-group>
            </div>
          </div>
          <div class="table-responsive mt-3">
            <table class="table">
              <thead class="font-size-12">
                <th scope="col" class="text-center sticky-top">Postura</th>
                <th scope="col" class="text-center sticky-top">Padrillo</th>
                <th scope="col" class="text-center sticky-top">Madrilla</th>
                <th scope="col" class="text-center sticky-top">Huevos</th>
                <th scope="col" class="text-center sticky-top">En lote</th>
                <th scope="col" class="text-center sticky-top">Infertiles</th>
                <th scope="col" class="text-center sticky-top">Nacidos</th>
                <th scope="col" class="text-center sticky-top">Muertos</th>
                <th scope="col" class="text-center sticky-top">Estado</th>
                <th scope="col" class="text-center sticky-top">Finalizado por</th>
                <th scope="col" class="text-center sticky-top">Acciones</th>
              </thead>
              <tbody>
                <tr v-if="loading">
                  <td colspan="11" class="text-center">
                    <spinner></spinner>
                  </td>
                </tr>
                <template v-else>
                  <tr v-for="(postura, index) in arrayPosturas" :key="index">
                    <td data-label="Postura">
                      <strong>{{ postura.code }}</strong> <br />
                      <p class="text-muted" style="font-size: 12px">
                        {{ postura.name }}
                        {{
                          postura.last_name
                            ? postura.last_name.substr(0, 1)
                            : ""
                        }}
                        <br />
                        {{ moment(postura.postura_date).format("MM/DD/YY") }}
                      </p>
                      <div class="card p-1" v-if="postura.cintillo_color">
                        <span
                          >{{ postura.chickenleg_description }}
                          {{ postura.cintillo_description }}
                        </span>
                        <span class="fa-squaress"
                          ><i
                            class="fas fa-square"
                            :style="`color: ${postura.cintillo_color}; text-shadow: 0 0 3px #000;`"
                          ></i
                        ></span>
                        <span
                            :class="[
                            'badge',
                            'bg-danger',
                            'text-white',
                            'pr-1',
                            'pl-1',
                            ]"
                            v-if="postura.cintillo_pata_postura_number == 2"
                            >LIBERADO</span
                        >
                        <span
                          :class="[
                            'badge',
                            'bg-success',
                            'text-white',
                            'pr-1',
                            'pl-1',
                          ]"
                          v-else
                          >COLOCADO</span
                        >
                      </div>
                    </td>
                    <td data-label="Padrillo">
                      <div
                        class="d-flex flex-column justify-content-end p-2"
                        :class="[
                          postura.res_infertility == postura.placa_padrillo
                            ? 'border border-danger border-radius-10'
                            : '',
                        ]"
                        style="
                          -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          border-radius: 5px;
                        "
                      >
                        <div
                          class="
                            d-flex
                            justify-content-between
                            align-items-center
                          "
                        >
                          <div class="mr-2q">
                            <span>
                              {{ postura.padrillo_alias }}
                            </span>
                            <br />

                            <span
                              :id="`tooltip2-target-padrillo-${index}`"
                              class="badge bg-secondary text-white clickable"
                              style="width: 60px"
                              @click="
                                openModalDetailSpecimen(postura.padrillo_id)
                              "
                              >{{ postura.placa_padrillo }}
                            </span>
                            <b-tooltip
                              :target="`tooltip2-target-padrillo-${index}`"
                              triggers="hover"
                              placement="bottom"
                            >
                              Detalle ejemplar
                            </b-tooltip>
                            <br />
                            <span
                              class="badge bg-success text-white"
                              style="width: 60px"
                              :id="`tooltip-target-padrillo-${index}`"
                              >{{ postura.posturas_quantity_padrillo }}</span
                            >
                            <b-tooltip
                              :target="`tooltip-target-padrillo-${index}`"
                              triggers="hover"
                              placement="bottom"
                            >
                              Cantidad de posturas en el año
                              {{ moment().format("YYYY") }}
                            </b-tooltip>
                          </div>

                          <div id="preview">
                            <img
                              v-lazy="postura.padrillo_thumb"
                              alt="Snow"
                              @click="
                                seeimage(
                                  1,
                                  postura.padrillo_photo,
                                  postura.placa_padrillo,
                                  postura.padrillo_alias,
                                  postura.padrillo_id
                                )
                              "
                            />
                          </div>
                        </div>
                      </div>
                    </td>
                    <td data-label="Madrilla">
                      <div
                        class="d-flex flex-column justify-content-end p-2"
                        :class="[
                          postura.res_infertility == postura.placa_madrilla
                            ? 'border border-danger border-radius-10'
                            : '',
                        ]"
                        style="
                          -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          border-radius: 5px;
                        "
                      >
                        <div
                          class="
                            d-flex
                            justify-content-between
                            align-items-center
                          "
                        >
                          <div class="mr-2q">
                            <span>
                              {{ postura.madrilla_alias }}
                            </span>
                            <br />

                            <span
                              :id="`tooltip2-target-madrillo-${index}`"
                              class="badge bg-secondary text-white clickable"
                              style="width: 60px"
                              @click="
                                openModalDetailSpecimen(postura.madrilla_id)
                              "
                              >{{ postura.placa_madrilla }}</span
                            >
                            <b-tooltip
                              :target="`tooltip2-target-madrillo-${index}`"
                              triggers="hover"
                              placement="bottom"
                            >
                              Detalle ejemplar
                            </b-tooltip>
                            <br />
                            <span
                              class="badge bg-success text-white"
                              style="width: 60px"
                              :id="`tooltip-target-madrillo-${index}`"
                              >{{ postura.posturas_quantity_madrilla }}</span
                            >
                            <b-tooltip
                              :target="`tooltip-target-madrillo-${index}`"
                              triggers="hover"
                              placement="bottom"
                            >
                              Cantidad de posturas en el año
                              {{ moment().format("YYYY") }}
                            </b-tooltip>
                          </div>

                          <div id="preview">
                            <img
                              v-lazy="postura.thumb"
                              alt="Snow"
                              @click="
                                seeimage(
                                  1,
                                  postura.photo,
                                  postura.placa_madrilla,
                                  postura.madrilla_alias,
                                  postura.madrilla_id
                                )
                              "
                            />
                          </div>
                        </div>
                      </div>
                    </td>
                    <td data-label="Número de huevos">
                      {{ postura.number_eggs_good }}
                    </td>
                    <td data-label="# lote">
                      {{ postura.suma_total }}
                    </td>
                    <td data-label="# Total">
                      {{ postura.suma_infertiles }}
                    </td>
                    <td data-label="# Nacidos">
                      {{ postura.suma_nacidos }}
                    </td>
                    <td data-label="# Muertos">
                      {{ postura.suma_muertos }}
                    </td>
                    <!-- <td data-label="Método">
                          {{ postura.method }}
                        </td> -->
                    <td data-label="Estado">
                      <span
                        :class="[
                          'badge',
                          postura.status == 'ANULADA'
                            ? 'bg-danger'
                            : postura.status == 'PENDIENTE'
                            ? 'bg-rosado'
                            : postura.status == 'EN PROCESO'
                            ? 'bg-celeste'
                            : 'bg-verde',
                          'text-white',
                          'pr-3',
                          'pl-3',
                        ]"
                        >{{ postura.status }}</span
                      >
                    </td>
                    <td data-label="Finalizado por" style="font-size: 12px">
                      {{ postura.finished_by_name }}
                      {{
                        postura.finished_by_last_name
                          ? postura.finished_by_last_name.substr(0, 1)
                          : ""
                      }}
                      <br />
                      {{ moment(postura.finished_at).format("MM/DD/YY") }}
                    </td>
                    <td data-label="Acciones">
                      <b-button
                        variant="info"
                        @click="openModalPosturaDetail(postura)"
                        v-if="
                          postura.status == 'EN PROCESO' ||
                          postura.status == 'FINALIZADA'
                        "
                        id="detalle"
                        size="sm"
                        style="width: 60px"
                        >Detalle</b-button
                      >
                      <b-tooltip
                        :target="`detalle`"
                        triggers="hover"
                        placement="bottom"
                      >
                        Detalle de la postura
                      </b-tooltip>
                      <b-button
                        variant="danger"
                        v-if="
                          postura.status == 'FINALIZADA' &&
                          postura.resta < 1 &&
                          postura.resta &&
                          !postura.res_infertility
                        "
                        id="res-i"
                        style="width: 60px"
                        @click="openModalAsignResponsable(postura)"
                        size="sm"
                        >Infer</b-button
                      >
                      <b-tooltip
                        :target="`res-i`"
                        triggers="hover"
                        placement="bottom"
                      >
                        Asignar responsable de infertilidad
                      </b-tooltip>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Subtotal</td>
                    <td
                      style="
                        background: rgb(102, 102, 102);
                        color: rgb(255, 255, 255);
                      "
                    >
                      {{ subTotalEggs }}
                    </td>
                    <td
                      style="
                        background: rgb(102, 102, 102);
                        color: rgb(255, 255, 255);
                      "
                    >
                      {{ subTotalEggsLote }}
                    </td>
                    <td
                      style="
                        background: rgb(102, 102, 102);
                        color: rgb(255, 255, 255);
                      "
                    >
                      {{ subTotalEggsInfertiles }}
                    </td>
                    <td
                      style="
                        background: rgb(102, 102, 102);
                        color: rgb(255, 255, 255);
                      "
                    >
                      {{ subTotalEggsNacidos }}
                    </td>
                    <td
                      style="
                        background: rgb(102, 102, 102);
                        color: rgb(255, 255, 255);
                      "
                    >
                      {{ subTotalEggsMuertos }}
                    </td>
                    <td v-if="selectedTab.status == 1"></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td
                      style="
                        background: rgb(102, 102, 102);
                        color: rgb(255, 255, 255);
                      "
                    >
                      {{ totalEggs }}
                    </td>
                    <td
                      style="
                        background: rgb(102, 102, 102);
                        color: rgb(255, 255, 255);
                      "
                    >
                      {{ totalEggsLote }}
                    </td>
                    <td
                      style="
                        background: rgb(102, 102, 102);
                        color: rgb(255, 255, 255);
                      "
                    >
                      {{ totalEggsInfertiles }}
                    </td>
                    <td
                      style="
                        background: rgb(102, 102, 102);
                        color: rgb(255, 255, 255);
                      "
                    >
                      {{ totalEggsNacidos }}
                    </td>
                    <td
                      style="
                        background: rgb(102, 102, 102);
                        color: rgb(255, 255, 255);
                      "
                    >
                      {{ totalEggsMuertos }}
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <b-modal
      id="detailPosturaModal"
      :title="`Postura ${selectedPostura.code}`"
      v-model="modalDetailPostura"
      hide-footer
      modal-class="xxl-modal"
      scrollable
    >
      <litter-planning-detail
        @closeModal="modalDetailPostura = false"
        :postura="selectedPostura"
      ></litter-planning-detail>
    </b-modal>
    <view-image-specimens
      v-if="modal_image"
      :data_specimen="data_specimen"
      @click="closeModalimage"
      @switchRight="switchRight"
      @switchLeft="switchLeft"
    ></view-image-specimens>
    <b-modal
      id="responsableCommentModal"
      title="Asignar responsable"
      v-model="modalAsignResponsable"
      @ok.prevent="asignResponsable"
      @hidden="clearComment"
      ok-title="Asignar"
      cancel-title="Cancelar"
    >
      <b-form-group
        label="Selecciona un responsable"
        v-slot="{ ariaDescribedby }"
      >
        <b-form-radio
          v-model="responsable"
          :aria-describedby="ariaDescribedby"
          name="some-radios2"
          :value="selectedPostura.placa_madrilla"
          >Madrilla {{ selectedPostura.madrilla_alias }} ({{
            selectedPostura.placa_madrilla
          }})</b-form-radio
        >
        <b-form-radio
          v-model="responsable"
          :aria-describedby="ariaDescribedby"
          name="some-radios1"
          :value="selectedPostura.placa_padrillo"
          >Padrillo {{ selectedPostura.padrillo_alias }} ({{
            selectedPostura.placa_padrillo
          }})</b-form-radio
        >
      </b-form-group>
      <div class="mb-3">
        <label class="form-label">Ingresa un comentario</label>
        <textarea
          class="form-control"
          rows="3"
          v-model="responsableComment"
        ></textarea>
      </div>
    </b-modal>
    <b-modal
      title="Detalle"
      hide-footer
      v-model="modalDetalleSpecimen"
      modal-class="xxl-modal"
      scrollable
      @hidden="closeModalDetailSpecimen"
    >
      <litter-planning-specimen
        :specimenId="selectedSpecimen"
      ></litter-planning-specimen>
    </b-modal>
  </div>
</template>

<script>
import LitterPlanningDetail from "../../../components/litterplanning/LitterPlanningDetail";
import LitterPlanningSpecimen from "./LitterPlanningSpecimen.vue";
import SwitchComponent from "../../../components/commons/SwitchComponent.vue";
import Multiselect from "vue-multiselect";
import moment from "moment";
export default {
  name: "LitterPlanningPage",
  props: {
    status: Number,
  },
  data() {
    return {
      arrayPosturas: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      posturaId: null,
      posturaComment: null,
      finishComment: null,
      cancelComment: null,
      modalActivatingPostura: false,
      modalFinishingPostura: false,
      modalCancelPostura: false,
      loading: false,
      modalDetailPostura: false,
      selectedPostura: { code: null },
      arrayTabs: [
        {
          title: "Pendiente",
          status: 2,
          active: true,
        },
        {
          title: "En proceso",
          status: 3,
          active: false,
        },
        {
          title: "Finalizada",
          status: 4,
          active: false,
        },
        {
          title: "Anulada",
          status: 1,
          active: false,
        },
      ],
      selectedTab: {
        title: "Pendiente",
        status: 2,
        active: true,
      },
      counters: null,
      modal_image: false,
      data_specimen: {
        type: "",
        url: "",
        plaque: "",
        alias: "",
        id: "",
        size: 300000000,
        last_left: false,
        last_right: false,
      },
      incubacionMethod: 1,
      arrayReason: [],
      turnOffReason: null,
      addTurnOffReasonModal: false,
      selectedSpecimenGender: null,
      modalAsignResponsable: false,
      responsable: null,
      responsableComment: null,
      selectedSpecimen: null,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      return this.currentUser ? this.currentUser.role_id == 1 : false;
    },
    isEncastador() {
      return this.currentUser ? this.currentUser.role_id == 6 : false;
    },
    subTotalEggs: function () {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        sum += this.arrayPosturas[i].number_eggs_good
          ? parseFloat(this.arrayPosturas[i].number_eggs_good)
          : 0;
      }
      return sum;
    },
    subTotalEggsLote: function () {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        sum += this.arrayPosturas[i].suma_total
          ? parseFloat(this.arrayPosturas[i].suma_total)
          : 0;
      }
      return sum;
    },
    subTotalEggsInfertiles: function () {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        sum += this.arrayPosturas[i].suma_infertiles
          ? parseFloat(this.arrayPosturas[i].suma_infertiles)
          : 0;
      }
      return sum;
    },
    subTotalEggsNacidos: function () {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        sum += this.arrayPosturas[i].suma_nacidos
          ? parseFloat(this.arrayPosturas[i].suma_nacidos)
          : 0;
      }
      return sum;
    },
    subTotalEggsMuertos: function () {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        sum += this.arrayPosturas[i].suma_muertos
          ? parseFloat(this.arrayPosturas[i].suma_muertos)
          : 0;
      }
      return sum;
    },
    totalEggs: function () {
      if (this.arrayPosturas.length == 0) {
        return 0;
      } else {
        return this.arrayPosturas[0].total_sum;
      }
    },
    totalEggsLote: function () {
      if (this.arrayPosturas.length == 0) {
        return 0;
      } else {
        return this.arrayPosturas[0].total_sum_eggs_lote;
      }
    },
    totalEggsInfertiles: function () {
      if (this.arrayPosturas.length == 0) {
        return 0;
      } else {
        return this.arrayPosturas[0].total_sum_eggs_infertiles;
      }
    },
    totalEggsNacidos: function () {
      if (this.arrayPosturas.length == 0) {
        return 0;
      } else {
        return this.arrayPosturas[0].total_sum_eggs_nacidos;
      }
    },
    totalEggsMuertos: function () {
      if (this.arrayPosturas.length == 0) {
        return 0;
      } else {
        return this.arrayPosturas[0].total_sum_eggs_muertos;
      }
    },
    modalDetalleSpecimen: {
      get() {
        return this.$store.getters.modalDetalleSpecimen;
      },
      set(value) {
        this.$store.dispatch("updateModalDetalleSpecimen", value);
      },
    },
  },

  mounted() {
    this.getPosturas(null, null);
    this.getCounterByStatus();
    this.getReasonsByModule();
  },
  components: {
    "litter-planning-detail": LitterPlanningDetail,
    "litter-planning-specimen": LitterPlanningSpecimen,
    "switch-component": SwitchComponent,
    Multiselect,
  },
  methods: {
    openModalDetailSpecimen(item) {
      this.$store.dispatch("updateModalDetalleSpecimen", true);
      // this.madrillaDetailModal = true
      this.selectedSpecimen = item;
    },
    closeModalDetailSpecimen() {
      this.$store.dispatch("updateModalDetalleSpecimen", false);
    },
    customLabel({ parent_id, reason }) {
      return `${parent_id} : ${reason}`;
    },
    asignResponsable() {
      Swal.fire({
        title: "Estás seguro?",
        text: "Esta acción no se podrá deshacer",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si",
      }).then((result) => {
        if (result.value) {
          axios
            .post("/api/postura/asign-infertility-responsable", {
              responsable: this.responsable,
              infertility_observation: this.responsableComment,
              postura_id: this.selectedPostura.id,
              user_id: this.currentUser.user_id,
            })
            .then((res) => {
              Swal.fire({
                title: "Felicidades",
                text: `Se ha asignado al ejemplar con placa ${this.responsable} como responsable de la postura ${this.selectedPostura.code}`,
                icon: "success",
              });
              this.getPosturas(null, null);
              this.modalAsignResponsable = false;
            });
        }
      });
    },
    openModalAsignResponsable(postura) {
      this.selectedPostura = postura;
      this.modalAsignResponsable = true;
    },
    openAddReasonModal(postura, gender) {
      if (gender == 1) {
        postura.padrillo_status_post = 1;
      } else {
        postura.madrilla_status_post = 1;
      }
      this.addTurnOffReasonModal = true;
      this.selectedSpecimenGender = gender;
      this.selectedPostura = postura;
    },
    getReasonsByModule() {
      axios
        .post("/api/reason/by-module", {
          module_id: 2,
        })
        .then((res) => {
          this.arrayReason = res.data;
        });
    },
    seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        if (this.arrayPosturas[i].madrilla_id == id) {
          if (this.arrayPosturas.indexOf(this.arrayPosturas[i]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else if (
            this.arrayPosturas.indexOf(this.arrayPosturas[i]) >=
            this.arrayPosturas.length - 1
          ) {
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = true;
          }
        }
      }
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
      this.data_specimen.id = id;
    },
    getPosturas(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/postura", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          status: this.status,
          specimen: this.specimen_plate,
          category_specimen: this.category_specimen,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/postura?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          status: this.status,
          specimen: this.specimen_plate,
          category_specimen: this.category_specimen,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      this.loading = true;
      axios
        .post("/api/postura?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          status: this.status,
          specimen: this.specimen_plate,
          category_specimen: this.category_specimen,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getPosturas(null, null);
    },
    cancelPostura() {
      //console.log(postura);
      axios
        .post("/api/postura/cancel", {
          postura_id: this.posturaId.id,
          placa_padrillo: this.posturaId.placa_padrillo,
          placa_madrilla: this.posturaId.placa_madrilla,
          postura_comment: this.cancelComment,
          user_id: this.currentUser.user_id,
        })
        .then((response) => {
          swal
            .fire({
              icon: "success",
              title: "Postura anulada!",
              text: "Has anulado correctamente la postura!",
            })
            .then((result) => {
              if (result.value) {
                this.$router.push("/main/reproduccion/planificacion-camadas");
              }
            });
          this.getPosturas(null, null);
          //postura.status = 'proceso';
        });
    },
    getCounterByStatus() {
      axios.get("/api/postura/counters").then((response) => {
        this.counters = response.data[0];
        //this.checkSeenStatus();
        //dconsole.log(this.counters);
      });
    },
    activatePostura() {
      //console.log(postura);
      axios
        .post("/api/postura/activate", {
          postura_id: this.posturaId,
          postura_comment: this.posturaComment,
          method: this.incubacionMethod,
        })
        .then((response) => {
          swal
            .fire({
              icon: "success",
              title: "Postura activada!",
              text: "Has activado correctamente la postura!",
            })
            .then((result) => {
              if (result.value) {
                this.$router.push("/main/reproduccion/planificacion-camadas");
              }
            });
          this.getPosturas(null, null);
          //postura.status = 'proceso';
        });
    },
    turnOffSpecimen(postura, status) {
      Swal.fire({
        title: "Estás seguro?",
        text: "Esta acción no se podrá deshacer",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si",
      }).then((result) => {
        if (result.value) {
          axios
            .post(
              `/api/postura/${
                status == 2 ? "turn-off-madrilla" : "turn-off-padrillo"
              }`,
              {
                plate:
                  status == 2 ? postura.placa_madrilla : postura.placa_padrillo,
                turn_off_reason: this.turnOffReason.id,
                postura_id: postura.id,
              }
            )
            .then((res) => {
              Swal.fire({
                title: "Felicidades",
                text: "Has apagado correctamente a este ejemplar",
                icon: "success",
              });
              this.getPosturas(null, null);
            });
        }
      });
    },
    onChangeSwitch(postura) {
      this.openAddReasonModal();
      Swal.fire({
        title: "Estás seguro?",
        text: "Esta acción no se podrá deshacer",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si",
      }).then((result) => {
        if (result.value) {
          axios
            .post("/api/postura/turn-off-madrilla", {
              plate: postura.placa_madrilla,
            })
            .then((res) => {
              Swal.fire({
                title: "Felicidades",
                text: "Has apagado correctamente a este ejemplar",
                icon: "success",
              });
              this.getPosturas(null, null);
            });
        } else {
          postura.madrilla_status_post = !postura.madrilla_status_post;
        }
      });
    },
    onChangeSwitchPadrillo(postura) {
      Swal.fire({
        title: "Estás seguro?",
        text: "Esta acción no se podrá deshacer",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si",
      }).then((result) => {
        if (result.value) {
          axios
            .post("/api/postura/turn-off-padrillo", {
              placa_padrillo: postura.placa_padrillo,
            })
            .then((res) => {
              Swal.fire({
                title: "Felicidades",
                text: "Has apagado correctamente a este padrillo",
                icon: "success",
              });
              this.getPosturas(null, null);
            });
        } else {
          postura.padrillo_status_post = !postura.padrillo_status_post;
        }
      });
    },
    closeModalimage() {
      this.modal_image = false;
    },
    finishPostura() {
      //console.log(postura);
      axios
        .post("/api/postura/finish", {
          postura_id: this.posturaId,
          postura_comment: this.finishComment,
          finished_by: this.currentUser.user_id,
        })
        .then((response) => {
          swal
            .fire({
              icon: "success",
              title: "Postura finalizada!",
              text: "Has finalizado correctamente la postura!",
            })
            .then((result) => {
              if (result.value) {
                this.$router.push("/main/reproduccion/planificacion-camadas");
              }
            });
          this.getPosturas(null, null);
          //postura.status = 'proceso';
        });
    },
    openModalActivatingComment(postura) {
      this.posturaId = postura.id;
      this.modalActivatingPostura = true;
    },
    openModalDesactivatingComment(postura) {
      this.posturaId = postura;
      this.modalCancelPostura = true;
    },
    openModalFinishingComment(postura) {
      this.posturaId = postura.id;
      this.modalFinishingPostura = true;
    },
    openModalPosturaDetail(postura) {
      this.selectedPostura = postura;
      this.modalDetailPostura = true;
    },
    clearComment() {
      this.posturaComment = null;
      this.finishComment = null;
      this.cancelComment = null;
      this.responsableComment = null;
    },
    checkSeenStatus() {
      axios
        .post("/api/postura/seenstatus", {
          status_postura: this.selectedTab.status,
        })
        .then((response) => {
          if (this.selectedTab.status == 1) {
            this.counters.count_anulado = 0;
          } else if (this.selectedTab.status == 2) {
            this.counters.count_pendiente = 0;
          } else if (this.selectedTab.status == 3) {
            this.counters.count_proceso = 0;
          } else if (this.selectedTab.status == 4) {
            this.counters.count_finalizado = 0;
          }
        });
    },
    switchRight() {
      for (let i = this.arrayPosturas.length - 1; i >= 0; i--) {
        if (this.arrayPosturas[i].madrilla_id == this.data_specimen.id) {
          if (
            this.arrayPosturas.indexOf(this.arrayPosturas[i + 1]) >=
            this.arrayPosturas.length - 1
          ) {
            this.data_specimen.last_right = true;
            this.data_specimen.last_left = false;
          } else {
            this.data_specimen.last_right = false;
            this.data_specimen.last_left = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.arrayPosturas[i + 1].photo;
          this.data_specimen.plaque = this.arrayPosturas[i + 1].placa_madrilla;
          this.data_specimen.alias = this.arrayPosturas[i + 1].madrilla_alias;
          this.data_specimen.id = this.arrayPosturas[i + 1].madrilla_id;
        }
      }
    },
    switchLeft() {
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        if (this.arrayPosturas[i].madrilla_id == this.data_specimen.id) {
          if (this.arrayPosturas.indexOf(this.arrayPosturas[i - 1]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else {
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.arrayPosturas[i - 1].photo;
          this.data_specimen.plaque = this.arrayPosturas[i - 1].placa_madrilla;
          this.data_specimen.alias = this.arrayPosturas[i - 1].madrilla_alias;
          this.data_specimen.id = this.arrayPosturas[i - 1].madrilla_id;
        }
      }
    },
    moment: function () {
      return moment();
    },
  },
  watch: {
    "paginate.search_input"() {
      this.getPosturas(null, null);
    },
  },
};
</script>

<style scoped>
.borderes {
  border-color: black !important;
  border-radius: 20px !important;
}
.notification-icon-link {
  background: #f00;
  padding: 4px 8px 4px 8px;
  border-radius: 50%;
  color: #fff;
  vertical-align: top;
}
.disabled-switch {
  pointer-events: none;
  opacity: 0.4;
}
.badge-width {
  width: 100%;
  max-width: 60px;
  box-sizing: border-box;
}
@media (min-width: 960px) and (max-width: 1400px) {
  .font-size-12 {
    font-size: 12px;
  }
}

@media screen and (min-width: 1400px) {
  .font-size-12 {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px){
    tr, thead {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
    }
}
</style>
