<template>
  <div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6 mt-3">
            <div class="form-group">
              <span
                class="class-span-1"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                >{{
                  (paginate.start_page - 1) * paginate.perpage +
                  1 +
                  "-" +
                  (paginate.start_page == paginate.end_page
                    ? paginate.total_data
                    : paginate.start_page * paginate.perpage)
                }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span
                class="class-span-2"
                style="
                  border-radius: 50%;
                  border-width: 1px;
                  border-color: black;
                "
                >{{ paginate.total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(paginate.start_page)"
                :style="
                  paginate.start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(paginate.next_page)"
                :style="
                  paginate.start_page != paginate.end_page
                    ? ''
                    : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 text-right mt-3">
            <div class="form-group">
              <b-input-group>
                <b-form-input
                  class="input-search mr-3"
                  v-model="paginate.search_input"
                  style="
                    border-radius: 20px;
                    border-width: 1px;
                    border-color: black;
                  "
                  type="text"
                  debounce="500"
                  placeholder="Postura, madrilla o padrillo"
                ></b-form-input>
                <button
                  class="btn btn-ui bg-ui-black mr-2"
                  @click="getLotes(null, null)"
                >
                  <i class="fas fa-search"></i> BUSCAR
                </button>

                <router-link
                  role="button"
                  class="btn btn-ui bg-ui-verde"
                  v-if="isAdmin"
                  to="/main/reproduccion/planificacion-camadas/crear"
                  ><i class="fas fa-plus"></i> CREAR
                </router-link>
              </b-input-group>
            </div>
          </div>
          <div class="table-responsive mt-3">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Postura</th>
                <th scope="col">Padrillo</th>
                <th scope="col">Madrilla</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha de la postura</th>
                <th scope="col">Acciones</th>
              </thead>
              <tbody>
                <tr v-if="loading">
                  <td colspan="11" class="text-center">
                    <spinner></spinner>
                  </td>
                </tr>
                <template v-else>
                  <tr
                    v-for="(postura, index) in arrayPosturas"
                    :key="postura.id"
                  >
                    <td data-label="Postura">{{ postura.code }}</td>
                    <td data-label="Padrillo">
                      <div
                        class="d-flex flex-column justify-content-end p-2"
                        style="
                          -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          border-radius: 5px;
                        "
                      >
                        <div
                          class="
                            d-flex
                            justify-content-between
                            align-items-center
                          "
                        >
                          <div class="mr-2q">
                            <span>
                              {{ postura.padrillo_alias }}
                            </span>
                            <br />

                            <span
                              class="badge bg-secondary text-white"
                              style="width: 60px"
                              >{{ postura.placa_padrillo }}</span
                            >
                            <br />
                            <span
                              class="badge bg-success text-white"
                              style="width: 60px"
                              :id="`tooltip-target-padrillo-${index}`"
                              >{{ postura.posturas_quantity_padrillo }}</span
                            >
                            <b-tooltip
                              :target="`tooltip-target-padrillo-${index}`"
                              triggers="hover"
                              placement="bottom"
                            >
                              Cantidad de posturas en el año
                              {{ moment().format("YYYY") }}
                            </b-tooltip>
                          </div>

                          <div id="preview">
                            <img
                              v-lazy="postura.padrillo_thumb"
                              alt="Snow"
                              @click="
                                seeimage(
                                  1,
                                  postura.padrillo_photo,
                                  postura.placa_padrillo,
                                  postura.padrillo_alias,
                                  postura.padrillo_id
                                )
                              "
                            />
                          </div>
                        </div>
                      </div>
                    </td>
                    <td data-label="Madrilla">
                      <div
                        class="d-flex flex-column justify-content-end p-2"
                        style="
                          -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          border-radius: 5px;
                        "
                      >
                        <div
                          class="
                            d-flex
                            justify-content-between
                            align-items-center
                          "
                        >
                          <div class="mr-2q">
                            <span>
                              {{ postura.madrilla_alias }}
                            </span>
                            <br />

                            <span
                              class="badge bg-secondary text-white"
                              style="width: 60px"
                              >{{ postura.placa_madrilla }}</span
                            >
                            <br />
                            <span
                              class="badge bg-success text-white"
                              style="width: 60px"
                              :id="`tooltip-target-madrillo-${index}`"
                              >{{ postura.posturas_quantity_madrilla }}</span
                            >
                            <b-tooltip
                              :target="`tooltip-target-madrillo-${index}`"
                              triggers="hover"
                              placement="bottom"
                            >
                              Cantidad de posturas en el año
                              {{ moment().format("YYYY") }}
                            </b-tooltip>
                          </div>

                          <div id="preview">
                            <img
                              v-lazy="postura.thumb"
                              alt="Snow"
                              @click="
                                seeimage(
                                  1,
                                  postura.photo,
                                  postura.placa_madrilla,
                                  postura.madrilla_alias,
                                  postura.madrilla_id
                                )
                              "
                            />
                          </div>
                        </div>
                      </div>
                    </td>
                    <td data-label="Estado">
                      <span
                        :class="[
                          'badge',
                          postura.status == 'ANULADA'
                            ? 'bg-danger'
                            : postura.status == 'PENDIENTE'
                            ? 'bg-rosado'
                            : postura.status == 'EN PROCESO'
                            ? 'bg-celeste'
                            : 'bg-verde',
                          'text-white',
                          'pr-3',
                          'pl-3',
                        ]"
                        >{{ postura.status }}</span
                      >
                    </td>
                    <td
                      data-label="Fecha de la postura"
                      style="font-size: 12px"
                    >
                      {{ postura.name }}
                      {{
                        postura.last_name ? postura.last_name.substr(0, 1) : ""
                      }}
                      <br />
                      {{ moment(postura.postura_date).format("MM/DD/YY") }}
                    </td>
                    <td data-label="Acciones">
                      <template v-if="isEncastador">
                        <b-button
                          variant="primary"
                          @click="openModalActivatingComment(postura)"
                          size="sm"
                          >Activar</b-button
                        >
                        <b-button
                          variant="danger"
                          @click="openModalDesactivatingComment(postura)"
                          size="sm"
                          >Anular</b-button
                        >
                      </template>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <b-modal
      id="cancelCommentModal"
      title="Comentario de anulación"
      v-model="modalCancelPostura"
      @ok="cancelPostura"
      @hidden="clearComment"
      ok-title="Anular"
      cancel-title="Cancelar"
    >
      <div class="mb-3">
        <label for="cancelComment" class="form-label"
          >Ingresa un comentario</label
        >
        <textarea
          class="form-control"
          id="cancelComment"
          rows="3"
          v-model="cancelComment"
        ></textarea>
      </div>
    </b-modal>
    <b-modal
      id="activationCommentModal"
      title="Comentario de activación"
      v-model="modalActivatingPostura"
      @ok="activatePostura"
      @hidden="clearComment"
      ok-title="Activar"
      cancel-title="Cancelar"
    >
      <div class="row">
        <div class="col-md-12">
          <label>Elige el método de la postura</label><br />
          <div class="card">
            <div class="card-body">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id="chkArtificial"
                  :value="2"
                  v-model="incubacionMethod"
                  style="
                    border-radius: 20px;
                    border-width: 1px;
                    border-color: black;
                  "
                />
                <label class="form-check-label text-dark" for="chkArtificial">
                  Artificial
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  id="chkNatural"
                  :value="1"
                  v-model="incubacionMethod"
                  style="
                    border-radius: 20px;
                    border-width: 1px;
                    border-color: black;
                  "
                />
                <label class="form-check-label text-dark" for="chkNatural">
                  Natural
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
    <b-modal
      id="detailPosturaModal"
      title="Detalle"
      v-model="modalDetailPostura"
      hide-footer
      size="xl"
      scrollable
      centered
    >
      <litter-planning-detail
        :postura="selectedPostura"
      ></litter-planning-detail>
    </b-modal>
    <view-image-specimens
      v-if="modal_image"
      :data_specimen="data_specimen"
      @click="closeModalimage"
      @switchRight="switchRight"
      @switchLeft="switchLeft"
    ></view-image-specimens>
  </div>
</template>

<script>
import { misMixins } from "../../../mixins.js";
import LitterPlanningDetail from "../../../components/litterplanning/LitterPlanningDetail.vue";
import Multiselect from "vue-multiselect";
import moment from "moment";
export default {
  name: "LitterPlanningPage",
  props: {
    status: Number,
  },
  data() {
    return {
      arrayPosturas: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      posturaId: null,
      posturaComment: null,
      finishComment: null,
      cancelComment: null,
      modalActivatingPostura: false,
      modalFinishingPostura: false,
      modalCancelPostura: false,
      loading: false,
      modalDetailPostura: false,
      selectedPostura: {},
      arrayTabs: [
        {
          title: "Pendiente",
          status: 2,
          active: true,
        },
        {
          title: "En proceso",
          status: 3,
          active: false,
        },
        {
          title: "Finalizada",
          status: 4,
          active: false,
        },
        {
          title: "Anulada",
          status: 1,
          active: false,
        },
      ],
      selectedTab: {
        title: "Pendiente",
        status: 2,
        active: true,
      },
      counters: null,
      modal_image: false,
      data_specimen: {
        type: "",
        url: "",
        plaque: "",
        alias: "",
        id: "",
        size: 300000000,
        last_left: false,
        last_right: false,
      },
      incubacionMethod: 1,
      arrayReason: [],
      turnOffReason: null,
      addTurnOffReasonModal: false,
      selectedSpecimenGender: null,
      modalAsignResponsable: false,
      responsable: null,
      responsableComment: null,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter(rol => rol.role_id == 1);
        if(isDueñoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isInvitado(){
        const isInvitadoInRoles = this.roles.filter(rol => rol.role_id == 7);
        if(isInvitadoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter(rol => rol.role_id == 6);
      if(isEncastadorInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    roles(){
        if(this.currentUser){
            return this.currentUser.role
        }else{
            return [];
        }

    }
  },

  mounted() {
    this.getPosturas(null, null);
    this.getCounterByStatus();
    this.getReasonsByModule();
    console.log(this.currentUser, 'logg');
  },
  components: {
    "litter-planning-detail": LitterPlanningDetail,
    Multiselect,
  },
  methods: {
    customLabel({ parent_id, reason }) {
      return `${parent_id} : ${reason}`;
    },
    asignResponsable() {
      Swal.fire({
        title: "Estás seguro?",
        text: "Esta acción no se podrá deshacer",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si",
      }).then((result) => {
        if (result.value) {
          axios
            .post("/api/postura/asign-infertility-responsable", {
              responsable: this.responsable,
              infertility_observation: this.responsableComment,
              postura_id: this.selectedPostura.id,
              user_id: this.currentUser.user_id,
            })
            .then((res) => {
              Swal.fire({
                title: "Felicidades",
                text: `Se ha asignado al ejemplar con placa ${this.responsable} como responsable de la postura ${this.selectedPostura.code}`,
                icon: "success",
              });
              this.getPosturas(null, null);
              this.modalAsignResponsable = false;
            });
        }
      });
    },
    openModalAsignResponsable(postura) {
      this.selectedPostura = postura;
      this.modalAsignResponsable = true;
    },
    openAddReasonModal(postura, gender) {
      if (gender == 1) {
        postura.padrillo_status_post = 1;
      } else {
        postura.madrilla_status_post = 1;
      }
      this.addTurnOffReasonModal = true;
      this.selectedSpecimenGender = gender;
      this.selectedPostura = postura;
    },
    getReasonsByModule() {
      axios
        .post("/api/reason/by-module", {
          module_id: 2,
        })
        .then((res) => {
          this.arrayReason = res.data;
        });
    },
    seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        if (this.arrayPosturas[i].madrilla_id == id) {
          if (this.arrayPosturas.indexOf(this.arrayPosturas[i]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else if (
            this.arrayPosturas.indexOf(this.arrayPosturas[i]) >=
            this.arrayPosturas.length - 1
          ) {
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = true;
          }
        }
      }
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
      this.data_specimen.id = id;
    },
    getPosturas(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/postura", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          status: this.status,
          specimen: this.specimen_plate,
          category_specimen: this.category_specimen,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/postura?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          status: this.status,
          specimen: this.specimen_plate,
          category_specimen: this.category_specimen,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      this.loading = true;
      axios
        .post("/api/postura?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          status: this.status,
          specimen: this.specimen_plate,
          category_specimen: this.category_specimen,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getPosturas(null, null);
    },
    cancelPostura() {
      //console.log(postura);
      axios
        .post("/api/postura/cancel", {
          postura_id: this.posturaId.id,
          placa_padrillo: this.posturaId.placa_padrillo,
          placa_madrilla: this.posturaId.placa_madrilla,
          postura_comment: this.cancelComment,
          user_id: this.currentUser.user_id,
        })
        .then((response) => {
          swal
            .fire({
              icon: "success",
              title: "Postura anulada!",
              text: "Has anulado correctamente la postura!",
            })
            .then((result) => {
              if (result.value) {
                this.$router.push("/main/reproduccion/planificacion-camadas");
              }
            });
          this.getPosturas(null, null);
          //postura.status = 'proceso';
        });
    },
    getCounterByStatus() {
      axios.get("/api/postura/counters").then((response) => {
        this.counters = response.data[0];
        //this.checkSeenStatus();
        //dconsole.log(this.counters);
      });
    },
    activatePostura() {
      //console.log(postura);
      axios
        .post("/api/postura/activate", {
          postura_id: this.posturaId,
          postura_comment: this.posturaComment,
          method: this.incubacionMethod,
        })
        .then((response) => {
          swal
            .fire({
              icon: "success",
              title: "Postura activada!",
              text: "Has activado correctamente la postura!",
            })
            .then((result) => {
              if (result.value) {
                this.$router.push("/main/reproduccion/planificacion-camadas");
              }
            });
          this.getPosturas(null, null);
          //postura.status = 'proceso';
        });
    },
    turnOffSpecimen(postura, status) {
      Swal.fire({
        title: "Estás seguro?",
        text: "Esta acción no se podrá deshacer",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si",
      }).then((result) => {
        if (result.value) {
          axios
            .post(
              `/api/postura/${
                status == 2 ? "turn-off-madrilla" : "turn-off-padrillo"
              }`,
              {
                plate:
                  status == 2 ? postura.placa_madrilla : postura.placa_padrillo,
                turn_off_reason: this.turnOffReason.id,
                postura_id: postura.id,
              }
            )
            .then((res) => {
              Swal.fire({
                title: "Felicidades",
                text: "Has apagado correctamente a este ejemplar",
                icon: "success",
              });
              this.getPosturas(null, null);
            });
        }
      });
    },
    onChangeSwitch(postura) {
      this.openAddReasonModal();
      Swal.fire({
        title: "Estás seguro?",
        text: "Esta acción no se podrá deshacer",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si",
      }).then((result) => {
        if (result.value) {
          axios
            .post("/api/postura/turn-off-madrilla", {
              plate: postura.placa_madrilla,
            })
            .then((res) => {
              Swal.fire({
                title: "Felicidades",
                text: "Has apagado correctamente a este ejemplar",
                icon: "success",
              });
              this.getPosturas(null, null);
            });
        } else {
          postura.madrilla_status_post = !postura.madrilla_status_post;
        }
      });
    },
    onChangeSwitchPadrillo(postura) {
      Swal.fire({
        title: "Estás seguro?",
        text: "Esta acción no se podrá deshacer",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si",
      }).then((result) => {
        if (result.value) {
          axios
            .post("/api/postura/turn-off-padrillo", {
              placa_padrillo: postura.placa_padrillo,
            })
            .then((res) => {
              Swal.fire({
                title: "Felicidades",
                text: "Has apagado correctamente a este padrillo",
                icon: "success",
              });
              this.getPosturas(null, null);
            });
        } else {
          postura.padrillo_status_post = !postura.padrillo_status_post;
        }
      });
    },
    closeModalimage() {
      this.modal_image = false;
    },
    finishPostura() {
      //console.log(postura);
      axios
        .post("/api/postura/finish", {
          postura_id: this.posturaId,
          postura_comment: this.finishComment,
          finished_by: this.currentUser.user_id,
        })
        .then((response) => {
          swal
            .fire({
              icon: "success",
              title: "Postura finalizada!",
              text: "Has finalizado correctamente la postura!",
            })
            .then((result) => {
              if (result.value) {
                this.$router.push("/main/reproduccion/planificacion-camadas");
              }
            });
          this.getPosturas(null, null);
          //postura.status = 'proceso';
        });
    },
    openModalActivatingComment(postura) {
      this.posturaId = postura.id;
      this.modalActivatingPostura = true;
    },
    openModalDesactivatingComment(postura) {
      this.posturaId = postura;
      this.modalCancelPostura = true;
    },
    openModalFinishingComment(postura) {
      this.posturaId = postura.id;
      this.modalFinishingPostura = true;
    },
    openModalPosturaDetail(postura) {
      this.selectedPostura = postura;
      this.modalDetailPostura = true;
    },
    clearComment() {
      this.posturaComment = null;
      this.finishComment = null;
      this.cancelComment = null;
      this.responsableComment = null;
    },
    checkSeenStatus() {
      axios
        .post("/api/postura/seenstatus", {
          status_postura: this.selectedTab.status,
        })
        .then((response) => {
          if (this.selectedTab.status == 1) {
            this.counters.count_anulado = 0;
          } else if (this.selectedTab.status == 2) {
            this.counters.count_pendiente = 0;
          } else if (this.selectedTab.status == 3) {
            this.counters.count_proceso = 0;
          } else if (this.selectedTab.status == 4) {
            this.counters.count_finalizado = 0;
          }
        });
    },
    getSelectedTab(tab) {
      this.selectedTab = tab;
      if (this.isEncastador) {
        this.checkSeenStatus();
      }
      this.getPosturas(null, null);
    },
    switchRight() {
      for (let i = this.arrayPosturas.length - 1; i >= 0; i--) {
        if (this.arrayPosturas[i].madrilla_id == this.data_specimen.id) {
          if (
            this.arrayPosturas.indexOf(this.arrayPosturas[i + 1]) >=
            this.arrayPosturas.length - 1
          ) {
            this.data_specimen.last_right = true;
            this.data_specimen.last_left = false;
          } else {
            this.data_specimen.last_right = false;
            this.data_specimen.last_left = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.arrayPosturas[i + 1].photo;
          this.data_specimen.plaque = this.arrayPosturas[i + 1].placa_madrilla;
          this.data_specimen.alias = this.arrayPosturas[i + 1].madrilla_alias;
          this.data_specimen.id = this.arrayPosturas[i + 1].madrilla_id;
        }
      }
    },
    switchLeft() {
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        if (this.arrayPosturas[i].madrilla_id == this.data_specimen.id) {
          if (this.arrayPosturas.indexOf(this.arrayPosturas[i - 1]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else {
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.arrayPosturas[i - 1].photo;
          this.data_specimen.plaque = this.arrayPosturas[i - 1].placa_madrilla;
          this.data_specimen.alias = this.arrayPosturas[i - 1].madrilla_alias;
          this.data_specimen.id = this.arrayPosturas[i - 1].madrilla_id;
        }
      }
    },
    myLocalSetterFunction(e) {
      console.log(e);
    },
    moment: function () {
      return moment();
    },
  },
  watch: {
    "paginate.search_input"() {
      this.getPosturas(null, null);
    },
  },
  mixins: [misMixins],
};
</script>

<style scoped>
.borderes {
  border-color: black !important;
  border-radius: 20px !important;
}
.notification-icon-link {
  background: #f00;
  padding: 4px 8px 4px 8px;
  border-radius: 50%;
  color: #fff;
  vertical-align: top;
}
.disabled-switch {
  pointer-events: none;
  opacity: 0.4;
}
.badge-width {
  width: 100%;
  max-width: 60px;
  box-sizing: border-box;
}
</style>
