<template>
  <div class="m-3">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <span
                class="class-span-1"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                >{{
                  (start_page - 1) * perpage +
                  1 +
                  "-" +
                  (start_page == end_page ? total_data : start_page * perpage)
                }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span
                class="class-span-2"
                style="
                  border-radius: 50%;
                  border-width: 1px;
                  border-color: black;
                "
                >{{ total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(start_page)"
                :style="
                  start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(next_page)"
                :style="
                  this.start_page != this.end_page ? '' : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 text-right">
            <div class="form-group">
              <input
                class="input-search mr-3"
                type="text"
                v-model="search_input"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                @keyup="search(null, null)"
                placeholder="Buscar por placa o alias"
              /><button class="btn bg-ui-black" @click="search(null, null)">
                <i class="fas fa-search"></i></button
              ><button class="btn bg-ui-black ml-2" @click="searchadvance">
                <img src="/images/advanced-search.png" style="width: 19px" />
              </button>
            </div>
          </div>
          <div class="row col-md-12 mb-2" v-if="advance">
            <div class="col-md-2 text-left">
              <div class="form-group">
                <label>ORIGEN</label>
                <div class="select">
                  <select id="origin" v-model="origin">
                    <option
                      v-for="(item, index) in data_origin"
                      :key="index"
                      :value="item.id"
                    >
                      {{ item.description }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-left">
              <div class="form-group">
                <label>COLOR</label>
                <div class="select">
                  <select id="color" v-model="ejem_color">
                    <option
                      v-for="(item, index) in color_specimen"
                      :key="index"
                      :value="item.id"
                    >
                      {{ item.color }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-left">
              <div class="form-group">
                <label>CATEGORIA</label>
                <div class="select">
                  <select id="category" v-model="category">
                    <option></option>
                    <option
                      v-for="(item, index) in data_category"
                      :key="index"
                      :value="item.id"
                    >
                      {{ item.description }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-left">
              <div class="form-group">
                <label>ESTADO</label>
                <div class="select">
                  <select id="status" v-model="status">
                    <option></option>
                    <option
                      v-for="(item, index) in data_statuse"
                      :key="index"
                      :value="item.id"
                    >
                      {{ item.description }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group mb-0 mt-3 pt-3">
                <button class="btn bg-ui-black" @click="search(null, null)">
                  <i class="fas fa-search"></i></button
                ><button class="ml-2 btn bg-ui-black" @click="clean_filter()">
                  <img src="/images/clear.ico" />
                </button>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-center">
                <th class="text-left" scope="col">Foto</th>
                <th scope="col">Videos</th>
                <th scope="col">
                  <span
                    v-if="suborderP"
                    @click="search('asc', 10)"
                    style="cursor: pointer; text-decoration: underline"
                    >Placa</span
                  ><span
                    v-if="suborderupP"
                    @click="search('desc', 10)"
                    style="cursor: pointer; text-decoration: underline"
                    >Placa<i class="fas fa-long-arrow-alt-up"></i></span
                  ><span
                    v-if="suborderdownP"
                    @click="search('asc', 10)"
                    style="cursor: pointer; text-decoration: underline"
                    >Placa<i class="fas fa-long-arrow-alt-down"></i
                  ></span>
                </th>
                <th scope="col">Alias</th>
                <th scope="col">Categoria</th>
                <th scope="col">Genero</th>
                <th scope="col">Origen</th>
                <th scope="col">Estado</th>
                <th scope="col">Edad</th>
                <th scope="col">
                  <span
                    v-if="suborder"
                    @click="search('asc', 27)"
                    style="cursor: pointer; text-decoration: underline"
                    >Ingresado por</span
                  ><span
                    v-if="suborderup"
                    @click="search('desc', 27)"
                    style="cursor: pointer; text-decoration: underline"
                    >Ingresado por<i class="fas fa-long-arrow-alt-up"></i></span
                  ><span
                    v-if="suborderdown"
                    @click="search('asc', 27)"
                    style="cursor: pointer; text-decoration: underline"
                    >Ingresado por<i class="fas fa-long-arrow-alt-down"></i
                  ></span>
                </th>
                <th scope="col">Acciones</th>
              </thead>

              <tbody>
                <tr v-if="loadingData">
                  <td colspan="11" class="text-center"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr v-for="(item, index) in data" :key="index">
                    <td data-label="Foto">
                      <div id="preview">
                        <img
                          v-lazy="item.thumb"
                          alt="Snow"
                          @click="
                            seeimage(
                              1,
                              item.photo,
                              item.plate,
                              item.alias,
                              item.id
                            )
                          "
                        />
                      </div>
                    </td>
                    <td data-label="Videos">
                      <button
                        class="btn btn-ui bg-ui-black"
                        title="Subir Video"
                        @click="Modavideos(2, item.id, item.plate)"
                        :style="
                          item.countmovies == 0
                            ? 'background:#ddd !important'
                            : ''
                        "
                      >
                        <i class="fas fa-video"></i>
                      </button>
                    </td>
                    <td data-label="Placa">{{ item.plate }}</td>
                    <td data-label="Alias">{{ item.alias }}</td>
                    <td data-label="Categoria">{{ item.cs_description }}</td>
                    <td data-label="Genero">{{ item.s_gender }}</td>
                    <td data-label="Origen">
                      <span>{{ item.os_description }}</span
                      ><br v-if="item.os_description == 'COMPRADO'" /><span
                        v-if="item.os_description == 'COMPRADO'"
                        style="font-size: 12px"
                        >{{ item.breeder }}</span
                      ><br /><span
                        v-if="item.os_description == 'COMPRADO'"
                        style="font-size: 12px"
                        >{{ item.currency + " " + item.price }}</span
                      >
                    </td>
                    <td data-label="Estado">
                      <span
                        :class="
                          item.status == 1
                            ? 'text-success'
                            : item.status == 2
                            ? 'text-primary'
                            : item.status == 3
                            ? 'text-danger'
                            : item.status == 4
                            ? 'text-info'
                            : item.status == 5
                            ? 'text-dark'
                            : 'text-warning'
                        "
                        >{{ item.s_description }}</span
                      ><br v-if="item.status == 3" /><span
                        v-if="item.status == 3"
                        >{{ item.death_date }}</span
                      ><br /><i
                        class="fas fa-list"
                        style="cursor: pointer"
                        @click="ModalTracking(item.id)"
                      ></i>
                    </td>
                    <td data-label="Edad">
                      {{ item.years }} años {{ item.months }} meses
                      {{ item.days }} días
                    </td>
                    <td data-label="Ingresado por">
                      <div v-html="item.created_at"></div>
                    </td>
                    <td class="actions" data-label="Acciones">
                      <i
                        class="fas fa-info-circle clickable"
                        style="font-size: 25px"
                        @click="openModalDetailSpecimen(item)"
                      ></i>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <span class="class-span-1">{{
                (start_page - 1) * perpage +
                1 +
                "-" +
                (start_page == end_page ? total_data : start_page * perpage)
              }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span class="class-span-2">{{ total_data }}</span
              ><button
                class="
                  btn btn-rou......................00..............000nded-ui
                  bg-ui-black
                "
                @click="prev(start_page)"
                :style="
                  start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(next_page)"
                :style="
                  this.start_page != this.end_page ? '' : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <view-image-specimens
      v-if="modal_image"
      :data_specimen="this.data_specimen"
      @click="closeModalimage"
      @switchRight="switchRight"
      @switchLeft="switchLeft"
    ></view-image-specimens>
    <b-modal
      :title="data_specimen.plaque"
      size="lg"
      v-model="list_videos"
      @hidden="closeModalvideos"
      scrollable
    >
      <upload-video
        v-if="list_videos"
        :data_video="this.data_specimen"
        :global="this.global"
      ></upload-video>
    </b-modal>
    <modal-tracking
      v-if="viewtracking"
      :idspecimen="idspecimen"
      @click="closeModaltracking"
    ></modal-tracking>
    <b-modal
      title="Detalle"
      hide-footer
      v-model="modalDetalleSpecimen"
      modal-class="xxl-modal"
      scrollable
      @hidden="closeModalDetailSpecimen"
    >
      <litter-planning-specimen
        :specimenId="selectedSpecimen"
      ></litter-planning-specimen>
    </b-modal>
  </div>
</template>

<script>
import LitterPlanningSpecimen from "../litterplanning/LitterPlanningSpecimen";
export default {
  mounted() {
    if (this.global) {
      this.search(null, null);
      this.getdataselect();
    }
  },
  data() {
    return {
      viewtracking: false,
      list_videos: false,
      modal_image: false,
      idspecimen: "",
      data_specimen: {
        type: "",
        url: "",
        plaque: "",
        alias: "",
        id: "",
        size: 300000000,
        last_left: false,
        last_right: false,
      },
      edit: [],
      data: [],
      create_udpdate: false,
      disable: {
        save: false,
      },
      advance: false,
      search_input: "",
      orderby: this.dato2 == null ? 3 : this.dato2,
      order: this.dato1 == null ? "desc" : this.dato1,
      start_page: "",
      end_page: "",
      total_data: "",
      perpage: "",
      next_page: "",
      dato1: "",
      dato2: "",
      suborder: true,
      suborderup: false,
      suborderdown: false,
      suborderP: true,
      suborderupP: false,
      suborderdownP: false,
      origin: "",
      ejem_color: "",
      category: "",
      status: "",
      data_origin: [],
      data_category: [],
      data_statuse: [],
      color_specimen: [],
      type_currency: [],
      newval: "",
      loadingData: true,
      madrillaDetailModal: false,
      selectedSpecimen: null,
    };
  },
  computed: {
    global() {
      return this.$store.getters.currentUser;
    },
    modalDetalleSpecimen: {
        get() {return this.$store.getters.modalDetalleSpecimen} ,
        set(value) {this.$store.dispatch("updateModalDetalleSpecimen", value )}
    }
  },
  components: {
    "litter-planning-specimen": LitterPlanningSpecimen,
  },
  methods: {
    clean_filter() {
      this.origin = "";
      this.ejem_color = "";
      this.category = "";
      this.status = "";
      this.search(null, null);
      this.advance = false;
    },
    seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      for (let i = 0; i < this.data.length; i++) {
        if (this.data[i].id == id) {
          if (this.data.indexOf(this.data[i]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else if (this.data.indexOf(this.data[i]) >= this.data.length - 1) {
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = true;
          }
        }
      }
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
      this.data_specimen.id = id;
    },
    closeModalimage() {
      this.modal_image = false;
    },
    getcolorspecimen() {
      axios
        .post("/api/get-color-specimen")
        .then((response) => {
          if (response.status == 200) {
            this.color_specimen = response.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getdataselect() {
      this.getcolorspecimen();
      axios
        .post("/api/get-data-select-specimens")
        .then((response) => {
          if (response.status == 200) {
            this.data_origin = JSON.parse(response.data[0].data_origin);
            this.data_category = JSON.parse(response.data[0].data_category);
            this.data_statuse = JSON.parse(response.data[0].data_statuse);
            this.type_currency = JSON.parse(response.data[0].type_currency);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    searchadvance() {
      this.advance = true;
    },
    prev(start_p) {
      this.newval = start_p - 1;
      axios
        .post("/api/get-specimens?page=" + this.newval, {
          iduser: this.global.user_id,
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 4 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
          filter_origin: this.origin == "" ? null : this.origin,
          filter_color: this.ejem_color == "" ? null : this.ejem_color,
          filter_category: 1,
          filter_status: 1,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            if (this.start_page == this.end_page) {
              this.next_page = this.start_page;
            } else {
              this.next_page = this.start_page + 1;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      axios
        .post("http://smart-rooster.test/api/get-specimens?page=" + next, {
          iduser: this.global.user_id,
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 4 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
          filter_origin: this.origin == "" ? null : this.origin,
          filter_color: this.ejem_color == "" ? null : this.ejem_color,
          filter_category: 1,
          filter_status: 1,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            if (this.start_page == this.end_page) {
              this.next_page = this.start_page;
            } else {
              this.next_page = this.start_page + 1;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    search(dato1, dato2) {
      this.loadingData = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      if (dato2 == 3) {
        if (dato1 == "asc") {
          this.suborder = false;
          this.suborderup = true;
          this.suborderdown = false;
        } else if (dato1 == "desc") {
          this.suborder = false;
          this.suborderup = false;
          this.suborderdown = true;
        } else {
          this.suborder = true;
          this.suborderup = false;
          this.suborderdown = false;
        }
      }
      if (dato2 == 10) {
        if (dato1 == "asc") {
          this.suborderP = false;
          this.suborderupP = true;
          this.suborderdownP = false;
        } else if (dato1 == "desc") {
          this.suborderP = false;
          this.suborderupP = false;
          this.suborderdownP = true;
        } else {
          this.suborderP = true;
          this.suborderupP = false;
          this.suborderdownP = false;
        }
      }
      axios
        .post("/api/get-specimens", {
          iduser: this.global.user_id,
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 4 : dato2,
          campo: this.search_input == "" ? null : this.search_input,
          filter_origin: this.origin == "" ? null : this.origin,
          filter_color: this.ejem_color == "" ? null : this.ejem_color,
          filter_category: 1,
          filter_status: 1,
        })
        .then((response) => {
          if (response.status == 200) {
            this.loadingData = false;
            // var preloader = document.getElementById('backPreloader');
            //preloader.classList.remove('viewpreloader')
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },

    delete_specimen(id) {
      swal
        .fire({
          title: "Estas seguro?",
          text: "¡No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3490dc",
          cancelButtonColor: "#e3342f",
          confirmButtonText: "Si",
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/delete-specimen", {
                iduser: this.global.user_id,
                id: id,
              })
              .then((response) => {
                if (response.status == 200) {
                  this.search(null, null);
                }
              })
              .catch((err) => {
                console.log(err);
              });
          }
        });
    },
    resetSearch() {
      this.search_input = "";
      this.search();
    },
    Modavideos(type, id, plaque) {
      this.list_videos = true;
      this.data_specimen.id = id;
      this.data_specimen.type = type;
      this.data_specimen.plaque = plaque;
    },
    closeModalvideos() {
      this.next(this.start_page);
      this.list_videos = false;
    },
    ModalTracking(id) {
      this.idspecimen = id;
      this.viewtracking = true;
    },
    closeModaltracking() {
      this.viewtracking = false;
    },
    openModalDetailSpecimen(item) {
      this.$store.dispatch("updateModalDetalleSpecimen", true);
      //this.madrillaDetailModal = true
      this.selectedSpecimen = item.id;
    },
    closeModalDetailSpecimen() {
      this.$store.dispatch("updateModalDetalleSpecimen", false);
      this.search(null, null);
    },
    switchRight() {
      for (let i = this.data.length - 1; i >= 0; i--) {
        if (this.data[i].id == this.data_specimen.id) {
          if (this.data.indexOf(this.data[i + 1]) >= this.data.length - 1) {
            this.data_specimen.last_right = true;
            this.data_specimen.last_left = false;
          } else {
            this.data_specimen.last_right = false;
            this.data_specimen.last_left = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.data[i + 1].photo;
          this.data_specimen.plaque = this.data[i + 1].plate;
          this.data_specimen.alias = this.data[i + 1].alias;
          this.data_specimen.id = this.data[i + 1].id;
        }
      }
    },
    switchLeft() {
      for (let i = 0; i < this.data.length; i++) {
        if (this.data[i].id == this.data_specimen.id) {
          if (this.data.indexOf(this.data[i - 1]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else {
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.data[i - 1].photo;
          this.data_specimen.plaque = this.data[i - 1].plate;
          this.data_specimen.alias = this.data[i - 1].alias;
          this.data_specimen.id = this.data[i - 1].id;
        }
      }
    },
  },
  watch: {
    global(newVal, oldVal) {
      this.search(null, null);
      this.getdataselect();
    },
  },
};
</script>
<style scoped>
@media (max-width: 991.98px) {
  #preview {
    margin-left: 85%;
  }
}
</style>
