<template>
  <div>
    <div>
      <div class="style-save-specimens">
        <spinner v-if="!global"></spinner>
        <template v-else>
          <div class="col-md-12 mb-5" style="height: 150px" v-if="global">
            <div class="wrapper" style="width: 150px; margin: 0 auto">

              <img
                class="image--cover-edit"
                alt=""
                id="resize"
                :src="
                  global.specimen[0].thumb == null
                    ? '/images/camera.png'
                    : global.specimen[0].thumb
                "
              />
              <div class="buttom-file-edit">
                <input
                  type="file"
                  id="file"
                  @change="process"
                  accept="image/*"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-12 mb-2">
              <div class="c1">
                <div class="col mb-2">
                  <label>GENERO</label><br />
                  <div
                    class="btn-group btn-group-toggle form-control f-control"
                    data-toggle="buttons"
                  >
                    <label
                      :class="[
                        'btn',
                        'button-group-r-edit',
                        global.specimen[0].gender == 1
                          ? 'active-gender-edit'
                          : '',
                      ]"
                      id="macho"
                      data-toggle="buttons"
                      >Macho<input
                        type="radio"
                        name="gender"
                        v-model="macho"
                        disabled="disabled"
                        autocomplete="off" /></label
                    ><label
                      :class="[
                        'btn',
                        'button-group-l-edit',
                        global.specimen[0].gender == 2
                          ? 'active-gender-edit'
                          : '',
                      ]"
                      data-toggle="buttons"
                      id="hembra"
                      >Hembra<input
                        type="radio"
                        name="gender"
                        v-model="hembra"
                        disabled="disabled"
                        autocomplete="off"
                    /></label>
                  </div>
                </div>
                <div class="col mb-2">
                  <label>CATEGORIA(*)</label>
                  <div class="select-edit">
                    <select
                      class="form-control inputs-modules-edit"
                      id="category"
                      v-model="category"
                      @change="selectCategory"
                      :disabled="!isAdmin"
                    >
                      <option
                        v-for="(item, index) in data_category"
                        :key="index"
                        :value="item.id"
                      >
                        {{ item.description }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col mb-2">
                  <label>ORIGEN(*)</label>
                  <div class="select-edit" id="origin">
                    <select
                      class="form-control inputs-modules-edit"
                      v-model="origin"
                      :disabled="!isAdmin"
                    >
                      <option
                        v-for="(item, index) in data_origin"
                        :key="index"
                        :value="item.id"
                      >
                        {{ item.description }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col mb-2">
                  <label class="mr-2">COLOR </label
                  ><i
                    class="fas fa-plus add"
                    v-if="ac == true && isAdmin"
                    @click="add(1)"
                  ></i
                  ><i class="fas fa-times add" v-else @click="close(1)"></i>
                  <div class="select-edit" v-if="selectcolor">
                    <select
                      class="form-control inputs-modules-edit"
                      id="color"
                      v-model="ejem_color"
                      :disabled="!isAdmin"
                    >
                      <option
                        v-for="(item, index) in color_specimen"
                        :key="index"
                        :value="item.id"
                      >
                        {{ item.color }}
                      </option>
                    </select>
                  </div>
                  <div v-if="inputaddcolor">
                    <label>Masculino</label>
                    <input
                      class="form-control inputs-modules"
                      type="text"
                      v-model="namecolor"
                      aria-describedby="basic-addon1"
                    />
                    <label>Femenino</label>
                    <input
                      class="form-control inputs-modules"
                      type="text"
                      v-model="namecolorfemale"
                      aria-describedby="basic-addon1"
                    />
                    <br />
                    <div class="input-group-prepend">
                      <button class="btn btn-ui bg-ui-black" @click="savecolor">
                        Agregar
                      </button>
                    </div>
                  </div>
                  <span class="badge badge-danger" v-if="validate.color"
                    >Color ya existe.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-2">
              <div class="c1">
                <div class="col mb-2">
                  <label>CRIADOR </label
                  ><input
                    class="form-control inputs-modules-edit"
                    type="text"
                    id="criador"
                    v-model="breeder"
                    :disabled="!isAdmin"
                  />
                </div>
                <div class="col mb-2">
                  <label class="float-left mr-2">CRIADOR</label>
                  <div class="float-left">
                    <i
                      class="fas fa-plus add"
                      v-if="ar == true"
                      @click="add(2)"
                    ></i
                    ><i
                      class="fas fa-times add"
                      v-if="ar == false"
                      @click="close(2)"
                    ></i>
                  </div>
                  <input
                    class="form-control inputs-modules-edit"
                    v-if="selectrival"
                    id="camposearch"
                    v-model="camposearch"
                    autocomplete="off"
                    type="text"
                    @click="viewrivals"
                    @keyup="searchbreeder"
                    ref="file"
                    name="file"
                    placeholder="Buscar.."
                    style="margin-bottom: 5px"
                    :disabled="!isAdmin"
                  />
                  <div class="cont-users" v-if="selectrival" id="contusers">
                    <span
                      class="span-hover"
                      v-for="(item, index) in rival_specimen"
                      :key="index"
                      style="display: block; cursor: pointer"
                      :id="item.id"
                      @click="selectvalue(item.id, item.name)"
                      >{{ item.name }}</span
                    >
                  </div>
                  <div class="input-group" v-if="inputaddrival">
                    <input
                      class="form-control inputs-modules-edit"
                      type="text"
                      id="namerival"
                      v-model="namerival"
                      :disabled="!isAdmin"
                    />
                    <div class="input-group-prepend">
                      <button
                        class="btn btn-save-select-edit"
                        @click="saverival"
                      >
                        Agregar
                      </button>
                    </div>
                    <span class="badge badge-danger" v-if="validate.existsrival"
                      >Rival ya existe.</span
                    >
                  </div>
                </div>
                <div class="col mb-2">
                  <label>PRECIO </label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="select_currency-edit">
                        <select
                          class="inputs-modules-edit"
                          v-model="currency"
                          :disabled="!isAdmin"
                        >
                          <option
                            v-for="(item, index) in type_currency"
                            :key="index"
                            :value="item.id"
                          >
                            {{ item.currency }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <input
                      class="form-control inputs-modules-edit"
                      type="text"
                      id="price"
                      v-model="price"
                      @blur="format"
                      :disabled="!isAdmin"
                      @keypress="justNumbers"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </div>
                <div class="col mb-2">
                  <label>FECHA DE NACIMIENTO(*)</label
                  ><input
                    class="form-control inputs-modules-edit"
                    type="date"
                    data-date-format="DD/MM/YYYY"
                    id="dob"
                    v-model="dob"
                    :disabled="!isAdmin"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-2 mr-0">
              <div class="c1">
                <div class="col mb-2">
                  <label>ESTADO(*)</label>
                  <div class="select-edit" id="status">
                    <select
                      class="form-control inputs-modules-edit"
                      v-model="status"
                      @change="tracking"
                      :disabled="!isAdmin"
                    >
                      <option
                        v-for="(item, index) in data_statuse"
                        :key="index"
                        :value="item.id"
                      >
                        {{ item.description }}
                      </option>
                    </select>
                  </div>
                </div>
                <div
                  class="col mb-2"
                  v-if="
                    status != global.specimen[0].status || description_tracking
                  "
                >
                  <label>DESCRIPCION</label
                  ><textarea
                    class="form-control inputs-modules-edit"
                    id="description_status"
                    rows="1"
                    v-model="description_status"
                    :disabled="!isAdmin"
                  ></textarea>
                </div>
                <div class="col mb-2">
                  <label>PLACA(*)</label
                  ><input
                    class="form-control inputs-modules-edit"
                    type="text"
                    id="placa"
                    v-model="placa"
                    :disabled="!isAdmin"
                    @keyup="validateplate"
                  /><span class="badge badge-danger" v-if="validate.vplaca"
                    >Placa ya existe.</span
                  >
                </div>
                <div class="col mb-2">
                  <label>PLACA ADICIONAL </label
                  ><input
                    class="form-control inputs-modules-edit"
                    type="text"
                    :disabled="!isAdmin"
                    v-model="p_adicional"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-2">
              <div class="col mb-2">
                <label>ALIAS</label
                ><input
                  class="form-control inputs-modules-edit"
                  type="text"
                  id="alias"
                  v-model="alias"
                  :disabled="!isAdmin"
                />
              </div>
              <div class="col mb-2">
                <label>DEFINICION</label
                ><input
                  class="form-control inputs-modules-edit"
                  type="text"
                  id="definition"
                  v-model="definition"
                  :disabled="!isAdmin"
                />
              </div>
              <div class="col mb-2" v-if="date_evidence">
                <label>FECHA DE MUERTE(*)</label
                ><input
                  class="form-control inputs-modules-edit"
                  type="date"
                  data-date-format="DD/MM/YYYY"
                  id="death_date"
                  v-model="death_date"
                  :disabled="!isAdmin"
                />
              </div>
            </div>
            <div class="col-md-12 col-12 ml-1 mb-2 row mr-0">
              <div
                class="col-2 mb-2"
                v-if="image_evidence || (global.specimen[0].status == 3 &amp;&amp; status == 3)"
                style="height: 150px"
              >
                <label for="file-input">EVIDENCIA</label>
                <div class="wrapper" style="width: 150px; position: absolute">
                  <img
                    class="image--cover-evidence-edit"
                    alt=""
                    id="imgtracking"
                    :src="
                      global.specimen[0].url_evidence_thumb == null
                        ? '/images/camera.png'
                        : global.specimen[0].url_evidence_thumb
                    "
                  />
                  <div class="buttom-file-evidence-edit">
                    <input
                      type="file"
                      id="filestatus"
                      @change="evidence_status"
                      accept="image/*"
                    /><i class="fas fa-plus"></i>
                  </div>
                </div>
              </div>
              <div
                class="col-md-10 float-left"
                v-if="image_evidence == true"
                id="observations"
              >
                <div class="observations">
                  <label>OBSERVACIONES</label
                  ><textarea
                    class="form-control inputs-modules-edit"
                    v-model="observations"
                    rows="4"
                    :disabled="!isAdmin"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-6" v-if="image_evidence == false">
                <div class="observations">
                  <label>OBSERVACIONES</label
                  ><textarea
                    class="form-control inputs-modules-edit"
                    v-model="observations"
                    rows="4"
                    :disabled="!isAdmin"
                  ></textarea>
                </div>
              </div>
              <!-- <div class="col-md-6 mt-2" v-if="category == 1 && isAdmin">
                <button
                  class="btn btn-success"
                  @click="openModalRegisterPostura"
                >
                  Registrar postura
                </button>
              </div>
              <div class="col-md-6 mt-2" v-if="category == 2 && isAdmin">
                <div>
                  <template v-if="currentMadrillaisAvailable">
                    <button
                      class="btn btn-success"
                      @click="openModalRegisterPostura"
                    >
                      Registrar postura
                    </button>
                  </template>
                  <template v-else>
                    <p class="text-danger">
                      Esta madrilla tiene una postura en proceso o pendiente
                    </p>
                  </template>
                </div>
              </div> -->
              <div class="col-md-6 mt-2">
                <div class="row">
                    <div class="col-md-4 mt-2">
                        <template v-if="category == 1 && isAdmin">
                      <button
                        class="btn btn-info"
                        style="width: 100%;"
                        @click="openModalRegisterPostura"
                      >
                        Registrar postura
                      </button>
                    </template>
                    <template v-if="category == 2 && isAdmin">
                      <template v-if="currentMadrillaisAvailable">
                        <button
                          class="btn btn-info"
                          @click="openModalRegisterPostura"
                          style="width: 100%;"
                        >
                          Registrar postura
                        </button>
                      </template>
                      <template v-else>
                        <p class="text-danger">
                          Esta madrilla tiene una postura en proceso o pendiente
                        </p>
                      </template>
                    </template>
                    </div>
                  <div class="col-md-4 mt-2">
                    <button
                      class="btn btn-info"
                      style="width: 100%;"
                      @click="openModalPosturaHistory(true)"
                    >
                      Historial de posturas
                    </button>
                  </div>

                  <div
                    class="col-md-4 mt-2"
                    v-if="!hasFamily && isNotFromCamada && isAdmin"
                  >
                    <button
                      class="btn btn-info"
                      style="width: 100%;"
                      @click="
                        registerParentsModalController =
                          !registerParentsModalController
                      "
                    >
                      Registrar pedigree
                    </button>
                  </div>
                  <div class="col-md-4 mt-2">
                    <button class="btn btn-info" style="width: 100%;" @click="openTreeModal">
                      Pedigree
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row observations ml-2">
                  <div class="col-md-7 c1 mt-2">
                    <div class="row">
                      <div class="col-lg-6 col-xs-6">
                        <div
                          class="card bg-c-blue order-card"
                          style="cursor: pointer"
                          @click="openModalPosturaHistory(false)"
                        >
                          <div class="card-block">
                            <h6
                              class="m-b-20"
                              style="font-weight: bold; font-size: 1.1rem"
                            >
                              # Responsable de infertilidad en posturas
                            </h6>
                            <h2 class="text-right">
                              <div class="row">
                                <div class="col-lg-3">
                                  <i
                                    class="fas fa-hourglass-start f-left"
                                    style="font-size: 50px"
                                  ></i>
                                </div>
                                <div class="col-lg-9">
                                  <span style="font-weight: bold">
                                    <span
                                      style="font-size: 30px"
                                      class="clickable"
                                      >{{ counter_res }}</span
                                    >
                                    <!-- {{bankAccount.incomes?bankAccount.incomes.currency_text:''}} {{bankAccount.incomes?bankAccount.incomes.total_incomes:'0.00'}} -->
                                  </span>
                                </div>
                              </div>
                            </h2>
                            <p class="m-b-0">
                              <span class="f-right"
                                ># Responsable de infertilidad en posturas</span
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-xs-6">
                        <div
                          class="card bg-c-green order-card"
                          style="cursor: pointer"
                        >
                          <div class="card-block">
                            <h6
                              class="m-b-20"
                              style="font-weight: bold; font-size: 1.1rem"
                            >
                              Porcentaje de fertilidad
                            </h6>
                            <h2 class="text-right">
                              <div class="row">
                                <div class="col-lg-3">
                                  <!-- <i
                                    class="fas fa-percentage f-left"
                                    style="font-size: 50px"
                                  ></i> -->
                                </div>
                                <div class="col-lg-9">
                                  <span style="font-weight: bold">
                                    <span
                                      style="font-size: 30px"
                                      class="clickable"
                                      >{{
                                        percentage ? percentage + " %" : "-"
                                      }}</span
                                    >
                                    <!-- {{bankAccount.incomes?bankAccount.incomes.currency_text:''}} {{bankAccount.incomes?bankAccount.incomes.total_incomes:'0.00'}} -->
                                  </span>
                                </div>
                              </div>
                            </h2>
                            <p class="m-b-0">
                              <span class="f-right"
                                >Porcentaje de fertilidad</span
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <label for=""
                    ># Responsable de infertilidad en posturas</label
                  >
                  <br />
                  <span
                    style="font-size: 30px"
                    class="clickable"
                    @click="openModalPosturaHistory(false)"
                    >{{ counter_res }}</span
                  > -->
                  </div>
                </div>
              </div>

              <div class="col-md-12 d-flex justify-content-center mt-5">
                <div>
                  <button
                    class="btn btn-ui bg-ui-black"
                    @click="editspecimens()"
                    :disabled="disable.save"
                    v-if="isAdmin"
                  >
                    <i class="fas fa-save"></i> ACTUALIZAR
                  </button>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
    <b-modal
      :title="`Crear postura para ${alias} / ${placa}`"
      v-model="modalCreateRegisterPostura"
      size="xl"
      hide-footer
      centered
      @hidden="closeModalCreatePostura"
    >
      <create-litter-planning
        :placa="placa"
        :fromSpecimenDetail="true"
        :madrillaController="category == 1 ? false : true"
      ></create-litter-planning>
    </b-modal>
    <b-modal
      :title="`Historial de ${alias ? alias + ' /' : ''} / ${placa}`"
      v-model="modalPosturaHistory"
      size="xl"
      hide-footer
      scrollable
    >
      <litter-planning-specimen-grouped
        :specimen_plate="placa"
        :selected_tab="fromPosturaHistory ? null : 4"
        :fromSpecimenDetail="true"
        :category_specimen="category"
      ></litter-planning-specimen-grouped>
    </b-modal>
    <b-modal
      modal-class="test-modal"
      title="Árbol"
      hide-footer
      v-model="treeModalController"
      hide-header
    >
      <specimen-tree-component
        :specimenId="specimenId"
        @closeModalTreeSpecimen="closeModalTreeSpecimen"
      ></specimen-tree-component>
    </b-modal>
    <b-modal
      size="lg"
      :title="`Registrar ascendencia de ${
        alias ? alias + ' /' : ''
      } / (${placa})`"
      hide-footer
      v-model="registerParentsModalController"
    >
      <register-specimen-parents
        :specimenId="specimenId"
        :specimenAlias="alias"
        :specimenPlate="placa"
        :specimenDob="dob"
        @closeModalRegisterSpecimenParents="closeModalRegisterSpecimenParents"
      ></register-specimen-parents>
    </b-modal>
  </div>
</template>
<script>
import CreateLitterPlanningPage from "./CreateLitterPlanningPage";
import LitterPlanningSpecimenGrouped from "./LitterPlanningSpecimenGrouped";
import SpecimenTreeComponent from "../../../components/commons/SpecimenTreeComponent.vue";
import RegisterSpecimenParents from "../../../components/tree/RegisterSpecimenParents.vue";
export default {
  components: {
    "create-litter-planning": CreateLitterPlanningPage,
    "litter-planning-specimen-grouped": LitterPlanningSpecimenGrouped,
    "specimen-tree-component": SpecimenTreeComponent,
    "register-specimen-parents": RegisterSpecimenParents,
  },
  props: {
    specimenId: Number,
  },
  data() {
    return {
      namerival: "",
      camposearch: null,
      view_breeder: false,
      breeder_id: null,
      ac: true,
      ar: true,
      death_date: null,
      date_evidence: null,
      image_evidence: false,
      description_tracking: null,
      evidencefile: "",
      description_status: null,
      viewimgtracking: false,
      view_specimens: null,
      currency: null,
      origin: null,
      alias: null,
      placa: null,
      p_adicional: null,
      breeder: null,
      price: null,
      ejem_color: null,
      category: null,
      data_origin: [],
      data_category: [],
      data_statuse: [],
      color_specimen: [],
      type_currency: [],
      macho: null,
      hembra: null,
      status: null,
      dob: null,
      observations: null,
      disable: {
        save: false,
      },
      validate: {
        vplaca: false,
        color: false,
        existsrival: false,
        rivalsave: false,
      },
      file_image: "",
      file_name: "",
      file_image_thumb: "",
      file_image_evidence: "",
      file_name_evidence: "",
      file_image_thumb_evidence: "",
      progress: "",
      inputaddcolor: false,
      selectcolor: true,
      ac: true,
      namecolor: "",
      definition: null,
      pase: 0,
      rival_specimen: [],
      inputaddrival: false,
      selectrival: true,
      global: null,
      loadingData: false,
      category_prueba: null,
      arrayMadrillas: [],
      arrayPadrillos: [],
      selectedPadrillo: null,
      selectedMadrilla: null,
      observacionPostura: null,
      modalRegisterPostura: false,
      modalPosturaHistory: false,
      namecolorfemale: "",
      treeModalController: false,
      registerParentsModalController: false,
      hasFamily: true,
      percentage: 0,
      counter_res: 0,
      fromPosturaHistory: true,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    currentMadrillaisAvailable() {
      return this.arrayMadrillas.some(
        (madrilla) => madrilla.plate == this.placa
      );
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter(rol => rol.role_id == 1);
        if(isDueñoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isInvitado(){
        const isInvitadoInRoles = this.roles.filter(rol => rol.role_id == 7);
        if(isInvitadoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter(rol => rol.role_id == 6);
      if(isEncastadorInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    roles(){
        if(this.currentUser){
            return this.currentUser.role
        }else{
            return [];
        }

    },
    modalCreateRegisterPostura() {
      return this.$store.getters.modalCreateRegisterPostura;
    },
    isNotFromCamada() {
      if (this.origin != 1) {
        return true;
      } else {
        return false;
      }
    },
  },
  mounted() {
    this.loadingData = true;
    axios.get(`/api/specimens/edit/${this.specimenId}`).then((response) => {
      this.global = {
        layout: this.currentUser,
        specimen: response.data,
      };
      this.loadingData = false;
    });
    this.validateIfSpecimenHasFamilyTree();
    this.getdataselect();
    this.getrival();
    this.selectCategory();
  },
  methods: {
    validateIfSpecimenHasFamilyTree() {
      axios
        .post("/api/tree/validate-specimen", {
          specimen_id: this.specimenId,
        })
        .then((res) => {
          let arr = res.data;
          if (arr.length > 0) {
            this.hasFamily = true;
          } else {
            this.hasFamily = false;
          }
        });
    },
    openTreeModal() {
      this.treeModalController = true;
    },
    closeModalTreeSpecimen() {
      this.treeModalController = false;
    },
    openModalPosturaHistory(valor) {
      this.modalPosturaHistory = true;
      this.fromPosturaHistory = valor;
    },
    closeModalRegisterSpecimenParents() {
      this.registerParentsModalController = false;
    },
    openModalRegisterPostura() {
      //   this.modalRegisterPostura = true;
      this.$store.dispatch("updateCreateRegisterPostura", true);
    },
    viewrivals() {
      var dato = document.getElementById("contusers");
      dato.classList.toggle("all-he");
    },
    getActiveMadrillasByActivePosturas() {
      axios.get("/api/postura/active-madrillas").then((response) => {
        this.arrayMadrillas = response.data;
      });
    },
    getActivePadrillos() {
      axios.get("/api/postura/active-padrillos").then((response) => {
        this.arrayPadrillos = response.data;
      });
    },
    searchbreeder() {
      var x = document.getElementById("camposearch");
      var dato = document.getElementById("contusers");
      var cant = x.value;
      axios
        .post("/api/search-rival", {
          q: cant,
        })
        .then((response) => {
          if (response.status == 200) {
            if (cant.length > 0) {
              dato.classList.add("all-he");
              this.rival_specimen = response.data;
              if (this.rival_specimen.length == 0) {
                dato.classList.remove("scroll-all");
                dato.classList.remove("all-he");
              } else if (this.rival_specimen.length < 15) {
                dato.classList.add("all-he");
                dato.classList.remove("scroll-all");
              } else if (this.rival_specimen.length > 15) {
                dato.classList.add("scroll-all");
              }
            } else {
              dato.classList.remove("scroll-all");
              dato.classList.remove("all-he");
              this.getrival();
            }
          }
        })
        .catch((err) => {
          console.error(err);
        });
    },
    selectvalue(id, name) {
      this.breeder_id = id;
      this.camposearch = name;
      var x = document.getElementById("camposearch");
      var dato = document.getElementById("contusers");
      x.value = this.camposearch;
      dato.classList.remove("scroll-all");
      dato.classList.remove("all-he");
      this.getrival();
    },
    validateplate() {
      axios
        .post("/api/validate-plate", {
          t_plate: this.placa == "" ? null : this.placa,
          idspecimen: this.global.specimen[0].id,
        })
        .then((response) => {
          if (response.status == 200) {
            if (response.data == 0) {
              this.validate.vplaca = true;
            } else {
              this.validate.vplaca = false;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    selectCategory() {
      var machoid = document.getElementById("macho");
      var hembraid = document.getElementById("hembra");
      if (
        this.category == 1 ||
        this.category == 3 ||
        this.category == 5 ||
        this.category == 7
      ) {
        this.macho = 1;
        this.hembra = 0;
        if (machoid && hembraid) {
          machoid.classList.add("active-gender-edit");
          hembraid.classList.remove("active-gender-edit");
        }
      } else {
        this.macho = 0;
        this.hembra = 1;
        if (machoid && hembraid) {
          hembraid.classList.add("active-gender-edit");
          machoid.classList.remove("active-gender-edit");
        }
      }
    },
    process() {
      const file = document.querySelector("#file").files[0];

      this.file_name = file.name;

      var ext = file.name.split(".").pop();
      var extension = ext.toLowerCase();
      if (extension == "jpg" || extension == "png" || extension == "jpeg") {
        if (!file) return;
        const reader = new FileReader();
        reader.readAsDataURL(file);
        this.view_specimens = true;

        reader.onload = (event) => {
          const imgElement = document.createElement("img");
          imgElement.src = event.target.result;
          this.file_image = event.target.result;
          document.querySelector("#resize").src = event.target.result;

          imgElement.onload = (e) => {
            const canvas = document.createElement("canvas");
            const MAX_WIDTH = 100;

            const scaleSize = MAX_WIDTH / e.target.width;
            canvas.width = MAX_WIDTH;
            canvas.height = e.target.height * scaleSize;

            const ctx = canvas.getContext("2d");

            ctx.drawImage(e.target, 0, 0, canvas.width, canvas.height);

            const srcEncoded = ctx.canvas.toDataURL(e.target, "image/jpeg");

            // you can send srcEncoded to the server
            document.querySelector("#resize").src = srcEncoded;
            this.file_image_thumb = srcEncoded;
          };
        };
      } else {
        inputfile.value = "";
        Swal.fire({
          icon: "error",
          title: "Formato invalido",
          showConfirmButton: false,
          timer: 1500,
        });
        document.querySelector("#resize").src = "";
        document.querySelector("#resize").src = "/images/camera.png";
      }
    },
    evidence_status() {
      const file = document.querySelector("#filestatus").files[0];
      var inputfile = document.getElementById("filestatus");
      this.file_name_evidence = file.name;
      var ext = file.name.split(".").pop();
      var extension = ext.toLowerCase();
      if (extension == "jpg" || extension == "png" || extension == "jpeg") {
        if (!file) return;
        const reader = new FileReader();
        reader.readAsDataURL(file);
        this.viewimgtracking = true;

        reader.onload = (event) => {
          const imgElement = document.createElement("img");
          imgElement.src = event.target.result;
          this.file_image_evidence = event.target.result;
          document.querySelector("#imgtracking").src = event.target.result;

          imgElement.onload = (e) => {
            const canvas = document.createElement("canvas");
            const MAX_WIDTH = 100;

            const scaleSize = MAX_WIDTH / e.target.width;
            canvas.width = MAX_WIDTH;
            canvas.height = e.target.height * scaleSize;

            const ctx = canvas.getContext("2d");

            ctx.drawImage(e.target, 0, 0, canvas.width, canvas.height);

            const srcEncoded = ctx.canvas.toDataURL(e.target, "image/jpeg");

            // you can send srcEncoded to the server
            document.querySelector("#imgtracking").src = srcEncoded;
            this.file_image_thumb_evidence = srcEncoded;
          };
        };
      } else {
        inputfile.value = "";
        Swal.fire({
          icon: "error",
          title: "Formato invalido",
          showConfirmButton: false,
          timer: 1500,
        });
        document.querySelector("#imgtracking").src = "";
        document.querySelector("#imgtracking").src = "/images/camera.png";
      }
    },
    getcolorspecimen() {
      axios
        .post("/api/get-color-specimen", {
          gender_specimen: this.macho == 1 ? 1 : 2,
        })
        .then((response) => {
          if (response.status == 200) {
            this.color_specimen = response.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getdataselect() {
      this.getcolorspecimen();
      axios
        .post("/api/get-data-select-specimens")
        .then((response) => {
          if (response.status == 200) {
            this.data_origin = JSON.parse(response.data[0].data_origin);
            this.data_category = JSON.parse(response.data[0].data_category);
            this.data_statuse = JSON.parse(response.data[0].data_statuse);
            this.type_currency = JSON.parse(response.data[0].type_currency);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    editspecimens() {
      var origin = document.getElementById("origin");
      var category = document.getElementById("category");
      var status = document.getElementById("status");
      var dob = document.getElementById("dob");

      if (this.validate.vplaca == false) {
        if (this.category == "") {
          category.style.border = "solid 1px red";
        } else if (this.origin == "") {
          origin.style.border = "solid 1px red";
          category.removeAttribute("style");
        } else if (this.dob == "") {
          dob.style.border = "solid 1px red";
          origin.removeAttribute("style");
          category.removeAttribute("style");
        } else if (this.status == "") {
          status.style.border = "solid 1px red";
          origin.removeAttribute("style");
          category.removeAttribute("style");
          dob.removeAttribute("style");
        } else if (this.placa == "") {
          placa.style.border = "solid 1px red";
          status.removeAttribute("style");
          origin.removeAttribute("style");
          dob.removeAttribute("style");
          category.removeAttribute("style");
        } else if (this.status == 3) {
          status.removeAttribute("style");
          origin.removeAttribute("style");
          placa.removeAttribute("style");
          category.removeAttribute("style");
          dob.removeAttribute("style");
          var death_date = document.getElementById("death_date");
          if (this.death_date == "") {
            death_date.style.border = "solid 1px red";
          } else {
            death_date.removeAttribute("style");
            if (this.status == 3) {
              swal
                .fire({
                  title: "Estas seguro?",
                  text: "¡No podrás revertir esto!",
                  icon: "warning",
                  showCancelButton: true,
                  confirmButtonColor: "#3490dc",
                  cancelButtonColor: "#e3342f",
                  confirmButtonText: "Si",
                })
                .then((result) => {
                  if (result.value) {
                    this.update();
                  }
                });
            }
          }
        } else {
          this.update();
        }
      }
    },
    update() {
      this.disable.save = true;
      axios
        .post("/api/save-specimens", {
          iduser: this.global.layout.user_id,
          origin: this.origin,
          alias: this.alias,
          placa: this.placa,
          p_adicional: this.p_adicional,
          breeder: this.breeder,
          breeder_id: this.breeder_id,
          price: this.price,
          ejem_color: this.ejem_color,
          category: this.category,
          gender: this.macho == 1 ? 1 : 2,
          status: this.status,
          dob: this.dob,
          obs: this.observations,
          t_update: this.global.specimen[0].id,
          file_image: this.file_image,
          file_name: this.file_name,
          file_image_evidence: this.file_image_evidence,
          file_name_evidence: this.file_name_evidence,
          currency: this.currency,
          thumb: this.file_image_thumb,
          thum_evidence: this.file_image_thumb_evidence,
          description_evidence: this.description_status,
          death_date: this.death_date,
          definition: this.definition,
        })
        .then((response) => {
          if (response.status == 200) {
            swal.fire({
              icon: "success",
              title: "Información actualizada!",
              text: "Este ejemplar ha sido actualizado correctaemente",
            });
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    format() {
      this.currencyValue = parseFloat(this.price.replace(/[^\d\.]/g, ""));
      // Ensure that it is not NaN. If so, initialize it to zero.
      // This happens if user provides a blank input or non-numeric input like "abc"
      if (isNaN(this.currencyValue)) {
        this.currencyValue = 0;
      }
      // Format display value based on calculated currencyValue
      this.price = this.currencyValue
        .toFixed(2)
        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
    },
    justNumbers: function (event) {
      var charCode = window.event ? event.which : event.keyCode;
      var RE = /^\d*(\.\d{1})?\d{0,1}$/;
      if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
        //Usando la definición del DOM level 2, "return" NO funciona.
        event.preventDefault();
      }
    },
    add(dato) {
      if (dato == 1) {
        this.ac = false;
        this.inputaddcolor = true;
        this.selectcolor = false;
      } else {
        this.inputaddrival = true;
        this.selectrival = false;
        this.ar = false;
      }
    },
    close(dato) {
      if (dato == 1) {
        this.ac = true;
        this.inputaddcolor = false;
        this.selectcolor = true;
      } else {
        this.inputaddrival = false;
        this.selectrival = true;
        this.ar = true;
      }
    },
    savecolor() {
      axios
        .post("/api/save-color", {
          namecolor: this.namecolor,
          gender_specimen: 1,
        })
        .then((response) => {
          if (response.status == 200) {
            if (response.data[0].color_exists == null) {
              toast.fire({
                icon: "success",
                title: "Registrado con exito",
              });
              this.validate.color = false;
              this.getcolorspecimen();
              this.close(1);
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
      axios
        .post("/api/save-color", {
          namecolor: this.namecolorfemale,
          gender_specimen: 2,
        })
        .then((response) => {
          if (response.status == 200) {
            if (response.data[0].color_exists == null) {
              toast.fire({
                icon: "success",
                title: "Registrado con exito",
              });
              this.validate.color = false;
              this.getcolorspecimen();
              this.close(1);
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    tracking() {
      if (this.status == 3) {
        this.image_evidence = true;
        this.description_tracking = true;
        this.date_evidence = true;
      } else if (
        this.status != 3 &&
        this.status != this.global.specimen[0].status
      ) {
        this.image_evidence = false;
        this.date_evidence = false;
        this.viewimgtracking = false;
        this.description_tracking = true;
      } else {
        this.image_evidence = false;
        this.date_evidence = false;
        this.viewimgtracking = false;
        this.description_tracking = false;
        this.death_date = "";
        this.description_status = "";
        var filestatus = document.getElementById("filestatus");
        filestatus.value = "";
      }
    },
    getrival() {
      axios
        .post("/api/get-rival")
        .then((response) => {
          if (response.status == 200) {
            this.rival_specimen = response.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    saverival() {
      axios
        .post("/api/save-rival", {
          namerival: this.namerival,
        })
        .then((response) => {
          if (response.status == 200) {
            if (response.data[0].rivalexists != null) {
              this.validate.existsrival = true;
            } else {
              this.getrival();
              this.close(2);
              this.validate.existsrival = false;
              this.namerival = "";
              toast.fire({
                icon: "success",
                title: "Registrado con exito",
              });
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    closeModalCreatePostura() {
      this.$store.dispatch("updateCreateRegisterPostura", false);
    },
  },
  watch: {
    global(newVal, oldVal) {
      this.camposearch =
        newVal.specimen[0].name_breeder != null
          ? newVal.specimen[0].name_breeder
          : "";
      this.breeder_id = newVal.specimen[0].breeder_id;
      this.death_date =
        newVal.specimen[0].death_date != null && newVal.specimen[0].status == 3
          ? newVal.specimen[0].death_date
          : "";
      this.date_evidence = newVal.specimen[0].status == 3 ? true : false;
      this.description_tracking =
        newVal.specimen[0].description != null ? true : false;
      this.description_status =
        newVal.specimen[0].description == null
          ? ""
          : newVal.specimen[0].description;
      this.view_specimens =
        newVal.specimen[0].photo == "" || newVal.specimen[0].photo == null
          ? false
          : true;
      this.currency = newVal.specimen[0].currency;
      this.origin = newVal.specimen[0].origin;
      this.alias = newVal.specimen[0].alias;
      this.placa = newVal.specimen[0].plate;
      this.p_adicional = newVal.specimen[0].additional_plate;
      this.breeder = newVal.specimen[0].breeder;
      this.price = newVal.specimen[0].price;
      this.ejem_color = newVal.specimen[0].color;
      this.category = newVal.specimen[0].category;

      this.macho = this.global.specimen[0].gender == 1 ? 1 : 0;
      this.hembra = this.global.specimen[0].gender == 2 ? 1 : 0;
      this.status = this.global.specimen[0].status;
      this.dob = this.global.specimen[0].dob;
      this.observations = this.global.specimen[0].observations;
      this.definition =
        this.global.specimen[0].definition == null
          ? ""
          : this.global.specimen[0].definition;
      (this.percentage = this.macho
        ? newVal.specimen[0].porcentaje_infertilidad_padrillo
        : newVal.specimen[0].porcentaje_infertilidad_madrilla),
        (this.counter_res = Number(newVal.specimen[0].res_counter));
      if (this.category == 1) {
        this.getActiveMadrillasByActivePosturas();
      } else if (this.category == 2) {
        this.getActiveMadrillasByActivePosturas();
        this.getActivePadrillos();
      }
    },
    macho() {
      this.getdataselect();
    },
  },
};
</script>
