<template>
  <div class="mr-3">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <span
                class="class-span-1"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                >{{
                  (paginate.start_page - 1) * paginate.perpage +
                  1 +
                  "-" +
                  (paginate.start_page == paginate.end_page
                    ? paginate.total_data
                    : paginate.start_page * paginate.perpage)
                }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span
                class="class-span-2"
                style="
                  border-radius: 50%;
                  border-width: 1px;
                  border-color: black;
                "
                >{{ paginate.total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(paginate.start_page)"
                :style="
                  paginate.start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(paginate.next_page)"
                :style="
                  paginate.start_page != paginate.end_page
                    ? ''
                    : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 text-right">
            <div class="form-group">
              <b-input-group>
                <b-form-input
                  class="input-search mr-3"
                  v-model="paginate.search_input"
                  style="
                    border-radius: 20px;
                    border-width: 1px;
                    border-color: black;
                  "
                  type="text"
                  debounce="500"
                  placeholder="Padrillo"
                ></b-form-input>
                <template #append>
                  <button
                    class="btn btn-ui bg-ui-black"
                    @click="getPadrilloReport(null, null)"
                  >
                    <i class="fas fa-search"></i> BUSCAR
                  </button>
                </template>
              </b-input-group>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Padrillo</th>
                <th scope="col">Pendiente</th>
                <th scope="col">En proceso</th>
                <th scope="col">Stand by</th>
                <th scope="col">Finalizada</th>
                <th scope="col">Anulada</th>
                <!-- <th scope="col">Acciones</th> -->
                <!--<th scope="col">Creado por</th>-->
              </thead>
              <tbody>
                <tr v-if="loading">
                  <td colspan="11" class="text-center"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr v-for="padrillo in arrayPadrillos" :key="padrillo.id">
                    <td data-label="Padrillo" style="width: 23%">
                        <div class="d-flex flex-column justify-content-end p-2" style="
                          -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          border-radius: 5px;
                        ">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <div class="mr-2q">
                                <span>
                                  {{ padrillo.alias }}
                                </span>
                                <br />

                                <span
                                  class="badge bg-secondary text-white pr-3 pl-3"
                                  >{{ padrillo.plate }}</span
                                >
                              </div>

                              <div id="preview">
                                <img
                                  v-lazy="padrillo.thumb"
                                  alt="Snow"
                                  @click="
                                    seeimage(
                                      1,
                                      padrillo.photo,
                                      padrillo.plate,
                                      padrillo.alias,
                                      padrillo.id
                                    )
                                  "
                                />
                              </div>
                            </div>
                          </div>
                    </td>
                    <td data-label="Pendiente">
                        <b-button
                            variant="outline-secondary"
                            size="sm"
                            @click="openPadrilloReportModal(padrillo, 2, null)"
                            >{{ padrillo.counters[0].pendientes }}</b-button
                        >
                    </td>
                    <td data-label="En Proceso">
                        <b-button
                            variant="outline-secondary"
                            size="sm"
                            @click="openPadrilloReportModal(padrillo, 3, 1)"
                            >{{ padrillo.counters[0].procesos }}</b-button
                        >
                    </td>
                    <td data-label="Stand By">
                        <b-button
                            variant="outline-secondary"
                            size="sm"
                            @click="openPadrilloReportModal(padrillo, 3, 0)"
                            >{{ padrillo.counters[0].stand_by }}</b-button
                        >
                    </td>
                    <td data-label="Finalizada">
                        <b-button
                            variant="outline-secondary"
                            size="sm"
                            @click="openPadrilloReportModal(padrillo, 4, null)"
                            >{{ padrillo.counters[0].finalizadas }}</b-button
                        >
                    </td>
                    <td data-label="Anulada">
                        <b-button
                            variant="outline-secondary"
                            size="sm"
                            @click="openPadrilloReportModal(padrillo, 1, null)"
                            >{{ padrillo.counters[0].anuladas }}</b-button
                        >
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <b-modal :title="`Reporte de ${selectedPadrillo.alias} / (${selectedPadrillo.plate})`" hide-footer v-model="padrilloDetailModal" modal-class="xxl-modal" scrollable>
                <litter-planning-padrillo-report-detail :padrilloPlate="selectedPadrillo.plate" :status="selectedStatus" :madrilla_status="selectedMadrillaStatus"></litter-planning-padrillo-report-detail>
            </b-modal>
    <view-image-specimens
      v-if="modal_image"
      :data_specimen="data_specimen"
      @click="closeModalimage"
      @switchRight="switchRight"
      @switchLeft="switchLeft"
    ></view-image-specimens>
  </div>
</template>

<script>
// import RegisterEggsByMadrillaDetail from './RegisterEggsByMadrillaDetail';
import LitterPlanningPadrilloReportDetail from './LitterPlanningPadrilloReportDetail.vue';
export default {
  data() {
    return {
      arrayPadrillos: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      posturaId: null,
      posturaComment: null,
      modalActivatingPostura: false,
      loading: false,
      padrilloDetailModal: false,
      selectedPadrillo: {
        alias: null,
        plate: null,
      },
      selectedStatus: null,
      selectedMadrillaStatus: null,
      modal_image: false,
      data_specimen: {
        type: "",
        url: "",
        plaque: "",
        alias: "",
        id: "",
        size: 300000000,
        last_left: false,
        last_right: false,
      },
    };
  },
  mounted() {
    this.getPadrilloReport(null, null);
  },
  components: {
      'litter-planning-padrillo-report-detail': LitterPlanningPadrilloReportDetail
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isEncastador() {
      return this.currentUser ? this.currentUser.role_id == 6 : false;
    },
    isAdmin() {
      return this.currentUser ? this.currentUser.role_id == 1 : false;
    },
  },
  methods: {
    seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      for (let i = 0; i < this.arrayPadrillos.length; i++) {
        if (this.arrayPadrillos[i].madrilla_id == id) {
          if (this.arrayPadrillos.indexOf(this.arrayPadrillos[i]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else if (
            this.arrayPadrillos.indexOf(this.arrayPadrillos[i]) >=
            this.arrayPadrillos.length - 1
          ) {
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = true;
          }
        }
      }
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
      this.data_specimen.id = id;
    },
    closeModalimage() {
      this.modal_image = false;
    },
    getPadrilloReport(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/postura/get-padrillo-report", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPadrillos = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/postura/get-padrillo-report?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPadrillos = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      this.loading = true;
      axios
        .post("/api/postura/get-padrillo-report?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPadrillos = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getPadrilloReport(null, null);
    },
    openPadrilloReportModal(padrillo, status, madrilla_status) {
      this.selectedPadrillo = padrillo;
      this.selectedStatus = status
      this.selectedMadrillaStatus = madrilla_status
      this.padrilloDetailModal = true;
    },
    switchRight() {
      for (let i = this.arrayPadrillos.length - 1; i >= 0; i--) {
        if (this.arrayPadrillos[i].madrilla_id == this.data_specimen.id) {
          if (
            this.arrayPadrillos.indexOf(this.arrayPadrillos[i + 1]) >=
            this.arrayPadrillos.length - 1
          ) {
            this.data_specimen.last_right = true;
            this.data_specimen.last_left = false;
          } else {
            this.data_specimen.last_right = false;
            this.data_specimen.last_left = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.arrayPadrillos[i + 1].photo;
          this.data_specimen.plaque = this.arrayPadrillos[i + 1].placa_madrilla;
          this.data_specimen.alias = this.arrayPadrillos[i + 1].madrilla_alias;
          this.data_specimen.id = this.arrayPadrillos[i + 1].madrilla_id;
        }
      }
    },
    switchLeft() {
      for (let i = 0; i < this.arrayPadrillos.length; i++) {
        if (this.arrayPadrillos[i].madrilla_id == this.data_specimen.id) {
          if (this.arrayPadrillos.indexOf(this.arrayPadrillos[i - 1]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else {
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.arrayPadrillos[i - 1].photo;
          this.data_specimen.plaque = this.arrayPadrillos[i - 1].placa_madrilla;
          this.data_specimen.alias = this.arrayPadrillos[i - 1].madrilla_alias;
          this.data_specimen.id = this.arrayPadrillos[i - 1].madrilla_id;
        }
      }
    },
  },
  watch: {
    "paginate.search_input"() {
      this.getPadrilloReport(null, null);
    },
  },
};
</script>

<style scoped>
@media (max-width: 991.98px) {
  #preview {
    margin-left: 85%;
  }
}

</style>
