<template>
  <div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6 mt-3">
            <div class="form-group">
              <span
                class="class-span-1"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                >{{
                  (paginate.start_page - 1) * paginate.perpage +
                  1 +
                  "-" +
                  (paginate.start_page == paginate.end_page
                    ? paginate.total_data
                    : paginate.start_page * paginate.perpage)
                }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span
                class="class-span-2"
                style="
                  border-radius: 50%;
                  border-width: 1px;
                  border-color: black;
                "
                >{{ paginate.total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(paginate.start_page)"
                :style="
                  paginate.start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(paginate.next_page)"
                :style="
                  paginate.start_page != paginate.end_page
                    ? ''
                    : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 text-right mt-3">
            <div class="form-group">
              <b-input-group>
                <b-form-input
                  class="input-search mr-3"
                  v-model="paginate.search_input"
                  style="
                    border-radius: 20px;
                    border-width: 1px;
                    border-color: black;
                  "
                  type="text"
                  debounce="500"
                  placeholder="Madrilla o padrillo"
                ></b-form-input>
                <button
                  class="btn btn-ui bg-ui-black mr-2"
                  @click="getLotes(null, null)"
                >
                  <i class="fas fa-search"></i> BUSCAR
                </button>
              </b-input-group>
            </div>
          </div>
          <div class="table-responsive mt-3">
            <table class="table">
              <thead class="text-center">
                <!-- <th scope="col">Foto madrilla</th> -->
                <th scope="col">Padrillo</th>
                <th scope="col">Madrilla</th>
                <th scope="col">
                  {{
                    selectedTab.status == 4
                      ? "Pollos vivos"
                      : "Cantidad de huevos"
                  }}
                </th>
                <th scope="col">Acciones</th>
              </thead>
              <tbody>
                <tr v-if="loading">
                  <td colspan="11" class="text-center">
                    <spinner></spinner>
                  </td>
                </tr>
                <template v-else>
                  <tr v-for="postura in arrayPosturas" :key="postura.id">
                    <!-- <td data-label="Foto">
                              <div id="preview">
                                <img
                                  v-lazy="postura.thumb"
                                  alt="Snow"
                                  @click="
                                    seeimage(
                                      1,
                                      postura.photo,
                                      postura.placa_madrilla,
                                      postura.madrilla_alias
                                    )
                                  "
                                />
                              </div>
                            </td> -->
                    <td data-label="Padrillo">
                      <span>
                        {{ postura.padrillo_alias }}
                      </span>
                      <br />
                      <span class="badge bg-secondary text-white pr-3 pl-3">{{
                        postura.placa_padrillo
                      }}</span>
                    </td>
                    <td data-label="Madrilla">
                      <div class="d-flex justify-content-end">
                        <div
                          class="
                            d-flex
                            justify-content-between
                            align-items-center
                          "
                        >
                          <div class="mr-2">
                            <span>
                              {{ postura.madrilla_alias }}
                            </span>
                            <br />
                            <span
                              class="badge bg-secondary text-white pr-3 pl-3"
                              >{{ postura.placa_madrilla }}</span
                            >
                          </div>
                          <div id="preview">
                            <img
                              v-lazy="postura.thumb"
                              alt="Snow"
                              @click="
                                seeimage(
                                  1,
                                  postura.photo,
                                  postura.placa_madrilla,
                                  postura.madrilla_alias,
                                  postura.madrilla_id
                                )
                              "
                            />
                          </div>
                        </div>
                      </div>
                    </td>
                    <td
                      :data-label="`${
                        selectedTab.status == 4
                          ? 'Pollos vivos'
                          : 'Cantidad de huevos'
                      }`"
                    >
                      {{ postura.pollos_vivos }}
                    </td>
                    <td data-label="Acciones">
                      <b-button
                        variant="info"
                        @click="openModalPosturaDetail(postura)"
                        size="sm"
                        >Detalle</b-button
                      >
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <view-image-specimens
      v-if="modal_image"
      :data_specimen="data_specimen"
      @click="closeModalimage"
      @switchRight="switchRight"
      @switchLeft="switchLeft"
    ></view-image-specimens>
    <b-modal
      id="detailPosturaModal"
      title="Detalle"
      v-model="modalDetailPostura"
      hide-footer
      size="xl"
      scrollable
      centered
    >
      <litter-planning-detail
        :postura="selectedPostura"
      ></litter-planning-detail>
    </b-modal>
  </div>
</template>

<script>
import LitterPlanningSpecimenGroupedDetail from "./LitterPlanningSpecimenGroupedDetail";
import LitterPlanningSpecimenFinishedGroupedDetail from "./LitterPlanningSpecimenFinishedGroupedDetail";
import LitterPlanningDetail from "../../../components/litterplanning/LitterPlanningDetail";
export default {
  name: "LitterPlanningPage",
  props: {
    specimen_plate: String,
    fromSpecimenDetail: Boolean,
    category_specimen: Number,
  },
  data() {
    return {
      arrayPosturas: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      posturaId: null,
      posturaComment: null,
      finishComment: null,
      cancelComment: null,
      modalActivatingPostura: false,
      modalFinishingPostura: false,
      modalCancelPostura: false,
      loading: false,
      modalDetailPostura: false,
      selectedPostura: {},
      arrayTabs: [
        {
          title: "Pendiente",
          status: 2,
          active: true,
        },
        {
          title: "En proceso",
          status: 3,
          active: false,
        },
        {
          title: "Finalizada",
          status: 4,
          active: false,
        },
        {
          title: "Anulada",
          status: 1,
          active: false,
        },
      ],
      selectedTab: {
        title: "Pendiente",
        status: 2,
        active: true,
      },
      counters: null,
      modal_image: false,
      data_specimen: {
        type: "",
        url: "",
        plaque: "",
        alias: "",
        id: "",
        size: 300000000,
        last_left: false,
        last_right: false,
      },
      incubacionMethod: 1,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    /*userRoles(){
        return this.$store.getters.userRoles;
    },*/
    isAdmin() {
      // for(let i = 0; i < this.userRoles.length; i++){
      //     if(this.userRoles[i].role_id == 2){
      //         return true;
      //     }
      // }
      return this.currentUser ? this.currentUser.role_id == 1 : false;
    },
    isEncastador() {
      // for(let i = 0; i < this.userRoles.length; i++){
      //     if(this.userRoles[i].role_id == 6){
      //         return true;
      //     }
      // }
      return this.currentUser ? this.currentUser.role_id == 6 : false;
    },
  },

  mounted() {
    this.getPosturas(null, null);
    this.getCounterByStatus();
  },
  components: {
    "litter-planning-detail": LitterPlanningDetail,
    "litter-planning-specimen-grouped-detail":
      LitterPlanningSpecimenGroupedDetail,
    "litter-planning-specimen-finished-grouped-detail":
      LitterPlanningSpecimenFinishedGroupedDetail,
  },
  methods: {
    seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        if (this.arrayPosturas[i].madrilla_id == id) {
          if (this.arrayPosturas.indexOf(this.arrayPosturas[i]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else if (
            this.arrayPosturas.indexOf(this.arrayPosturas[i]) >=
            this.arrayPosturas.length - 1
          ) {
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = true;
          }
        }
      }
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
      this.data_specimen.id = id;
    },
    getPosturas(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/postura/get-by-responsable", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          specimen: this.specimen_plate,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/postura/get-by-responsable?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          specimen: this.specimen_plate,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      this.loading = true;
      axios
        .post("/api/postura/get-by-responsable?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          specimen: this.specimen_plate,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getPosturas(null, null);
    },
    cancelPostura() {
      //console.log(postura);
      axios
        .post("/api/postura/cancel", {
          postura_id: this.posturaId,
          postura_comment: this.cancelComment,
          user_id: this.currentUser.user_id,
        })
        .then((response) => {
          swal
            .fire({
              icon: "success",
              title: "Postura anulada!",
              text: "Has anulado correctamente la postura!",
            })
            .then((result) => {
              if (result.value) {
                this.$router.push("/main/reproduccion/planificacion-camadas");
              }
            });
          this.getPosturas(null, null);
          //postura.status = 'proceso';
        });
    },
    getCounterByStatus() {
      axios.get("/api/postura/counters").then((response) => {
        this.counters = response.data[0];
        //this.checkSeenStatus();
        //dconsole.log(this.counters);
      });
    },
    activatePostura() {
      //console.log(postura);
      axios
        .post("/api/postura/activate", {
          postura_id: this.posturaId,
          postura_comment: this.posturaComment,
          method: this.incubacionMethod,
        })
        .then((response) => {
          swal
            .fire({
              icon: "success",
              title: "Postura activada!",
              text: "Has activado correctamente la postura!",
            })
            .then((result) => {
              if (result.value) {
                this.$router.push("/main/reproduccion/planificacion-camadas");
              }
            });
          this.getPosturas(null, null);
          //postura.status = 'proceso';
        });
    },
    closeModalimage() {
      this.modal_image = false;
    },
    finishPostura() {
      //console.log(postura);
      axios
        .post("/api/postura/finish", {
          postura_id: this.posturaId,
          postura_comment: this.finishComment,
        })
        .then((response) => {
          swal
            .fire({
              icon: "success",
              title: "Postura finalizada!",
              text: "Has finalizado correctamente la postura!",
            })
            .then((result) => {
              if (result.value) {
                this.$router.push("/main/reproduccion/planificacion-camadas");
              }
            });
          this.getPosturas(null, null);
          //postura.status = 'proceso';
        });
    },
    openModalActivatingComment(postura) {
      this.posturaId = postura.id;
      this.modalActivatingPostura = true;
    },
    openModalDesactivatingComment(postura) {
      this.posturaId = postura.id;
      this.modalCancelPostura = true;
    },
    openModalFinishingComment(postura) {
      this.posturaId = postura.id;
      this.modalFinishingPostura = true;
    },
    openModalPosturaDetail(postura) {
      this.selectedPostura = postura;
      this.modalDetailPostura = true;
    },
    clearComment() {
      this.posturaComment = null;
      this.finishComment = null;
      this.cancelComment = null;
    },
    checkSeenStatus() {
      axios
        .post("/api/postura/seenstatus", {
          status_postura: this.selectedTab.status,
        })
        .then((response) => {
          if (this.selectedTab.status == 1) {
            this.counters.count_anulado = 0;
          } else if (this.selectedTab.status == 2) {
            this.counters.count_pendiente = 0;
          } else if (this.selectedTab.status == 3) {
            this.counters.count_proceso = 0;
          } else if (this.selectedTab.status == 4) {
            this.counters.count_finalizado = 0;
          }
        });
    },
    getSelectedTab(tab) {
      this.selectedTab = tab;
      if (this.isEncastador) {
        this.checkSeenStatus();
      }
      this.getPosturas(null, null);
    },
    switchRight() {
      for (let i = this.arrayPosturas.length - 1; i >= 0; i--) {
        if (this.arrayPosturas[i].madrilla_id == this.data_specimen.id) {
          if (
            this.arrayPosturas.indexOf(this.arrayPosturas[i + 1]) >=
            this.arrayPosturas.length - 1
          ) {
            this.data_specimen.last_right = true;
            this.data_specimen.last_left = false;
          } else {
            this.data_specimen.last_right = false;
            this.data_specimen.last_left = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.arrayPosturas[i + 1].photo;
          this.data_specimen.plaque = this.arrayPosturas[i + 1].placa_madrilla;
          this.data_specimen.alias = this.arrayPosturas[i + 1].madrilla_alias;
          this.data_specimen.id = this.arrayPosturas[i + 1].madrilla_id;
        }
      }
    },
    switchLeft() {
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        if (this.arrayPosturas[i].madrilla_id == this.data_specimen.id) {
          if (this.arrayPosturas.indexOf(this.arrayPosturas[i - 1]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else {
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.arrayPosturas[i - 1].photo;
          this.data_specimen.plaque = this.arrayPosturas[i - 1].placa_madrilla;
          this.data_specimen.alias = this.arrayPosturas[i - 1].madrilla_alias;
          this.data_specimen.id = this.arrayPosturas[i - 1].madrilla_id;
        }
      }
    },
  },
  watch: {
    "paginate.search_input"() {
      this.getPosturas(null, null);
    },
    "selectedTab.status"() {
      this.getPosturas(null, null);
    },
  },
};
</script>

<style scoped>
.borderes {
  border-color: black !important;
  border-radius: 20px !important;
}
.notification-icon-link {
  background: #f00;
  padding: 4px 8px 4px 8px;
  border-radius: 50%;
  color: #fff;
  vertical-align: top;
}
</style>
