<template>
    <div>
        <form @submit.prevent="insertCombination()">
            <div class="row">
                <div class="col">
                    <label>Color</label>
                    <multiselect
                        v-model="combinationObject.colour"
                        placeholder="Elige un color"
                        label="id"
                        track-by="id"
                        :options="arrayColours"
                        :show-labels="false"
                    >
                        <template slot="singleLabel" slot-scope="props"
                        ><span class="option__desc "
                            ><span class="option__title">{{
                            props.option.description
                            }}</span>
                            <span class="option__title"><i class="fas fa-square" :style="`color: ${props.option.color}; font-size: 25px; text-shadow: 0 0 3px #000;` "></i></span>

                            </span
                        ></template
                        >
                        <template slot="option" slot-scope="props"
                        >
                        <div class="option__desc d-flex-justify-content-around align-items-center">
                            <span class="option__title">{{ props.option.description }}</span
                            ><span class="option__small"><i class="fas fa-square" :style="`color: ${props.option.color}; font-size: 25px; text-shadow: 0 0 3px #000;` "></i></span>
                        </div>
                        </template>
                    </multiselect>
                </div>
                <div class="col">
                    <label>Pata</label>
                    <select
                        v-model="combinationObject.chickenleg_id"
                        class="form-control"
                        style="
                        border-radius: 20px;
                        border-width: 1px;
                        border-color: black;
                        "
                    >
                        <option
                        :value="chickenleg.id"
                        v-for="chickenleg in arrayChickenlegs"
                        :key="chickenleg.id"
                        >
                        {{ chickenleg.description }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <b-overlay
                    :show="busy"
                    rounded
                    opacity="0.85"
                    spinner-small
                    spinner-variant="primary"
                    class="d-inline-block"
                    >
                <b-button type="submit" class="btn btn-ui bg-ui-verde">Registrar</b-button>
                </b-overlay>
            </div>
        </form>
    </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
    components:{
        Multiselect
    },
    data(){
        return{
            combinationObject:{
                colour: null,
                chickenleg_id: null,
                created_by: null
            },
            arrayColours:[],
            arrayChickenlegs: [],
            busy: false
        }
    },
    computed:{
        currentUser(){
            return this.$store.getters.currentUser;
        }
    },
    mounted(){
        //console.log(this.currentUser)
        this.getCintillosAndChickenlegs()

    },
    methods:{
        insertCombination(){
            this.busy = true
            axios.post('/api/cintillo-pata/save', {
                cintillo_id: this.combinationObject.colour.id,
                chickenleg_id: this.combinationObject.chickenleg_id,
                created_by: this.currentUser.user_id
            }).then(response=>{
                this.busy = false
                this.$emit('closeModal', false);
            }).catch(err=>{
                swal.fire({
                        icon: 'error',
                        title: err.response.data.errors,
                        text: err.response.data.text
                    })
                this.busy = false
            })
        },
        getCintillosAndChickenlegs(){
            axios.get('/api/cintillo-pata/get-colour-chickenleg').then(response =>{
                if(response.data){
                    this.arrayColours = response.data[0];
                    this.arrayChickenlegs = response.data[1];
                }
            })
        }
    }
}
</script>

<style>

</style>
