<template>
  <div class="login-page">
      <b-overlay :show="show" rounded="sm" :opacity="0.85" :variant="'dark'">
    <div class="content-login p-5">
      <div class="row justify-content-center m-0">
        <div class="col-md-10 col-lg-4">
          <div>
            <div
              class="card-body"
              style="
                background-image: url('/images/login.jpg');
                background-size: cover;
                height: 500%;
              "
            >
              <form @submit.prevent="authenticate()">
                <div id="imglogin">
                  <img src="/images/icono.png" alt="" style="width: 100%" />
                </div>
                <div class="container pb-0">
                  <div class="col-md-10 offset-md-1">
                    <div class="form-group">
                      <div class="input-login">
                        <input
                          id="email"
                          type="email"
                          class="form-control transparent text-center"
                          name="email"
                          required
                          autocomplete="email"
                          autofocus
                          placeholder="Usuario"
                          v-model="user.email"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 offset-md-1">
                    <div class="form-group">
                      <div class="input-login">
                        <input
                          id="password"
                          type="password"
                          class="form-control transparent text-center"
                          name="password"
                          required
                          autocomplete="current-password"
                          placeholder="Contraseña"
                          v-model="user.password"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-10 offset-md-1 text-center">
                  <div class="form-group row mb-0 button-login">
                    <button type="submit" class="btn btn-primary form-control">
                      INICIAR SESIÓN
                    </button>
                  </div>
                  <a class="btn btn-link" href="#">
                    Olvidaste tu contrase&ntilde;a?
                  </a>
                </div>
                <div class="col-md-8 offset-md-2 text-left">
                  <div class="form-group row">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="remember"
                        id="remember"
                      />
                      <label class="form-check-label" for="remember">
                        Recu&eacute;rdame
                      </label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
      </b-overlay>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        email: null,
        password: null,
      },
      show: false
    };
  },
  methods: {
    authenticate() {
      this.show = true
      axios.post("login", this.user).then((respuesta) => {
        axios.get("user/getCurrentUser").then((response) => {

          this.$store.dispatch("updateCurrentUser", response.data);
          window.location.href = "/main";
        })
        /*axios.get('user').then(response => {
                            this.$store.dispatch('updateCurrentUser', response.data);
                            localStorage.setItem('user', JSON.stringify(response.data));
                            this.$router.push('/')
                        })*/
      }).catch(err=>{
            swal
            .fire({
              icon: "error",
              title: "Error!",
              text: err.response.data.errors.email,
            })
            .then((result) => {
              if (result) {
                this.show = false
              }
            });
        });;
    },
  },
};
</script>

<style scoped>
.content-login {
  background-image: url("/images/Fondo.jpg");
  background-size: cover;
  min-height: 100%;
  height: 100vh;
}
</style>
