<template>
  <div>
      <navbar></navbar>
  </div>
</template>

<script>
import Navbar from '../components/commons/Navbar'
export default {
    components:{
        'navbar': Navbar
    }
}
</script>

<style>
</style>
