<template>
  <div class="menuMain">
    <div class="d-flex flex-wrap justify-content-around align-items-center">
      <template v-for="link in navLinks">
        <div
          class="options-home m-5"
          :key="link.id"
          v-if="
            link.requiresAdmin == isAdmin ||
            link.requiresEncastador == isEncastador ||
            link.requiresInvitado == isInvitado
          "
        >
          <b-button class="btn btn-sidebar options text-center" :to="link.path">
            <div class="style-icon-home">
              <img :src="link.icon" />
              <label for="">{{ link.title }}</label>
            </div>
          </b-button>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      navLinks: [
        {
          title: "Usuarios",
          icon: "/images/icon-menu/user.png",
          path: "/main/usuarios",
          requiresAdmin: true,
          requiresInvitado: true
        },
        {
          title: "Ejemplares",
          icon: "/images/icon-menu/ejemplares.png",
          path: "/main/ejemplares",
          requiresAdmin: true,
          requiresEncastador: true,
          requiresInvitado: true
        },
        {
          title: "Pollos",
          icon: "/images/icon-menu/chick.png",
          path: "/main/pollitos",
          requiresAdmin: true,
          requiresEncastador: true,
          requiresInvitado: true
        },
        {
          title: "Entrenamiento",
          icon: "/images/icon-menu/entrenamiento.png",
          path: "/main/entrenamiento",
          requiresAdmin: true,
          requiresInvitado: true
        },
        {
          title: "Encaste",
          icon: "/images/icon-menu/encaste.png",
          path: "/main/reproduccion/planificacion-camadas",
          requiresAdmin: true,
          requiresEncastador: true,
          requiresInvitado: true
        },
        {
          title: "Torneos",
          icon: "/images/icon-menu/torneo.png",
          path: "/main/torneos",
          requiresInvitado: true,
          requiresAdmin: true,
        },
        {
          title: "Administrativo",
          icon: "/images/icon-menu/administrativo.png",
          path: "/main/administrativo/dashboard",
          requiresAdmin: true,
          requiresInvitado: true,
        },
        {
          title: "Cintillos",
          icon: "/images/icon-menu/cintillo.png",
          path: "/main/cintillos/colores",
          requiresAdmin: true,
          requiresInvitado: true
        },
        {
          title: "Muertos",
          icon: "/images/icon-menu/muerto.png",
          path: "/main/muertos",
          requiresAdmin: true,
          requiresEncastador: true,
          requiresInvitado: true
        },
        {
          title: "Videoteca",
          icon: "/images/icon-menu/videoteca.png",
          path: "/main/videoteca",
          requiresAdmin: true,
          requiresEncastador: false,
          requiresInvitado: true
        },
        {
          title: "Motivos",
          icon: "/images/icon-menu/motivos.png",
          path: "/main/motivos",
          requiresAdmin: true,
          requiresEncastador: false,
          requiresInvitado: true
        }
      ],
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter(rol => rol.role_id == 1);
        if(isDueñoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isInvitado(){
        const isInvitadoInRoles = this.roles.filter(rol => rol.role_id == 7);
        if(isInvitadoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter(rol => rol.role_id == 6);
      if(isEncastadorInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    roles(){
        if(this.currentUser){
            return this.currentUser.role
        }else{
            return [];
        }

    },
    amountNotifications() {
      return this.$store.getters.amountNotifications;
    },
  },
};
</script>

<style>
.menuMain {
  background: #0f0f21;
  height: calc(100vh - 68px);
  width: 100%;
}
@media only screen and (max-width: 767px) {
  body {
    background: #0f0f21;
  }
}
</style>
