<template lang="pug">
    div(id="backPreloader")
        div.preloarder(id="dPreloader")
            div.SpanLoad
                span
                span
                span
                span
                span
                span
                span
                span
                span
                span

</template>
<script>
export default {
    props: [],
    data() {
        return {
          
        };
    },
    mounted() { //.

    },
    methods:{
      
        
    },  
    created() {

    }
};
</script>