<template lang="pug">
    div(id="backProgressbar" style="z-index: 10000")
        div(class="canvas-wrap")
            canvas(id="canvas" width="300" height="300")
            span(id="procent")

</template>
<script>
export default {
    props: [],
    data() {
        return {

        };
    },
    mounted() { //.

    },
    methods:{


    },
    created() {

    }
};
</script>
