<template>
  <div>
    <h4 class="title-module">Registro de huevos</h4>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label>Fecha</label>
            <input
              type="date"
              class="form-control"
              v-model="registerEggsDate"
              style="
                border-radius: 20px;
                border-width: 1px;
                border-color: black;
              "
            />
          </div>
          <div class="col-md-6">
            <label>Total de huevos ingresados</label>
            <input
              type="text"
              class="form-control"
              disabled
              v-model="totalRegisterEggs"
              style="
                border-radius: 20px;
                border-width: 1px;
                border-color: black;
              "
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Comentario</label>
            <textarea
              class="form-control"
              v-model="registerEggsDescription"
              style="
                border-radius: 20px;
                border-width: 1px;
                border-color: black;
              "
            ></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-self-start text-center">
      <div class="col-md-12">
        <div v-for="(postura, index) in arrayPosturas" :key="postura.id">
          <div class="row align-items-center">
            <div class="col-md-5">
              <label>Elige la madrilla</label>
              <multiselect
                :id="`multi${index}`"
                v-model="postura.postura_id"
                placeholder="Elige una madrilla"
                label="title"
                :ref="`combination${index}`"
                track-by="id"
                :options="arrayMadrillasByProcessingPosturas"
                @input="selectOnChange(postura, index)"
                :option-height="104"
                :custom-label="customLabel"
                :show-labels="false"
              >
                <!-- <template slot="singleLabel" slot-scope="props"
                  ><span class="option__desc"
                    ><span class="option__title"
                      ><span>
                        {{ props.option.madrilla_alias }} / ({{
                          props.option.placa_madrilla
                        }}) - Postura ({{ props.option.id }})
                      </span>
                    </span></span
                  ></template
                > -->
                <template slot="option" slot-scope="props">
                  <div class="option__desc">
                    <span>
                      <!-- {{ props.option.chickenleg_description }} -->

                      {{ props.option.madrilla_alias }} / ({{
                        props.option.placa_madrilla
                      }}) - Postura ({{ props.option.id }})
                    </span>
                  </div>
                </template>
              </multiselect>
              <!-- <select
                class="form-control"
                aria-label="Default select example"
                v-model="postura.postura_id"
                @change="selectOnChange(postura, index)"
                style="
                  border-radius: 20px;
                  border-color: black;
                  border-width: 1px;
                "
              >
                <option value=""></option>
                <option
                  v-for="madrilla in arrayMadrillasByProcessingPosturas"
                  :key="madrilla.id"
                  :value="madrilla.id"
                  :disabled="madrilla.status == 2"
                  :class="madrilla.status == 2 ? 'text-danger' : ''"
                >
                  {{ madrilla.madrilla_alias }} / ({{
                    madrilla.placa_madrilla
                  }}) - Postura ({{ madrilla.id }})
                </option>
              </select> -->
              <span class="text-danger" v-if="postura.error">{{
                postura.error
              }}</span>
            </div>
            <div class="col-md-5 col-lg-3">
              <label>Cantidad de huevos</label>
              <b-input-group>
                <template #prepend>
                  <b-button
                    variant="danger"
                    @click="decreaseNumberEggs(postura)"
                    style="
                      border-top-left-radius: 20px;
                      border-bottom-left-radius: 20px;
                      border-width: 1px;
                    "
                    >-</b-button
                  >
                </template>
                <b-form-input
                  min="0"
                  v-model="postura.number_eggs"
                  class="text-center"
                ></b-form-input>

                <template #append>
                  <b-button
                    variant="success"
                    @click="increaseNumberEggs(postura)"
                    style="
                      border-top-right-radius: 20px;
                      border-bottom-right-radius: 20px;
                      border-width: 1px;
                    "
                    >+</b-button
                  >
                </template>
              </b-input-group>
              <div></div>
            </div>
            <div class="col-md-2">
              <template>
                <img
                  src="/images/buttons/delete.png"
                  class="clickable"
                  alt=""
                  @click="deletePostura(index)"
                />
              </template>
            </div>
          </div>
          <hr />
        </div>
      </div>

      <div class="col-md-2">
        <img
          src="/images/buttons/add.png"
          class="clickable"
          alt=""
          @click="addPosturas()"
        />
      </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <b-overlay
        :show="busy"
        rounded
        opacity="0.85"
        spinner-small
        spinner-variant="primary"
        class="d-inline-block"
      >
        <button class="btn btn-ui bg-ui-black" @click="$route.params.egg_id?editEggsToPostura():registerEggs()">
          <i class="fas fa-plus"></i>  {{$route.params.egg_id?'ACTUALIZAR HUEVOS':'REGISTRAR HUEVOS'}}
        </button>
      </b-overlay>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import moment from "moment";
export default {
  components: {
    Multiselect,
  },
  mounted() {
    this.registerEggsDate = moment().format("YYYY-MM-DD");
    this.getMadrillasByProcessingPosturas();

  },
  data() {
    return {
      arrayMadrillasByProcessingPosturas: [],
      arrayPosturas: [
        {
          placa_madrilla: null,
          number_eggs: 1,
          error: null,
          postura_id: null,
          id: null
        },
      ],
      validateMadrillaInfoObject: {
        text: "",
        class: "",
        isMadrilla: false,
      },
      registerEggsDate: null,
      registerEggsDescription: null,
      busy: false,
      arrayMadrillasSelected: [],
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isEncastador() {
      return this.currentUser ? this.currentUser.role_id == 6 : false;
    },
    totalRegisterEggs() {
      let sum = 0;
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        sum += parseFloat(this.arrayPosturas[i].number_eggs);
      }
      return sum;
    },
  },
  methods: {
    customLabel({ madrilla_alias, placa_madrilla, id }) {
      return `${madrilla_alias} / (${placa_madrilla}) - Postura (${id})`;
    },
    getEgg(){
        axios.post('/api/egg/get-egg', {
            egg_id: this.$route.params.egg_id
        }).then(res=>{
            this.registerEggsDate = res.data[1][0].egg_postura_date;
            this.registerEggsDescription = res.data[1][0].description;
            let posturas = res.data[0];
            for(let i = 0; i < posturas.length; i++){
                for(let j = 0; j < this.arrayMadrillasByProcessingPosturas.length; j++){
                    console.log(posturas[i].postura_id);
                    if(posturas[i].postura_id == this.arrayMadrillasByProcessingPosturas[j].id){
                        posturas[i].postura_id = this.arrayMadrillasByProcessingPosturas[j]
                    }
                }
            }
            this.arrayPosturas = posturas
        })
    },
    addPosturas() {
      var objectPostura = {
        placa_madrilla: null,
        number_eggs: 1,
        error: null,
        postura_id: null,
        id: null
      };
      this.arrayPosturas.push(objectPostura);
    },
    registerEggs() {
      let contador = 0;
      let previousPlacaMadrilla = "";
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        if (
          this.arrayPosturas[i].placa_madrilla == previousPlacaMadrilla &&
          this.arrayPosturas[i].placa_madrilla != null
        ) {
          this.arrayPosturas[i].error = "Esta madrilla ya está en uso";
          contador = contador + 1;
        }
        previousPlacaMadrilla = this.arrayPosturas[i].placa_madrilla;
      }
      if (contador == 0) {
        this.busy = true;
        axios
          .post("/api/postura/register-eggs", {
            register_eggs_date: this.registerEggsDate,
            posturas: this.arrayPosturas,
            created_by: this.currentUser.user_id,
            register_eggs_comment: this.registerEggsDescription,
            total_register_eggs: this.totalRegisterEggs,
          })
          .then((response) => {
            this.busy = false;
            this.$router.push("/main/reproduccion/registro-huevos");
          });
      }
    },
    editEggsToPostura() {
        console.log('ggasdsas')
      let contador = 0;
      let previousPlacaMadrilla = "";
      for (let i = 0; i < this.arrayPosturas.length; i++) {
        if (
          this.arrayPosturas[i].placa_madrilla == previousPlacaMadrilla &&
          this.arrayPosturas[i].placa_madrilla != null
        ) {
          this.arrayPosturas[i].error = "Esta madrilla ya está en uso";
          contador = contador + 1;
        }
        previousPlacaMadrilla = this.arrayPosturas[i].placa_madrilla;
      }
      if (contador == 0) {
        this.busy = true;
        axios
          .post("/api/postura/edit-eggs", {
            register_eggs_date: this.registerEggsDate,
            posturas: this.arrayPosturas,
            egg_id: this.$route.params.egg_id,
            register_eggs_comment: this.registerEggsDescription,
            total_register_eggs: this.totalRegisterEggs,
          })
          .then((response) => {
            this.busy = false;
            this.$router.push("/main/reproduccion/registro-huevos");
          });
      }
    },
    getMadrillasByProcessingPosturas() {
      axios
        .get("/api/postura/get-madrillas-for-register-eggs")
        .then((response) => {
          this.arrayMadrillasByProcessingPosturas = response.data;
          for (
            let i = 0;
            i < this.arrayMadrillasByProcessingPosturas.length;
            i++
          ) {
            this.arrayMadrillasByProcessingPosturas[i].status = 1;
          }
          if(this.$route.params.egg_id){
                this.getEgg();
            }
        });
    },
    selectOnChange: function (postura, index) {
      this.arrayMadrillasSelected.push({
        id: index,
        postura: postura,
      });
      if (this.arrayMadrillasSelected.filter((v) => v.id == index).length > 1) {
        var idx = this.arrayMadrillasSelected.findIndex((i) => i.id == index);
        if (idx >= 0) {
          this.arrayMadrillasSelected.splice(idx, 1);
        }
      }
      for (let i = 0; i < this.arrayMadrillasByProcessingPosturas.length; i++) {
        this.arrayMadrillasByProcessingPosturas[i].$isDisabled = false;
      }
      for (let i = 0; i < this.arrayMadrillasSelected.length; i++) {
        if (this.arrayMadrillasSelected[i].postura.postura_id.id != "") {
          this.arrayMadrillasByProcessingPosturas.find(
            (x) => x.id == this.arrayMadrillasSelected[i].postura.postura_id.id
          ).$isDisabled = true;
        }
      }

      //   ----------------------------------------------------

      //    this.arrayMadrillasSelected.push({
      //       'id':index,
      //       'postura':postura
      //     })
      //     if(this.arrayMadrillasSelected.filter((v) => (v.id == index)).length > 1){
      //       var idx = this.arrayMadrillasSelected.findIndex(i => i.id == index);
      //       if (idx >= 0) {
      //       this.arrayMadrillasSelected.splice(idx, 1);
      //       }
      //     }
      //     for(let i = 0; i < this.arrayMadrillasByProcessingPosturas.length; i++){
      //         this.arrayMadrillasByProcessingPosturas[i].status = 1
      //     }
      //     for(let i =0; i< this.arrayMadrillasSelected.length;i++){
      //       if(this.arrayMadrillasSelected[i].postura.placa_madrilla != ""){
      //         this.arrayMadrillasByProcessingPosturas.find(x => x.plate == this.arrayMadrillasSelected[i].postura.placa_madrilla).status = 2;
      //       }

      //     }
    },
    deletePostura(index) {
      this.arrayPosturas.splice(index, 1);
    },
    decreaseNumberEggs(postura) {
      postura.number_eggs = Number(postura.number_eggs) - 1;
    },
    increaseNumberEggs(postura) {
      postura.number_eggs = Number(postura.number_eggs) + 1;
    },
  },
  watch: {
    currentUser() {
      if (!this.isEncastador) {
        this.$router.push("/main/reproduccion/registro-huevos");
      }
    },
  },
};
</script>

<style>
.multiselect__option--group{
    background: #680b0b;
    color: white;
}
</style>
