<template>
  <div class="mr-3">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <span
                class="class-span-1"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                >{{
                  (paginate.start_page - 1) * paginate.perpage +
                  1 +
                  "-" +
                  (paginate.start_page == paginate.end_page
                    ? paginate.total_data
                    : paginate.start_page * paginate.perpage)
                }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span
                class="class-span-2"
                style="
                  border-radius: 50%;
                  border-width: 1px;
                  border-color: black;
                "
                >{{ paginate.total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(paginate.start_page)"
                :style="
                  paginate.start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(paginate.next_page)"
                :style="
                  paginate.start_page != paginate.end_page
                    ? ''
                    : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 text-right">
            <b-row>
                <b-col lg="2" >

                </b-col>
              <b-col cols="12" md="4" lg="5" >
                <b-form-datepicker
                  id="example-datepicker"
                  class="mb-2"
                  placeholder="Fecha"
                  locale="es"
                  v-model="selectedDate"
                  @context="onContext"
                  :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                ></b-form-datepicker>
              </b-col>
              <b-col cols="12" md="8" lg="5">
                <div class="form-group">
                  <b-input-group>
                    <b-form-input
                      class="input-search mr-3"
                      v-model="paginate.search_input"
                      style="
                        border-radius: 20px;
                        border-width: 1px;
                        border-color: black;
                      "
                      type="text"
                      debounce="500"
                      placeholder="Usuario"
                    ></b-form-input>
                    <template #append>
                      <button
                        class="btn btn-ui bg-ui-black"
                        @click="getRegisteredEggsByDate(null, null)"
                      >
                        <i class="fas fa-search"></i> BUSCAR
                      </button>
                    </template>
                  </b-input-group>
                </div>
              </b-col>
            </b-row>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Fecha</th>
                <th scope="col"># Huevos agregados</th>
                <th scope="col">Descripción</th>
                <th scope="col">Creado por</th>
                <th scope="col" v-if="status == 2">Eliminado por</th>
                <th scope="col">Acciones</th>
                <!--<th scope="col">Creado por</th>-->
              </thead>
              <tbody>
                <tr v-if="loading">
                  <td colspan="11" class="text-center"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr
                    v-for="eggRegistered in arrayEggsRegistered"
                    :key="eggRegistered.id"
                  >
                    <td data-label="Fecha">
                      {{ convertToSpanishDate(eggRegistered.egg_postura_date) }}
                    </td>
                    <td data-label="# Huevos agregados">
                      {{ eggRegistered.total_eggs_quantity }}
                    </td>
                    <td data-label="Descripción">
                      {{ eggRegistered.description }}
                    </td>
                    <td data-label="Creado por">
                      {{ eggRegistered.created_by_name }}
                      {{ eggRegistered.created_by_last_name }} <br />
                      {{ convertToSpanishDate(eggRegistered.created_at) }}
                    </td>
                    <td data-label="Eliminado por" v-if="status == 2">
                      {{ eggRegistered.deleted_by_name }}
                      {{ eggRegistered.deleted_by_last_name }} <br />
                      {{ convertToSpanishDate(eggRegistered.deleted_at) }}
                    </td>
                    <td data-label="Acciones">
                      <b-button
                        variant="info"
                        size="sm"
                        @click="openDateDetailModal(eggRegistered)"
                        >Detalle</b-button
                      >
                      <b-button
                        variant="warning"
                        size="sm"
                        :to="`/main/reproduccion/registro-huevos/editar/${eggRegistered.id}`"
                        v-if="isAdmin"
                        >Editar</b-button
                      >
                      <b-button
                        variant="danger"
                        size="sm"
                        @click="deleteRegisterEggs(eggRegistered)"
                        v-if="
                          moment().format('YYYY-MM-DD H:m:s') <=
                            eggRegistered.can_delete_until &&
                          !eggRegistered.deleted_at &&
                          status == 1 &&
                          isAdmin
                        "
                        >Eliminar</b-button
                      >
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <b-modal
      title="Detalle  huevos fecha"
      hide-footer
      v-model="dateDetailModal"
      size="xl"
    >
      <register-eggs-date-detail
        :eggsId="selectedEgg.id"
      ></register-eggs-date-detail>
    </b-modal>
  </div>
</template>

<script>
import moment from "moment";
import RegisterEggsByDateDetail from "./RegisterEggsByDateDetail";
import { misMixins } from "../../../mixins";
export default {
  props: {
    status: Number,
  },
  data() {
    return {
      arrayEggsRegistered: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      posturaId: null,
      posturaComment: null,
      modalActivatingPostura: false,
      loading: false,
      selectedEgg: {},
      dateDetailModal: false,
      selectedDate: null
    };
  },
  mounted() {
    this.getRegisteredEggsByDate(null, null);
  },
  components: {
    "register-eggs-date-detail": RegisterEggsByDateDetail,
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isEncastador() {
      return this.currentUser ? this.currentUser.role_id == 6 : false;
    },
    isAdmin() {
      return this.currentUser ? this.currentUser.role_id == 1 : false;
    },
  },
  methods: {
    onContext(ctx) {
        this.selectedDate = ctx.selectedYMD
      },
    getRegisteredEggsByDate(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/egg", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          status: this.status,
          date: this.selectedDate
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayEggsRegistered = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/egg?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          status: this.status,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayEggsRegistered = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      this.loading = true;
      axios
        .post("/api/egg?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          status: this.status,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayEggsRegistered = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.selectedDate = null
      this.getRegisteredEggsByDate(null, null);
    },
    openDateDetailModal(egg) {
      this.selectedEgg = egg;
      this.dateDetailModal = true;
    },
    moment: function () {
      return moment();
    },
    deleteRegisterEggs(egg) {
      swal
        .fire({
          title: "¿Estas seguro?",
          text: "¡No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3490dc",
          cancelButtonColor: "#e3342f",
          confirmButtonText: "Si",
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/egg/delete", {
                eggs_id: egg.id,
                elimination_comment: "comentario de prueba",
                deleted_by: this.currentUser.user_id,
              })
              .then((response) => {
                this.getRegisteredEggsByDate(null, null);
              });
          }
        });
    },
  },
  watch: {
    "paginate.search_input"() {
      this.getRegisteredEggsByDate(null, null);
    },
  },
  mixins: [misMixins],
};
</script>

<style>
</style>
