<template>
  <div class="mr-3">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <span
                class="class-span-1"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                >{{
                  (paginate.start_page - 1) * paginate.perpage +
                  1 +
                  "-" +
                  (paginate.start_page == paginate.end_page
                    ? paginate.total_data
                    : paginate.start_page * paginate.perpage)
                }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span
                class="class-span-2"
                style="
                  border-radius: 50%;
                  border-width: 1px;
                  border-color: black;
                "
                >{{ paginate.total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(paginate.start_page)"
                :style="
                  paginate.start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(paginate.next_page)"
                :style="
                  paginate.start_page != paginate.end_page
                    ? ''
                    : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <template v-for="postura in arrayRegisteredEggsByMadrilla">
            <div class="table-responsive ml-3" :key="postura.id">
              <div class="card">
                <div class="card-body">
                  <span
                    ><h4 class="title-module">
                      Postura {{ postura.id }}:
                    </h4> </span
                  ><span
                    >{{ postura.madrilla_alias }} |
                    {{ postura.padrillo_alias }}</span
                  >
                  <span
                    :class="[
                      'badge',
                      postura.status == 'ANULADA'
                        ? 'bg-danger'
                        : postura.status == 'PENDIENTE'
                        ? 'bg-rosado'
                        : postura.status == 'EN PROCESO'
                        ? 'bg-celeste'
                        : 'bg-verde',
                      'text-white',
                      'pr-3',
                      'pl-3 mb-3',
                    ]"
                    >{{ postura.status }}</span
                  >
                  <table class="table">
                    <thead class="text-center">
                      <th scope="col">Fecha</th>
                      <th scope="col">Cantidad de huevos</th>
                      <!-- <th scope="col">Creado por</th> -->
                    </thead>
                    <tbody>
                      <tr v-if="loading">
                        <td colspan="11" class="text-center">
                          <spinner></spinner>
                        </td>
                      </tr>
                      <template v-else>
                        <tr
                          v-for="eggRegistered in postura.json_data"
                          :key="eggRegistered.id"
                        >
                          <td data-label="Fecha">
                            {{ convertToSpanishDate(eggRegistered.date) }}
                          </td>
                          <td
                            class="align-items-center"
                            data-label="Cantidad de huevos"
                            v-if="eggRegistered.ep_deleted_at"
                          >
                            <span> {{ eggRegistered.quantity }}</span>
                            <span
                              :class="[
                                'badge',
                                'bg-danger',
                                'text-white',
                                'pr-3',
                                'pl-3',
                              ]"
                              >ELIMINADO</span
                            >
                          </td>
                          <td data-label="Cantidad de huevos" v-else>
                            {{ eggRegistered.quantity }}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Total: </strong>
                          </td>
                          <td>
                            <strong>{{ postura.total_quantity }}</strong>
                          </td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                </div>
              </div>

              <hr />
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { misMixins } from '../../../mixins';
export default {
  props: {
    madrillaPlate: String,
  },
  data() {
    return {
      arrayRegisteredEggsByMadrilla: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      posturaId: null,
      posturaComment: null,
      modalActivatingPostura: false,
      loading: false,
    };
  },
  mounted() {
    this.getRegisteredEggsByMadrillaDetail(null, null);
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isEncastador() {
      return this.currentUser ? this.currentUser.role_id == 6 : false;
    },
    isAdmin() {
      return this.currentUser ? this.currentUser.role_id == 1 : false;
    },
  },
  methods: {
    getRegisteredEggsByMadrillaDetail(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/postura/registered-eggs-madrilla-detail", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          madrilla_plate: this.madrillaPlate,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayRegisteredEggsByMadrilla = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/postura/registered-eggs-madrilla-detail?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          madrilla_plate: this.madrillaPlate,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayRegisteredEggsByMadrilla = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      this.loading = true;
      axios
        .post("/api/postura/registered-eggs-madrilla-detail?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          madrilla_plate: this.madrillaPlate,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayRegisteredEggsByMadrilla = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getRegisteredEggsByMadrillaDetail(null, null);
    },
    moment: function () {
      return moment();
    },
  },
  watch: {
    "paginate.search_input"() {
      this.getRegisteredEggsByMadrillaDetail(null, null);
    },
  },
  mixins: [misMixins]
};
</script>

<style>
</style>
