<template>
    <div class="mr-3">
        <div class="row">
                <div class="col-md-12">
                    <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                        <span class="class-span-1" style="border-radius: 20px; border-width: 1px; border-color: black;">{{
                            (paginate.start_page - 1) * paginate.perpage +
                            1 +
                            "-" +
                            (paginate.start_page == paginate.end_page
                            ? paginate.total_data
                            : paginate.start_page * paginate.perpage)
                        }}</span
                        ><span style="padding-top: 7px; margin-right: 5px">de</span
                        ><span class="class-span-2" style="border-radius: 50%; border-width: 1px; border-color: black;">{{ paginate.total_data }}</span
                        ><button
                            class="btn btn-rounded-ui bg-ui-black"
                            @click="prev(paginate.start_page)"
                            :style="
                            paginate.start_page != 1
                                ? 'margin-right:5px;'
                                : 'pointer-events:none;margin-right:5px;'
                            "
                        >
                            <i class="fas fa-caret-left"></i></button
                        ><button
                            class="btn btn-rounded-ui bg-ui-black"
                            @click="next(paginate.next_page)"
                            :style="
                            paginate.start_page != paginate.end_page
                                ? ''
                                : 'pointer-events:none'
                            "
                        >
                            <i class="fas fa-caret-right"></i></button
                        ><button class="btn btn-rounded-ui bg-ui-black ml-2" @click="resetSearch">
                            <i class="fas fa-sync-alt"></i>
                        </button>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="form-group">
                            <b-input-group>
                                <b-form-input
                                    class="input-search mr-3"
                                    v-model="paginate.search_input"
                                    style="border-radius: 20px; border-width: 1px; border-color: black;"
                                    type="text"
                                    debounce="500"
                                    placeholder="Madrilla"
                                ></b-form-input>
                                <template #append>
                                <button class="btn btn-ui bg-ui-black" @click="getRegisteredEggsByMadrilla(null, null)">
                                    <i class="fas fa-search"></i> BUSCAR
                                </button>
                                </template>
                            </b-input-group>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                        <thead class="text-center">
                            <th scope="col">Foto de madrilla</th>
                            <th scope="col">Alias de Madrilla</th>
                            <th scope="col">Placa de Madrilla</th>
                            <th scope="col"># Huevos agregados</th>
                            <th scope="col">Acciones</th>
                            <!--<th scope="col">Creado por</th>-->
                        </thead>
                        <tbody>
                            <tr v-if="loading">
                                                <td colspan="11" class="text-center"><spinner></spinner></td>

                                            </tr>
                            <template v-else>
                            <tr
                                v-for="(eggRegistered) in arrayEggsRegistered"
                                :key="eggRegistered.id"
                            >
                            <td data-label="Foto">
                            <div id="preview">
                            <img
                                v-lazy="eggRegistered.thumb"
                                alt="Snow"
                                @click="
                                seeimage(
                                    1,
                                    eggRegistered.photo,
                                    eggRegistered.placa_madrilla,
                                    eggRegistered.madrilla_alias,
                                    eggRegistered.madrilla_id
                                )
                                "
                            />
                            </div>
                        </td>
                                <td data-label="Alias de madrilla">
                                {{ eggRegistered.madrilla_alias }}
                                </td>
                                <td data-label="Placa de madrilla">
                                {{ eggRegistered.placa_madrilla }}
                                </td>
                                <td data-label="# Huevos agregados">
                                {{ eggRegistered.suma }}
                                </td>
                                <td data-label="Acciones">
                                    <b-button
                                        variant="info"
                                        size="sm"
                                        @click="openMadrillaDetailModal(eggRegistered)"
                                        >Detalle</b-button
                                    >
                                </td>
                            </tr>
                            </template>
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                </div>
            <b-modal title="Detalle  huevos madrilla" hide-footer v-model="madrillaDetailModal" size="xl" scrollable>
                <register-eggs-madrilla-detail :madrillaPlate="selectedMadrilla.placa_madrilla"></register-eggs-madrilla-detail>
            </b-modal>
            <view-image-specimens
            v-if="modal_image"
            :data_specimen="data_specimen"
            @click="closeModalimage"
            @switchRight="switchRight"
            @switchLeft="switchLeft"
            ></view-image-specimens>
    </div>
</template>

<script>
import RegisterEggsByMadrillaDetail from './RegisterEggsByMadrillaDetail';
export default {
  data() {
    return {
      arrayEggsRegistered: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      posturaId: null,
      posturaComment: null,
      modalActivatingPostura: false,
      loading: false,
      madrillaDetailModal: false,
      selectedMadrilla: {
          madrilla_alias: null,
          placa_madrilla: null
      },
      modal_image: false,
      data_specimen: {
        type: "",
        url: "",
        plaque: "",
        alias: "",
        id: "",
        size: 300000000,
        last_left: false,
        last_right: false
      }
    };
  },
  mounted() {
    this.getRegisteredEggsByMadrilla(null, null);
  },
  components:{
      'register-eggs-madrilla-detail': RegisterEggsByMadrillaDetail
  },
  computed:{
      currentUser(){
            return this.$store.getters.currentUser;
        },
        isEncastador(){
            return this.currentUser?this.currentUser.role_id == 6:false;
        },
        isAdmin(){
            return this.currentUser?this.currentUser.role_id == 1:false;
        }
  },
  methods: {
      seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      for (let i = 0; i < this.arrayEggsRegistered.length; i++) {
        if (this.arrayEggsRegistered[i].madrilla_id == id) {
          if (this.arrayEggsRegistered.indexOf(this.arrayEggsRegistered[i]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else if(this.arrayEggsRegistered.indexOf(this.arrayEggsRegistered[i]) >= this.arrayEggsRegistered.length-1){
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = true;
          }
        }
      }
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
      this.data_specimen.id = id
    },
    closeModalimage() {
      this.modal_image = false;
    },
    getRegisteredEggsByMadrilla(dato1, dato2) {
        this.loading = true
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/postura/registered-eggs-madrilla", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {

            this.arrayEggsRegistered = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
        this.loading = true
      var newval = start_p - 1;
      axios
        .post("/api/postura/registered-eggs-madrilla?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayEggsRegistered = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
        this.loading = true
      axios
        .post("/api/postura/registered-eggs-madrilla?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayEggsRegistered = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getRegisteredEggsByMadrilla(null, null);
    },
    openMadrillaDetailModal(madrilla){
        this.selectedMadrilla = madrilla
        this.madrillaDetailModal = true
    },
    switchRight(){
        for(let i = this.arrayEggsRegistered.length-1; i >= 0; i--){
            if(this.arrayEggsRegistered[i].madrilla_id == this.data_specimen.id){
                if(this.arrayEggsRegistered.indexOf(this.arrayEggsRegistered[i+1]) >= this.arrayEggsRegistered.length-1){
                    this.data_specimen.last_right = true
                    this.data_specimen.last_left = false
                }else{
                    this.data_specimen.last_right = false
                    this.data_specimen.last_left = false
                }
                this.data_specimen.type = 1;
                this.data_specimen.url = this.arrayEggsRegistered[i+1].photo;
                this.data_specimen.plaque = this.arrayEggsRegistered[i+1].placa_madrilla;
                this.data_specimen.alias = this.arrayEggsRegistered[i+1].madrilla_alias;
                this.data_specimen.id = this.arrayEggsRegistered[i+1].madrilla_id
            }
        }
    },
    switchLeft(){
        for(let i = 0; i < this.arrayEggsRegistered.length; i++){
            if(this.arrayEggsRegistered[i].madrilla_id == this.data_specimen.id){
                if(this.arrayEggsRegistered.indexOf(this.arrayEggsRegistered[i-1]) <= 0){
                    this.data_specimen.last_left = true
                    this.data_specimen.last_right = false
                }else{
                    this.data_specimen.last_left = false
                    this.data_specimen.last_right = false
                }
                this.data_specimen.type = 1;
                this.data_specimen.url = this.arrayEggsRegistered[i-1].photo;
                this.data_specimen.plaque = this.arrayEggsRegistered[i-1].placa_madrilla;
                this.data_specimen.alias = this.arrayEggsRegistered[i-1].madrilla_alias;
                this.data_specimen.id = this.arrayEggsRegistered[i-1].madrilla_id
            }
        }
    }
  },
  watch: {
    "paginate.search_input"() {
      this.getRegisteredEggsByMadrilla(null, null);
    },
  },
};
</script>

<style scoped>
@media (max-width: 991.98px) {
    #preview{
        margin-left: 85%;
    }
}
</style>
