<template>
  <div class="mr-3">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="table-responsive ml-3">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Postura</th>
                <th scope="col">Foto de madrilla</th>
                <th scope="col">Alias de madrilla</th>
                <th scope="col">Placa de madrilla</th>
                <th scope="col">Cantidad de huevos</th>
              </thead>
              <tbody>
                <tr v-if="loading">
                  <td colspan="11" class="text-center"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr
                    v-for="eggRegistered in arrayRegisteredEggsByDate"
                    :key="eggRegistered.id"
                  >
                    <td data-label="Postura">
                      Postura {{ eggRegistered.postura_id }}
                    </td>
                    <td data-label="Foto">
                      <div id="preview">
                        <img
                          v-lazy="eggRegistered.thumb"
                          alt="Snow"
                          @click="
                            seeimage(
                              1,
                              eggRegistered.photo,
                              eggRegistered.placa_madrilla,
                              eggRegistered.madrilla_alias,
                              eggRegistered.madrilla_id
                            )
                          "
                        />
                      </div>
                    </td>
                    <td data-label="Alias de madrilla">
                      {{ eggRegistered.placa_madrilla }}
                    </td>
                    <td data-label="Placa de madrilla">
                      {{ eggRegistered.madrilla_alias }}
                    </td>
                    <td data-label="Cantidad de huevos">
                      {{ eggRegistered.quantity }}
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <view-image-specimens
      v-if="modal_image"
      :data_specimen="data_specimen"
      @click="closeModalimage"
      @switchRight="switchRight"
      @switchLeft="switchLeft"
    ></view-image-specimens>
  </div>
</template>

<script>
import moment from "moment";
export default {
  props: {
    eggsId: Number,
  },
  data() {
    return {
      arrayRegisteredEggsByDate: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      posturaId: null,
      posturaComment: null,
      modalActivatingPostura: false,
      loading: false,
      modal_image: false,
      data_specimen: {
        type: "",
        url: "",
        plaque: "",
        alias: "",
        id: "",
        size: 300000000,
      },
    };
  },
  mounted() {
    this.getEggDetail();
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isEncastador() {
      return this.currentUser ? this.currentUser.role_id == 6 : false;
    },
    isAdmin() {
      return this.currentUser ? this.currentUser.role_id == 1 : false;
    },
  },
  methods: {
    seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      for (let i = 0; i < this.arrayRegisteredEggsByDate.length; i++) {
        if (this.arrayRegisteredEggsByDate[i].madrilla_id == id) {
          if (this.arrayRegisteredEggsByDate.indexOf(this.arrayRegisteredEggsByDate[i]) <= 0) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else if(this.arrayRegisteredEggsByDate.indexOf(this.arrayRegisteredEggsByDate[i]) >= this.arrayRegisteredEggsByDate.length-1){
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = true;
          }
        }
      }
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
      this.data_specimen.id = id;
    },
    closeModalimage() {
      this.modal_image = false;
    },
    getEggDetail() {
      this.loading = true;
      axios
        .post("/api/egg/detail", {
          eggs_id: this.eggsId,
        })
        .then((response) => {
          this.arrayRegisteredEggsByDate = response.data;
          this.loading = false;
        });
    },
    switchRight() {
      for (let i = this.arrayRegisteredEggsByDate.length - 1; i >= 0; i--) {
        if (
          this.arrayRegisteredEggsByDate[i].madrilla_id == this.data_specimen.id
        ) {
          if (
            this.arrayRegisteredEggsByDate.indexOf(
              this.arrayRegisteredEggsByDate[i + 1]
            ) >=
            this.arrayRegisteredEggsByDate.length - 1
          ) {
            this.data_specimen.last_right = true;
            this.data_specimen.last_left = false;
          } else {
            this.data_specimen.last_right = false;
            this.data_specimen.last_left = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.arrayRegisteredEggsByDate[i + 1].photo;
          this.data_specimen.plaque = this.arrayRegisteredEggsByDate[
            i + 1
          ].placa_madrilla;
          this.data_specimen.alias = this.arrayRegisteredEggsByDate[
            i + 1
          ].madrilla_alias;
          this.data_specimen.id = this.arrayRegisteredEggsByDate[
            i + 1
          ].madrilla_id;
        }
      }
    },
    switchLeft() {
      for (let i = 0; i < this.arrayRegisteredEggsByDate.length; i++) {
        if (
          this.arrayRegisteredEggsByDate[i].madrilla_id == this.data_specimen.id
        ) {
          if (
            this.arrayRegisteredEggsByDate.indexOf(
              this.arrayRegisteredEggsByDate[i - 1]
            ) <= 0
          ) {
            this.data_specimen.last_left = true;
            this.data_specimen.last_right = false;
          } else {
            this.data_specimen.last_left = false;
            this.data_specimen.last_right = false;
          }
          this.data_specimen.type = 1;
          this.data_specimen.url = this.arrayRegisteredEggsByDate[i - 1].photo;
          this.data_specimen.plaque = this.arrayRegisteredEggsByDate[
            i - 1
          ].placa_madrilla;
          this.data_specimen.alias = this.arrayRegisteredEggsByDate[
            i - 1
          ].madrilla_alias;
          this.data_specimen.id = this.arrayRegisteredEggsByDate[
            i - 1
          ].madrilla_id;
        }
      }
    },
    moment: function () {
      return moment();
    },
  },
};
</script>

<style scoped>
@media (max-width: 991.98px) {
  #preview {
    margin-left: 85%;
  }
}
</style>
