<template>
    <div class="mr-3">
        <div class="d-flex justify-content-end">
            <div class="d-flex align-items-center">
                <router-link role="button" class="btn btn-ui bg-ui-verde" v-if="isEncastador"
                    to="/main/reproduccion/registro-huevos/crear">REGISTRAR HUEVOS <i class="fas fa-plus"></i
                        >
                </router-link>
            </div>
        </div>
        <b-tabs content-class="mt-3" active-nav-item-class="border-bottom-white active-link-tabs " nav-class="border-bottom border-dark" lazy>
            <b-tab title="Madrilla" active title-link-class="text-dark">
                <register-eggs-by-madrilla></register-eggs-by-madrilla>
            </b-tab>
            <b-tab title="Fecha" title-link-class="text-dark">
                <register-eggs-by-date :status="1"></register-eggs-by-date>
            </b-tab>
            <b-tab title="Eliminado" title-link-class="text-dark">
                <register-eggs-by-date :status="2"></register-eggs-by-date>
            </b-tab>
        </b-tabs>
    </div>
</template>

<script>
import RegisterEggsByDatePage from '../registereggs/RegisterEggsByDatePage';
import RegisterEggsByMadrillaPage from '../registereggs/RegisterEggsByMadrillaPage';
export default {
    components:{
        'register-eggs-by-date': RegisterEggsByDatePage,
        'register-eggs-by-madrilla': RegisterEggsByMadrillaPage
    },
    computed: {
        currentUser() {
        return this.$store.getters.currentUser;
        },
        isAdmin() {
        return this.currentUser ? this.currentUser.role_id == 1 : false;
        },
        isEncastador() {
        return this.currentUser ? this.currentUser.role_id == 6 : false;
        },
    }
};
</script>

<style>

</style>
