<template>
  <main class="m-3">
    <h3 class="title-module">Ejemplares</h3>
    <hr />
    <h5 class="title-module">Agregar</h5>
    <div class="style-save-specimens p-4">
      <div class="col-md-12 mb-5" style="height: 150px">
        <div class="wrapper" style="width: 150px; margin: 0 auto">
          <img
            class="image--cover-create"
            alt=""
            id="resize"
            src="/images/camera.png"
          />
          <div class="buttom-file-create">
            <input type="file" id="file" @change="process" accept="image/*" /><i
              class="fas fa-plus"
            ></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12 mb-2">
          <div class="c1">
            <div class="col mb-2">
              <label>GENERO</label><br />
              <div
                class="btn-group btn-group-toggle form-control f-control"
                data-toggle="buttons"
              >
                <label
                  :class="['btn', 'button-group-r',  macho==1?'active-gender-edit':'']"
                  id="macho"
                  data-toggle="buttons"
                  >Macho<input
                    type="radio"
                    name="gender"
                    v-model="macho"
                    disabled="disabled"
                    autocomplete="off" /></label
                ><label
                  :class="['btn', 'button-group-l',  hembra==1?'active-gender-edit':'']"
                  data-toggle="buttons"
                  id="hembra"
                  >Hembra<input
                    type="radio"
                    name="gender"
                    v-model="hembra"
                    disabled="disabled"
                    autocomplete="off"
                /></label>
              </div>
            </div>
            <div class="col mb-2">
              <label>CATEGORIA(*)</label>
              <div class="select" id="category">
                <select v-model="category" @change="selectCategory">
                  <option
                    v-for="(item, index) in data_category"
                    :key="index"
                    :value="item.id"
                  >
                    {{ item.description }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col mb-2">
              <label>ORIGEN(*)</label>
              <div class="select" id="origin">
                <select v-model="origin">
                  <option
                    v-for="(item, index) in data_origin"
                    :key="index"
                    :value="item.id"
                  >
                    {{ item.description }} {{item.id}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col mb-2">
              <label class="mr-2">COLOR </label
              ><i class="fas fa-plus add" v-if="ac == true" @click="add(1)"></i
              ><i class="fas fa-times add" v-else @click="close(1)"></i>
              <div class="select" v-if="selectcolor">
                <select id="color" v-model="ejem_color">
                  <option
                    v-for="(item, index) in color_specimen"
                    :key="index"
                    :value="item.id"
                  >
                    {{ item.color }}
                  </option>
                </select>
              </div>
              <div v-if="inputaddcolor">
                  <label>Masculino</label>
                <input
                  class="form-control inputs-modules"
                  type="text"
                  v-model="namecolor"
                  aria-describedby="basic-addon1"
                />
                <label>Femenino</label>
                <input
                  class="form-control inputs-modules"
                  type="text"
                  v-model="namecolorfemale"
                  aria-describedby="basic-addon1"
                /> <br>
                <div class="input-group-prepend">
                  <button class="btn btn-ui bg-ui-black" @click="savecolor">
                    Agregar
                  </button>
                </div>
              </div>
              <span class="badge badge-danger" v-if="validate.color"
                >Color ya existe.</span
              >
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-2">
          <div class="c1">
            <div class="col mb-2">
              <label>CRIADOR </label
              ><input
                class="form-control inputs-modules"
                type="text"
                id="criador"
                v-model="breeder"
              />
            </div>
            <div class="col mb-2">
              <label class="float-left mr-2">CRIADOR</label>
              <div class="float-left">
                <i class="fas fa-plus add" v-if="ar == true" @click="add(2)"></i
                ><i
                  class="fas fa-times add"
                  v-if="ar == false"
                  @click="close(2)"
                ></i>
              </div>
              <input
                class="form-control inputs-modules"
                v-if="selectrival"
                id="camposearch"
                v-model="camposearch"
                autocomplete="off"
                type="text"
                @click="viewrivals"
                @keyup="searchbreeder"
                ref="file"
                name="file"
                placeholder="Buscar.."
                style="margin-bottom: 5px"
              />
              <div class="cont-users" v-if="selectrival" id="contusers">
                <span
                  class="span-hover"
                  v-for="(item, index) in rival_specimen"
                  :key="index"
                  style="display: block; cursor: pointer"
                  :id="item.id"
                  @click="selectvalue(item.id, item.name)"
                  >{{ item.name }}</span
                >
              </div>
              <div class="input-group" v-if="inputaddrival">
                <input
                  class="form-control inputs-modules"
                  type="text"
                  id="namerival"
                  v-model="namerival"
                />
                <div class="input-group-prepend">
                  <button class="btn btn-save-select" @click="saverival">
                    Agregar
                  </button>
                </div>
                <span class="badge badge-danger" v-if="validate.existsrival"
                  >Rival ya existe.</span
                ><span class="badge badge-danger" v-if="validate.rivalsave"
                  >Debe escoger un rival.</span
                >
              </div>
            </div>
            <div class="col mb-2">
              <label>PRECIO </label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="select_currency">
                    <select class="inputs-modules" v-model="currency">
                      <option
                        v-for="(item, index) in type_currency"
                        :key="index"
                        :value="item.id"
                      >
                        {{ item.currency }}
                      </option>
                    </select>
                  </div>
                </div>
                <input
                  class="form-control inputs-modules"
                  type="text"
                  id="price"
                  v-model="price"
                  @blur="format"
                  @keypress="justNumbers"
                  aria-describedby="basic-addon1"
                />
              </div>
            </div>
            <div class="col mb-2">
              <label>FECHA DE NACIMIENTO(*)</label
              ><input
                class="form-control inputs-modules"
                type="date"
                data-date-format="DD/MM/YYYY"
                id="dob"
                v-model="dob"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-2">
          <div class="c1">
            <div class="col mb-2">
              <label>ESTADO(*)</label>
              <div class="select" id="status">
                <select v-model="status" @change="tracking">
                  <option
                    v-for="(item, index) in data_statuse"
                    :key="index"
                    :value="item.id"
                  >
                    {{ item.description }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col mb-2">
              <label>PLACA(*)</label
              ><input
                class="form-control inputs-modules"
                type="text"
                id="placa"
                v-model="placa"
                @keyup="validateplate"
                v-if="origin != 5"
              /><span class="badge badge-danger" v-if="validate.vplaca"
                >Placa ya existe.</span
              >
              <input
                class="form-control inputs-modules"
                type="text"
                id="placa"
                disabled
                v-if="origin == 5"
              />
            </div>
            <div class="col mb-2">
              <label>PLACA ADICIONAL {{origin == 5?'(*)':''}}</label
              ><input
                class="form-control inputs-modules"
                type="text"
                v-model="p_adicional"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-2">
          <div class="col mb-2">
            <label>ALIAS</label
            ><input
              class="form-control inputs-modules"
              type="text"
              id="alias"
              v-model="alias"
            />
          </div>
          <div class="col mb-2">
            <label>DEFINICION</label
            ><input
              class="form-control inputs-modules"
              type="text"
              id="definition"
              v-model="definition"
            />
          </div>
        </div>
        <div class="col-md-12 col-12 ml-1 mb-2 row">
          <div class="col-md-12 float-left" id="observations">
            <div class="observations">
              <label>OBSERVACIONES</label
              ><textarea
                class="form-control inputs-modules"
                v-model="observations"
                rows="4"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-center mt-5">
        <div>
          <button
            class="btn btn-ui bg-ui-black"
            @click="validateflieds()"
            :disabled="disable.save"
          >
            <i class="fas fa-save"></i> GRABAR
          </button>
        </div>
      </div>
      <modal-tracking-status
        v-if="modalTstatus"
        @click="closeModaltrackingStatus"
        :v_death="this.v_death"
        @datatracking="datatracking"
      ></modal-tracking-status>
    </div>
  </main>
</template>
<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted(){
      this.getdataselect();
      this.getrival();
  },
  data() {
    return {
      v_death: 0,
      modalTstatus: false,
      view_breeder: false,
      camposearch: "",
      namerival: "",
      breeder_id: "",
      ac: true,
      ar: true,
      description_tracking: false,
      evidencefile: "",
      description_status: "",
      ac: true,
      inputaddcolor: false,
      selectcolor: true,
      currency: 1,
      currencyValue: 0,
      origin: "",
      alias: "",
      placa: "",
      p_adicional: "",
      breeder: "",
      price: "",
      ejem_color: "",
      category: "",
      data_origin: [],
      data_category: [],
      data_statuse: [],
      color_specimen: [],
      type_currency: [],
      macho: "",
      hembra: "",
      status: "",
      dob: "",
      observations: "",
      death_date: "",
      disable: {
        save: false,
      },
      validate: {
        vplaca: false,
        color: false,
        existsrival: false,
        rivalsave: false,
        avplaca: false
      },
      file_image: "",
      file_name: "",
      file_image_thumb: "",
      file_image_thumb: "",
      file_image_evidence: "",
      file_name_evidence: "",
      file_image_thumb_evidence: "",
      namecolor: "",
      definition: "",
      rival_specimen: [],
      inputaddrival: false,
      selectrival: true,
      namecolorfemale: ''
    };
  },
  computed: {
    global() {
      return this.$store.getters.currentUser;
    },
  },
  methods: {
    datatracking(dato) {
      this.death_date = dato.death_date;
      this.file_image_evidence = dato.file_image_evidence;
      this.file_image_thumb_evidence = dato.file_image_thumb_evidence;
      this.file_name_evidence = dato.file_name_evidence;
      this.description_status = dato.descriptions;
    },
    closeModaltrackingStatus() {
      this.modalTstatus = false;
    },
    viewrivals() {
      var dato = document.getElementById("contusers");
      dato.classList.toggle("all-he");
    },
    searchbreeder() {
      var x = document.getElementById("camposearch");
      var dato = document.getElementById("contusers");
      var cant = x.value;
      axios
        .post("/api/search-rival", {
          q: cant,
        })
        .then((response) => {
          if (response.status == 200) {
            if (cant.length > 0) {
              dato.classList.add("all-he");
              this.rival_specimen = response.data;
              if (this.rival_specimen.length == 0) {
                dato.classList.remove("scroll-all");
                dato.classList.remove("all-he");
              } else if (this.rival_specimen.length < 15) {
                dato.classList.add("all-he");
                dato.classList.remove("scroll-all");
              } else if (this.rival_specimen.length > 15) {
                dato.classList.add("scroll-all");
              }
            } else {
              dato.classList.remove("scroll-all");
              dato.classList.remove("all-he");
              this.getrival();
            }
          }
        })
        .catch((err) => {
          console.error(err);
        });
    },
    selectvalue(id, name) {
      this.breeder_id = id;
      this.camposearch = name;
      var x = document.getElementById("camposearch");
      var dato = document.getElementById("contusers");
      x.value = this.camposearch;
      dato.classList.remove("scroll-all");
      dato.classList.remove("all-he");
      this.getrival();
    },
    validateplate() {
      axios
        .post("/api/validate-plate", {
          t_plate: this.placa == "" ? null : this.placa,
          idspecimen: null,
        })
        .then((response) => {
          if (response.status == 200) {
            if (response.data == 0) {
              this.validate.vplaca = true;
            } else {
              this.validate.vplaca = false;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    selectCategory() {
      var machoid = document.getElementById("macho");
      var hembraid = document.getElementById("hembra");
      if (
        this.category == 1 ||
        this.category == 3 ||
        this.category == 5 ||
        this.category == 7
      ) {
        this.macho = 1;
        this.hembra = 0;
        machoid.classList.add("active-gender");
        hembraid.classList.remove("active-gender");
      } else {
        this.macho = 0;
        this.hembra = 1;
        hembraid.classList.add("active-gender");
        machoid.classList.remove("active-gender");
      }
    },
    process() {
      const file = document.querySelector("#file").files[0];
      var inputfile = document.getElementById("file");
      this.file_name = file.name;

      var ext = file.name.split(".").pop();
      var extension = ext.toLowerCase();
      if (extension == "jpg" || extension == "png" || extension == "jpeg") {
        if (!file) return;
        const reader = new FileReader();
        reader.readAsDataURL(file);
        this.view_specimens = true;

        reader.onload = (event) => {
          const imgElement = document.createElement("img");
          imgElement.src = event.target.result;
          this.file_image = event.target.result;
          document.querySelector("#resize").src = "";
          document.querySelector("#resize").src = event.target.result;
          imgElement.onload = (e) => {
            const canvas = document.createElement("canvas");
            const MAX_WIDTH = 100;

            const scaleSize = MAX_WIDTH / e.target.width;
            canvas.width = MAX_WIDTH;
            canvas.height = e.target.height * scaleSize;

            const ctx = canvas.getContext("2d");

            ctx.drawImage(e.target, 0, 0, canvas.width, canvas.height);

            const srcEncoded = ctx.canvas.toDataURL(e.target, "image/jpeg");

            // you can send srcEncoded to the server
            document.querySelector("#resize").src = srcEncoded;
            this.file_image_thumb = srcEncoded;
          };
        };
      } else {
        inputfile.value = "";
        Swal.fire({
          icon: "error",
          title: "Formato invalido",
          showConfirmButton: false,
          timer: 1500,
        });
        document.querySelector("#resize").src = "";
        document.querySelector("#resize").src = "/images/camera.png";
      }
    },
    getdataselect() {
      this.getcolorspecimen();
      axios
        .post("/api/get-data-select-specimens")
        .then((response) => {
          if (response.status == 200) {
            this.data_origin = JSON.parse(response.data[0].data_origin);
            this.data_category = JSON.parse(response.data[0].data_category);
            this.data_statuse = JSON.parse(response.data[0].data_statuse);
            this.type_currency = JSON.parse(response.data[0].type_currency);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getcolorspecimen() {
      axios
        .post("/api/get-color-specimen", {
            gender_specimen: this.macho == 1 ? 1 : 2
        })
        .then((response) => {
          if (response.status == 200) {
            this.color_specimen = response.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    validateflieds() {
      var origin = document.getElementById("origin");
      var category = document.getElementById("category");
      var status = document.getElementById("status");
      var dob = document.getElementById("dob");

    if(this.origin != 5){
        if (this.validate.vplaca == false) {
        if (this.category == "") {
          category.style.border = "solid 1px red";
        } else if (this.origin == "") {
          origin.style.border = "solid 1px red";
          category.removeAttribute("style");
        } else if (this.dob == "") {
          dob.style.border = "solid 1px red";
          origin.removeAttribute("style");
          category.removeAttribute("style");
        } else if (this.status == "") {
          status.style.border = "solid 1px red";
          origin.removeAttribute("style");
          category.removeAttribute("style");
          dob.removeAttribute("style");
        } else if (this.placa == "") {
          placa.style.border = "solid 1px red";
          status.removeAttribute("style");
          origin.removeAttribute("style");
          dob.removeAttribute("style");
          category.removeAttribute("style");
        } else if (this.status == 3) {
          status.removeAttribute("style");
          origin.removeAttribute("style");
          placa.removeAttribute("style");
          category.removeAttribute("style");
          dob.removeAttribute("style");
          if (this.death_date == "") {
            this.v_death = 1;
            this.modalTstatus = true;
          } else {
            swal
              .fire({
                title: "Estas seguro?",
                text: "¡No podrás revertir esto!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3490dc",
                cancelButtonColor: "#e3342f",
                confirmButtonText: "Si",
              })
              .then((result) => {
                if (result.value) {
                  this.savespecimens();
                }
              });
          }
        } else {
          this.savespecimens();
        }
      }
    }else{
        this.savespecimens();
    }

    },
    savespecimens() {
      this.disable.save = true;
      axios
        .post("/api/save-specimens", {
          iduser: this.global.user_id,
          origin: this.origin,
          alias: this.alias,
          placa: this.origin==5?`P-${this.p_adicional}`:this.placa,
          p_adicional: this.origin!=5?(this.p_adicional == "" ? null : this.p_adicional):(`P-${this.p_adicional}` == "" ? null : `P-${this.p_adicional}`),
          breeder: this.breeder,
          breeder_id: this.breeder_id,
          price: this.price,
          ejem_color: this.ejem_color,
          category: this.category,
          gender: this.macho == 1 ? 1 : 2,
          status: this.status,
          dob: this.dob,
          obs: this.observations,
          t_update: null,
          file_image: this.file_image,
          file_name: this.file_name,
          file_image_evidence: this.file_image_evidence,
          file_name_evidence: this.file_name_evidence,
          currency: this.currency,
          thumb: this.file_image_thumb,
          thum_evidence: this.file_image_thumb_evidence,
          description_evidence: this.description_status,
          death_date: this.death_date,
          definition: this.definition,
        })
        .then((response) => {
          if (response.status == 200) {
              this.$router.push('/main/ejemplares');
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    format() {
      this.currencyValue = parseFloat(this.price.replace(/[^\d\.]/g, ""));
      // Ensure that it is not NaN. If so, initialize it to zero.
      // This happens if user provides a blank input or non-numeric input like "abc"
      if (isNaN(this.currencyValue)) {
        this.currencyValue = 0;
      }
      // Format display value based on calculated currencyValue
      this.price = this.currencyValue
        .toFixed(2)
        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,");
    },
    justNumbers: function (event) {
      var charCode = window.event ? event.which : event.keyCode;
      var RE = /^\d*(\.\d{1})?\d{0,1}$/;
      if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
        //Usando la definición del DOM level 2, "return" NO funciona.
        event.preventDefault();
      }
    },
    add(dato) {
      if (dato == 1) {
        this.ac = false;
        this.inputaddcolor = true;
        this.selectcolor = false;
      } else {
        this.inputaddrival = true;
        this.selectrival = false;
        this.ar = false;
      }
    },
    close(dato) {
      if (dato == 1) {
        this.ac = true;
        this.inputaddcolor = false;
        this.selectcolor = true;
      } else {
        this.inputaddrival = false;
        this.selectrival = true;
        this.ar = true;
      }
    },
    savecolor() {
      axios
        .post("/api/save-color", {
          namecolor: this.namecolor,
          gender_specimen: 1
        })
        .then((response) => {
          if (response.status == 200) {
            if (response.data[0].color_exists == null) {
              toast.fire({
                icon: "success",
                title: "Registrado con exito",
              });
              this.validate.color = false;
              this.getcolorspecimen();
              this.close(1)
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
        axios
        .post("/api/save-color", {
          namecolor: this.namecolorfemale,
          gender_specimen: 2
        })
        .then((response) => {
          if (response.status == 200) {
            if (response.data[0].color_exists == null) {
              toast.fire({
                icon: "success",
                title: "Registrado con exito",
              });
              this.validate.color = false;
              this.getcolorspecimen();
              this.close(1)
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    tracking() {
      if (this.status == 3) {
        this.description_tracking = true;
        this.modalTstatus = true;
      } else {
        this.description_tracking = false;
        this.description_status = "";
      }
    },
    getrival() {
      axios
        .post("/api/get-rival")
        .then((response) => {
          if (response.status == 200) {
            this.rival_specimen = response.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    saverival() {
      axios
        .post("/api/save-rival", {
          namerival: this.namerival,
        })
        .then((response) => {
          if (response.status == 200) {
            if (response.data[0].rivalexists != null) {
              this.validate.existsrival = true;
            } else {
              this.getrival();
              this.close(2);
              this.validate.existsrival = false;
              this.namerival = "";
              toast.fire({
                icon: "success",
                title: "Registrado con exito",
              });
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  watch: {
    global(newVal, oldVal) {
      this.getdataselect();
      this.getrival();
    },
    macho(){
        this.getdataselect();
    }
  },
};
</script>
