<template>
  <div class="m-3">
    <main>
      <div class="row mb-2">
        <div class="col row mb-3">
          <h3 class="title-module pl-3">Ejemplares</h3>
        </div>

        <div class="col" v-if="isAdmin">
          <router-link
            class="btn btn-ui bg-ui-verde float-right"
            to="/main/ejemplares/crear"
            ><i class="fas fa-plus"></i> AGREGAR
          </router-link>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col row mb-3">
          <h5 class="title-module pl-3 text-success">
            Total de ejemplares: {{ counter }}
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <b-tabs
            content-class="mt-3"
            active-nav-item-class="border-bottom-white active-link-tabs "
            nav-class="border-bottom border-dark"
            lazy
          >
            <b-tab active title-link-class="text-dark">
              <template #title>
                Padrillos
                <span class="notification-icon-link" v-if="padrilloCounter"
                  ><strong>{{ padrilloCounter }}</strong>
                </span>
              </template>
              <specimens-page :categoryId="1"></specimens-page>
            </b-tab>
            <b-tab title="Madrillas" title-link-class="text-dark">
              <template #title>
                Madrillas
                <span class="notification-icon-link" v-if="madrillaCounter"
                  ><strong>{{ madrillaCounter }}</strong>
                </span>
              </template>
              <specimens-page :categoryId="2"></specimens-page>
            </b-tab>
            <b-tab title="Gallos" title-link-class="text-dark">
              <template #title>
                Gallos
                <span class="notification-icon-link" v-if="galloCounter"
                  ><strong>{{ galloCounter }}</strong>
                </span>
              </template>
              <specimens-page :categoryId="3"></specimens-page>
            </b-tab>
            <b-tab title="Gallinas" title-link-class="text-dark">
              <template #title>
                Gallinas
                <span class="notification-icon-link" v-if="gallinaCounter"
                  ><strong>{{ gallinaCounter }}</strong>
                </span>
              </template>
              <specimens-page :categoryId="4"></specimens-page>
            </b-tab>
            <b-tab title="Pollones" title-link-class="text-dark">
              <template #title>
                Pollones
                <span class="notification-icon-link" v-if="pollonCounter"
                  ><strong>{{ pollonCounter }}</strong>
                </span>
              </template>
              <specimens-page :categoryId="5"></specimens-page>
            </b-tab>
            <b-tab title="Pollas" title-link-class="text-dark">
              <template #title>
                Pollas
                <span class="notification-icon-link" v-if="pollaCounter"
                  ><strong>{{ pollaCounter }}</strong>
                </span>
              </template>
              <specimens-page :categoryId="6"></specimens-page>
            </b-tab>
          </b-tabs>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import SpecimensPage from "./SpecimensPage.vue";
export default {
  mounted() {
    this.getSpecimensCounter();
    this.getSpecimensSeparatedCounter();
  },
  computed: {
    padrilloCounter() {
      for (let i = 0; i < this.counters.length; i++) {
        if (this.counters[i].category == 1) {
          return this.counters[i].counter;
        }
      }
    },
    madrillaCounter() {
      for (let i = 0; i < this.counters.length; i++) {
        if (this.counters[i].category == 2) {
          return this.counters[i].counter;
        }
      }
    },
    galloCounter() {
      for (let i = 0; i < this.counters.length; i++) {
        if (this.counters[i].category == 3) {
          return this.counters[i].counter;
        }
      }
    },
    gallinaCounter() {
      for (let i = 0; i < this.counters.length; i++) {
        if (this.counters[i].category == 4) {
          return this.counters[i].counter;
        }
      }
    },
    pollonCounter() {
      for (let i = 0; i < this.counters.length; i++) {
        if (this.counters[i].category == 5) {
          return this.counters[i].counter;
        }
      }
    },
    pollaCounter() {
      for (let i = 0; i < this.counters.length; i++) {
        if (this.counters[i].category == 6) {
          return this.counters[i].counter;
        }
      }
    },
    nodrizaCounter() {
      for (let i = 0; i < this.counters.length; i++) {
        if (this.counters[i].category == 10) {
          return this.counters[i].counter;
        }
      }
    },
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      return this.currentUser ? this.currentUser.role_id == 1 : false;
    },
  },
  components: {
    "specimens-page": SpecimensPage,
  },
  data() {
    return {
      counter: 0,
      counters: [],
    };
  },
  methods: {
    getSpecimensCounter() {
      axios.get("/api/specimens/get-counter").then((res) => {
        this.counter = res.data[0].counter;
      });
    },
    getSpecimensSeparatedCounter() {
      axios.get("/api/specimen/counter").then((res) => {
        this.counters = res.data;
      });
    },
  },
};
</script>

<style scoped>
.notification-icon-link {
  background: #f00;
  padding: 2px 6px 2px 6px;
  border-radius: 50%;
  color: #fff;
  vertical-align: top;
}
</style>
