<template>
    <div>
    <b-form @submit.prevent="saveSpecimenDescendencia()">
      <b-row>
        <b-col>
          <b-form-group
            id="momAliasInput"
            label="Alias:"
            label-for="momAliasLbl"
          >
            <b-form-input
              id="momAliasLbl"
              v-model="treeObject.alias"
              type="text"
              placeholder="Ingresa el alias de la madre"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="momPlateInput"
            label="Placa:"
            label-for="momPlateLbl"
          >
            <b-form-input
              id="momPlateLbl"
              v-model="treeObject.plate"
              type="text"
              placeholder="Ingresa la placa"
            ></b-form-input>
          </b-form-group>
          <label for="momDob">Fecha de nacimiento:</label>
          <b-form-datepicker
            id="momDob"
            placeholder="Fecha de nacimiento"
            v-model="treeObject.dob"
            class="mb-2"
            locale="es-ES"
          ></b-form-datepicker>
          <label for="dadDob">Observación</label>
          <b-form-textarea
            id="textarea"
            v-model="treeObject.observation"
            placeholder="Escribe algo..."
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </b-col>
      </b-row>
      <br />
      <b-button type="submit" variant="primary">Actualizar</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  mounted() {
    this.treeObject.alias = this.specimen.alias
    this.treeObject.plate = this.specimen.plate
    this.treeObject.dob = this.specimen.dob
    this.treeObject.observation = this.specimen.observation
  },
  props: {
    specimen: Object
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
  },
  data() {
    return {
      treeObject: {
        alias: null,
        plate: null,
        dob: null,
        observation: null
      },
    };
  },
  methods: {
    saveSpecimenDescendencia() {
      axios
        .post("/api/tree/update", {
            specimen_id: this.specimen.id,
          alias: this.treeObject.alias,
          plate: this.treeObject.plate,
          dob: this.treeObject.dob,
          observation: this.treeObject.observation
        })
        .then((res) => {
          swal
            .fire({
              icon: "success",
              title: "Descendiente actualizado!",
            })
            .then((value) => {
              if (value) {
                this.closeModal();
              }
            });
        });
    },
    closeModal() {
      this.$emit("editModalEditSpecimenParents", null);
    },
  },
};
</script>

<style>

</style>
