<template>
  <div>
    <b-form @submit.prevent="saveSpecimenDescendencia()">
      <b-row>
        <b-col>
          <b-form-group
            id="momAliasInput"
            label="Alias de Madre:"
            label-for="momAliasLbl"
          >
            <b-form-input
              id="momAliasLbl"
              v-model="treeObject.mom_alias"
              type="text"
              placeholder="Ingresa el alias de la madre"
              :required="treeObject.dad_alias ? false : true"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="momPlateInput"
            label="Placa de Madre:"
            label-for="momPlateLbl"
          >
            <b-form-input
              id="momPlateLbl"
              v-model="treeObject.mom_plate"
              type="text"
              placeholder="Ingresa la placa de la madre"
            ></b-form-input>
          </b-form-group>
          <label for="momDob">Fecha de nacimiento:</label>
          <b-form-datepicker
            id="momDob"
            placeholder="Fecha de nacimiento"
            v-model="treeObject.mom_dob"
            class="mb-2"
            locale="es-ES"
          ></b-form-datepicker>
          <label for="dadDob">Observación</label>
          <b-form-textarea
            id="textarea2"
            v-model="treeObject.mom_observation"
            placeholder="Escribe algo..."
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </b-col>
        <b-col>
          <b-form-group
            id="dadAliasInput"
            label="Alias de Padre:"
            label-for="dadAliasLbl"
          >
            <b-form-input
              id="dadAliasLbl"
              v-model="treeObject.dad_alias"
              type="text"
              placeholder="Ingresa el alias del padre"
              :required="treeObject.mom_alias ? false : true"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="dadPlateInput"
            label="Placa de Padre:"
            label-for="dadPlateLbl"
          >
            <b-form-input
              id="dadPlateLbl"
              v-model="treeObject.dad_plate"
              type="text"
              placeholder="Ingresa la placa del padre"
            ></b-form-input>
          </b-form-group>
          <label for="dadDob">Fecha de nacimiento:</label>
          <b-form-datepicker
            id="dadDob"
            placeholder="Fecha de nacimiento"
            v-model="treeObject.dad_dob"
            class="mb-2"
            locale="es-ES"
          ></b-form-datepicker>
          <label for="dadDob">Observación</label>
          <b-form-textarea
            id="textarea"
            v-model="treeObject.dad_observation"
            placeholder="Escribe algo..."
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </b-col>
      </b-row>
      <br />

      <b-button type="submit" variant="primary">Guardar</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  props: {
    specimenId: [String, Number],
    parentId: Number,
    specimenAlias: String,
    specimenPlate: String,
    specimenDob: String,
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
  },
  data() {
    return {
      treeObject: {
        mom_alias: null,
        mom_plate: null,
        mom_dob: null,
        mom_observation: null,
        dad_alias: null,
        dad_plate: null,
        dad_dob: null,
        dad_observation: null,
      },
    };
  },
  methods: {
    saveSpecimenDescendencia() {
      axios
        .post("/api/tree/save", {
          parent_id: this.parentId ? this.parentId : 0,
          specimen_id: this.specimenId,
          mom_alias: this.treeObject.mom_alias,
          mom_plate: this.treeObject.mom_plate,
          mom_dob: this.treeObject.mom_dob,
          mom_description: this.treeObject.mom_observation,
          dad_alias: this.treeObject.dad_alias,
          dad_plate: this.treeObject.dad_plate,
          dad_dob: this.treeObject.dad_dob,
          dad_description: this.treeObject.dad_observation,
          created_by: this.currentUser.user_id,
          specimen_alias: this.specimenAlias,
          specimen_plate: this.specimenPlate,
          specimen_dob: this.specimenDob,
        })
        .then((res) => {
          swal
            .fire({
              icon: "success",
              title: "Descendiente registrado!",
            })
            .then((value) => {
              if (value) {
                this.closeModal();
              }
            });
        });
    },
    closeModal() {
      this.$emit("closeModalRegisterSpecimenParents", null);
    },
  },
};
</script>

<style>
</style>
