<template>
  <div class="m-3">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="form-group">
          <h3 class="title-module">Pollos</h3>
          <!-- <router-link
            class="btn btn-ui bg-ui-verde float-right"
            to="/main/reproduccion/migracion/crear"
            ><i class="fas fa-plus"></i> AGREGAR
          </router-link> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 col-lg-3">
            <div class="form-group">
              <span class="class-span-1">{{
                (start_page - 1) * perpage +
                1 +
                "-" +
                (start_page == end_page ? total_data : start_page * perpage)
              }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span class="class-span-2">{{ total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(start_page, selected_option)"
                :style="
                  start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(next_page, selected_option)"
                :style="
                  this.start_page != this.end_page ? '' : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <div class="col-md-6 col-lg-9 text-right">
            <div class="row d-flex align-items-end">
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="row">
                      <div class="col-lg-6">
                        <label>Desde</label>
                        <input
                          type="date"
                          class="form-control"
                          v-model="start_date"
                          style="
                            border-radius: 20px;
                            border-width: 1px;
                            border-color: black;
                          "
                        />
                      </div>
                      <div class="col-lg-6">
                        <label>Hasta</label>
                        <input
                          type="date"
                          class="form-control"
                          v-model="final_date"
                          style="
                            border-radius: 20px;
                            border-width: 1px;
                            border-color: black;
                          "
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="selectid">Buscar por</label>
                      <select
                        class="form-control"
                        id="selectid"
                        v-model="selected_option"
                      >
                        <option value="1">Pollo</option>
                        <option value="2">Padrillo/Madrilla</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <input
                    class="input-search mr-3"
                    type="text"
                    v-model="search_input"
                    style="
                      border-radius: 20px;
                      border-width: 1px;
                      border-color: black;
                    "
                    @keyup="search(null, null, selected_option)"
                    :placeholder="`Ingresar ${
                      selected_option == 1 ? 'cintillo' : 'placa'
                    }`"
                  /><button
                    class="btn bg-ui-black"
                    @click="search(null, null, selected_option)"
                  >
                    <i class="fas fa-search"></i> Buscar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Padrillo</th>
                <th scope="col">Madrilla</th>
                <th scope="col">Cantidad de posturas</th>
                <th scope="col">Vivos</th>
                <th scope="col">Hembras</th>
                <th scope="col">Machos</th>
                <th scope="col">Sin asignar</th>
                <th scope="col">Muertos</th>
                <th scope="col">Total</th>
              </thead>
              <tbody>
                <tr v-if="loadingData">
                  <td colspan="11"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr v-for="item in data" :key="item.id">
                    <td data-label="Padrillo">
                      <div class="d-flex flex-column justify-content-end p-2" style="
                          -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          border-radius: 5px;
                        ">
                        <div
                          class="
                            d-flex
                            justify-content-between
                            align-items-center
                          "
                        >
                          <div class="mr-2">
                            <span>
                              {{ item.padrillo_alias }}
                            </span>
                            <br />

                            <span
                              class="badge bg-secondary text-white pr-3 pl-3"
                              >{{ item.placa_padrillo }}</span
                            >
                          </div>

                          <div id="preview">
                            <img
                              v-lazy="item.padrillo_thumb"
                              alt="Snow"
                              @click="
                                seeimage(
                                  1,
                                  item.padrillo_photo,
                                  item.placa_padrillo,
                                  item.padrillo_alias,
                                  item.padrillo_id
                                )
                              "
                            />
                          </div>
                        </div>
                      </div>
                      <!-- <span>
                        {{ item.padrillo_alias }}
                      </span>
                      <br />

                      <span class="badge bg-secondary text-white pr-3 pl-3">{{
                        item.placa_padrillo
                      }}</span> -->
                    </td>
                    <td data-label="Madrilla">
                      <div class="d-flex flex-column justify-content-end p-2" style="
                          -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          border-radius: 5px;
                        ">
                        <div
                          class="
                            d-flex
                            justify-content-between
                            align-items-center
                          "
                        >
                          <div class="mr-2">
                            <span>
                              {{ item.madrilla_alias }}
                            </span>
                            <br />

                            <span
                              class="badge bg-secondary text-white pr-3 pl-3"
                              >{{ item.placa_madrilla }}</span
                            >
                          </div>

                          <div id="preview">
                            <img
                              v-lazy="item.thumb"
                              alt="Snow"
                              @click="
                                seeimage(
                                  1,
                                  item.photo,
                                  item.placa_madrilla,
                                  item.madrilla_alias,
                                  item.madrilla_id
                                )
                              "
                            />
                          </div>
                        </div>
                      </div>
                    </td>
                    <td data-label="Cantidad de posturas">{{ item.suma }}</td>
                    <td data-label="# Vivos">
                      <b-button
                        variant="outline-secondary"
                        size="sm"
                        @click="openModalDetailGroupedChick(item, 1, null)"
                        >{{ item.suma_vivos }}</b-button
                      >
                    </td>
                    <td data-label="# Hembras">
                      <b-button
                        variant="outline-secondary"
                        size="sm"
                        @click="openModalDetailGroupedChick(item, null, 2)"
                        >{{ item.suma_hembra }}</b-button
                      >
                    </td>
                    <td data-label="# Machos">
                      <b-button
                        variant="outline-secondary"
                        size="sm"
                        @click="openModalDetailGroupedChick(item, null, 1)"
                        >{{ item.suma_macho }}</b-button
                      >
                    </td>
                    <td data-label="# Sin asignar">
                      <b-button
                        variant="outline-secondary"
                        size="sm"
                        @click="openModalDetailGroupedChick(item, null, 3)"
                        >{{ item.suma_sin_asignar }}</b-button
                      >
                    </td>
                    <td data-label="# Muertos">
                      <b-button
                        variant="outline-secondary"
                        size="sm"
                        @click="openModalDetailGroupedChick(item, 2, null)"
                        >{{ item.suma_muertos }}</b-button
                      >
                    </td>
                    <td data-label="# Total">
                      <b-button
                        variant="outline-secondary"
                        size="sm"
                        @click="openModalDetailGroupedChick(item, null, null)"
                        >{{ item.suma_total }}</b-button
                      >
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <view-image-specimens
      v-if="modal_image"
      :data_specimen="this.data_specimen"
      @click="closeModalimage"
    ></view-image-specimens>
    <b-modal size="sm" v-model="editPageModal" title="Editar" hide-footer>
      <edit-chick-page
        @closeModalChick="closeModalEditChick"
        :chick="selectedChick"
      ></edit-chick-page>
    </b-modal>
    <b-modal
      v-model="modalDetailChick"
      title="Detalle"
      hide-footer
      scrollable
      size="xl"
    >
      <chick-detail-page
        :postura="postura"
        :chick_gender="chick_gender"
        :chick_status="chick_status"
      ></chick-detail-page>
    </b-modal>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
import { misMixins } from "../../../mixins";
import EditChickPage from "./EditChickPage.vue";
import ChickDetailPage from "./ChickDetailPage.vue";
import moment from "moment";
export default {
  components: {
    Multiselect,
    "edit-chick-page": EditChickPage,
    "chick-detail-page": ChickDetailPage,
  },
  data() {
    return {
      data_sessions: [],
      modal_sessions: false,
      data: [],
      edit: [],
      list_users: true,
      create_update: false,
      disable: {
        save: false,
      },
      search_input: "",
      orderby: this.dato2 == null ? 3 : this.dato2,
      order: this.dato1 == null ? "desc" : this.dato1,
      start_page: "",
      end_page: "",
      total_data: "",
      perpage: "",
      next_page: "",
      dato1: "",
      dato2: "",
      loadingData: false,
      modal_image: false,
      data_specimen: {
        type: "",
        url: "",
        plaque: "",
        alias: "",
        id: "",
        size: 300000000,
      },
      editPageModal: false,
      selectedChick: {},
      postura: {
        placa_madrilla: null,
        placa_padrillo: null,
      },
      modalDetailChick: false,
      selected_option: 1,
      start_date: null,
      final_date: null,
      chick_status: null,
      chick_gender: null,
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
  },
  mounted() {
    this.search(null, null);
  },
  methods: {
    openModalDetailGroupedChick(item, status, gender) {
      this.postura.placa_madrilla = item.placa_madrilla;
      this.postura.placa_padrillo = item.placa_padrillo;
      this.chick_gender = gender;
      this.chick_status = status;
      this.modalDetailChick = true;
    },
    seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
      this.data_specimen.id = id;
    },
    search(dato1, dato2, option) {
      this.loadingData = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/chick/get", {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
          option: option,
          start_date: this.start_date,
          final_date: this.final_date,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p, option) {
      var newval = start_p - 1;
      axios
        .post("/api/chick/get?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
          option: option,
          start_date: this.start_date,
          final_date: this.final_date,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            if (this.start_page == this.end_page) {
              this.next_page = this.start_page;
            } else {
              this.next_page = this.start_page + 1;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next, option) {
      axios
        .post("/api/chick/get?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
          option: option,
          start_date: this.start_date,
          final_date: this.final_date,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            if (this.start_page == this.end_page) {
              this.next_page = this.start_page;
            } else {
              this.next_page = this.start_page + 1;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.search_input = "";
      this.search();
    },
    closeModalimage() {
      this.modal_image = false;
    },
    openModalEditChick(chick) {
      this.editPageModal = true;
      this.selectedChick = chick;
    },
    closeModalEditChick() {
      this.editPageModal = false;
      this.selectedChick = null;
      this.search(null, null);
    },
  },
  mixins: [misMixins],
};
</script>


