<template>
  <div class="mr-3">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <span
                class="class-span-1"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                >{{
                  (paginate.start_page - 1) * paginate.perpage +
                  1 +
                  "-" +
                  (paginate.start_page == paginate.end_page
                    ? paginate.total_data
                    : paginate.start_page * paginate.perpage)
                }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span
                class="class-span-2"
                style="
                  border-radius: 50%;
                  border-width: 1px;
                  border-color: black;
                "
                >{{ paginate.total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(paginate.start_page)"
                :style="
                  paginate.start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(paginate.next_page)"
                :style="
                  paginate.start_page != paginate.end_page
                    ? ''
                    : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <template v-for="postura in arrayGroupedPosturas">
            <div class="table-responsive ml-3" :key="postura.id">
              <div class="card">
                <div class="card-body">
                  <span
                    ><h4 class="title-module">
                      Postura {{ postura.code }}:
                    </h4> </span
                  ><span
                    ><strong>Fecha: </strong>
                    {{ postura.postura_date | myGlobalDay }}</span
                  >
                  <span
                    :class="[
                      'badge',
                      postura.status == 'ANULADA'
                        ? 'bg-danger'
                        : postura.status == 'PENDIENTE'
                        ? 'bg-rosado'
                        : postura.status == 'EN PROCESO'
                        ? 'bg-celeste'
                        : 'bg-verde',
                      'text-white',
                      'pr-3',
                      'pl-3 mb-3',
                    ]"
                    >{{ postura.status }}</span
                  >
                  <br />
                  <div class="d-flex align-items-center">
                    <span><strong>Cintillo: </strong></span>
                    <template v-if="postura.cintillo_color">
                      <div
                        class="
                          d-flex
                          align-items-center
                          justify-content-around
                          p-1
                          mr-2
                        "
                      >
                        <span class="mr-1"
                          >{{ postura.chickenleg_description }}
                          {{ postura.cintillo_description }}
                        </span >
                        <span class="fa-squaress"
                          ><i
                            class="fas fa-square"
                            :style="`color: ${postura.cintillo_color}; font-size: 30px; text-shadow: 0 0 3px #000;`"
                          ></i
                        ></span>
                      </div>
                      <div>

                        <span
                            :class="[
                            'badge',
                            'bg-danger',
                            'text-white',
                            'pr-3',
                            'pl-3',
                            ]"
                            v-if="postura.cintillo_pata_postura_number == 2"
                            >LIBERADO</span
                        >
                        <span
                            :class="[
                            'badge',
                            'bg-success',
                            'text-white',
                            'pr-3',
                            'pl-3',
                            ]"
                            v-else
                            >COLOCADO</span
                        >
                      </div>
                    </template>
                    <template v-else>
                      <div
                        class="
                          d-flex
                          align-items-center
                          justify-content-around
                          p-1
                        "
                        style="
                          -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          border-radius: 20px;
                        "
                      >
                        <span><p class="text-danger">Sin asignar</p></span>
                      </div>
                    </template>
                  </div>
                  <template v-for="lote in postura.json_data">
                    <div
                      class="table-responsive ml-3"
                      :key="lote.id"
                      v-if="lote.chicks"
                    >
                      <div class="card">
                        <div class="card-body">
                          <span
                            ><h4 class="title-module text-danger">
                              Lote {{ lote.code }}:
                            </h4>
                          </span>
                          <table class="table">
                            <thead class="text-center">
                              <th scope="col">Cintillo ala</th>
                              <th scope="col">Fecha de nacimiento</th>
                              <th scope="col">Género</th>
                              <th scope="col">Placa</th>
                              <th scope="col">Estado</th>
                              <th scope="col">Acciones</th>
                            </thead>
                            <tbody>
                              <tr v-if="loading">
                                <td colspan="11" class="text-center">
                                  <spinner></spinner>
                                </td>
                              </tr>
                              <template v-else>
                                <tr
                                  v-for="chick in lote.chicks"
                                  :key="chick.id"
                                >
                                  <td data-label="Cintillo ala">
                                    {{ chick.cintillo_ala }}
                                  </td>
                                  <td data-label="Fecha de nacimiento">
                                    <b-row>
                                      <b-col cols="12" md="9">
                                        <template v-if="!chick.is_editing_dob">
                                          <span>{{
                                            chick.date_of_birth | myGlobalDay
                                          }}</span>
                                        </template>
                                        <template v-else>
                                          <input
                                            type="date"
                                            class="form-control form-control-sm"
                                            v-model="chick.new_dob"
                                          />
                                        </template>
                                      </b-col>
                                      <b-col cols="12" md="3" class="text-left">
                                        <i
                                          class="
                                            fas
                                            fa-edit
                                            ml-1
                                            text-primary
                                            clickable
                                          "
                                          v-if="
                                            (isAdmin || isEncastador) &&
                                            !chick.is_editing_dob &&
                                            !chick.is_assigned_plate
                                          "
                                          @click="editChickDob(chick)"
                                        ></i>
                                        <template
                                          v-if="(isAdmin || isEncastador) && chick.is_editing_dob"
                                        >
                                          <i
                                            class="
                                              fas
                                              fa-check
                                              ml-1
                                              text-success
                                              clickable
                                            "
                                            @click="saveNewDobToChick(chick)"
                                          ></i>
                                          <i
                                            class="
                                              fas
                                              fa-times
                                              ml-1
                                              text-danger
                                              clickable
                                            "
                                            @click="closeEditChickDob(chick)"
                                          ></i>
                                        </template>
                                      </b-col>
                                    </b-row>
                                  </td>
                                  <td data-label="Género">
                                    <p v-if="chick.is_assigned_plate">
                                      {{ chick.gender }}
                                    </p>
                                    <b-form-select
                                      id="lblGender"
                                      v-model="chick.gender_number"
                                      :options="genders"
                                      required
                                      size="sm"
                                      :disabled="(!isAdmin || !isEncastador)"
                                      @input="onChangeGenderSelect(chick)"
                                      v-else
                                    ></b-form-select>
                                  </td>
                                  <td data-label="Placa">
                                    <p
                                      v-if="chick.is_assigned_plate || (!isAdmin || !isEncastador)"
                                    >
                                      {{ chick.assigned_plate }}
                                    </p>
                                    <b-row
                                      v-if="
                                        chick.gender != 'SIN ASIGNAR' &&
                                        !chick.is_assigned_plate &&
                                        chick_status != 2 &&
                                        (isAdmin || isEncastador)
                                      "
                                    >
                                      <b-col cols="12" md="9">
                                        <input
                                          type="text"
                                          class="form-control form-control-sm"
                                          v-model="chick.assigned_plate"
                                          @input="validatePlate(chick)"
                                        />
                                        <span
                                          class="text-danger"
                                          v-if="
                                            !chick.is_correct_plate &&
                                            chick.assigned_plate
                                          "
                                          >Placa existente</span
                                        >
                                      </b-col>
                                      <b-col cols="12" md="3" class="text-left">
                                        <template>
                                          <i
                                            :class="[
                                              'fas fa-check ml-1 text-success clickable',
                                              !chick.is_correct_plate
                                                ? 'disabled-element'
                                                : '',
                                            ]"
                                            @click="setPlacaToChick(chick)"
                                          ></i>
                                          <i
                                            class="
                                              fas
                                              fa-times
                                              ml-1
                                              text-danger
                                              clickable
                                            "
                                            @click="chick.assigned_plate = null"
                                          ></i>
                                        </template>
                                      </b-col>
                                    </b-row>
                                  </td>
                                  <td data-label="Estado">
                                    {{ chick.status }}
                                  </td>
                                  <td data-label="Acciones">
                                    <b-button
                                      size="sm"
                                      variant="danger"
                                      @click="deleteChick(chick.chick_id)"
                                      v-if="isAdmin && !chick.is_assigned_plate"
                                      >Eliminar</b-button
                                    >
                                  </td>
                                </tr>
                              </template>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <hr />
                    </div>
                  </template>
                </div>
              </div>

              <hr />
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { misMixins } from "../../../mixins";
export default {
  props: {
    postura: Object,
    chick_status: [Number, Object],
    chick_gender: [Number, Object],
  },
  data() {
    return {
      chickObject: {
        gender: null,
        status: null,
      },
      arrayGroupedPosturas: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      posturaId: null,
      posturaComment: null,
      modalActivatingPostura: false,
      loading: false,
      genders: [
        {
          text: "MACHO",
          value: 1,
        },
        {
          text: "HEMBRA",
          value: 2,
        },
        {
          text: "SIN ASIGNAR",
          value: 3,
          disabled: true,
        },
      ],
      isEditingDob: false,
    };
  },
  mounted() {
    this.getGroupedDetail(null, null);
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter((rol) => rol.role_id == 1);
      if (isDueñoInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    isInvitado() {
      const isInvitadoInRoles = this.roles.filter((rol) => rol.role_id == 7);
      if (isInvitadoInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter((rol) => rol.role_id == 6);
      if (isEncastadorInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    roles() {
      if (this.currentUser) {
        return this.currentUser.role;
      } else {
        return [];
      }
    },
  },
  methods: {
    validatePlate(chick) {
      axios
        .post("/api/specimen/validate", {
          plate: chick.assigned_plate,
        })
        .then((res) => {
          if (res.data.length > 0) {
            chick.is_correct_plate = 0;
          } else {
            chick.is_correct_plate = 1;
          }
        });
    },
    setPlacaToChick(chick) {
      swal
        .fire({
          title: "Estas seguro?",
          text: "¡No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3490dc",
          cancelButtonColor: "#e3342f",
          confirmButtonText: "Si",
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/chick/set-placa", {
                chicken_id: chick.chick_id,
                assigned_plate: chick.assigned_plate,
                user_id: this.currentUser.user_id,
                dob: chick.date_of_birth,
                gender: chick.gender_number,
              })
              .then((response) => {
                if (response.status == 200) {
                  toast.fire({
                    icon: "success",
                    title: "Placa registrada correctamente!",
                  });
                  this.getGroupedDetail();
                }
              })
              .catch((err) => {
                console.log(err);
              });
          }
        });
    },
    editChickDob(chick) {
      chick.new_dob = chick.date_of_birth;
      chick.is_editing_dob = 1;
    },
    closeEditChickDob(chick) {
      chick.new_dob = "";
      chick.is_editing_dob = 0;
    },
    saveNewDobToChick(chick) {
      swal
        .fire({
          title: "Estas seguro?",
          text: "¡No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3490dc",
          cancelButtonColor: "#e3342f",
          confirmButtonText: "Si",
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/chick/save-new-dob", {
                chick_id: chick.chick_id,
                new_dob: chick.new_dob,
              })
              .then((response) => {
                if (response.status == 200) {
                  toast.fire({
                    icon: "success",
                    title: "Fecha de nacimiento editada",
                  });
                  this.getGroupedDetail(null, null);
                }
              })
              .catch((err) => {
                console.log(err);
              });
          }
        });
    },
    onChangeGenderSelect(gender) {
      this.editChick(
        gender.gender_number,
        gender.status_number,
        gender.chick_id
      );
    },
    editChick(gender, status, chick_id) {
      axios
        .post("/api/chick/update", {
          gender: gender,
          status: status,
          chick_id: chick_id,
        })
        .then((res) => {
          // alert('Actualizado');
          swal.fire({
            title: "Pollito actualizado!",
            icon: "success",
          });
          this.getGroupedDetail(null, null);
        });
    },
    getGroupedDetail(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/postura/get-grouped-postura-chicks-detail", {
          orderby: "desc",
          order: 3,
          campo: null,
          madrilla_plate: this.postura.placa_madrilla,
          padrillo_plate: this.postura.placa_padrillo,
          status: this.chick_status,
          gender: this.chick_gender,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayGroupedPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/postura/get-grouped-postura-chicks-detail?page=" + newval, {
          orderby: "desc",
          order: 3,
          campo: null,
          madrilla_plate: this.postura.placa_madrilla,
          padrillo_plate: this.postura.placa_padrillo,
          status: this.chick_status,
          gender: this.chick_gender,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayGroupedPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      this.loading = true;
      axios
        .post("/api/postura/get-grouped-postura-chicks-detail?page=" + next, {
          orderby: "desc",
          order: 3,
          campo: null,
          madrilla_plate: this.postura.placa_madrilla,
          padrillo_plate: this.postura.placa_padrillo,
          status: this.chick_status,
          gender: this.chick_gender,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayGroupedPosturas = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getGroupedDetail(null, null);
    },
    moment: function () {
      return moment();
    },
    deleteChick(id) {
      swal
        .fire({
          title: "Estas seguro?",
          text: "¡No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3490dc",
          cancelButtonColor: "#e3342f",
          confirmButtonText: "Si",
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/chick/delete", {
                chick_id: id,
                deleted_by: this.currentUser.user_id,
              })
              .then((response) => {
                if (response.status == 200) {
                  toast.fire({
                    icon: "success",
                    title: "Pollo Eliminado",
                  });
                  this.getGroupedDetail(null, null);
                }
              })
              .catch((err) => {
                console.log(err);
              });
          }
        });
    },
  },
  watch: {
    "paginate.search_input"() {
      this.getGroupedDetail(null, null);
    },
  },
  mixins: [misMixins],
};
</script>

<style scoped>
.disabled-element {
  pointer-events: none;
  opacity: 0.5;
}
</style>
