<template>
  <div>
    <!-- @reset="onReset" -->
    <!-- @submit="onSubmit" -->
    <b-form @submit.prevent="editChick">
      <b-form-group id="gender" label="Género:" label-for="lblGender">
        <b-form-select
          id="lblGender"
          v-model="chickObject.gender"
          :options="genders"
          required
          size="sm"
        ></b-form-select>
      </b-form-group>

      <b-form-group id="status" label="Estado:" label-for="lblStatus">
        <b-form-select
          id="lblStatus"
          v-model="chickObject.status"
          :options="statuses"
          required
          size="sm"
          disabled
        ></b-form-select>
      </b-form-group>

      <b-button type="submit" size="sm" variant="primary" style="float: right"
        >Guardar</b-button
      >
      <b-button type="button" size="sm" @click="closeModal" class="mr-2" style="float: right">Cancelar</b-button>
    </b-form>
    <!-- <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card> -->
  </div>
</template>

<script>

export default {
    props:{
        chick: Object
    },
    mounted(){
        // console.log(this.chick, 'chick');
        this.chickObject.gender = this.chick.gender_number
        this.chickObject.status = this.chick.status_number
    },
  data() {
    return {
      chickObject: {
        gender: null,
        status: null,
      },
      genders: [
        {
          text: "MACHO",
          value: 1,
        },
        {
          text: "HEMBRA",
          value: 2,
        },
        {
          text: "SIN ASIGNAR",
          value: 3,
          disabled: true
        }
      ],
      statuses: [
        {
          text: "ACTIVO",
          value: 1,
        },
        {
          text: "MUERTO",
          value: 2,
        }
      ],
    };
  },
  methods: {
    editChick(){
        axios.post('/api/chick/update', {
            gender: this.chickObject.gender,
            status: this.chickObject.status,
            chick_id: this.chick.id
        }).then(res=>{
            // alert('Actualizado');
            swal.fire({
                title: 'Pollito actualizado!',
                icon: 'success'
            })
            this.$emit('closeModalChick', null)
        })
    },
    closeModal(){
        this.$emit('closeModalChick', null)
    }
  },
};
</script>
