<template>
  <div class="m-3">
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <span class="class-span-1" style="border-radius: 20px; border-width: 1px; border-color: black;">{{
                (paginate.start_page - 1) * paginate.perpage +
                1 +
                "-" +
                (paginate.start_page == paginate.end_page
                  ? paginate.total_data
                  : paginate.start_page * paginate.perpage)
              }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span class="class-span-2" style="border-radius: 50%; border-width: 1px; border-color: black;">{{ paginate.total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(paginate.start_page)"
                :style="
                  paginate.start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(paginate.next_page)"
                :style="
                  paginate.start_page != paginate.end_page
                    ? ''
                    : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button class="btn btn-rounded-ui bg-ui-black ml-2" @click="resetSearch">
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 text-right">
            <div class="form-group">
              <b-input-group>
                <b-form-input
                  class="input-search mr-3"
                  v-model="paginate.search_input"
                  style="border-radius: 20px; border-width: 1px; border-color: black;"
                  type="text"
                  debounce="500"
                  placeholder="Buscar por descripción de pata"
                ></b-form-input>
                  <button
                    class="btn btn-ui bg-ui-black mr-2"
                    @click="getChickenLegs(null, null)"
                  >
                    <i class="fas fa-search"></i> Buscar
                  </button>
                <b-button
            class="btn btn-ui bg-ui-verde float-right"
            @click="openRegisterChickenLegModal(null)" v-if="isAdmin"
            > <i class="fas fa-plus"></i> CREAR
          </b-button>
              </b-input-group>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Descripción</th>
                <th scope="col">Prioridad</th>
                <th scope="col">Creado por</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
              </thead>
              <tbody>
                <tr v-if="loading">
                  <td colspan="11" class="text-center"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr v-for="chickenleg in arrayChickenLeg" :key="chickenleg.id">
                    <td data-label="Descripción">
                      {{ chickenleg.description }}
                    </td>
                    <td data-label="Prioridad">
                      {{ chickenleg.priority }}
                    </td>
                    <td data-label="Creado por">
                                {{chickenleg.first_name_created_by}} {{chickenleg.last_name_created_by}}
                                </td>
                    <td data-label="Fecha">
                      {{ convertToSpanishDate(chickenleg.created_at) }}
                    </td>
                    <td data-label="Acciones">
                        <template v-if="isAdmin">
                            <span @click="openRegisterChickenLegModal(chickenleg)" class="clickable mr-3"><img src="/images/edit.png" /></span>
                            <!-- <span><img src="/images/trash.png" /></span> -->
                        </template>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <b-modal :title="!chickenleg?'Registrar pata':'Actualizar pata'" v-model="modalRegistrarChickenLeg" hide-footer>
        <create-chickenleg-page :chickenleg="chickenleg" @closeModal="closeModalChickenLeg"></create-chickenleg-page>
    </b-modal>

  </div>
</template>

<script>
import { misMixins } from '../../../mixins';
import CreateChickenLegPage from './CreateChickenLegPage'
export default {
  data() {
    return {
      arrayChickenLeg: [],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      cintillo: null,
      loading: false,
      modalRegistrarChickenLeg: false
    };
  },
  computed:{
      currentUser(){
            return this.$store.getters.currentUser;
        },
        isAdmin(){
            return this.currentUser?this.currentUser.role_id == 1:false;
        }
  },
  mounted() {
    this.getChickenLegs(null, null);
  },
  components:{
      'create-chickenleg-page': CreateChickenLegPage
  },
  methods: {
    getChickenLegs(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/chickenleg", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayChickenLeg = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/chickenleg?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayChickenLeg = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      this.loading = true;
      axios
        .post("/api/chickenleg?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayChickenLeg = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.getChickenLegs(null, null);
    },
    openRegisterChickenLegModal(chickenleg){
        this.chickenleg = chickenleg
        this.modalRegistrarChickenLeg = true
    },
    closeModalChickenLeg(){
        this.modalRegistrarChickenLeg = false
        this.getChickenLegs(null, null);
    }
  },
  mixins:[misMixins]
};
</script>

<style>
</style>
