<template>
  <div>
      <validation-observer v-slot="{ handleSubmit }">
    <form
      @submit.prevent="!chickenleg ? handleSubmit(insertChickenLeg) : handleSubmit(updateChickenLeg)"
    >
      <div class="row">
        <div class="col">
          <label for="inputDescription">Descripción</label>
          <validation-provider rules="required" v-slot="{ errors }">
          <input
            type="text"
            class="form-control"
            placeholder="Ingresa la descripción"
            v-model="chickenLegObject.description"
            style="border-radius: 20px; border-width: 1px; border-color: black"
          />
          <span class="text-danger">{{ errors[0] }}</span>
            </validation-provider>
        </div>
        <div class="col">
          <label for="inputDescription">Prioridad</label>
          <validation-provider rules="required" v-slot="{ errors }">
          <input
            type="number"
            class="form-control"
            placeholder="Ingresa la prioridad"
            v-model="chickenLegObject.priority"
            style="border-radius: 20px; border-width: 1px; border-color: black"
          />
          <span class="text-danger">{{ errors[0] }}</span>
            </validation-provider>
          <span class="text-info">
              Prioridades ocupadas: <br>
              <span v-for="(prioridad, index) in arrayPriorities" :key="prioridad.id">
                 <strong>{{prioridad.priority+(index!=arrayPriorities.length-1?', ':'')}}</strong>
              </span>
          </span>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <b-overlay
          :show="busy"
          rounded
          opacity="0.85"
          spinner-small
          spinner-variant="primary"
          class="d-inline-block"
        >
          <b-button type="submit" class="btn btn-ui bg-ui-verde">{{
            !chickenleg ? "Registrar" : "Actualizar"
          }}</b-button>
        </b-overlay>
      </div>
    </form>
      </validation-observer>
  </div>
</template>

<script>
export default {
  props: {
    chickenleg: Object,
  },
  data() {
    return {
      chickenLegObject: {
        description: null,
        created_by: null,
        priority: null
      },
      busy: false,
      arrayPriorities: []
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
  },
  mounted() {
    if (this.chickenleg) {
      this.chickenLegObject.description = this.chickenleg.description;
      this.chickenLegObject.priority = this.chickenleg.priority;
    } else {
      this.chickenLegObject.description = null;
      this.chickenLegObject.priority = null;
    }
    this.getPriorities();
  },
  methods: {
    insertChickenLeg() {
      this.busy = true;
      axios
        .post("/api/chickenleg/insert", {
          description: this.chickenLegObject.description,
          created_by: this.currentUser.user_id,
          priority: this.chickenLegObject.priority
        })
        .then((response) => {
          this.busy = false;
          this.$emit("closeModal", false);
        }).catch(err=>{
                swal.fire({
                        icon: 'error',
                        title: err.response.data.errors,
                        text: err.response.data.text
                    })
                this.busy = false
            });
    },
    updateChickenLeg() {
      this.busy = true;
      axios
        .put(`/api/chickenleg/update/${this.chickenleg.id}`, {
          description: this.chickenLegObject.description,
          created_by: this.currentUser.user_id,
          priority: this.chickenLegObject.priority
        })
        .then((response) => {
          this.busy = false;
          this.$emit("closeModal", false);
        }).catch(err=>{
                swal.fire({
                        icon: 'error',
                        title: err.response.data.errors,
                        text: err.response.data.text
                    })
                this.busy = false
            });
    },
    getPriorities(){
        axios.get('/api/chickenleg/current-priorities').then(response=>{
            this.arrayPriorities = response.data;
        })
    }
  },
};
</script>

<style>
</style>
