<template>
  <div>
    <b-row>
      <b-col cols="12" md="9">
        <b-row>
          <b-col cols="12" md="6">
            <label for="example-datepicker"
              >Fecha del {{ type == 1 ? "gasto" : "depósito" }}</label
            >
            <b-form-datepicker
              id="example-datepicker"
              v-model="transactionObject.transaction_date"
              class="mb-2"
              placeholder="Fecha"
              :disabled="isViewingOrEditing"
              locale="es"
            ></b-form-datepicker>
          </b-col>
          <b-col cols="12" md="6"></b-col>
        </b-row>
      </b-col>
      <b-col cols="12" md="3" class="text-right">
        <label for="total">Total</label>
        <span id="total"
          ><h3>
            <money
              class="input-form text-right"
              v-model="total"
              v-bind="money"
              id="bank_detail"
              disabled
              style="background: transparent; border: none; width: 90%"
            ></money></h3
        ></span>
      </b-col>
      <b-col cols="12" md="12">
        <b-table
          bordered
          :items="transactionObject.details"
          thead-class="b-vue-th"
          :fields="arrayColumns"
          small
          table-class="visible-overflow"
        >
          <template #cell(reason)="data">
            <multiselect
              id="multi"
              v-model="data.item.reason"
              placeholder="Elige una razón"
              label="title"
              ref="reasons"
              track-by="id"
              :options="arrayReasons"
              :option-height="104"
              :custom-label="customLabel"
              :show-labels="false"
              :disabled="isViewingOrEditing"
              open-direction="bottom"
            >
              <template slot="singleLabel" slot-scope="props"
                ><span class="option__desc"
                  ><span class="option__title"
                    ><span
                      :style="`margin-left: ${
                        props.option.parent_id ? '10' : '0'
                      }px`"
                      >{{ props.option.reason }}
                    </span></span
                  ></span
                ></template
              >
              <template slot="option" slot-scope="props">
                <div class="option__desc">
                  <span
                    :style="`margin-left: ${
                      props.option.parent_id ? '10' : '0'
                    }px`"
                    >{{ props.option.reason }}
                  </span>
                  <span v-if="props.option.parent_id">
                    Sub-motivo de {{ props.option.parent_reason }}
                  </span>
                </div>
              </template>
            </multiselect>
          </template>
          <template #cell(description)="data">
            <b-form-input
              placeholder="Descripción"
              v-model="data.item.description"
              :disabled="isViewingOrEditing"
            ></b-form-input>
          </template>
          <template #cell(amount)="data">
            <money
              class="form-control text-center"
              v-model="data.item.amount"
              v-bind="money"
              :disabled="isViewingOrEditing"
              id="bank_detail"
            ></money>
          </template>
          <template #cell(actions)="data">
            <i
              :class="[
                'fas fa-trash clickable',
                (data.index == 0 || isViewingOrEditing) ? 'pointer-none' : '',
              ]"
              style="font-size: 20px"
              @click="deleteLine(data.index)"
            ></i>
          </template>
        </b-table>
      </b-col>
      <b-col cols="12" md="12">
        <b-row>
          <b-col cols="12" md="6" v-if="!isViewingOrEditing">
            <div>
              <b-button
                variant="outline-dark"
                class="pr-3 mr-3"
                @click="addNewLines"
              >
                Agregar lineas
              </b-button>
            </div>
          </b-col>
          <b-col
            cols="12"
            md="6"
            class="text-right d-flex align-items-center justify-content-end"
          >
            <span><h5>Total:</h5></span>
            <span class="ml-2"
              ><h5>
                <money
                  class="input-form"
                  v-model="total"
                  v-bind="money"
                  id="bank_detail"
                  disabled
                  style="background: transparent; border: none"
                ></money></h5
            ></span>
          </b-col>
        </b-row>
      </b-col>
      <b-col cols="12" md="4" class="mt-2">
        <label for="example-datepicker">Memo</label>
        <b-form-textarea
          id="textarea"
          placeholder="Memo..."
          rows="3"
          v-model="transactionObject.memo"
          max-rows="6"
          :disabled="isViewingOrEditing"
        ></b-form-textarea>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import { Money } from "v-money";
import moment from "moment";
export default {
  props: {
    type: [Number, Object],
    transaction_id: [Number, Object],
  },
  components: {
    Multiselect,
    Money,
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    total: {
      get() {
        if (this.transactionObject.details.length > 0) {
          return this.transactionObject.details.reduce(
            (accum, obj) => accum + obj.amount,
            0
          );
        } else {
          return 0;
        }
      },
      set(value) {
        return value;
      },
    },
    isAtLeastOneItemAdded() {
      let counter = 0;
      for (let i = 0; i < this.transactionObject.details.length; i++) {
        if (this.transactionObject.details[i].reason != null) {
          counter = counter + 1;
        }
        if (this.transactionObject.details[i].description) {
          counter = counter + 1;
        }
        if (this.transactionObject.details[i].amount != 0) {
          counter = counter + 1;
        }
      }
      if (counter > 0) {
        return true;
      } else {
        return false;
      }
    },
    isViewingOrEditing(){
        if(this.transaction_id){
            return true;
        }else{
            return false;
        }
    }
  },
  async mounted() {
    await this.getReasonsByModule();
    this.transactionObject.transaction_date = moment().format("YYYY-MM-DD");
    if (this.transaction_id) {
      this.getTransaction();
    }
  },
  data() {
    return {
      transactionObject: {
        transaction_id: null,
        transaction_date: null,
        type: 1,
        memo: null,
        total: 0,
        status: 2,
        created_by: null,
        details: [
          { description: null, reason: null, amount: 0, id: null },
          { description: null, reason: null, amount: 0, id: null },
          { description: null, reason: null, amount: 0, id: null },
          { description: null, reason: null, amount: 0, id: null },
        ],
        files: [],
      },
      arrayColumns: [
        {
          key: "reason",
          label: "Motivo",
          class: "text-center col-md-4",
        },
        {
          key: "description",
          label: "Descripción",
          class: "text-center col-md-3",
        },
        {
          key: "amount",
          label: "Monto",
          class: "text-center col-md-3",
        },
        {
          key: "actions",
          label: "Acciones",
          class: "text-center col-md-2 align-items-center",
        },
      ],
      reasons: [],
      money: {
        decimal: ".",
        thousands: ",",
        prefix: "S/. ",
        precision: 2,
        masked: false,
      },
      arrayReasons: [],
    };
  },
  methods: {
    getTransaction() {
      axios
        .post("/api/administrative/get-selected-one", {
          transaction_id: this.transaction_id,
        })
        .then((res) => {
          console.log(res.data);
          this.transactionObject = res.data[0];
          for (let i = 0; i < this.transactionObject.details.length; i++) {
            let motive = this.arrayReasons.filter(
              (motive) => motive.id == this.transactionObject.details[i].motive
            );
            this.transactionObject.details[i].reason = motive[0];
          }
        });
    },
    async getReasonsByModule() {
      const data = await axios.post("/api/reason/by-module", {
        module_id: 3,
      });
      this.arrayReasons = data.data;
    },
    customLabel({ print_on_check_as, display_name_as, company }) {
      return print_on_check_as ? display_name_as : company;
    },
    addNewLines() {
      this.transactionObject.details.push({
        description: null,
        reason: null,
        amount: 0,
        id: null,
      });
    },
    deleteLine(index) {
      this.transactionObject.details.splice(index, 1);
    },
    upload(status) {
      this.transactionObject.type = this.type;
      if (this.isAtLeastOneItemAdded) {
        if (status == 1) {
          var boton = document.getElementById("app");
          boton.classList.add("preloader");
          const formData = new FormData();

          this.files.forEach((file) => {
            formData.append("images[]", file, file.name);
          });
          formData.append("header", JSON.stringify(this.expenseObject));
          formData.append("created_by", this.global.layout.id);
          formData.append("status", status);
          formData.append("total", this.totalAmount);
          axios.post("/api/administrative/save", formData).then((response) => {
            this.closeModal();
            boton.classList.remove("preloader");
            swal.fire({
              type: "success",
              title: "Transaction saved",
            });
            if (this.deleteds.length > 0) {
              axios
                .post("/api/delete-transaction-detail", {
                  deleteds: this.deleteds,
                })
                .then((res) => {});
            }
            if (this.deletedFiles.length > 0) {
              axios
                .post("/api/delete-transaction-file", {
                  deleted_files: this.deletedFiles,
                })
                .then((res) => {});
            }
          });
        } else {
          swal
            .fire({
              title: "Estás seguro?",
              text: "No podrás revertir esta acción!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#ab9220",
              cancelButtonColor: "#8f9194",
              confirmButtonText: "Yes",
            })
            .then((result) => {
              if (result.value) {
                const formData = new FormData();
                this.transactionObject.files.forEach((file) => {
                  formData.append("images[]", file, file.name);
                });
                formData.append(
                  "header",
                  JSON.stringify(this.transactionObject)
                );
                formData.append("created_by", this.currentUser.user_id);
                formData.append("status", status);
                formData.append("total", this.total);
                axios
                  .post("/api/administrative/save", formData)
                  .then((response) => {
                    swal.fire({
                      icon: "success",
                      title: `${
                        this.type == 1 ? "Gasto" : "Depósito"
                      } confirmado!`,
                    });
                    this.$emit("closeModal", null);
                  });
              }
            });
        }
      } else {
        swal.fire({
          icon: "error",
          title: "Algo no está bien!",
          text: "Al menos debe llenar un elemento.",
        });
      }
    },
  },
};
</script>

<style scoped>
.pointer-none {
  pointer-events: none;
  opacity: 0.7;
}
.visible-overflow {
  overflow: visible;
}
</style>
