<template>
  <b-card no-body>
    <div id="loading">
      <div class="row">
        <div class="col-md-12">
          <div class="cont-title" style="margin-top: 20px">
            <div class="row" style="margin-left: 10px;">
              <div class="col-lg-6">
                <h3>Dashboard</h3>
              </div>
            </div>
          </div>
          <div>
            <div id="app">
              <div class="row align-items-center" style="margin: 10px">
                <div class="col-12 col-md-3 d-flex flex-nowrap align-items-center">
                  <div
                    class="card bg-c-blue order-card"
                    style="cursor: pointer"
                  >
                    <div class="card-block">
                      <h6
                        class="m-b-20"
                        style="font-weight: bold; font-size: 1.1rem"
                      >
                        Balance inicial
                      </h6>
                      <h2 class="text-right">
                        <div class="row">
                          <div class="col-lg-3">
                            <i
                              class="fas fa-hourglass-start f-left"
                              style="font-size: 50px"
                            ></i>
                          </div>
                          <div class="col-lg-9">
                            <span style="font-weight: bold">
                              <money
                                v-model="initialBalance"
                                v-bind="{
                                  decimal: '.',
                                  thousands: ',',
                                  prefix: 'S/ ',
                                  precision: 2,
                                  masked: false,
                                }"
                                class="text-white"
                                style="
                                  background: transparent;
                                  border: none;
                                  width: 100%;
                                  text-align: right;
                                "
                                disabled
                              ></money
                            ></span>
                          </div>
                        </div>
                      </h2>
                      <p class="m-b-0">
                        <span class="f-right">Balance inicial</span>
                      </p>
                    </div>
                  </div>
                  <span
                    ><h2><i class="fas fa-plus ml-2"></i></h2
                    ></span>
                </div>

                <div class="col-12 col-md-3 d-flex flex-nowrap align-items-center">
                  <div
                    class="card bg-c-blue order-card"
                    style="cursor: pointer"
                  >
                    <div class="card-block">
                      <h6
                        class="m-b-20"
                        style="font-weight: bold; font-size: 1.1rem"
                      >
                        Depósitos
                      </h6>
                      <h2 class="text-right">
                        <div class="row">
                          <div class="col-lg-3">
                            <i
                              class="fas fa-sort-amount-up f-left"
                              style="font-size: 50px"
                            ></i>
                          </div>
                          <div class="col-lg-9">
                            <span style="font-weight: bold">
                              <money
                                v-model="deposits"
                                v-bind="{
                                  decimal: '.',
                                  thousands: ',',
                                  prefix: 'S/ ',
                                  precision: 2,
                                  masked: false,
                                }"
                                class="text-white"
                                style="
                                  background: transparent;
                                  border: none;
                                  width: 100%;
                                  text-align: right;
                                "
                                disabled
                              ></money>
                            </span>
                          </div>
                        </div>
                      </h2>
                      <p class="m-b-0">
                        <span class="f-right">Depósitos</span>
                      </p>
                    </div>
                  </div>
                  <span
                  ><h2><i class="fas fa-minus ml-2"></i></h2
                ></span>
                </div>

                <div class="col-12 col-md-3 d-flex flex-nowrap align-items-center">
                  <div
                    class="card bg-c-green order-card"
                    style="cursor: pointer"
                  >
                    <div class="card-block">
                      <h6
                        class="m-b-20"
                        style="font-weight: bold; font-size: 1.1rem"
                      >
                        Gastos
                      </h6>
                      <h2 class="text-right">
                        <div class="row">
                          <div class="col-lg-3">
                            <i
                              class="fas fa-sort-amount-down f-left"
                              style="font-size: 50px"
                            ></i>
                          </div>
                          <div class="col-lg-9">
                            <span style="font-weight: bold">
                              <money
                                v-model="expenses"
                                v-bind="{
                                  decimal: '.',
                                  thousands: ',',
                                  prefix: 'S/ ',
                                  precision: 2,
                                  masked: false,
                                }"
                                class="text-white"
                                style="
                                  background: transparent;
                                  border: none;
                                  width: 100%;
                                  text-align: right;
                                "
                                disabled
                              ></money>
                            </span>
                          </div>
                        </div>
                      </h2>
                      <p class="m-b-0">
                        <span class="f-right">Gastos</span>
                      </p>
                    </div>
                  </div>
                  <span
                  ><h2><i class="fas fa-equals ml-2"></i></h2
                ></span>
                </div>

                <div class="col-12 col-md-3 d-flex flex-nowrap align-items-center">
                  <div
                    class="card bg-c-gray order-card"
                    style="cursor: pointer"
                  >
                    <div class="card-block">
                      <h6
                        class="m-b-20"
                        style="font-weight: bold; font-size: 1.1rem"
                      >
                        Balance
                      </h6>
                      <h2 class="text-right">
                        <div class="row">
                          <div class="col-lg-3">
                            <i
                              class="fas fa-balance-scale f-left"
                              style="font-size: 50px"
                            ></i>
                          </div>
                          <div class="col-lg-9">
                            <span style="font-weight: bold">
                              <money
                                v-model="newBalance"
                                v-bind="{
                                  decimal: '.',
                                  thousands: ',',
                                  prefix: 'S/ ',
                                  precision: 2,
                                  masked: false,
                                }"
                                class="text-white"
                                style="
                                  background: transparent;
                                  border: none;
                                  width: 100%;
                                  text-align: right;
                                "
                                disabled
                              ></money>
                            </span>
                          </div>
                        </div>
                      </h2>
                      <p class="m-b-0">
                        <span class="f-right">Balance</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-5"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row" v-else style="padding: 30px">
        <div class="col-lg-12" style="text-align: center">
          <h3>
            <a
              :href="
                '/management/companies/bankaccounts/' + global.datacompany[0].id
              "
              >There are no bank accounts currently. Please register at least
              one.</a
            >
          </h3>
        </div>
      </div> -->
    </div>
    <!-- <div class="row" v-if="loading">
      <div class="col-lg-12">
        <div class="text-center">
          <i class="fas fa-spinner fa-pulse fa-4x" style="color: #baa345"></i>
        </div>
      </div>
    </div> -->
  </b-card>
</template>

<script>
import { Money } from "v-money";
export default {
  mounted() {
    this.getDashboardData();
  },
  data() {
    return {
      dashboardData: [],
      initialBalance: 0,
    };
  },
  components: {
    Money,
  },
  computed: {
    newBalance: {
      get() {
        return Number(this.deposits) - Number(this.expenses);
      },
      set(val) {
        return val;
      },
    },
    deposits: {
      get() {
        if (this.dashboardData[1]) {
          return this.dashboardData[1].totals;
        } else {
          return 0;
        }
      },
      set(val) {
        return val;
      },
    },
    expenses: {
        get(){
            if (this.dashboardData[0]) {
                return this.dashboardData[0].totals;
            } else {
                return 0;
            }
        },
        set(val){
            return val;
        }
    }
  },
  methods: {
    getDashboardData() {
      axios.get("/api/administrative/get-dashboard-data").then((res) => {
        this.dashboardData = res.data;
      });
    },
  },
};
</script>

<style scoped>
.chart_js {
  display: block;
  width: 600px;
}
.chartjs-render-monitor {
  height: unset !important;
}
.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg, #6b8cbf, #3e5577);
}

.bg-c-green {
  background: linear-gradient(45deg, #56bec4, #3e8f94);
}

.bg-c-yellow {
  background: linear-gradient(45deg, #f3946f, #bd7255);
}

.bg-c-red {
  background: linear-gradient(45deg, #ef7a89, #ab5661);
}

.bg-c-gray {
  background: linear-gradient(45deg, #b6b6b6, #6b6a6a);
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}
.vue-daterange-picker {
  width: 100%;
}
#myChartDate {
  width: 100% !important;
}
.class-button-brow .btn-next-prev {
  background: #f9c448 !important;
  border: 1px solid #f9c448 !important;
}

.switch input:checked:disabled + span {
  background-color: #5d9cec;
  cursor: not-allowed;
}
.switch input:not(:checked):disabled + span {
  background-color: #fff;
  cursor: not-allowed;
}
.cont-title {
  background: transparent !important;
}
@media (max-width: 1600px) {
  .card .card-block {
    padding: 15px !important;
  }
  .order-card i {
    font-size: 30px !important;
  }
  .order-card .col-lg-9 span {
    font-size: 2rem !important;
  }
}
@media (min-width: 1601px) {
  .order-card .col-lg-9 span {
    font-size: 2.8rem !important;
  }
}
</style>
