<template>
  <div>
    <b-card no-body class="mb-1 p-3">
      <div class="m-2">
        <div class="mx-2 mb-2">
          <b-row>
            <b-col
              cols="12"
              sm="6"
              class="
                d-flex
                align-items-center
                justify-content-center justify-content-sm-start
              "
            >
              <span class="text-muted"
                >Mostrando {{ start_page }} a {{ to_page }} de
                {{ total_data }} registros</span
              >
            </b-col>
            <!-- Pagination -->
            <b-col
              cols="12"
              sm="6"
              class="
                d-flex
                align-items-center
                justify-content-center justify-content-sm-end
              "
            >
              <b-pagination
                v-model="current_page"
                :total-rows="total_data"
                :per-page="perpage"
                first-number
                last-number
                class="mb-0 mt-1 mt-sm-0"
                prev-class="prev-item"
                next-class="next-item"
              >
              </b-pagination>
            </b-col>
          </b-row>
        </div>
        <!-- Table Top -->
        <b-row>
          <!-- Per Page -->

          <b-col
            cols="12"
            md="6"
            class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
          >
            <label class="mr-1">Mostrar</label>
            <v-select
              v-model="perpage"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
            />
            <label class="ml-1 mr-2">registros</label>
            <i
              class="fas fa-sync-alt clickable"
              style="font-size: 20px"
              @click="resetData"
            ></i>
          </b-col>
          <!-- Search -->
          <b-col cols="12" md="6">
            <div
              class="d-flex align-items-center justify-content-end flex-wrap"
            >
              <div class="mr-2">
                <b-form-datepicker
                  id="from"
                  :date-format-options="{
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric',
                  }"
                  placeholder="Desde"
                  v-model="from"
                ></b-form-datepicker>
              </div>
              <div class="mr-2">
                <b-form-datepicker
                  id="to"
                  :date-format-options="{
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric',
                  }"
                  placeholder="Hasta"
                  v-model="to"
                ></b-form-datepicker>
              </div>

              <div>
                <b-form-input
                  v-model="search_input"
                  class="d-inline-block mr-1"
                  placeholder="Search..."
                  debounce="200"
                />
              </div>
              <b-button variant="secondary" @click="refreshTable" class="mr-2">
                <i class="fas fa-search"></i>
              </b-button>
              <b-button variant="primary" @click="selectedTransactionId = null, modalGastoController = true">
                <span class="text-nowrap">Agregar Gasto</span>
              </b-button>
            </div>
          </b-col>
        </b-row>
      </div>
      <div class="table-responsive">
        <!-- :api-url="'/api/get-specimens'" -->
        <b-table
          :api-url="'/api/administrative/get-transactions'"
          ref="refUserListTable"
          class="position-relative"
          :items="myProvider"
          stacked="lg"
          :fields="arrayColumns"
          primary-key="id"
          table-class="text-nowrap"
          responsive
          show-empty
          :busy.sync="isBusy"
          empty-filtered-text="No hay registros que coincidan con tu búsqueda."
          empty-text="No hay registros que mostrar."
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :current-page="current_page"
          :per-page="perpage"
          :filter="search_input"
          thead-class="b-vue-th"
        >
          <template #table-busy>
            <div class="text-center text-primary my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Cargando...</strong>
            </div>
          </template>
          <template #cell(type)="data">
            {{ data.item.type_number == 1 ? "GASTO" : "DEPÓSITO" }}
          </template>
          <template #cell(total)="data">
            <money
              class="input-form text-center"
              v-model="data.item.total"
              v-bind="money"
              id="bank_detail"
              disabled
              style="background: transparent; border: none; color: black"
            ></money>
          </template>
          <template #cell(transaction_date)="data">
            {{ data.item.transaction_date | myGlobalDay }}
          </template>
          <template #cell(created_by)="data">
            {{ data.item.name }} {{ data.item.last_name }} <br />
            {{ data.item.created_at | myGlobalDay }}
          </template>
          <template #cell(actions)="data">
              <i class="fas fa-eye clickable text-info" style="font-size: 20px;" @click="openViewTransactionDetails(data.item.id)"></i>
              <i class="fas fa-trash clickable text-danger" style="font-size: 20px;" @click="deleteTransaction(data.item.id)"></i>
          </template>
        </b-table>
      </div>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col
            cols="12"
            sm="6"
            class="
              d-flex
              align-items-center
              justify-content-center justify-content-sm-start
            "
          >
            <span class="text-muted"
              >Mostrando {{ start_page }} a {{ to_page }} de
              {{ total_data }} registros</span
            >
          </b-col>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="
              d-flex
              align-items-center
              justify-content-center justify-content-sm-end
            "
          >
            <b-pagination
              v-model="current_page"
              :total-rows="total_data"
              :per-page="perpage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
    <!-- modal-class="xxl-modal" -->
    <b-modal
      :title="selectedTransactionId==null?'Agregar gasto':'Detalles'"
      v-model="modalGastoController"
      size="xl"
      ok-title="Guardar"
      @ok.prevent="saveTransaction"
      :hide-footer="selectedTransactionId?true:false"
    >
      <create-transaction-page
        ref="createTransactionRef"
        :type="1"
        :transaction_id="selectedTransactionId"
        @closeModal="closeModal"
      ></create-transaction-page>
    </b-modal>
  </div>
</template>

<script>
import CreateTransactionPage from "./CreateTransactionPage";
import { Money } from "v-money";
export default {
  components: {
    "create-transaction-page": CreateTransactionPage,
    Money,
  },
  data() {
    return {
      sortBy: "type",
      sortDesc: false,
      arrayColumns: [
        {
          key: "transaction_date",
          label: "Fecha",
          class: "text-center",
          sortable: true,
        },
        { key: "type", label: "Tipo", class: "text-center" },
        {
          key: "memo",
          label: "Memo",
          class: "text-center ",
          sortable: true,
        },
        {
          key: "total",
          label: "Total",
          class: "text-center ",
          sortable: true,
        },
        { key: "created_by", label: "Creado por", class: "text-center" },
        { key: "actions", label: "Acciones", class: "text-center " },
      ],
      perPageOptions: [10, 25, 50, 100],
      //   myProvider: [],
      search_input: "",
      orderby: this.dato2 == null ? 3 : this.dato2,
      order: this.dato1 == null ? "desc" : this.dato1,
      start_page: "",
      end_page: "",
      total_data: "",
      perpage: 100,
      next_page: "",
      current_page: 1,
      to_page: "",
      dato1: "",
      dato2: "",
      from: null,
      to: null,
      loadingData: false,
      isBusy: false,
      modalGastoController: false,
      money: {
        decimal: ".",
        thousands: ",",
        prefix: "S/. ",
        precision: 2,
        masked: false,
      },
      selectedTransactionId: null
    };
  },
  computed:{
      currentUser(){
          return this.$store.getters.currentUser;
      }
  },
  methods: {
      openViewTransactionDetails(transaction_id){
          this.selectedTransactionId = transaction_id;
          this.modalGastoController = true
      },
    resetData() {
      (this.search_input = ""),
        (this.orderby = this.dato2 == null ? 3 : this.dato2),
        (this.order = this.dato1 == null ? "desc" : this.dato1),
        (this.start_page = ""),
        (this.end_page = ""),
        (this.total_data = ""),
        (this.perpage = 100),
        (this.next_page = ""),
        (this.current_page = 1),
        (this.to_page = ""),
        (this.dato1 = ""),
        (this.dato2 = "");
      this.from = null;
      this.to = null;
      this.$refs.refUserListTable.refresh();
    },
    closeModal() {
      this.modalGastoController = false;
      this.$refs.refUserListTable.refresh();
    },
    refreshTable() {
      this.$refs.refUserListTable.refresh();
    },
    myProvider(ctx) {
      const promise = axios.post(
        // "/some/url?page=" + ctx.currentPage + "&size=" + ctx.perPage
        `${ctx.apiUrl}?page=${ctx.currentPage}`,
        {
          orderby: ctx.sortDesc,
          order: ctx.sortBy == "" ? "type" : ctx.sortBy,
          campo: ctx.filter,
          perpage: ctx.perPage,
          type: 1,
          from: this.from,
          to: this.to,
        }
      );
      // Must return a promise that resolves to an array of items
      return promise.then((data) => {
        // Pluck the array of items off our axios response
        const items = data.data.data;
        this.start_page = data.data.from;
        this.current_page = data.data.current_page;
        this.perpage = data.data.per_page;
        this.next_page = this.start_page + 1;
        this.end_page = data.data.last_page;
        this.total_data = data.data.total;
        this.to_page = data.data.to;
        // Must return an array of items or an empty array if an error occurred
        return items || [];
      });
    },
    saveTransaction() {
      this.$refs.createTransactionRef.upload(2);
    },
    deleteTransaction(transaction) {
      swal
        .fire({
          title: "Estas seguro?",
          text: "¡No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3490dc",
          cancelButtonColor: "#e3342f",
          confirmButtonText: "Si",
        })
        .then((result) => {
          if (result.value) {
            axios
              .post("/api/administrative/delete-transaction", {
                deleted_by: this.currentUser.user_id,
                transaction_id: transaction
              })
              .then((res) => {
                swal.fire({
                  icon: "success",
                  title: "Gasto eliminado!",
                });
                this.refreshTable();
              });
          }
        });
    },
  },
};
</script>

<style>
</style>
