<template>
  <div>
      <div class="position-relative">
    <h5 class="title-module">Editar</h5>
    <div class="row mb-3">
      <template v-if="!fromSpecimenDetail">
        <div class="col-md-4">
          <label>Elige la madrilla</label>
          <select
            class="form-control"
            aria-label="Default select example"
            v-model="posturaObject.placa_madrilla"
            style="border-radius: 20px; border-width: 1px; border-color: black"
          >
            <option
              v-for="madrilla in arrayMadrillas"
              :key="madrilla.id"
              :value="madrilla.plate"
            >
              {{ madrilla.alias }} / ({{ madrilla.plate }})
            </option>
          </select>
        </div>

        <div class="col-md-4">
          <label>Elige el padrillo</label>
          <select
            class="form-control"
            aria-label="Default select example"
            v-model="posturaObject.placa_padrillo"
            style="border-radius: 20px; border-width: 1px; border-color: black"
          >
            <option
              v-for="padrillo in arrayPadrillos"
              :key="padrillo.id"
              :value="padrillo.plate"
            >
              {{ padrillo.alias }} / ({{ padrillo.plate }})
            </option>
          </select>
        </div>
      </template>
      <template v-else>
        <div class="col-md-4">
          <label>Elige la madrilla</label>
          <select
            class="form-control"
            aria-label="Default select example"
            v-model="posturaObject.placa_madrilla"
            style="border-radius: 20px; border-width: 1px; border-color: black"
            :disabled="placa && madrillaController"
          >
            <option
              v-for="madrilla in arrayMadrillas"
              :key="madrilla.id"
              :value="madrilla.plate"
            >
              {{ madrilla.alias }} / ({{ madrilla.plate }})
            </option>
          </select>
        </div>

        <div class="col-md-4">
          <label>Elige el padrillo</label>
          <select
            class="form-control"
            aria-label="Default select example"
            v-model="posturaObject.placa_padrillo"
            style="border-radius: 20px; border-width: 1px; border-color: black"
            :disabled="placa && !madrillaController"
          >
            <option
              v-for="padrillo in arrayPadrillos"
              :key="padrillo.id"
              :value="padrillo.plate"
            >
              {{ padrillo.alias }} / ({{ padrillo.plate }})
            </option>
          </select>
        </div>
      </template>

      <div class="col-md-4">
        <label>Fecha de nacimiento</label>
        <input
          type="date"
          class="form-control"
          v-model="posturaObject.date_of_birth"
          style="border-radius: 20px; border-width: 1px; border-color: black"
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="posturaObservation" class="form-label">Observación</label>
      <textarea
        class="form-control"
        id="posturaObservation"
        rows="3"
        v-model="posturaObject.observation"
        style="border-radius: 20px; border-width: 1px; border-color: black"
      ></textarea>
    </div>
    <div class="row align-self-start text-center">
      <div class="col-md-12">
        <div v-for="(chicken, index) in chickens" :key="chicken.id">
          <div class="row align-items-center">
            <div class="col-md-5 col-lg-3">
              <label>Cintillo ala</label>
              <b-form-input v-model="chicken.cintillo_ala" type="text" style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                " debounce="100" @update="validateCintilloAla(chicken)"></b-form-input>
                <span v-if="chicken.error" class="text-danger">{{chicken.error}}</span>
            </div>
            <div class="col-md-5">
              <label>Elige el género</label>
              <select
                class="form-control"
                aria-label="Default select example"
                v-model="chicken.gender"
                style="
                  border-radius: 20px;
                  border-color: black;
                  border-width: 1px;
                "
              >
                <option value="1">Macho</option>
                <option value="2">Hembra</option>
                <option value="3">Sin Identificar</option>
              </select>
            </div>
            <div class="col-md-2">
              <template>
                <img
                  src="/images/buttons/delete.png"
                  class="clickable"
                  alt=""
                  @click="deleteChicken(index, chicken.migration_id)"
                />
              </template>
            </div>
          </div>
          <hr />
        </div>
      </div>

      <div class="col-md-2">
        <img
          src="/images/buttons/add.png"
          class="clickable"
          alt=""
          @click="addChicken()"
        />
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <button class="btn btn-ui bg-ui-black" @click="updateMigration(1)">
        <i class="fas fa-plus"></i> GUARDAR
      </button>
      <button class="btn btn-ui bg-ui-black" @click="updateMigration(2)">
        <i class="fas fa-plus"></i> REGISTRAR
      </button>
    </div>
    <b-overlay :show="showBig" no-wrap>
      </b-overlay>
      </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  props: {
    placa: String,
    fromSpecimenDetail: Boolean,
    madrillaController: Boolean,
  },
  data() {
    return {
      arrayMadrillas: [],
      arrayPadrillos: [],
      posturaObject: {
        placa_madrilla: null,
        placa_padrillo: null,
        observation: null,
        date_of_birth: null,
      },
      freeCombinations: [],
      posturaId: null,
      lotePosturaId: null,
      loteId: null,
      chickens: [
        {
          cintillo_ala: null,
          gender: null,
        },
      ],
      toDeleteChickens: [],
      showBig: false
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      return this.currentUser ? this.currentUser.role_id == 1 : false;
    },
    counterOfPollosNacidos() {
      let counter = 0;
      for (let i = 0; i < this.chickens.length; i++) {
        if (this.chickens[i].cintillo_ala) {
          counter = counter + 1;
        }
      }
      return counter;
    },
    isCintilloAlaRepeated(){
        let counter = 0;
        for(let i = 0; i < this.chickens.length; i++){
            if(this.chickens[i].error){
                counter = counter + 1
            }
        }
        if(counter > 0){
            return true
        }else{
            return false
        }
    }
  },
  methods: {
    getMigration() {
      axios
        .post("/api/reproduction/get-migration", {
          migration_id: this.$route.params.migration_id,
        })
        .then((response) => {
          this.posturaObject = response.data[0];
          this.chickens = this.posturaObject.detail;
        });
    },
    getFreeCombinations() {
      return axios
        .get("/api/cintillos-pata/free-combinations")
        .then((response) => {
          this.freeCombinations = response.data;
        });
    },
    getActiveMadrillasByActivePosturas() {
      axios.get("/api/postura/active-madrillas").then((response) => {
        this.arrayMadrillas = response.data;
      });
    },
    getActivePadrillos() {
      axios.get("/api/postura/active-padrillos").then((response) => {
        this.arrayPadrillos = response.data;
      });
    },
    updateMigration(statusNumber) {
        if(!this.isCintilloAlaRepeated){
            swal
            .fire({
            title: "¿Estas seguro?",
            text: "¡No podrás revertir esto!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3490dc",
            cancelButtonColor: "#e3342f",
            confirmButtonText: "Si",
            })
            .then((result) => {
            if (result.value) {
                this.showBig = true
                axios
                .post("/api/reproduction/update-migration", {
                    migration_header: {
                    placa_madrilla: this.posturaObject.placa_madrilla,
                    placa_padrillo: this.posturaObject.placa_padrillo,
                    date_of_birth: this.posturaObject.date_of_birth,
                    observation: this.posturaObject.observation,
                    status: statusNumber,
                    created_by: this.currentUser.user_id,
                    migration_flow_id: this.$route.params.migration_id,
                    },
                    migration_body: this.chickens,
                    to_delete: this.toDeleteChickens,
                })
                .then((response) => {
                    if (statusNumber == 2) {
                    if (this.freeCombinations.length > 0) {
                        this.confirmMigration();
                    } else {
                        swal.fire({
                        title: "No hay combinaciones dispnibles!",
                        text:
                            "Para confirmar esta migración debes registrar nuevas combinaciones!",
                        icon: "error",
                        showCancelButton: true,
                        confirmButtonColor: "#3490dc",
                        cancelButtonColor: "#e3342f",
                        confirmButtonText: "OK",
                        });
                        this.showBig = false
                    }
                    } else if (statusNumber == 1) {
                    this.$router.push("/main/reproduccion/migracion");
                        this.showBig = false
                    }
                });
            }
            });
        }else{
            swal
                .fire({
                title: "Cintillos no válidos",
                text: "Hay cintillos en el ala que existen actualmente!",
                icon: "error",
                showCancelButton: true,
                confirmButtonColor: "#3490dc",
                cancelButtonColor: "#e3342f",
                confirmButtonText: "OK",
                })
        }

    },
    confirmMigration() {
      axios
        .post("/api/postura/save", {
          placa_madrilla: this.posturaObject.placa_madrilla,
          placa_padrillo: this.posturaObject.placa_padrillo,
          observation: "Migracion de data",
          postura_date: moment(this.posturaObject.date_of_birth)
            .add(-60, "days")
            .format("YYYY-MM-DD"),
          method: 1,
          created_by: this.currentUser.user_id,
        })
        .then((response) => {
          this.posturaId = response.data[0].posturaId;
          axios
            .post("/api/postura/register-eggs", {
              register_eggs_date: moment(this.posturaObject.date_of_birth)
                .add(-45, "days")
                .format("YYYY-MM-DD"),
              posturas: [
                {
                  placa_madrilla: this.posturaObject.placa_madrilla.plate,
                  number_eggs: this.counterOfPollosNacidos,
                  error: null,
                  postura_id: {
                    id: this.posturaId,
                  },
                },
              ],
              created_by: this.currentUser.user_id,
              register_eggs_comment: "Migracion de data",
              total_register_eggs: this.counterOfPollosNacidos,
            })
            .then((response) => {
              let obj = {
                placa_madrilla: null,
                date: moment(this.posturaObject.date_of_birth)
                  .add(-21, "days")
                  .format("YYYY-MM-DD"),
                created_by: this.currentUser.user_id,
                total_eggs: this.counterOfPollosNacidos,
                status: 9,
                fromMigration: true,
              };
              axios
                .post("/api/lote/crear", {
                  lote: obj,
                  posturas: [
                    {
                      placa_madrilla: this.posturaObject.placa_madrilla,
                      total_eggs: this.counterOfPollosNacidos,
                      remaining_eggs: 0,
                      error: null,
                      postura_id: {
                        id: this.posturaId,
                      },
                    },
                  ],
                })
                .then((res) => {
                  this.loteId = res.data[1][0].last_lote_id;
                  this.lotePosturaId = res.data[0][0].postura_lote_id;
                  axios
                    .post("/api/lote/infertiles", {
                      lote: {
                        total_eggs: 0,
                        lote_id: this.loteId,
                        created_by: this.currentUser.user_id,
                        infertile_revision_date: moment(
                          this.posturaObject.date_of_birth
                        )
                          .add(-13, "days")
                          .format("YYYY-MM-DD"),
                      },
                      posturas: [
                        {
                          lote_postura_id: this.lotePosturaId,
                          number_infertile_eggs: 0,
                        },
                      ],
                      status: 10,
                    })
                    .then((response) => {
                      axios
                        .post("/api/lote/hatcher", {
                          lote: {
                            created_by: this.currentUser.user_id,
                            lote_id: this.loteId,
                            hatcher_revision_date: moment(
                              this.posturaObject.date_of_birth
                            )
                              .add(-2, "days")
                              .format("YYYY-MM-DD"),
                          },
                        })
                        .then((response) => {
                          axios
                            .post("/api/lote/vivos", {
                              lote: {
                                created_by: this.currentUser.user_id,
                                total_alive_eggs: this.counterOfPollosNacidos,
                                total_dead_eggs: 0,
                                lote_id: this.loteId,
                                born_date: this.posturaObject.date_of_birth,
                              },
                              posturas: [
                                {
                                  lote_postura_id: this.lotePosturaId,
                                  number_alive_eggs: this
                                    .counterOfPollosNacidos,
                                  number_dead_eggs: 0,
                                  cintillo_id: {
                                    id: null,
                                  },
                                  chickenleg_id: null,
                                },
                              ],
                              status: 11,
                            })
                            .then((response) => {
                              let freeCombs = [];
                              for (
                                let k = 0;
                                k < this.freeCombinations.length;
                                k++
                              ) {
                                freeCombs.push(
                                  this.freeCombinations[k].cintillo_pata_id
                                );
                              }
                              let randomIndex = Math.floor(
                                Math.random() * (freeCombs.length - 1 + 1)
                              );
                              let cintillo_pata_id_random =
                                freeCombs[randomIndex];
                              axios
                                .post("/api/cintillo-pata/save-combinations", {
                                  combinations: [
                                    {
                                      cintillo_pata_id: cintillo_pata_id_random,
                                      id: this.posturaId,
                                    },
                                  ],
                                })
                                .then((response) => {
                                  axios
                                    .post("/api/postura/finish", {
                                      postura_id: this.posturaId,
                                      postura_comment:
                                        "Postura finalizada por migración",
                                    })
                                    .then((response) => {
                                        axios.post('/api/chick/save', {
                                            chicks: this.chickens,
                                            postura_id: this.posturaId,
                                            created_by: this.currentUser.user_id,
                                            date_of_birth: this.posturaObject.date_of_birth,
                                            lote_postura_id: this.lotePosturaId,
                                            status: 12,
                                            lote_id: this.loteId
                                        }).then(response=>{
                                            swal.fire({
                                                title: "Reproducción migrada!",
                                                text:
                                                "¡Toda la información de esta postura ha sido migrada con éxito!",
                                                icon: "success",
                                                showCancelButton: true,
                                                confirmButtonColor: "#3490dc",
                                                cancelButtonColor: "#e3342f",
                                                confirmButtonText: "OK",
                                            });
                                            this.$router.push(
                                                "/main/reproduccion/migracion"
                                            );
                                            this.showBig = false
                                        })
                                    });
                                });
                            });
                        });
                    });
                });
            });
        });
    },
    addChicken() {
      let chickenObj = {
        cintillo_ala: null,
        gender: null,
        migration_id: null,
      };
      this.chickens.push(chickenObj);
    },
    deleteChicken(index, chicken_id) {
      this.chickens.splice(index, 1);
      if (chicken_id) {
        this.toDeleteChickens.push(chicken_id);
      }
    },
    validateCintilloAla(chicken){
        this.$set(chicken, 'error', null)
        axios.post('/api/chick/validate', {
            cintillo_ala: chicken.cintillo_ala
        }).then(response=>{

            let chickens = []
            chickens = response.data
            if(chickens.length > 0){
                this.$set(chicken, 'error', 'Este cintillo en el ala ya está usado')
            }else{
                this.$set(chicken, 'error', null)
            }
        })
    }
  },
  mounted() {
    this.posturaObject.date_of_birth = moment().format("YYYY-MM-DD");
    if (this.placa && this.madrillaController) {
      this.posturaObject.placa_madrilla = this.placa;
    } else if (this.placa && !this.madrillaController) {
      this.posturaObject.placa_padrillo = this.placa;
    }

    this.getActiveMadrillasByActivePosturas();
    this.getActivePadrillos();
    this.getFreeCombinations();
    this.getMigration();
  },
  watch: {
    currentUser() {
      if (!this.isAdmin) {
        this.$router.push("/main/reproduccion/planificacion-camadas");
      }
    },
  },
};
</script>

<style>
</style>
