<template>
  <div class="m-3">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="form-group">
          <router-link
            class="btn btn-ui bg-ui-verde float-right"
            to="/main/reproduccion/migracion/crear"
            v-if="isAdmin"
            ><i class="fas fa-plus"></i> AGREGAR
          </router-link>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <span class="class-span-1">{{
                (start_page - 1) * perpage +
                1 +
                "-" +
                (start_page == end_page ? total_data : start_page * perpage)
              }}</span
              ><span style="padding-top: 7px; margin-right: 5px">de</span
              ><span class="class-span-2">{{ total_data }}</span
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="prev(start_page)"
                :style="
                  start_page != 1
                    ? 'margin-right:5px;'
                    : 'pointer-events:none;margin-right:5px;'
                "
              >
                <i class="fas fa-caret-left"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black"
                @click="next(next_page)"
                :style="
                  this.start_page != this.end_page ? '' : 'pointer-events:none'
                "
              >
                <i class="fas fa-caret-right"></i></button
              ><button
                class="btn btn-rounded-ui bg-ui-black ml-2"
                @click="resetSearch"
              >
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 text-right">
            <div class="form-group">
              <input
                class="input-search mr-3"
                type="text"
                v-model="search_input"
                style="
                  border-radius: 20px;
                  border-width: 1px;
                  border-color: black;
                "
                @keyup="search(null, null)"
                placeholder="Buscar por nombre o usuario"
              /><button class="btn bg-ui-black" @click="search(null, null)">
                <i class="fas fa-search"></i> Buscar
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Padrillo</th>
                <th scope="col">Madrilla</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Observación</th>
                <th scope="col">Estado</th>
                <th scope="col">Creado por</th>
                <th scope="col">Acciones</th>
              </thead>
              <tbody>
                <tr v-if="loadingData">
                  <td colspan="11"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr v-for="item in data" :key="item.id">
                    <td data-label="Padrillo">
                      <div class="d-flex flex-column justify-content-end p-2" style="
                          -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          border-radius: 5px;
                        ">
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <div class="mr-2">
                            <span>
                              {{ item.padrillo_alias }}
                            </span>
                            <br />

                            <span
                              class="badge bg-secondary text-white pr-3 pl-3"
                              >{{ item.placa_padrillo }}</span
                            >
                          </div>

                          <div id="preview">
                            <img
                              v-lazy="item.padrillo_thumb"
                              alt="Snow"
                              @click="
                                seeimage(
                                  1,
                                  item.padrillo_photo,
                                  item.placa_padrillo,
                                  item.padrillo_alias
                                )
                              "
                            />
                          </div>
                        </div>
                      </div>
                    </td>
                    <td data-label="Madrilla">
                      <div class="d-flex flex-column justify-content-end p-2" style="
                          -webkit-box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          box-shadow: 5px 5px 17px -4px rgba(0, 0, 0, 0.2);
                          border-radius: 5px;
                        ">
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <div class="mr-2">
                            <span>
                              {{ item.madrilla_alias }}
                            </span>
                            <br />

                            <span
                              class="badge bg-secondary text-white pr-3 pl-3"
                              >{{ item.placa_madrilla }}</span
                            >
                          </div>

                          <div id="preview">
                            <img
                              v-lazy="item.thumb"
                              alt="Snow"
                              @click="
                                seeimage(
                                  1,
                                  item.photo,
                                  item.placa_madrilla,
                                  item.madrilla_alias
                                )
                              "
                            />
                          </div>
                        </div>
                      </div>
                    </td>
                    <td data-label="Fecha de nacimiento">
                      {{ convertToSpanishDate(item.date_of_birth) }}
                    </td>
                    <td data-label="Observación">
                      {{ item.observation }}
                    </td>
                    <td data-label="Estado">{{ item.status_text }}</td>
                    <td data-label="Creado por">
                      {{ item.created_by_name }} {{ item.created_by_last_name }}
                    </td>
                    <td class="actions" data-label="Acciones">
                      <b-button
                        variant="warning"
                        :to="`/main/reproduccion/migracion/edit/${item.id}`"
                        v-if="item.status == 1 && isAdmin"
                        size="sm"
                        >Editar</b-button
                      >
                      <b-button
                        variant="danger"
                        @click="deleteMigration(item.id)"
                        v-if="item.status == 1 && isAdmin"
                        size="sm"
                        >Eliminar</b-button
                      >
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <view-image-specimens
            v-if="modal_image"
            :data_specimen="this.data_specimen"
            @click="closeModalimage"
            ></view-image-specimens>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
import { misMixins } from "../../../mixins";
export default {
  components: { Multiselect },
  data() {
    return {
      data_sessions: [],
      modal_sessions: false,
      data: [],
      edit: [],
      list_users: true,
      create_update: false,
      disable: {
        save: false,
      },
      search_input: "",
      orderby: this.dato2 == null ? 3 : this.dato2,
      order: this.dato1 == null ? "desc" : this.dato1,
      start_page: "",
      end_page: "",
      total_data: "",
      perpage: "",
      next_page: "",
      dato1: "",
      dato2: "",
      loadingData: false,
      modal_image: false,
      data_specimen: {
        type: "",
        url: "",
        plaque: "",
        alias: "",
        id: "",
        size: 300000000,
      }
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter(rol => rol.role_id == 1);
        if(isDueñoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isInvitado(){
        const isInvitadoInRoles = this.roles.filter(rol => rol.role_id == 7);
        if(isInvitadoInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter(rol => rol.role_id == 6);
      if(isEncastadorInRoles.length > 0){
            return true;
        }else
        {
            return false;
        }
    },
    roles(){
        if(this.currentUser){
            return this.currentUser.role
        }else{
            return [];
        }

    },
  },
  mounted() {
    this.search(null, null);
  },
  methods: {
      seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
    },
    search(dato1, dato2) {
      this.loadingData = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/reproduction/get-migrations", {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      var newval = start_p - 1;
      axios
        .post("/api/reproduction/get-migrations?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            if (this.start_page == this.end_page) {
              this.next_page = this.start_page;
            } else {
              this.next_page = this.start_page + 1;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      axios
        .post("/api/reproduction/get-migrations?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo: this.search_input == "" ? null : this.search_input,
        })
        .then((response) => {
          if (response.status == 200) {
            this.data = response.data.data;
            this.start_page = response.data.current_page;
            this.perpage = response.data.per_page;
            this.next_page = this.start_page + 1;
            this.end_page = response.data.last_page;
            this.total_data = response.data.total;
            if (this.start_page == this.end_page) {
              this.next_page = this.start_page;
            } else {
              this.next_page = this.start_page + 1;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.search_input = "";
      this.search();
    },
    deleteMigration(t_migration_id){
        swal
        .fire({
          title: "¿Estas seguro?",
          text: "¡No podrás revertir esto!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3490dc",
          cancelButtonColor: "#e3342f",
          confirmButtonText: "Si",
        })
        .then((result) => {
          if (result.value) {
            axios.post('/api/reproduction/delete-migration', {
                deleted_by: this.currentUser.user_id,
                migration_id: t_migration_id
            }).then(response=>{
                this.search(null, null);
            })
          }
        });
    },
    closeModalimage() {
      this.modal_image = false;
    }
  },
  mixins: [misMixins],
};
</script>
