<template>

        <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="table-responsive table-scroll" id="cont-list">
                                    <table class="table table-bordered">
                                        <thead>
                                            <th scope="col">Inicio</th>
                                            <th scope="col">Salida</th>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item , index) in data_sessions " :key="index">
                                                <td data-label="Inicio"> <span class="ml-3">{{item.created_at}}</span></td>
                                                <td data-label="Salida"> <span class="ml-3">{{item.ending_session}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>





    <!--<div class="modal fade">
        <div class="modal-dialog modal-dialog-scrollable" role="document" style="top:20%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lista de Sessiones</h5><button class="close close-bottom" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" @click="closeModal"><i class="fas fa-times"></i> </span></button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>-->
</template>
<script>
import Multiselect from 'vue-multiselect'
export default {
    components: {Multiselect },
    props: ["data_sessions"],
    data() {
        return {

        };
    },
    methods:{
        closeModal(){
            this.$emit('click',false)
        },
    },
};
</script>
