<template>
  <div>
    <b-form>
      <b-form-group id="input-group-3" label="Modulo:" label-for="input-3">
        <b-form-select
          id="input-3"
          v-model="reasonObject.module_id"
          :options="arrayModules"
          value-field="id"
          text-field="name"
          :disabled="reason != null"
        ></b-form-select>
      </b-form-group>
      <b-form-group id="input-group-1" label="Razón:" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="reasonObject.reason"
          type="text"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-4">
        <b-form-checkbox
          id="checkbox-1"
          v-model="reasonObject.isSubOption"
          name="checkbox-1"
          :disabled="reason != null"
        >
          Es un sub-motivo
        </b-form-checkbox>
      </b-form-group>
      <b-form-group id="input-group-3" label="Sub-motivo:" label-for="input-3">
        <b-form-select
          id="input-3"
          v-model="reasonObject.parent_id"
          :options="arrayReasons"
          value-field="id"
          text-field="reason"
          :disabled="!reasonObject.isSubOption || reason != null"
        ></b-form-select>
      </b-form-group>
      <b-button
        variant="primary"
        @click="reason != null ? updateReason() : saveReason()"
      >
        {{ reason != null ? "Actualizar" : "Registrar" }}
      </b-button>
      <!-- <b-button  variant="danger">Reset</b-button> -->
    </b-form>
  </div>
</template>

<script>
export default {
  props: { reason: Object },
  mounted() {
    this.getModules();
    if (this.reason) {
      this.reasonObject.module_id = this.reason.module_id;
      this.reasonObject.parent_id = this.reason.parent_id;
      this.reasonObject.reason = this.reason.reason;
      if (this.reason.parent_id) {
        this.reasonObject.isSubOption = true;
      }
    }
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
  },
  data() {
    return {
      form: {
        email: "",
        name: "",
        food: null,
        checked: [],
      },
      reasonObject: {
        module_id: null,
        parent_id: null,
        reason: null,
        created_by: null,
        isSubOption: null,
      },
      arrayModules: [],
      arrayReasons: [],
      foods: [
        { text: "Select One", value: null },
        "Carrots",
        "Beans",
        "Tomatoes",
        "Corn",
      ],
      show: true,
    };
  },
  methods: {
    getModules() {
      axios.get("/api/modules/get").then((res) => {
        this.arrayModules = res.data;
      });
    },
    getReasonsByModule() {
      axios
        .post("/api/reason/get-by-module", {
          module_id: this.reasonObject.module_id,
        })
        .then((res) => {
          this.arrayReasons = res.data;
        });
    },
    updateReason() {
      this.reasonObject.reason_id = this.reason.id;
      this.reasonObject.created_by = this.currentUser.user_id;
      Swal.fire({
        title: "Está seguro de editar?",
        icon: "warning",
        text: "Esta acción no se puede deshacer",
        showCancelButton: true,
        confirmButtonText: "OK",
        cancelButtonText: "Cancelar",
      }).then((result) => {
        if (result.value) {
          axios
            .post("/api/reason/update", this.reasonObject)
            .then((response) => {
              Swal.fire({
                title: "Motivo editado correctamente",
                icon: "success",
                text: "El motivo ha sido editado con éxito",
              });
            });
            this.closeModal();
        }
      });
    },
    closeModal(){
        this.$emit('closeModal', null);
    },
    saveReason() {
      this.reasonObject.created_by = this.currentUser.user_id;

      Swal.fire({
        title: "Está seguro de registrar?",
        icon: "warning",
        text: "Esta acción no se puede deshacer",
        showCancelButton: true,
        confirmButtonText: "OK",
        cancelButtonText: "Cancelar",
      }).then((result) => {
        if (result.value) {
          axios.post("/api/reason/save", this.reasonObject).then((response) => {
            Swal.fire({
              title: "Motivo registrado correctamente",
              icon: "success",
              text: "El motivo ha sido registrado con éxito",
            });
            this.closeModal();
          });
        }
      });
    },
    onSubmit(event) {
      event.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      this.form.food = null;
      this.form.checked = [];
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
  watch: {
    "reasonObject.module_id"(newVal, oldVal) {
      this.getReasonsByModule();
    },
  },
};
</script>
