<template>
  <div class="m-3">
    <div class="d-flex justify-content-start">
      <div class="d-flex align-items-center">
        <h3 class="title-module">Motivos</h3>
      </div>
    </div>
    <b-row class="mb-4">
      <b-col
        ><b-button
          class="btn btn-ui bg-ui-verde float-right"
          @click="openRegisterReason()"
          v-if="isAdmin"
        >
          <i class="fas fa-plus"></i> CREAR
        </b-button></b-col
      >
    </b-row>
    <b-row class="align-items-center">
      <b-col lg="6">
        <pagination-component
          :paginate="paginate"
          :prev="prev"
          :next="next"
          :resetSearch="resetSearch"
        ></pagination-component>
      </b-col>
      <b-col lg="6">
        <filters-component
          v-model="paginate.search_input"
          :search="search"
        ></filters-component>
      </b-col>
    </b-row>
    <b-table
      hover
      :items="arrayData"
      :busy="loading"
      :fields="headerItems"
      thead-class="b-vue-th"
    >
      <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>
      <template v-slot:cell(actions)="row">
        <b-button size="sm" variant="info" v-if="isAdmin" @click="editReason(row.item)"
          >Editar</b-button
        >
        <b-button size="sm" variant="danger" v-if="isAdmin" @click="deleteReason(row.item)"
          >Eliminar</b-button
        >
      </template>
      <template v-slot:cell(parent_reason)="row">
        {{ row.item.parent_reason ? row.item.parent_reason : "-" }}
      </template>
      <template v-slot:cell(module)="row">
        {{ row.item.module_name }}
      </template>
      <template v-slot:cell(created_by)="row">
        {{ row.item.first_name_created_by }}
        {{ row.item.last_name_created_by }} <br />
        {{ row.item.created_at }}
      </template>
    </b-table>
    <b-modal
      v-model="modalReasonController"
      size="lg"
      title="Registrar razón"
      hide-footer
      scrollable
    >
      <create-reason-page
        :reason="selectedReason"
        @closeModal="closeModal"
      ></create-reason-page>
    </b-modal>
  </div>
</template>

<script>
import PaginationComponent from "../../components/commons/PaginationComponent.vue";
import DatatableComponent from "../../components/commons/DatatableComponent.vue";
import FiltersComponent from "../../components/commons/FiltersComponent.vue";
import CreateReasonPage from "./CreateReasonPage.vue";
export default {
  components: {
    DatatableComponent,
    "pagination-component": PaginationComponent,
    "filters-component": FiltersComponent,
    "create-reason-page": CreateReasonPage,
  },
  mounted() {
    this.search(null, null);
  },
  data() {
    return {
      headerItems: [
        {
          key: "module",
          label: "Module",
          class: "text-center",
        },
        {
          key: "reason",
          label: "Razón",
          class: "text-center",
        },
        {
          key: "parent_reason",
          label: "Razón padre",
          class: "text-center",
        },
        {
          key: "created_by",
          label: "Creado por",
          class: "text-center",
        },
        {
          key: "actions",
          label: "Acciones",
          class: "text-center",
        },
      ],
      dato1: "",
      dato2: "",
      paginate: {
        orderby: this.dato2 == null ? 3 : this.dato2,
        order: this.dato1 == null ? "desc" : this.dato1,
        start_page: "",
        end_page: "",
        total_data: "",
        perpage: "",
        next_page: "",
        search_input: "",
      },
      loading: false,
      arrayData: [],
      deadSpecimenDetail: false,
      selectedDeadSpecimenId: null,
      modal_image: false,
      data_specimen: {
        type: "",
        url: "",
        plaque: "",
        alias: "",
        id: "",
        size: 300000000,
        last_left: false,
        last_right: false,
      },
      modalReasonController: false,
      selectedReason: {},
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isAdmin() {
      const isDueñoInRoles = this.roles.filter((rol) => rol.role_id == 1);
      if (isDueñoInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    isInvitado() {
      const isInvitadoInRoles = this.roles.filter((rol) => rol.role_id == 7);
      if (isInvitadoInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    isEncastador() {
      const isEncastadorInRoles = this.roles.filter((rol) => rol.role_id == 6);
      if (isEncastadorInRoles.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    roles() {
      if (this.currentUser) {
        return this.currentUser.role;
      } else {
        return [];
      }
    },
  },
  methods: {
    editReason(item) {
      this.selectedReason = item;
      this.modalReasonController = true;
    },
    deleteReason(item) {
      Swal.fire({
        title: "Está seguro de eliminar?",
        icon: "warning",
        text: "Esta acción no se puede deshacer",
        showCancelButton: true,
        confirmButtonText: "OK",
        cancelButtonText: "Cancelar",
      }).then((result) => {
        if (result.value) {
          axios
            .post("/api/reason/delete", {
              deleted_by: this.currentUser.user_id,
              reason_id: item.id,
            })
            .then((res) => {
              Swal.fire({
                title: "Motivo eliminado correctamente",
                icon: "success",
                text: "El motivo ha sido eliminado con éxito",
              });
            });
        }
      });
    },
    openRegisterReason() {
      this.selectedReason = null;
      this.modalReasonController = true;
    },
    seeimage(type, url, plaque, alias, id) {
      this.modal_image = true;
      this.data_specimen.type = type;
      this.data_specimen.url = url;
      this.data_specimen.plaque = plaque;
      this.data_specimen.alias = alias;
      this.data_specimen.id = id;
    },
    search(dato1, dato2) {
      this.loading = true;
      this.dato1 = dato1;
      this.dato2 = dato2;
      axios
        .post("/api/reason/get", {
          orderby: dato1 == null ? "desc" : dato1,
          order: dato2 == null ? 3 : dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          type_specimen: this.type,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayData = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            this.loading = false;
            //this.loadingData = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    prev(start_p) {
      this.loading = true;
      var newval = start_p - 1;
      axios
        .post("/api/reason/get?page=" + newval, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          type_specimen: this.type,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayData = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    next(next) {
      this.loading = true;
      axios
        .post("/api/reason/get?page=" + next, {
          orderby: this.dato1 == null ? "desc" : this.dato1,
          order: this.dato2 == null ? 3 : this.dato2,
          campo:
            this.paginate.search_input == ""
              ? null
              : this.paginate.search_input,
          type_specimen: this.type,
        })
        .then((response) => {
          if (response.status == 200) {
            this.arrayData = response.data.data;
            this.paginate.start_page = response.data.current_page;
            this.paginate.perpage = response.data.per_page;
            this.paginate.next_page = this.paginate.start_page + 1;
            this.paginate.end_page = response.data.last_page;
            this.paginate.total_data = response.data.total;
            if (this.paginate.start_page == this.paginate.end_page) {
              this.paginate.next_page = this.paginate.start_page;
            } else {
              this.paginate.next_page = this.paginate.start_page + 1;
            }
            this.loading = false;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    resetSearch() {
      this.paginate.search_input = "";
      this.search(null, null);
    },
    closeModal() {
      this.modalReasonController = false;
      this.resetSearch();
    },
  },
};
</script>

<style>
</style>
