<template>
  <div class="m-3">
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="row">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-center">
                <th scope="col">Madrilla</th>
                <th scope="col"># Huevos</th>
                <th scope="col"># Huevos infértiles</th>
                <th scope="col"># Pollos vivos</th>
                <th scope="col"># Pollos muertos</th>
                <th scope="col">Cintillo</th>
              </thead>
              <tbody>
                <tr v-if="loading">
                  <td colspan="11" class="text-center"><spinner></spinner></td>
                </tr>
                <template v-else>
                  <tr v-for="detail in arrayLoteDetail" :key="detail.id">
                    <td class="text-center">
                      {{ detail.madrilla_alias }}
                      <span class="badge badge-primary">{{
                        detail.placa_madrilla
                      }}</span>
                    </td>
                    <td class="text-center">
                      {{ detail.quantity_eggs }}
                    </td>
                    <td class="text-center">
                      {{ detail.quantity_infertile_eggs }}
                    </td>
                    <td class="text-center">
                      {{ detail.quantity_born_eggs }}
                    </td>
                    <td class="text-center">
                      {{ detail.quantity_dead_eggs }}
                    </td>
                    <td class="text-center">
                      <select
                        class="form-control"
                        v-model="detail.cintillo"
                        @change="validateSelect(detail)"
                        :disabled="lote.status_number == 8"
                      >
                        <option
                          :value="cintillo.id"
                          v-for="cintillo in arrayCintillos"
                          :key="cintillo.id"
                        >
                          {{ cintillo.description }}
                        </option>
                      </select>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <div v-if="lote.status_number == 7">
        <b-button
          class="btn btn-create mr-3"
          @click="insertCintillosToLotePostura(7)"
          >Guardar</b-button
        >
        <b-button
          class="btn btn-create"
          @click="insertCintillosToLotePostura(8)"
          v-if="arrayLoteDetail.length != 0"
          >Confirmar</b-button
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.getDetailFinishedLotes();
    this.getCintillos();
    this.getNacimientoPollos();
  },
  props: {
    lote: Object,
  },
  data() {
    return {
      arrayLoteDetail: [],
      loading: false,
      arrayCintillos: [],
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
  },
  methods: {
    getDetailFinishedLotes() {
        this.loading = true
      axios
        .get(`/api/lote/detail-finished-lotes/${this.lote.id}`)
        .then((response) => {
          this.arrayLoteDetail = response.data;
          this.loading = false
        });
    },
    getCintillos() {
      axios.get("/api/lote/cintillos").then((response) => {
        this.arrayCintillos = response.data;
      });
    },
    insertCintillosToLotePostura(estado) {
      swal
        .fire({
          icon: "warning",
          title: "¿Está seguro de continuar?",
          text: "Esta acción no se puede deshacer",
          showCancelButton: true,
          cancelButtonText: "Cancelar",
          confirmButtonText: "Confirmar",
        })
        .then((result) => {
            if(result.value){
                axios
            .post("/api/lote/nacimiento", {
              lotes: this.arrayLoteDetail,
              status: estado,
              lote_id: this.lote.id,
              created_by: this.currentUser.user_id,
            })
            .then((result) => {
                if (estado == 7) {
                  swal
                    .fire({
                      icon: "success",
                      title: "¡Felicidades!",
                      text: "El borrador de nacimiento de pollos fue exitoso",
                    })
                    .then((result) => {
                      this.$emit("closeModal", false);
                    });
                } else if (estado == 8) {
                  swal
                    .fire({
                      icon: "success",
                      title: "¡Felicidades!",
                      text:
                        "El nacimiento ha sido exitoso, no puedes volver a editarlo",
                    })
                    .then((result) => {
                      this.$emit("closeModal", false);
                    });
                }
            });
            }

        });
    },
    validateSelect(postura) {
      if (postura.cintillo) {
        let contador = 0;
        for (let i = 0; i < this.arrayLoteDetail.length; i++) {
          if (this.arrayLoteDetail[i].cintillo) {
            if (this.arrayLoteDetail[i].cintillo == postura.cintillo) {
              contador = contador + 1;
            }
          }
        }
        if (contador > 1) {
          swal
            .fire({
              icon: "error",
              title: "Cintillo en uso",
              text:
                "No puedes usar este cintillo, ya que está en uso actualmente",
            })
            .then((result) => {
              postura.cintillo = null;
            });
        }
      }
    },
    getNacimientoPollos() {
      axios.get(`/api/lote/get-nacimiento/${this.lote.id}`).then((response) => {
      });
    },
  },
};
</script>

<style>
</style>
